In [110]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
import math

In [3]:
import requests
from bs4 import BeautifulSoup

In [4]:
res = requests.get("http://stats.espncricinfo.com/ci/engine/records/team/match_results.html?id=12193;type=tournament")
soup = BeautifulSoup(res.content,'lxml')

In [5]:
soup.find_all('table')[0].find_all('tbody')[0].find_all('tr')[1].find_all('td')[6].find_all('a')[0]["href"]

'/ci/engine/match/1130662.html'

###  Syed Mushtaq Ali Trophy

In [ ]:
res = requests.get("http://stats.espncricinfo.com/ci/engine/records/team/match_results.html?id=12193;type=tournament")
soup1 = BeautifulSoup(res.content,'lxml')
numMatches = len(soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr'))

In [191]:
dfbat = pd.DataFrame() #columns={"runs_scored","balls_faced"}, index=batsman)
dfbowl = pd.DataFrame()

batsman_id = 23 #68
bowler_id = 23

for m in range(numMatches):
    if m%10==0:
        print(m)
    tmp = soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr')[m].text.split("\n")

    mlink = soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr')[m].find_all('td')[6].find_all('a')[0]["href"] 
    
    res = requests.get("http://stats.espncricinfo.com" + mlink)
    soup = BeautifulSoup(res.content,'lxml')
    
    numBatsmen = len(soup.find_all('div')[4].find_all('div')[batsman_id].find_all('div',{"class":"cell batsmen"}))

    batsman = []
    for i in range(numBatsmen):
        batsman.append(soup.find_all('div')[4].find_all('div')[batsman_id].find_all('div',{"class":"cell batsmen"})[i].text)
    df = pd.DataFrame(columns={"runs_scored","balls_faced"}, index=batsman)
    for i in range(numBatsmen):
        numRunsScored = soup.find_all('div')[4].find_all('div')[batsman_id].find_all('div',{"class":"cell runs"})[(i)*6+0].text
        numBallsFaced = soup.find_all('div')[4].find_all('div')[batsman_id].find_all('div',{"class":"cell runs"})[(i)*6+1].text 
        df.loc[batsman[i]] = pd.Series({"runs_scored":numRunsScored, "balls_faced":numBallsFaced})
    df = df.reset_index()
    df.rename(columns={"index":"player"}, inplace=True)
    df["season"] = 2018
    df["venue"] = tmp[5]
    df["date"] = tmp[6]
    df["league"] = "sma"
    dfbat = dfbat.append(df)
    
    num_bowlers = 0
    td_list = soup.find_all('div')[4].find_all('div')[23].find_all('td',{'class': None})
    for i in range(len(td_list)):
        a = td_list[i]
        b = a.find_all('span') 
        if a.text!="EXTRAS" and a.text!="TOTAL" and len(b)==0 and len(a.find_all('a'))!=0:
            num_bowlers += 1
            
    td_list = td_list[:num_bowlers*8]
    
    bowlers = []
    for i in range(num_bowlers):
        bowlers.append(td_list[i*8].text)
        
    df = pd.DataFrame(columns={"balls_bowled","runs_conceded","wickets"}, index=bowlers)
    for i in range(num_bowlers):
        numBallsBowledStr = td_list[i*8+1].text
        if len(numBallsBowledStr.split(".")) > 1:
            numBallsBowled = int(numBallsBowledStr.split(".")[0])*6 + int(numBallsBowledStr.split(".")[1])
        else:
            numBallsBowled = int(numBallsBowledStr.split(".")[0])*6
        numRunsConceded = td_list[i*8+3].text
        numWickets = td_list[i*8+4].text
        df.loc[bowlers[i]] = pd.Series({"balls_bowled":numBallsBowled, "runs_conceded":numRunsConceded, "wickets":numWickets})
    df = df.reset_index()
    df.rename(columns={"index":"player"}, inplace=True)
    df["season"] = 2018
    df["venue"] = tmp[5]
    df["date"] = tmp[6]
    df["league"] = "sma"
    dfbowl = dfbowl.append(df)
    
dfbat = dfbat[dfbat["player"]!="BATSMEN"]

0
10
20
30
40
50
60
70
80

In [195]:
dfbowl["wickets"] = dfbowl["wickets"].astype(int)
dfbowl["runs_conceded"] = dfbowl["runs_conceded"].astype(int)
dfbowl["balls_bowled"] = dfbowl["balls_bowled"].astype(int)

#dfbat = dfbat[dfbat["balls_faced"]!="-"].copy()
dfbat["balls_faced"] = dfbat["balls_faced"].astype(int)
dfbat["runs_scored"] = dfbat["runs_scored"].astype(int)

dfbat.to_csv("data/df_syed2018_bat_stats.csv")
dfbowl.to_csv("data/df_syed2018_bowl_stats.csv")

In [194]:
dfbowl

,player,wickets,runs_conceded,balls_bowled,season,venue,date,league
0,DS Kulkarni,1,29,24,2018,Rajkot,"Jan 7, 2018",sma
1,S Dube,0,39,18,2018,Rajkot,"Jan 7, 2018",sma
2,TU Deshpande,2,38,24,2018,Rajkot,"Jan 7, 2018",sma
3,SN Thakur,0,47,24,2018,Rajkot,"Jan 7, 2018",sma
4,PS Valsangkar,0,43,24,2018,Rajkot,"Jan 7, 2018",sma
5,SD Lad,0,12,6,2018,Rajkot,"Jan 7, 2018",sma
6,AA Sheth,3,31,24,2018,Rajkot,"Jan 7, 2018",sma
7,RT Arothe,0,15,12,2018,Rajkot,"Jan 7, 2018",sma
8,Swapnil Singh,0,38,18,2018,Rajkot,"Jan 7, 2018",sma
9,KH Pandya,1,48,24,2018,Rajkot,"Jan 7, 2018",sma
10,SLA Tai,0,33,24,2018,Rajkot,"Jan 7, 2018",sma
11,LI Meriwala,3,29,18,2018,Rajkot,"Jan 7, 2018",sma
0,SM Fallah,1,32,24,2018,Rajkot,"Jan 7, 2018",sma
1,DJ Muthuswami,4,27,24,2018,Rajkot,"Jan 7, 2018",sma
2,SS Mundhe,1,36,24,2018,Rajkot,"Jan 7, 2018",sma
3,NS Shaikh,1,6,6,2018,Rajkot,"Jan 7, 2018",sma
4,D Himganekar,0,21,18,2018,Rajkot,"Jan 7, 2018",sma
5,JP Zope,0,29,24,2018,Rajkot,"Jan 7, 2018",sma
6,IH Chaudhary,1,21,21,2018,Rajkot,"Jan 7, 2018",sma
7,AR Patel,1,21,24,2018,Rajkot,"Jan 7, 2018",sma
8,CT Gaja,0,25,12,2018,Rajkot,"Jan 7, 2018",sma
9,PP Chawla,3,27,24,2018,Rajkot,"Jan 7, 2018",sma
10,RH Bhatt,0,12,6,2018,Rajkot,"Jan 7, 2018",sma
11,RP Dahiya,1,36,24,2018,Rajkot,"Jan 7, 2018",sma
12,SS Shinde,0,11,6,2018,Rajkot,"Jan 7, 2018",sma
0,IC Pandey,1,41,24,2018,Raipur,"Jan 8, 2018",sma
1,PM Datey,1,31,24,2018,Raipur,"Jan 8, 2018",sma
2,Avesh Khan,1,35,24,2018,Raipur,"Jan 8, 2018",sma
3,VR Iyer,1,21,18,2018,Raipur,"Jan 8, 2018",sma
4,Ankit Sharma,1,17,18,2018,Raipur,"Jan 8, 2018",sma
...,...,...,...,...,...,...,...,...
8,MS Gony,2,20,18,2018,Kolkata,"Jan 25, 2018",sma
9,M Markande,0,31,24,2018,Kolkata,"Jan 25, 2018",sma
10,BB Sran,3,22,24,2018,Kolkata,"Jan 25, 2018",sma
11,Harbhajan Singh,1,23,24,2018,Kolkata,"Jan 25, 2018",sma
12,Mandeep Singh,1,6,6,2018,Kolkata,"Jan 25, 2018",sma
0,J Suchith,0,35,24,2018,Kolkata,"Jan 25, 2018",sma
1,M Prasidh Krishna,1,26,24,2018,Kolkata,"Jan 25, 2018",sma
2,A Mithun,1,42,24,2018,Kolkata,"Jan 25, 2018",sma
3,STR Binny,3,36,24,2018,Kolkata,"Jan 25, 2018",sma
4,PU Deshpande,0,11,12,2018,Kolkata,"Jan 25, 2018",sma
5,S Gopal,2,22,12,2018,Kolkata,"Jan 25, 2018",sma
6,DS Kulkarni,2,36,24,2018,Kolkata,"Jan 25, 2018",sma
7,RH Dias,0,46,22,2018,Kolkata,"Jan 25, 2018",sma
8,SV Trivedi,1,31,24,2018,Kolkata,"Jan 25, 2018",sma
9,DU Matkar,0,25,12,2018,Kolkata,"Jan 25, 2018",sma
10,Shashank Singh,0,21,24,2018,Kolkata,"Jan 25, 2018",sma
11,S Dube,0,11,6,2018,Kolkata,"Jan 25, 2018",sma
0,AR Lamba,1,33,24,2018,Kolkata,"Jan 26, 2018",sma
1,A Choudhary,1,32,24,2018,Kolkata,"Jan 26, 2018",sma
2,KK Ahmed,2,23,24,2018,Kolkata,"Jan 26, 2018",sma
3,RD Chahar,2,31,24,2018,Kolkata,"Jan 26, 2018",sma
4,Tajinder Singh,0,29,18,2018,Kolkata,"Jan 26, 2018",sma
5,MK Lomror,0,3,6,2018,Kolkata,"Jan 26, 2018",sma
6,PJ Sangwan,2,14,24,2018,Kolkata,"Jan 26, 2018",sma
7,K Khejroliya,2,24,24,2018,Kolkata,"Jan 26, 2018",sma
8,P Negi,2,21,24,2018,Kolkata,"Jan 26, 2018",sma
9,S Bhati,1,19,24,2018,Kolkata,"Jan 26, 2018",sma
10,N Rana,1,20,12,2018,Kolkata,"Jan 26, 2018",sma
11,Lalit Yadav,1,10,6,2018,Kolkata,"Jan 26, 2018",sma
12,Milind Kumar,1,0,1,2018,Kolkata,"Jan 26, 2018",sma

In [192]:
dfbat

,player,balls_faced,runs_scored,season,venue,date,league
1,KH Devdhar,24,38,2018,Rajkot,"Jan 7, 2018",sma
2,UM Patel †,28,50,2018,Rajkot,"Jan 7, 2018",sma
3,DJ Hooda (c),39,66,2018,Rajkot,"Jan 7, 2018",sma
4,KH Pandya,26,44,2018,Rajkot,"Jan 7, 2018",sma
5,Swapnil Singh,4,4,2018,Rajkot,"Jan 7, 2018",sma
7,JG Bista,25,36,2018,Rajkot,"Jan 7, 2018",sma
8,AP Tare (c) †,1,0,2018,Rajkot,"Jan 7, 2018",sma
9,SD Lad,51,82,2018,Rajkot,"Jan 7, 2018",sma
10,BR Shetty,1,0,2018,Rajkot,"Jan 7, 2018",sma
11,SA Yadav,10,22,2018,Rajkot,"Jan 7, 2018",sma
12,Shashank Singh,4,3,2018,Rajkot,"Jan 7, 2018",sma
13,S Dube,14,33,2018,Rajkot,"Jan 7, 2018",sma
14,PS Valsangkar,8,10,2018,Rajkot,"Jan 7, 2018",sma
15,SN Thakur,5,5,2018,Rajkot,"Jan 7, 2018",sma
16,DS Kulkarni,1,0,2018,Rajkot,"Jan 7, 2018",sma
1,PK Panchal,13,17,2018,Rajkot,"Jan 7, 2018",sma
2,DJ Raval †,20,20,2018,Rajkot,"Jan 7, 2018",sma
3,PP Chawla,1,0,2018,Rajkot,"Jan 7, 2018",sma
4,Kshitij Patel,4,5,2018,Rajkot,"Jan 7, 2018",sma
5,RH Bhatt,1,0,2018,Rajkot,"Jan 7, 2018",sma
6,AR Patel (c),32,38,2018,Rajkot,"Jan 7, 2018",sma
7,CJ Gandhi,37,61,2018,Rajkot,"Jan 7, 2018",sma
8,RP Dahiya,8,6,2018,Rajkot,"Jan 7, 2018",sma
9,SS Shinde,2,1,2018,Rajkot,"Jan 7, 2018",sma
10,CT Gaja,2,1,2018,Rajkot,"Jan 7, 2018",sma
12,RD Gaikwad,18,26,2018,Rajkot,"Jan 7, 2018",sma
13,RA Tripathi (c),14,7,2018,Rajkot,"Jan 7, 2018",sma
14,AR Bawne,4,1,2018,Rajkot,"Jan 7, 2018",sma
15,NS Shaikh,7,4,2018,Rajkot,"Jan 7, 2018",sma
16,PJ Bhati,20,23,2018,Rajkot,"Jan 7, 2018",sma
...,...,...,...,...,...,...,...
4,AP Tare (c) †,7,4,2018,Kolkata,"Jan 25, 2018",sma
5,SA Yadav,28,59,2018,Kolkata,"Jan 25, 2018",sma
6,Shashank Singh,7,4,2018,Kolkata,"Jan 25, 2018",sma
7,S Dube,5,1,2018,Kolkata,"Jan 25, 2018",sma
8,DS Kulkarni,12,9,2018,Kolkata,"Jan 25, 2018",sma
9,SV Trivedi,1,1,2018,Kolkata,"Jan 25, 2018",sma
11,R Samarth,3,4,2018,Kolkata,"Jan 25, 2018",sma
12,MA Agarwal,41,77,2018,Kolkata,"Jan 25, 2018",sma
13,KK Nair (c),18,30,2018,Kolkata,"Jan 25, 2018",sma
14,PU Deshpande,39,48,2018,Kolkata,"Jan 25, 2018",sma
15,STR Binny,11,10,2018,Kolkata,"Jan 25, 2018",sma
1,G Gambhir,23,27,2018,Kolkata,"Jan 26, 2018",sma
2,RR Pant †,7,13,2018,Kolkata,"Jan 26, 2018",sma
3,DR Shorey,14,21,2018,Kolkata,"Jan 26, 2018",sma
4,UBT Chand,49,53,2018,Kolkata,"Jan 26, 2018",sma
5,N Rana,5,7,2018,Kolkata,"Jan 26, 2018",sma
6,Milind Kumar,9,15,2018,Kolkata,"Jan 26, 2018",sma
7,Lalit Yadav,11,6,2018,Kolkata,"Jan 26, 2018",sma
8,P Negi,3,5,2018,Kolkata,"Jan 26, 2018",sma
10,AN Garhwal,36,52,2018,Kolkata,"Jan 26, 2018",sma
11,AS Lamba,6,1,2018,Kolkata,"Jan 26, 2018",sma
12,SF Khan,18,10,2018,Kolkata,"Jan 26, 2018",sma
13,MK Lomror,16,17,2018,Kolkata,"Jan 26, 2018",sma
14,Tajinder Singh,3,7,2018,Kolkata,"Jan 26, 2018",sma
15,R Bishnoi,9,4,2018,Kolkata,"Jan 26, 2018",sma
16,CD Bist †,2,0,2018,Kolkata,"Jan 26, 2018",sma
17,AR Lamba,2,0,2018,Kolkata,"Jan 26, 2018",sma
18,RD Chahar,6,2,2018,Kolkata,"Jan 26, 2018",sma
19,A Choudhary (c),13,9,2018,Kolkata,"Jan 26, 2018",sma
20,KK Ahmed,4,3,2018,Kolkata,"Jan 26, 2018",sma

### Top batting performances

In [196]:
dft = dfbat[["player","balls_faced", "runs_scored"]].copy()
dft = dft.groupby("player").count()["balls_faced"].reset_index()
dft.rename(columns={"balls_faced":"num_innings"}, inplace=True)

df = dfbat[["player","balls_faced", "runs_scored"]].copy()
df = df.groupby(["player"]).sum().reset_index()
df = df.set_index("player").join(dft.set_index("player")).reset_index()
df["bat_sr"] = np.round(df["runs_scored"] / df["balls_faced"] * 100,1)
df["bat_avg"] = np.round(df["runs_scored"] / df["num_innings"],1)
df.sort_values("runs_scored", ascending=False)

,player,balls_faced,runs_scored,num_innings,bat_sr,bat_avg
285,RR Pant †,210,411,10,195.7,41.1
161,KH Devdhar,300,411,8,137.0,51.4
337,SP Goswami †,246,373,8,151.6,46.6
53,AS Lamba,306,335,10,109.5,33.5
329,SK Raina (c),215,314,9,146.0,34.9
202,Mandeep Singh,209,313,9,149.8,34.8
110,DR Shorey,214,303,7,141.6,43.3
190,M Vohra,214,291,9,136.0,32.3
77,B Vivek Singh,201,286,8,142.3,35.8
322,SD Lad,196,271,7,138.3,38.7
191,MA Agarwal,178,258,9,144.9,28.7
165,KK Nair,148,249,7,168.2,35.6
36,AN Garhwal,184,235,10,127.7,23.5
105,DJ Hooda (c),150,226,8,150.7,28.2
276,RK Bhui,160,226,5,141.2,45.2
316,SA Yadav,115,217,8,188.7,27.1
195,MK Lomror,179,213,8,119.0,26.6
159,KD Karthik †,126,211,5,167.5,42.2
38,AN Khare (c),180,210,5,116.7,42.0
406,Yuvraj Singh,216,208,9,96.3,23.1
377,UM Patel †,131,201,8,153.4,25.1
374,Tajinder Singh,115,198,9,172.2,22.0
397,Virat Singh,138,194,6,140.6,32.3
189,M Rawat (c) †,162,193,5,119.1,38.6
229,P Chopra (c),142,190,5,133.8,38.0
402,Washington Sundar,165,190,9,115.2,21.1
138,Ishan Kishan †,133,188,6,141.4,31.3
279,RK Singh,127,186,8,146.5,23.2
237,PA Reddy,118,184,5,155.9,36.8
327,SK Kamat (c),174,183,5,105.2,36.6
...,...,...,...,...,...,...
356,SV Trivedi,1,1,1,100.0,1.0
113,DU Matkar,1,1,1,100.0,1.0
139,J Behera,7,1,2,14.3,0.5
27,AH Hooda,3,1,1,33.3,1.0
7,A Sakuja,2,1,1,50.0,1.0
136,IH Chaudhary,2,1,1,50.0,1.0
6,A Parkar,5,1,1,20.0,1.0
299,S Bhati,2,1,3,50.0,0.3
210,Mukesh Kumar,5,1,2,20.0,0.5
281,RN Gurbani,1,0,2,0.0,0.0
381,V Ganga Sridhar Raju,2,0,1,0.0,0.0
148,K Abhinay,0,0,1,NaN,0.0
294,Rajdeep Das †,1,0,1,0.0,0.0
54,AS Rajpoot,2,0,1,0.0,0.0
56,AS Sarkar,1,0,1,0.0,0.0
43,AR Lamba,2,0,2,0.0,0.0
304,S Joseph,2,0,1,0.0,0.0
60,AV Wadkar †,7,0,1,0.0,0.0
312,S Sandeep Warrier,2,0,2,0.0,0.0
319,SB Thakran,0,0,1,NaN,0.0
33,AK Sarkar,2,0,1,0.0,0.0
331,SM Fallah,1,0,1,0.0,0.0
74,Avesh Khan,0,0,1,NaN,0.0
209,Monu Kumar,1,0,3,0.0,0.0
207,Mohd Israr,2,0,1,0.0,0.0
84,Baltej Singh,0,0,1,NaN,0.0
168,KM Asif,0,0,1,NaN,0.0
368,Sunny Gupta,4,0,1,0.0,0.0
156,KA Dafedar,5,0,1,0.0,0.0
264,R Rohit,0,0,1,NaN,0.0

### Top bowling performances

In [198]:
dft = dfbowl[["player","runs_conceded", "balls_bowled", "wickets"]].copy()
dft = dft.groupby("player").count()["balls_bowled"].reset_index()
dft.rename(columns={"balls_bowled":"num_innings"}, inplace=True)

df = dfbowl[["player","balls_bowled", "runs_conceded", "wickets"]].copy()
df = df.groupby(["player"]).sum().reset_index()
df = df.set_index("player").join(dft.set_index("player")).reset_index()
df["bowl_sr"] = np.round(df["balls_bowled"] / df["wickets"],1)
df["bowl_econ"] = np.round(df["runs_conceded"] / df["balls_bowled"] * 6,1)
df.sort_values("wickets", ascending=False)

,player,balls_bowled,runs_conceded,wickets,num_innings,bowl_sr,bowl_econ
77,DL Chahar,203,189,19,9,10.700000,5.6
110,KK Ahmed,234,264,17,10,13.800000,6.8
191,S Aravind,164,179,15,8,10.900000,6.5
104,K Khejroliya,222,243,14,10,15.900000,6.6
12,AA Sheth,179,210,14,8,12.800000,7.0
119,LI Meriwala,148,195,13,8,11.400000,7.9
143,Mohsin Khan,162,223,13,8,12.500000,8.3
134,MK Tiwary,150,205,13,8,11.500000,8.2
160,PJ Sangwan,240,292,13,10,18.500000,7.3
247,V Athisayaraj Davidson,180,232,12,9,15.000000,7.7
78,DS Kulkarni,186,228,12,8,15.500000,7.4
39,AS Rajpoot,193,238,12,9,16.100000,7.4
192,S Bhati,174,203,12,8,14.500000,7.0
262,Washington Sundar,204,234,12,9,17.000000,6.9
183,RD Thakur,102,133,11,5,9.300000,7.8
156,P Negi,162,187,11,9,14.700000,6.9
137,MS Gony,177,244,11,9,16.100000,8.3
74,DG Pathania,119,143,11,5,10.800000,7.2
106,K Vignesh,170,206,11,8,15.500000,7.3
222,SS Ghosh,174,237,11,8,15.800000,8.2
17,ACP Mishra,114,141,10,5,11.400000,7.4
76,DJ Muthuswami,84,109,10,4,8.400000,7.8
141,Mohammed Siraj,120,171,10,5,12.000000,8.6
46,Amit Mishra,95,116,10,5,9.500000,7.3
153,P Dubey,111,123,10,6,11.100000,6.6
129,M Ravi Kiran,116,143,10,5,11.600000,7.4
227,STR Binny,150,187,10,9,15.000000,7.5
163,PP Chawla,96,125,10,4,9.600000,7.8
111,KK Seth,132,156,9,6,14.700000,7.1
209,SB Wagh,96,115,9,5,10.700000,7.2
...,...,...,...,...,...,...,...
68,CT Gaja,12,25,0,1,inf,12.5
233,Shashank Singh,24,21,0,1,inf,5.2
120,LL Samal,12,30,0,1,inf,15.0
174,R Dhawan,54,86,0,3,inf,9.6
168,PU Deshpande,18,27,0,2,inf,9.0
166,PP Ojha,30,55,0,3,inf,11.0
194,S Dhaliwal,6,11,0,1,inf,11.0
164,PP Das,6,9,0,1,inf,9.0
159,PJ Pramanik,12,24,0,1,inf,12.0
197,S Joseph,24,45,0,1,inf,11.2
151,Nipan Deka,18,27,0,1,inf,9.0
146,N Gangta,6,13,0,1,inf,13.0
135,MM Sharma,12,14,0,1,inf,7.0
133,MK Lomror,61,85,0,7,inf,8.4
208,SB Thakran,30,41,0,2,inf,8.2
210,SD Lad,12,26,0,2,inf,13.0
57,BB Samantray,12,14,0,2,inf,7.0
107,KA Dafedar,12,20,0,1,inf,10.0
216,SM Gugale,6,14,0,1,inf,14.0
87,Gurkeerat Singh,18,17,0,2,inf,5.7
81,Dheeraj Kumar,24,46,0,2,inf,11.5
79,DU Matkar,30,45,0,2,inf,9.0
220,SS Bachhav,24,32,0,1,inf,8.0
221,SS Das,24,32,0,1,inf,8.0
181,RA Tripathi,12,18,0,1,inf,9.0
66,CR Parmar,12,20,0,1,inf,10.0
229,SZ Mulani,6,5,0,1,inf,5.0
63,C Bishnoi,12,16,0,1,inf,8.0
59,BP Sandeep,12,21,0,1,inf,10.5
264,Yuvraj Singh,30,65,0,4,inf,13.0

### KARNATAKA PREMIER LEAGUE, 2017

In [398]:
dfp = pd.DataFrame() #columns={"runs_scored","balls_faced"}, index=batsman)

res = requests.get("http://stats.espncricinfo.com/ci/engine/records/team/match_results.html?id=11997;type=tournament")
soup1 = BeautifulSoup(res.content,'lxml')
numMatches = len(soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr'))

for m in range(numMatches):
    
    if m%10==0:
        print(m)
    tmp = soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr')[m].text.split("\n")

    mlink = soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr')[m].find_all('td')[6].find_all('a')[0]["href"] 

    res = requests.get("http://stats.espncricinfo.com" + mlink)
    soup = BeautifulSoup(res.content,'lxml')

    if len(soup.find_all('div')[4].find_all('div'))>=78:
        numBatsmen = len(soup.find_all('div')[4].find_all('div')[78].find_all('div',{"class":"cell batsmen"}))

        batsman = []
        for i in range(numBatsmen):
            batsman.append(soup.find_all('div')[4].find_all('div')[78].find_all('div',{"class":"cell batsmen"})[i].text)

        df = pd.DataFrame(columns={"runs_scored","balls_faced"}, index=batsman)
        for i in range(numBatsmen):
            numRunsScored = soup.find_all('div')[4].find_all('div')[78].find_all('div',{"class":"cell runs"})[(i)*5+0].text
            numBallsFaced = soup.find_all('div')[4].find_all('div')[78].find_all('div',{"class":"cell runs"})[(i)*5+1].text 
            df.loc[batsman[i]] = pd.Series({"runs_scored":numRunsScored, "balls_faced":numBallsFaced})

        df = df.reset_index()
        df.rename(columns={"index":"player"}, inplace=True)

        df["season"] = 2018
        df["venue"] = tmp[5]
        df["date"] = tmp[6]
        df["league"] = "kpl"
        dfp = dfp.append(df)

dfp = dfp[dfp["player"]!="BATSMEN"]
dfp2 = dfp.copy()

0
10
20

In [401]:
dfp2.head()

,player,balls_faced,runs_scored,season,venue,date,league
1,BR Sharath †,3,1,2018,Bengaluru,"Sep 1, 2017",kpl
2,M Kaunain Abbas,13,15,2018,Bengaluru,"Sep 1, 2017",kpl
3,K Gowtham,11,13,2018,Bengaluru,"Sep 1, 2017",kpl
4,KN Bharath,20,20,2018,Bengaluru,"Sep 1, 2017",kpl
5,STR Binny,25,17,2018,Bengaluru,"Sep 1, 2017",kpl

### TAMIL NADU PREMIER LEAGUE, 2017

In [404]:
dfp = pd.DataFrame() #columns={"runs_scored","balls_faced"}, index=batsman)

res = requests.get("http://stats.espncricinfo.com/tamil-nadu-premier-league-2017/engine/records/team/match_results.html?id=11901;type=tournament")
soup1 = BeautifulSoup(res.content,'lxml')
numMatches = len(soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr'))

for m in range(numMatches):
    
    if m%10==0:
        print(m)
    tmp = soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr')[m].text.split("\n")

    mlink = soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr')[m].find_all('td')[6].find_all('a')[0]["href"] 

    res = requests.get("http://stats.espncricinfo.com" + mlink)
    soup = BeautifulSoup(res.content,'lxml')

    if len(soup.find_all('div')[4].find_all('div'))>=78:
        numBatsmen = len(soup.find_all('div')[4].find_all('div')[78].find_all('div',{"class":"cell batsmen"}))

        batsman = []
        for i in range(numBatsmen):
            batsman.append(soup.find_all('div')[4].find_all('div')[78].find_all('div',{"class":"cell batsmen"})[i].text)

        df = pd.DataFrame(columns={"runs_scored","balls_faced"}, index=batsman)
        for i in range(numBatsmen):
            numRunsScored = soup.find_all('div')[4].find_all('div')[78].find_all('div',{"class":"cell runs"})[(i)*5+0].text
            numBallsFaced = soup.find_all('div')[4].find_all('div')[78].find_all('div',{"class":"cell runs"})[(i)*5+1].text 
            df.loc[batsman[i]] = pd.Series({"runs_scored":numRunsScored, "balls_faced":numBallsFaced})

        df = df.reset_index()
        df.rename(columns={"index":"player"}, inplace=True)

        df["season"] = 2018
        df["venue"] = tmp[5]
        df["date"] = tmp[6]
        df["league"] = "tnpl"
        dfp = dfp.append(df)

dfp = dfp[dfp["player"]!="BATSMEN"]
dfp3 = dfp.copy()

0
10
20
30

In [405]:
dfp3.head()

,player,balls_faced,runs_scored,season,venue,date,league
1,Washington Sundar,48,69,2018,Chennai,"Jul 22, 2017",tnpl
2,KM Gandhi,33,46,2018,Chennai,"Jul 22, 2017",tnpl
3,SP Nathan,19,20,2018,Chennai,"Jul 22, 2017",tnpl
4,S Anand (c),17,26,2018,Chennai,"Jul 22, 2017",tnpl
5,Akash Sumra,3,1,2018,Chennai,"Jul 22, 2017",tnpl