In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
pd.set_option("display.max_columns", 50)

### Load IPL data

In [3]:
df = pd.read_csv("data/df_ipl2018_preprocessed.csv")
# is_wicket column
df["is_bowler_wicket"] = df["dismissal_kind"].isin(["caught","bowled","lbw","caught and bowled","stumped"]).values.astype(int)
del df['Unnamed: 0']

In [5]:
df.head(2)

,match_id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,is_bowler_wicket
0,638,2018,Mumbai,NaN,Mumbai Indians,Chennai Super Kings,NaN,NaN,normal,0,Chennai Super Kings,0,1,NaN,"Wankhede Stadium, Mumbai",NaN,NaN,NaN,1,Mumbai Indians,Chennai Super Kings,1,1,Rohit,NaN,Chahar,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,0
1,638,2018,Mumbai,NaN,Mumbai Indians,Chennai Super Kings,NaN,NaN,normal,0,Chennai Super Kings,0,1,NaN,"Wankhede Stadium, Mumbai",NaN,NaN,NaN,1,Mumbai Indians,Chennai Super Kings,1,2,Rohit,NaN,Chahar,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,0

In [9]:
### Number of runs scored
dfp = df.groupby(['season','venue','batting_team','batsman']).sum()["batsman_runs"].reset_index()
dfp = dfp.sort_values(['season', 'venue', 'batting_team','batsman_runs'], ascending=False)
dfp.rename(columns={"batsman":"player","batting_team":"team","batsman_runs":"runs_scored"}, inplace=True)

### Number of balls faced 
df1 = df.copy()
df1 = df1[df1['is_super_over']==0]
df1 = df1[df1['wide_runs']==0]
df1 = df1[df1['noball_runs']==0]
df1 = df1.groupby(['season','venue','batting_team','batsman']).count()["match_id"].reset_index()
df1.rename(columns={"match_id":"balls_faced","batting_team":"team","batsman":"player"}, inplace=True)
dfp = dfp.set_index(['season','venue','team','player']).join(df1.set_index(['season','venue','team','player'])).reset_index()

dfp.head()

,season,venue,team,player,runs_scored,balls_faced
0,2018,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,Williamson,29,21
1,2018,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,Y Pathan,29,33
2,2018,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,Manish Pandey,16,11
3,2018,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,Nabi,14,10
4,2018,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,Rashid Khan,6,9

In [31]:
ssr = pd.DataFrame()


for m in df["match_id"].unique():
    
    dfm = df[df["match_id"]==m]
    
    innings1_runs = df[(df["match_id"]==m) & (df["inning"]==1)].sum()["total_runs"]
    innings2_runs = df[(df["match_id"]==m) & (df["inning"]==2)].sum()["total_runs"]
    match_runs = innings1_runs + innings2_runs
    match_balls = len(dfm)
    
    batsmen = df[(df["match_id"]==m)]["batsman"].unique()
    
    for batsman in batsmen:
        batsman_balls_faced = len(df[(df["match_id"]==m) & (df["batsman"]==batsman)])
        batsman_runs_scored = df[(df["match_id"]==m) & (df["batsman"]==batsman)].sum()["batsman_runs"]
        
        nonstriker_balls_faced = len(df[(df["match_id"]==m) & (df["non_striker"]==batsman)])
        nonstriker_runs_scored = df[(df["match_id"]==m) & (df["non_striker"]==batsman)].sum()["batsman_runs"]
        
        rest_runs_scored = match_runs - batsman_runs_scored
        rest_balls_faced = match_balls - batsman_balls_faced
        
        if batsman not in ssr:
            ssr[batsman] = 0
            ssr.at["batsman_runs_scored", batsman] = batsman_runs_scored 
            ssr.at["batsman_balls_faced", batsman] = batsman_balls_faced 
            ssr.at["nonstriker_balls_faced", batsman] = nonstriker_balls_faced 
            ssr.at["nonstriker_runs_scored", batsman] = nonstriker_runs_scored 
            ssr.at["rest_runs_scored", batsman] = rest_runs_scored 
            ssr.at["rest_balls_faced", batsman] = rest_balls_faced 
        else:
            ssr.at["batsman_runs_scored", batsman] += batsman_runs_scored 
            ssr.at["batsman_balls_faced", batsman] += batsman_balls_faced 
            ssr.at["nonstriker_balls_faced", batsman] += nonstriker_balls_faced 
            ssr.at["nonstriker_runs_scored", batsman] += nonstriker_runs_scored 
            ssr.at["rest_runs_scored", batsman] += rest_runs_scored 
            ssr.at["rest_balls_faced", batsman] += rest_balls_faced

In [36]:
dfssr = ssr.transpose().reset_index().rename(columns={"index":"batsman"})
dfssr["batsman_sr"] = dfssr["batsman_runs_scored"]/dfssr["batsman_balls_faced"] * 100
dfssr["nonstriker_sr"] = dfssr["nonstriker_runs_scored"]/dfssr["nonstriker_balls_faced"] * 100
dfssr["rest_sr"] = dfssr["rest_runs_scored"]/dfssr["rest_balls_faced"] * 100
dfssr

,batsman,batsman_runs_scored,batsman_balls_faced,nonstriker_balls_faced,nonstriker_runs_scored,rest_runs_scored,rest_balls_faced,batsman_sr,nonstriker_sr,rest_sr
0,Rohit,267.0,200.0,210.0,337.0,3306.0,2487.0,133.500000,160.476190,132.931242
1,Lewis,265.0,205.0,195.0,269.0,3000.0,2229.0,129.268293,137.948718,134.589502
2,Ishan Kishan,238.0,150.0,169.0,236.0,2659.0,2044.0,158.666667,139.644970,130.088063
3,Suryakumar Yadav,435.0,340.0,341.0,384.0,3138.0,2347.0,127.941176,112.609971,133.702599
4,Hardik Pandya,188.0,151.0,143.0,197.0,3091.0,2291.0,124.503311,137.762238,134.919249
5,Krunal Pandya,189.0,129.0,103.0,138.0,3049.0,2311.0,146.511628,133.980583,131.934228
6,Watson,367.0,245.0,264.0,342.0,3575.0,2457.0,149.795918,129.545455,145.502646
7,Rayudu,435.0,296.0,287.0,388.0,3507.0,2406.0,146.959459,135.191638,145.760599
8,Raina,313.0,242.0,228.0,334.0,3239.0,2210.0,129.338843,146.491228,146.561086
9,Dhoni,393.0,257.0,211.0,286.0,3549.0,2445.0,152.918288,135.545024,145.153374
10,Kedar Jadhav,24.0,23.0,19.0,22.0,310.0,223.0,104.347826,115.789474,139.013453
11,Jadeja,59.0,57.0,76.0,139.0,2171.0,1417.0,103.508772,182.894737,153.211009
12,Dwayne Bravo,127.0,80.0,69.0,102.0,2693.0,1890.0,158.750000,147.826087,142.486772
13,Chahar,0.0,1.0,0.0,0.0,334.0,245.0,0.000000,NaN,136.326531
14,Harbhajan,8.0,6.0,9.0,19.0,326.0,240.0,133.333333,211.111111,135.833333
15,Mark Wood,1.0,5.0,4.0,3.0,333.0,241.0,20.000000,75.000000,138.174274
16,Tahir,2.0,2.0,13.0,39.0,332.0,244.0,100.000000,300.000000,136.065574
17,Munro,63.0,41.0,42.0,56.0,1404.0,877.0,153.658537,133.333333,160.091220
18,Gambhir,85.0,91.0,104.0,144.0,1582.0,1091.0,93.406593,138.461538,145.004583
19,Shreyas Iyer,386.0,285.0,328.0,486.0,3484.0,2303.0,135.438596,148.170732,151.280938
20,Vijay Shankar,133.0,94.0,94.0,158.0,2180.0,1428.0,141.489362,168.085106,152.661064
21,Pant,582.0,340.0,230.0,295.0,3501.0,2394.0,171.176471,128.260870,146.240602
22,Rahul Tewatia,50.0,47.0,53.0,100.0,1641.0,1139.0,106.382979,188.679245,144.073749
23,Chris Morris,46.0,26.0,21.0,21.0,825.0,571.0,176.923077,100.000000,144.483363
24,Christian,26.0,33.0,37.0,57.0,912.0,702.0,78.787879,154.054054,129.914530
25,Rahul,537.0,335.0,310.0,392.0,3110.0,2302.0,160.298507,126.451613,135.099913
26,Mayank Agarwal,118.0,88.0,119.0,176.0,3232.0,2305.0,134.090909,147.899160,140.216920
27,Yuvraj,64.0,70.0,64.0,72.0,1593.0,1147.0,91.428571,112.500000,138.884045
28,Nair,246.0,195.0,184.0,237.0,3084.0,2245.0,126.153846,128.804348,137.371938
29,Miller,50.0,43.0,44.0,51.0,561.0,446.0,116.279070,115.909091,125.784753
...,...,...,...,...,...,...,...,...,...,...
103,du Plessis,71.0,61.0,65.0,90.0,1051.0,671.0,116.393443,138.461538,156.631893
104,Bhui,0.0,5.0,1.0,0.0,360.0,241.0,0.000000,0.000000,149.377593
105,Jofra Archer,9.0,12.0,13.0,37.0,1217.0,956.0,75.000000,284.615385,127.301255
106,Barinder,3.0,7.0,11.0,9.0,985.0,734.0,42.857143,81.818182,134.196185
107,Prithvi Shaw,216.0,138.0,118.0,145.0,2265.0,1519.0,156.521739,122.881356,149.111257
108,Plunkett,1.0,3.0,3.0,2.0,619.0,432.0,33.333333,66.666667,143.287037
109,Mishra,1.0,2.0,7.0,13.0,277.0,249.0,50.000000,185.714286,111.244980
110,Nabi,18.0,12.0,9.0,7.0,434.0,457.0,150.000000,77.777778,94.967177
111,Basil Thampi,3.0,6.0,4.0,3.0,198.0,224.0,50.000000,75.000000,88.392857
112,Mustafizur,1.0,3.0,2.0,1.0,200.0,227.0,33.333333,50.000000,88.105727
113,de Grandhomme,83.0,67.0,54.0,71.0,1890.0,1410.0,123.880597,131.481481,134.042553
114,Manoj Tiwary,8.0,13.0,19.0,21.0,540.0,470.0,61.538462,110.526316,114.893617
115,Rajpoot,8.0,9.0,6.0,10.0,243.0,230.0,88.888889,166.666667,105.652174
116,Kuldeep Yadav,12.0,22.0,12.0,16.0,689.0,458.0,54.545455,133.333333,150.436681
117,Hales,109.0,86.0,81.0,105.0,1174.0,884.0,126.744186,129.629630,132.805430
118,Lomror,20.0,21.0,20.0,23.0,568.0,463.0,95.238095,115.000000,122.678186
119,Southee,37.0,28.0,19.0,6.0,526.0,458.0,132.142857,31.578947,114.847162
120,Duminy,36.0,46.0,46.0,54.0,613.0,453.0,78.260870,117.391304,135.320088
121,Parthiv Patel,79.0,62.0,52.0,39.0,827.0,665.0,127.419355,75.000000,124.360902
122,Murugan Ashwin,1.0,2.0,0.0,0.0,254.0,231.0,50.000000,NaN,109.956710
123,Shorey,8.0,9.0,11.0,8.0,247.0,224.0,88.888889,72.727273,110.267857
124,Naman Ojha,1.0,4.0,6.0,6.0,326.0,242.0,25.000000,100.000000,134.710744
125,Bhuvneshwar,1.0,2.0,1.0,0.0,286.0,247.0,50.000000,0.000000,115.789474
126,Moeen Ali,11.0,10.0,12.0,3.0,640.0,484.0,110.000000,25.000000,132.231405
127,Akshdeep Nath,9.0,13.0,21.0,23.0,288.0,231.0,69.230769,109.523810,124.675325
128,Prasidh,1.0,5.0,2.0,1.0,317.0,229.0,20.000000,50.000000,138.427948
129,Harshal Patel,24.0,17.0,20.0,35.0,354.0,218.0,141.176471,175.000000,162.385321
130,Chopra,8.0,6.0,3.0,1.0,345.0,246.0,133.333333,33.333333,140.243902
131,Searles,6.0,1.0,0.0,0.0,453.0,250.0,600.000000,NaN,181.200000
132,Abhishek Sharma,46.0,20.0,10.0,12.0,318.0,225.0,230.000000,120.000000,141.333333

In [40]:
dfssr[dfssr["batsman"]=="Pant"]

,batsman,batsman_runs_scored,batsman_balls_faced,nonstriker_balls_faced,nonstriker_runs_scored,rest_runs_scored,rest_balls_faced,batsman_sr,nonstriker_sr,rest_sr
21,Pant,582.0,340.0,230.0,295.0,3501.0,2394.0,171.176471,128.26087,146.240602

In [41]:
171 + 32

203

In [42]:
dfssr[dfssr["batsman"]=="Williamson"]

,batsman,batsman_runs_scored,batsman_balls_faced,nonstriker_balls_faced,nonstriker_runs_scored,rest_runs_scored,rest_balls_faced,batsman_sr,nonstriker_sr,rest_sr
59,Williamson,493.0,368.0,384.0,463.0,2783.0,2281.0,133.967391,120.572917,122.007891

In [45]:
80/40 * 100

200.0

In [44]:
120/80 * 100

150.0