In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
pd.set_option("display.max_columns", 100)
import os
import geojson
from geojson import Feature, FeatureCollection
import requests
from bs4 import BeautifulSoup
import json
import requests
from datetime import datetime
from geopy import geocoders
import random
from datetime import timedelta

In [3]:
folder = "09052020"
today_date = pd.datetime.today()

In [1409]:
root_path = "/Users/nesara/Documents/aim/git/articles/covid19/data/"+folder
if not os.path.exists(root_path):
    os.makedirs(root_path)

In [127]:
"""
url = "https://api.covid19india.org/csv/latest/raw_data1.csv"
r = requests.get(url)
f = open('../data/'+folder+'/raw_data1.csv','w')
f.write(r.text)
f.close()
url = "https://api.covid19india.org/csv/latest/raw_data2.csv"
r = requests.get(url)
f = open('../data/'+folder+'/raw_data2.csv','w')
f.write(r.text)
f.close()
url = "https://api.covid19india.org/csv/latest/death_and_recovered1.csv"
r = requests.get(url)
f = open('../data/'+folder+'/death_and_recovered1.csv','w')
f.write(r.text)
f.close()

url = "https://api.covid19india.org/csv/latest/death_and_recovered2.csv"
r = requests.get(url)
f = open('../data/'+folder+'/death_and_recovered2.csv','w')
f.write(r.text)
f.close()
"""

"""
url = "https://api.covid19india.org/csv/latest/raw_data3.csv"
r = requests.get(url)
f = open('../data/'+folder+'/raw_data3.csv','w')
f.write(r.text)
f.close()
"""

url = "https://api.covid19india.org/csv/latest/state_wise_daily.csv"
r = requests.get(url)
f = open('../data/'+folder+'/statewise_daily_confirmed_deceased_recovered.csv','w')
f.write(r.text)
f.close()

### Separate confirmed, deceased, recovered
df = pd.read_csv('../data/'+folder+'/statewise_daily_confirmed_deceased_recovered.csv')
df.rename(columns={"Date":"date"}, inplace=True)
df.to_csv('../data/'+folder+'/statewise_daily_confirmed_deceased_recovered.csv', index=False)
dft = df[df["Status"]=="Confirmed"].copy()
del dft["Status"]
dft.to_csv('../data/'+folder+'/statewise_daily_confirmed.csv', index=False)
dft = df[df["Status"]=="Deceased"].copy()
del dft["Status"]
dft.to_csv('../data/'+folder+'/statewise_daily_deceased.csv', index=False)
dft = df[df["Status"]=="Recovered"].copy()
del dft["Status"]
dft.to_csv('../data/'+folder+'/statewise_daily_recovered.csv', index=False)


##### Statewise testing numbers #########
url = "https://api.covid19india.org/csv/latest/statewise_tested_numbers_data.csv"
r = requests.get(url)
f = open('../data/'+folder+'/statewise_testing.csv','w')
f.write(r.text)
f.close()

### Country level Daily and overall cases, deaths, recovered
url = "https://api.covid19india.org/csv/latest/case_time_series.csv"
r = requests.get(url)
f = open('../data/'+folder+'/case_time_series.csv','w')
f.write(r.text)
f.close()

## State wise current count
url = "https://api.covid19india.org/csv/latest/state_wise.csv"
r = requests.get(url)
f = open('../data/'+folder+'/state_wise_current.csv','w')
f.write(r.text)
f.close()

In [110]:
map_to_wiki_district_name_mapping = {"Raigarh(MH)":"Raigad", "Raigarh(CG)":"Raigarh",
    "West District":"West Sikkim","East District":"East Sikkim",
    "North  District":"North Sikkim","South District":"South Sikkim",
    "Sipahijala":"Sepahijala", "Subarnapur":"Subarnapur (Sonepur)","Jalor":"Jalore",
    "Jagatsinghapur":"Jagatsinghpur","Nabarangapur":"Nabarangpur",
    "Bargarh":"Bargarh (Baragarh)","Baudh":"Boudh (Bauda)", "Boudh":"Boudh (Bauda)",
    "Anugul":"Angul", "Ribhoi":"Ri Bhoi","Narsimhapur":"Narsinghpur",
    "Mumbai Suburban":"Mumbai suburban", "Shivamogga":"Shimoga", "Chamarajanagara":"Chamarajnagar", "Punch":"Poonch", "The Dangs":"Dang","Lahul and Spiti":"Lahaul and Spiti",
    "Pashchimi Singhbhum":"West Singhbhum","Purbi Singhbhum":"East Singhbhum","Saraikela-kharsawan":"Seraikela Kharsawan", "Saraikela-Kharsawan":"Seraikela Kharsawan",
    "Uttar Bastar Kanker":"Kanker","Devbhumi Dwarka":"Devbhoomi Dwarka",
    "Medinipur East":"Purba Medinipur", "Medinipur West":"Paschim Medinipur",
    "S.P.S. Nellore":"Sri Potti Sriramulu Nellore", "Y.S.R.":"Kadapa", "South Salmara Mancachar":"South Salmara",
    "Kaimur Bhabhua":"Kaimur","Kabeerdham":"Kabirdham", "Ahmadabad":"Ahmedabad", "Banas Kantha":"Banaskantha",
    "Chota Udaipur":"Chhota Udepur", "Dohad":"Dahod", "Mahesana":"Mehsana", "Panch Mahals":"Panchmahal",
    "Sabar Kantha":"Sabarkantha", "Kachchh":"Kutch","Charki Dadri":"Charkhi Dadri", "Gurugram":"Gurgaon",
    "Hisar":"Hissar", "Yamunanagar":"Yamuna Nagar","Bandipore":"Bandipora", "Baramula":"Baramulla",
    "Shupiyan":"Shopian", "Budgam":"Badgam","Hazaribagh":"Hazaribag","Kodarma":"Koderma","Bagalkote":"Bagalkot",
    "Belagavi":"Belgaum", "Bengaluru":"Bangalore Urban", "Bengaluru Rural":"Bangalore Rural",
    "Chikkaballapura":"Chikkaballapur", "Kalaburagi":"Gulbarga","Khandwa":"Khandwa (East Nimar)",
    "Khargone":"Khargone (West Nimar)", "Ashoknagar":"Ashok Nagar","Ahmadnagar":"Ahmednagar","Bid":"Beed",
    "Buldana":"Buldhana","Gondiya":"Gondia","Mumbai":"Mumbai City","Baleshwar":"Balasore","Jajapur":"Jajpur",
    "Debagarh":"Debagarh (Deogarh)", "Kendujhar":"Kendujhar (Keonjhar)", "Mahe":"Mah√©", "Puducherry":"Pondicherry",
    "S.A.S. Nagar":"Sahibzada Ajit Singh Nagar", "Dhaulpur":"Dholpur", "Chittaurgarh":"Chittorgarh",
    "Kancheepuram":"Kanchipuram", "Kanniyakumari":"Kanyakumari", "The Nilgiris":"Nilgiris",
    "Thiruvallur":"Tiruvallur", "Thiruvarur":"Tiruvarur", "Tirupathur":"Tirupattur", "Tiruppur":"Tirupur",
    "Jagitial":"Jagtial", "Jayashankar":"Jayashankar Bhupalpally", "Jangoan":"Jangaon", "Kumuram Bheem Asifabad":"Komaram Bheem",
    "Mahabubnagar":"Mahbubnagar", "Medchal Malkajgiri":"Medchal-Malkajgiri", "Baghpat":"Bagpat",
    "Bara Banki":"Barabanki", "Gautam Buddha Nagar":"Gautam Buddh Nagar", "Kheri":"Lakhimpur Kheri", "Mahrajganj":"Maharajganj", "Prayagraj":"Allahabad",
    "Rae Bareli":"Raebareli", "Shrawasti":"Shravasti","Nicobars":"Nicobar", "Biswanath":"Bishwanath",
    "Bametara":"Bemetara", "Dakshin Bastar Dantewada":"Dantewada", "Janjgir Champa":"Janjgir-Champa",
    "North District": "North Sikkim"}


data_to_map_district_name_mapping = {"Jagtial":"Jagitial", "Jangaon":"Jangoan", "Jayashankar Bhupalapally":"Jayashankar",
                            "Komaram Bheem":"Kumuram Bheem Asifabad","Barabanki":"Bara Banki",
                            "Maharajganj":"Mahrajganj", "Ayodhya":"Faizabad", "Lakhimpur Kheri":"Kheri",
                            "Malda":"Maldah", "Paschim Medinipur":"Medinipur West", "Purba Medinipur":"Medinipur East",
                            "South Salmara Mankachar": "South Salmara Mancachar",
                           "Charkhi Dadri":"Charki Dadri", "Ahmednagar":"Ahmadnagar", "Buldhana":"Buldana",
                           "Gondia":"Gondiya", "Beed":"Bid", "Chittorgarh":"Chittaurgarh",
                           "Dholpur":"Dhaulpur", "Jalore":"Jalor", "Y.S.R. Kadapa":"Y.S.R.", "Y.S.R Kadapa":"Y.S.R.",
                           "Kaimur":"Kaimur Bhabhua", "Ahmedabad":"Ahmadabad", "Banaskantha":"Banas Kantha",
                            "Chhota Udaipur":"Chota Udaipur", "Dahod":"Dohad", "Kutch":"Kachchh", "Mehsana":"Mahesana",
                            "Panchmahal":"Panch Mahals", "Sabarkantha":"Sabar Kantha", "Bandipora":"Bandipore",
                            "Baramulla":"Baramula", "Shopiyan":"Shupiyan","Koderma":"Kodarma",
                            "Bengaluru Urban":"Bengaluru", "Balasore":"Baleshwar", "Deogarh":"Debagarh",
                            "Jagatsinghpur":"Jagatsinghapur", "Jajpur":"Jajapur","Ferozepur":"Firozpur",
                            "Kanyakumari":"Kanniyakumari", "Thoothukkudi":"Thoothukudi"}

data_to_map_state_name_mapping = {"Dadra and Nagar Haveli and Daman and Diu":"Dadra and Nagar Haveli"}

district_list_not_in_map = {"Dang", "Budgam",'Chengalpattu' 'Kallakurichi' 'Nilgiris' 'Ranipet' 'Tenkasi' 'Tirupathur',
                           }

### District wise latest confirmed, deaths, active, recovered

In [86]:
url = "https://api.covid19india.org/v2/state_district_wise.json"
r = requests.get(url)
json_data = r.json()

In [114]:
dfmd = pd.read_csv("../data/district_list_map.csv")
dfsc = pd.read_csv("../data/extracted_data_api/state_codes.csv")

dfd = pd.DataFrame()
for i in range(len(json_data)):
    state_name = json_data[i]["state"]
    if state_name in data_to_map_state_name_mapping:
        state_name = data_to_map_state_name_mapping[state_name]
    state_code = json_data[i]["statecode"]
    
    dft = pd.DataFrame(json_data[i]["districtData"])
    dft["state"] = state_name 
    dft["state_code"] = state_code 
    dft = dft[["district", "state", "state_code", "confirmed", "active", "recovered", "deceased"]]
    
    
    ### Map district names
    for j in range(len(dft)):
        district_name = dft.iloc[j]["district"]
        if district_name in data_to_map_district_name_mapping:
            district_name_mapped = data_to_map_district_name_mapping[district_name]
            dft.at[(dft["district"]==district_name) & (dft["state"]==state_name), "district"] = district_name_mapped
            district_name = district_name_mapped
        
        if district_name in district_name_resolution:
            district_name_mapped = district_name+"("+state_code+")"
            dft.at[(dft["district"]==district_name) & (dft["state"]==state_name), "district"] = district_name_mapped
            district_name = district_name_mapped
        
    dft.at[(dft["district"]=="Raigad")&(dft["state"]=="Maharashtra"), "district"] = "Raigarh"
    
    ### Include districts with 0 cases
    dfs = dfmd[dfmd["state"]==state_name]
    dft = dft.set_index(["district", "state"]).join(dfs.set_index(["district", "state"]), how="outer").reset_index()
    dft["state_code"] = state_code
    dft.fillna(0, inplace=True)
    
    dft.at[(dft["district"]=="Raigarh")&(dft["state"]=="Chhattisgarh"), "district"] = "Raigarh(CG)"
    dft.at[(dft["district"]=="Raigarh")&(dft["state"]=="Maharashtra"), "district"] = "Raigarh(MH)"
    
    #full_district_list = dft["district"]
    #map_district_list = dfs["district"]
    #print(np.setdiff1d(full_district_list, map_district_list))
    
    if i==0:
        dfd = dft.copy()
    else:
        dfd = dfd.append(dft)


dfdl = pd.DataFrame()
dfdl.at[0, "district"] = "Delhi"
dfdl.at[0, "state"] = "Delhi"
dfdl.at[0, "state_code"] = "DL"
dftmp = dfd[dfd["state"]=="Delhi"].sum(numeric_only=True)
dfdl.at[0, "confirmed"] = dftmp["confirmed"]
dfdl.at[0, "active"] = dftmp["active"]
dfdl.at[0, "recovered"] = dftmp["recovered"]
dfdl.at[0, "deceased"] = dftmp["deceased"]

dfd = dfd[dfd["state"]!="Delhi"]
dfd = dfd.append(dfdl)

dfd = dfd[dfd["district"]!="Other state"]
dfd = dfd[dfd["district"]!="Other State"]
dfd = dfd[dfd["district"]!="Other States"]
dfd = dfd[dfd["district"]!="Unknown"]
dfd = dfd[dfd["district"]!="Italians"]
dfd = dfd[dfd["district"]!="Evacuees"]
dfd = dfd[dfd["district"]!="BSF Camp"]

unlisted_states = np.setdiff1d(dfmd["state"].unique(), dfd["state"].unique())
for st in unlisted_states:
    dft = dfmd[dfmd["state"]==st].copy()
    state_code = dfsc[dfsc["state"]==st]["state_code"].values[0]
    dft["state_code"] = state_code
    dft["confirmed"] = 0
    dft["active"] = 0
    dft["recovered"] = 0
    dft["deceased"] = 0
    dfd = dfd.append(dft)
    
dfd.reset_index(inplace=True)
del dfd["index"]

In [115]:
dfwdp = pd.read_csv("../data/wiki_scrape/district_population_wiki.csv") 

dfd["population"] = np.nan
for i in range(len(dfd)):
    district_name = dfd.iloc[i]["district"]
    state_name = dfd.iloc[i]["state"]
    
    district_name_wiki = district_name
    if district_name_wiki not in ["Shahdara", "South East Delhi", "Agar Malwa", "Kra Daadi", "Lepa Rada",
            "Pakke Kessang", "Charaideo", "Mirpur", "Muzaffarabad", "Kangpokpi", "Noney", "Tengnoupal",
            "Niwari", "Other Region", "Hnahthial", "Khawzawl", "Saitual", "Airport Quarantine"]:
        if district_name=="Delhi":
            dl_population = 0
            dfdl = dfwdp[dfwdp["state"]=="Delhi"] #["population"].sum()
            for i in range(len(dfdl)):
                if ((dfdl.iloc[i]["district"]!="Shahdara") and (dfdl.iloc[i]["district"]!="South East Delhi")):
                    dl_population+=int(dfdl.iloc[i]["population"].replace(",",""))
            district_population = dl_population
        else:
            if (district_name!="Raigarh(MH)") and ((district_name!="Raigarh(CG)")) and ("(" in district_name):
                district_name_wiki = district_name.split("(")[0]
            if district_name_wiki in map_to_wiki_district_name_mapping:
                district_name_wiki = map_to_wiki_district_name_mapping[district_name]
            district_population = dfwdp[(dfwdp["district"]==district_name_wiki) & (dfwdp["state"]==state_name)]["population"].values[0]
            district_population = int(district_population.replace(",",""))

        dfd.at[(dfd["district"]==district_name) & (dfd["state"]==state_name), "population"] = district_population
dfd["cases_per_million"] = dfd["confirmed"] / dfd["population"] * 1e6
dfd.to_csv("../data/"+folder+"/derived/district_confirmed_active_recovered_deceased_population_casespm.csv", index=False)
dfd

,district,state,state_code,confirmed,active,recovered,deceased,population,cases_per_million
0,Nicobars,Andaman and Nicobar Islands,AN,0.0,0.0,0.0,0.0,36842.0,0.000000
1,North and Middle Andaman,Andaman and Nicobar Islands,AN,1.0,0.0,1.0,0.0,105597.0,9.469966
2,South Andaman,Andaman and Nicobar Islands,AN,32.0,0.0,32.0,0.0,238142.0,134.373609
3,Anantapur,Andhra Pradesh,AP,118.0,65.0,49.0,4.0,4083315.0,28.898089
4,Chittoor,Andhra Pradesh,AP,142.0,68.0,74.0,0.0,4170468.0,34.048936
5,East Godavari,Andhra Pradesh,AP,51.0,16.0,35.0,0.0,5151549.0,9.899935
6,Guntur,Andhra Pradesh,AP,399.0,166.0,225.0,8.0,4889230.0,81.607942
7,Krishna,Andhra Pradesh,AP,349.0,133.0,202.0,14.0,4529009.0,77.058800
8,Kurnool,Andhra Pradesh,AP,591.0,277.0,297.0,17.0,4046601.0,146.048498
9,Prakasam,Andhra Pradesh,AP,63.0,3.0,60.0,0.0,3392764.0,18.568931
10,S.P.S. Nellore,Andhra Pradesh,AP,111.0,31.0,77.0,3.0,2966082.0,37.423106
11,Srikakulam,Andhra Pradesh,AP,5.0,1.0,4.0,0.0,2699471.0,1.852215
12,Visakhapatnam,Andhra Pradesh,AP,66.0,40.0,25.0,1.0,4288113.0,15.391385
13,Vizianagaram,Andhra Pradesh,AP,4.0,4.0,0.0,0.0,2342868.0,1.707309
14,West Godavari,Andhra Pradesh,AP,68.0,30.0,38.0,0.0,3934782.0,17.281771
15,Y.S.R.,Andhra Pradesh,AP,97.0,41.0,56.0,0.0,2884524.0,33.627732
16,Anjaw,Arunachal Pradesh,AR,0.0,0.0,0.0,0.0,21089.0,0.000000
17,Changlang,Arunachal Pradesh,AR,0.0,0.0,0.0,0.0,147951.0,0.000000
18,East Kameng,Arunachal Pradesh,AR,0.0,0.0,0.0,0.0,78413.0,0.000000
19,East Siang,Arunachal Pradesh,AR,0.0,0.0,0.0,0.0,99019.0,0.000000
20,Kamle,Arunachal Pradesh,AR,0.0,0.0,0.0,0.0,22256.0,0.000000
21,Kra Daadi,Arunachal Pradesh,AR,0.0,0.0,0.0,0.0,NaN,NaN
22,Kurung Kumey,Arunachal Pradesh,AR,0.0,0.0,0.0,0.0,89717.0,0.000000
23,Lepa Rada,Arunachal Pradesh,AR,0.0,0.0,0.0,0.0,NaN,NaN
24,Lohit,Arunachal Pradesh,AR,1.0,0.0,1.0,0.0,145538.0,6.871058
25,Longding,Arunachal Pradesh,AR,0.0,0.0,0.0,0.0,60000.0,0.000000
26,Lower Dibang Valley,Arunachal Pradesh,AR,0.0,0.0,0.0,0.0,53986.0,0.000000
27,Lower Siang,Arunachal Pradesh,AR,0.0,0.0,0.0,0.0,80597.0,0.000000
28,Lower Subansiri,Arunachal Pradesh,AR,0.0,0.0,0.0,0.0,82839.0,0.000000
29,Namsai,Arunachal Pradesh,AR,0.0,0.0,0.0,0.0,95950.0,0.000000
...,...,...,...,...,...,...,...,...,...
720,Pauri Garhwal,Uttarakhand,UT,1.0,0.0,1.0,0.0,686527.0,1.456607
721,Pithoragarh,Uttarakhand,UT,0.0,0.0,0.0,0.0,485993.0,0.000000
722,Rudraprayag,Uttarakhand,UT,0.0,0.0,0.0,0.0,236857.0,0.000000
723,Tehri Garhwal,Uttarakhand,UT,0.0,0.0,0.0,0.0,616409.0,0.000000
724,Udham Singh Nagar,Uttarakhand,UT,13.0,9.0,4.0,0.0,1648367.0,7.886593
725,Uttarkashi,Uttarakhand,UT,1.0,1.0,0.0,0.0,329686.0,3.033189
726,Alipurduar,West Bengal,WB,0.0,0.0,0.0,0.0,1700000.0,0.000000
727,Bankura,West Bengal,WB,0.0,0.0,0.0,0.0,3596292.0,0.000000
728,Birbhum,West Bengal,WB,7.0,1.0,6.0,0.0,3502387.0,1.998637
729,Cooch Behar,West Bengal,WB,0.0,0.0,0.0,0.0,2822780.0,0.000000
730,Dakshin Dinajpur,West Bengal,WB,0.0,0.0,0.0,0.0,1670931.0,0.000000
731,Darjeeling,West Bengal,WB,7.0,1.0,5.0,1.0,1842034.0,3.800147
732,Hooghly,West Bengal,WB,134.0,105.0,25.0,4.0,5520389.0,24.273652
733,Howrah,West Bengal,WB,484.0,325.0,134.0,25.0,4841638.0,99.966168
734,Jalpaiguri,West Bengal,WB,4.0,0.0,4.0,0.0,3869675.0,1.033679
735,Jhargram,West Bengal,WB,3.0,3.0,0.0,0.0,1136548.0,2.639572
736,Kalimpong,West Bengal,WB,7.0,0.0,6.0,1.0,251642.0,27.817296
737,Kolkata,West Bengal,WB,1126.0,645.0,341.0,140.0,4486679.0,250.965135
738,Maldah,West Bengal,WB,19.0,19.0,0.0,0.0,3997970.0,4.752412
739,Medinipur East,West Bengal,WB,47.0,20.0,26.0,1.0,4417377.0,10.639798
740,Medinipur West,West Bengal,WB,19.0,0.0,19.0,0.0,5094238.0,3.729704
741,Murshidabad,West Bengal,WB,5.0,4.0,0.0,1.0,7102430.0,0.703984
742,Nadia,West Bengal,WB,10.0,2.0,8.0,0.0,5168488.0,1.934802
743,North 24 Parganas,West Bengal,WB,301.0,178.0,94.0,29.0,10082852.0,29.852665
744,Paschim Bardhaman,West Bengal,WB,14.0,5.0,7.0,2.0,2882031.0,4.857685
745,Purba Bardhaman,West Bengal,WB,9.0,7.0,2.0,0.0,4835532.0,1.861222
746,Purulia,West Bengal,WB,0.0,0.0,0.0,0.0,2927965.0,0.000000
747,South 24 Parganas,West Bengal,WB,74.0,49.0,23.0,2.0,8153176.0,9.076218
748,Uttar Dinajpur,West Bengal,WB,4.0,4.0,0.0,0.0,3000849.0,1.332956
749,Delhi,Delhi,DL,7998.0,5034.0,2858.0,106.0,16787941.0,476.413397

### District wise daily: time series

In [116]:
url = "https://api.covid19india.org/districts_daily.json"
r = requests.get(url)
json_data = r.json()

In [118]:
districtwise_start_date = pd.datetime(2020, 4, 25)
dfsc = pd.read_csv("../data/extracted_data_api/state_codes.csv")

dfd = pd.DataFrame()
didx = 0
state_list = json_data["districtsDaily"].keys()
for state_name in state_list:
    print(state_name)
    # Skip "Dadra and Nagar Haveli and Daman and Diu"
    if state_name!="Dadra and Nagar Haveli and Daman and Diu":

        state_code = dfsc[dfsc["state"]==state_name]["state_code"].values[0]
        
        district_list = json_data["districtsDaily"][state_name].keys()
        for district_name in district_list:

            if district_name not in ["Unknown", "Other State", "Other States", "Other state", "Other states",
                                    "Other States*", "Other Region", "Italians*", "Italians", "Kaimur Bhabua",
                                    "Evacuees"]:
                dfcd = pd.DataFrame(json_data["districtsDaily"][state_name][district_name])

                if district_name in data_to_map_district_name_mapping:
                    district_name = data_to_map_district_name_mapping[district_name]
                if district_name in district_name_resolution:
                    district_name = district_name+"("+state_code+")"

                dfcd["district"] = district_name
                dfcd["state"] = state_name
                dfcd = dfcd[["date", "district", "state", "confirmed", "recovered", "deceased"]]
                dfcd["date"] = pd.to_datetime(dfcd["date"])
                #dfcd = dfcd[dfcd["date"]>=districtwise_start_date]
                dfcd["confirmed"] = dfcd["confirmed"].diff()
                dfcd["recovered"] = dfcd["recovered"].diff()
                dfcd["deceased"] = dfcd["deceased"].diff()
                dfcd.dropna(subset=["confirmed", "recovered", "deceased"], inplace=True)

                # Replace -ve values with 0
                dfcd.at[dfcd["confirmed"]<0, "confirmed"] = 0
                dfcd.at[dfcd["recovered"]<0, "recovered"] = 0
                dfcd.at[dfcd["deceased"]<0, "deceased"] = 0

                ################## Interpolate ##########################
                dftmp = dfcd.copy()
                df1 = dfcd.copy()
                df1["date"] = pd.to_datetime(df1["date"]).dt.date

                if len(df1[df1["confirmed"]>0])>0:
                    first_nonzero_date = df1[df1["confirmed"]>0].head(1)["date"].values[0]
                    df1 = df1[df1["date"]>first_nonzero_date]

                if len(df1)>0:
                    init_date = pd.to_datetime(df1.iloc[0]["date"]).date()
                    last_date = pd.to_datetime(df1.iloc[len(df1)-1]["date"]).date()

                    cdt = init_date
                    while (cdt < last_date):
                        if len(df1[df1["date"]==cdt])>0:
                            current_date_count = df1[df1["date"]==cdt]["confirmed"].values[0]
                            if current_date_count>0:
                                cdt+=timedelta(1)
                            elif current_date_count==0:
                                dft = df1[df1["date"]>=cdt]
                                if len(dft[dft["confirmed"]>0])>0:
                                    next_nonzero_date = pd.to_datetime(dft[dft["confirmed"]>0].head(1)["date"].values[0]).date()
                                    num_days = (next_nonzero_date - cdt).days
                                    next_nonzero_count = df1[df1["confirmed"]>0].head(1)["confirmed"].values[0]
                                    count_per_day = int(next_nonzero_count / num_days)
                                    while (cdt <= next_nonzero_date):
                                        df1.at[df1["date"]==cdt, "confirmed"] = count_per_day
                                        cdt+=timedelta(1)
                                else:
                                    cdt+=timedelta(1)
                            else:
                                print("Negative recovered")
                        else:
                            cdt+=timedelta(1)


                    cdt = init_date
                    while (cdt < last_date):
                        if len(df1[df1["date"]==cdt])>0:
                            current_date_count = df1[df1["date"]==cdt]["recovered"].values[0]
                            if current_date_count>0:
                                cdt+=timedelta(1)
                            elif current_date_count==0:
                                dft = df1[df1["date"]>=cdt]
                                if len(dft[dft["recovered"]>0])>0:
                                    next_nonzero_date = pd.to_datetime(dft[dft["recovered"]>0].head(1)["date"].values[0]).date()
                                    num_days = (next_nonzero_date - cdt).days
                                    next_nonzero_count = df1[df1["recovered"]>0].head(1)["recovered"].values[0]
                                    count_per_day = int(next_nonzero_count / num_days)
                                    while (cdt <= next_nonzero_date):
                                        df1.at[df1["date"]==cdt, "recovered"] = count_per_day
                                        cdt+=timedelta(1)
                                else:
                                    cdt+=timedelta(1)
                            else:
                                print("Negative recovered")
                        else:
                            cdt+=timedelta(1)

                    cdt = init_date
                    while (cdt < last_date):
                        if len(df1[df1["date"]==cdt])>0:
                            current_date_count = df1[df1["date"]==cdt]["deceased"].values[0]
                            if current_date_count>0:
                                cdt+=timedelta(1)
                            elif current_date_count==0:
                                dft = df1[df1["date"]>=cdt]
                                if len(dft[dft["deceased"]>0])>0:
                                    next_nonzero_date = pd.to_datetime(dft[dft["deceased"]>0].head(1)["date"].values[0]).date()
                                    num_days = (next_nonzero_date - cdt).days
                                    next_nonzero_count = df1[df1["deceased"]>0].head(1)["deceased"].values[0]
                                    count_per_day = int(next_nonzero_count / num_days)
                                    while (cdt <= next_nonzero_date):
                                        df1.at[df1["date"]==cdt, "deceased"] = count_per_day
                                        cdt+=timedelta(1)
                                else:
                                    cdt+=timedelta(1)
                            else:
                                print("Negative deceased")
                        else:
                            cdt+=timedelta(1)

                    dfcd = df1.copy()
                    ################## Interpolate end ######################


                    if didx==0:
                        dfd = dfcd.copy()
                    else:
                        dfd = dfd.append(dfcd)
                    didx+=1


dfd.to_csv("../data/"+folder+"/derived/district_daily_confirmed_recovered_deceased.csv", index=False)

Andaman and Nicobar Islands
Andhra Pradesh
Arunachal Pradesh
Assam
Bihar
Chandigarh
Chhattisgarh
Delhi
Goa
Gujarat
Haryana
Himachal Pradesh
Jammu and Kashmir
Jharkhand
Karnataka
Kerala
Ladakh
Madhya Pradesh
Maharashtra
Manipur
Meghalaya
Mizoram
Odisha
Puducherry
Punjab
Rajasthan
Tamil Nadu
Telangana
Tripura
Uttar Pradesh
Uttarakhand
West Bengal
Dadra and Nagar Haveli
Dadra and Nagar Haveli and Daman and Diu
Lakshadweep
Nagaland
Sikkim

### District growth rate  and Cases per population

In [121]:
num_days_rolling_avg = 5
init_date = pd.datetime(2020, 4, 25).date()
df = pd.read_csv("../data/"+folder+"/derived/district_daily_confirmed_recovered_deceased.csv")
df["date"] = pd.to_datetime(df["date"]).dt.date
del df["recovered"], df["deceased"]
district_list = df[df["state"]!="Delhi"]["district"].unique()
#district_list = df[df["state"]=="West Bengal"]["district"].unique()

### Set columns based on dates
columns = ["district"]
cdt = init_date
latest_date = today_date.date() - timedelta(1)
while(cdt <= latest_date):
    columns.append(pd.to_datetime(cdt.strftime("%Y-%m-%d")).date())
    cdt += timedelta(1)
dfrc = pd.DataFrame(columns=columns) 
dfcp = pd.DataFrame(columns=columns) 

for i in range(len(district_list)):
    district_name = district_list[i]
    
    dfd = df[df["district"]==district_name].copy()
    dfd = dfd[:-1]
    dfd["cumulative_count"] = dfd["confirmed"].cumsum()
    dfd["previous_day_count"] = np.nan
    l = [[0], dfd["cumulative_count"].values[:len(dfd)-1]]
    previous_day_count = [item for sublist in l for item in sublist]
    dfd["previous_day_count"] = previous_day_count
    
    ############## District growth rate ################
    dfds = dfd.copy()
    #district_name = dfd["district"].unique()[0]
    dfds["daily_growth_rate"] = (dfds["cumulative_count"] - dfds["previous_day_count"])/dfds["previous_day_count"]
    dfds["avg_growth_rate"] = dfds[["date","daily_growth_rate"]].set_index("date").rolling(num_days_rolling_avg).mean().reset_index()["daily_growth_rate"].values
    dfds = dfds[dfds["date"]>=init_date]
    dfds["avg_growth_rate"] = np.round(dfds["avg_growth_rate"] * 100, 2)
    dfds = dfds[["date","district","avg_growth_rate"]]
    dfds["date"] = pd.to_datetime(dfds["date"])
    dfds = dfds.set_index("date").resample("D").fillna("ffill").reset_index()
    dfds["date"] = pd.to_datetime(dfds["date"]).dt.date
    dfds.sort_values("date", inplace=True)
    dfds.rename(columns={"avg_growth_rate":district_name}, inplace=True)
    del dfds["district"]
    dfds = dfds.transpose()
    new_header = dfds.iloc[0] 
    dfds = dfds[1:] 
    dfds.columns = new_header
    dfds.reset_index(inplace=True)
    dfds.rename(columns={"index":"district"}, inplace=True)
    
    dfrc = dfrc.append(dfds, sort=True)
    
    
    ############## District growth rate ################
    dfdp = dfd.copy()
    if len(dfdp)>1:
        dfdp["cases_per_million"] = np.nan
        state_name = dfdp["state"].unique()[0]

        district_name_wiki = district_name
        if "(" in district_name:
            district_name_wiki = district_name.split("(")[0]
        if district_name_wiki in map_to_wiki_district_name_mapping:
            district_name_wiki = map_to_wiki_district_name_mapping[district_name]
        
        if district_name_wiki not in ["Shahdara", "South East Delhi", "Agar Malwa", "Evacuees"]:
            if len(dfwdp[(dfwdp["district"]==district_name_wiki) & (dfwdp["state"]==state_name)])==1:
                district_population = dfwdp[(dfwdp["district"]==district_name_wiki) & (dfwdp["state"]==state_name)]["population"].values[0]
                district_population = int(district_population.replace(",",""))
                dfdp["cases_per_million"] = dfdp["confirmed"]/district_population*1e6
            elif len(dfwdp[dfwdp["district"]==district_name_wiki])==0:
                print(district_name + " population data not found")
            elif len(dfwdp[dfwdp["district"]==district_name_wiki])>1:
                print(district_name + " more than one population data found")

        dfdp = dfdp[["date","cases_per_million"]]
        dfdp = dfdp[dfdp["date"]>=init_date]
        dfdp["cases_per_million"] = np.round(dfdp["cases_per_million"],2)
        dfdp.rename(columns={"cases_per_million":district_name}, inplace=True)
        dfdp = dfdp.transpose()
        new_header = dfdp.iloc[0] 
        dfdp = dfdp[1:] 
        dfdp.columns = new_header
        dfdp.reset_index(inplace=True)
        dfdp.rename(columns={"index":"district"}, inplace=True)

        dfcp = dfcp.append(dfdp, sort=True)
    else:
        dfm = pd.DataFrame()
        dfm.at[0, "district"] = district_name
        dfcp = dfcp.append(dfm, sort=True)

dfd = pd.read_csv("../data/"+folder+"/derived/district_confirmed_active_recovered_deceased_population_casespm.csv")
dfd = dfd[["district", "state_code", "confirmed"]]
dfdrc = dfd.set_index("district").join(dfrc.set_index("district")).reset_index()
dfdrc["district"] = dfdrc["district"] + ", " + dfdrc["state_code"]
del dfdrc["state_code"]
dfdrc.rename(columns={"confirmed":"total_case_count"}, inplace=True)
dfdrc.to_csv("../data/"+folder+"/code_data/districtwise_growth_rate.csv", index=False)
dfdrc

dfd = pd.read_csv("../data/"+folder+"/derived/district_confirmed_active_recovered_deceased_population_casespm.csv")
dfd = dfd[["district", "state_code", "confirmed"]]
dfdcp = dfd.set_index("district").join(dfcp.set_index("district")).reset_index()
dfdcp["district"] = dfdcp["district"] + ", " + dfdcp["state_code"]
del dfdcp["state_code"]
dfdcp.rename(columns={"confirmed":"total_case_count"}, inplace=True)
dfdcp.to_csv("../data/"+folder+"/code_data/districtwise_latest_cases_per_population.csv", index=False)

### District case growth rate and cases per population: derived from raw data

In [173]:
### Derive districtwise time series from raw data

df = pd.read_csv("../data/09052020/one_time/full_data_patient_level_withDistrictMapped_withStatusMapped.csv")
df["date"] = pd.to_datetime(df["date"])
df.sort_values("date")
df = df[["date", "district", "state"]]
df["count"] = 1
### Combine all Delhi cases under one district with name "Delhi"
df.at[df["state"]=="Delhi", "district"] = "Delhi"
dfts = df.groupby(["state", "district", "date"]).count().reset_index()
dfts

### District and state list
dfd = pd.read_csv("../data/extracted_data/district_list.csv")[["district", "state"]]
dfd.at[dfd["state"]=="Delhi", "district"] = "Delhi"
state_list = dfd["state"].unique()
#state_list = ["Karnataka"]

### Get time series of cases for each district
start_date = pd.to_datetime(df.head(1)["date"].values[0])
end_date = pd.to_datetime(df.tail(1)["date"].values[0])

dfdd = pd.DataFrame()
idx = 0
dc = 0
for sid in range(len(state_list)):
    state_name = state_list[sid]
    print(state_name)
    
    state_district_list = dfd[dfd["state"]==state_name]["district"].unique()
    #state_district_list = ["Mysuru"]
    dc += len(state_district_list)
    for did in range(len(state_district_list)):
        district_name = state_district_list[did]
        
        d = start_date
        while (d <= end_date):
            dfdd.at[idx, "state"] = state_name
            dfdd.at[idx, "district"] = district_name
            dfdd.at[idx, "date"] = d
            
            dfc = dfts[(dfts["state"]==state_name) & (dfts["district"]==district_name) & (dfts["date"]==d)]
            if len(dfc)==0:
                dfdd.at[idx, "count"] = 0
            elif len(dfc)==1:
                dfdd.at[idx, "count"] = dfc["count"].values[0]
            else:
                print("Error: " + state_name + " " + district_name + " " + date)
            
            idx += 1
            d += timedelta(days=1)
#dfdd.to_csv("../data/"+folder+"/derived/districtwise_time_series.csv", index=False)

Andaman and Nicobar Islands
Andhra Pradesh
Arunachal Pradesh
Assam
Bihar
Chandigarh
Chhattisgarh
Dadra and Nagar Haveli
Daman And Diu
Delhi
Goa
Gujarat
Haryana
Himachal Pradesh
Jammu and Kashmir
Jharkhand
Karnataka
Kerala
Ladakh
Lakshadweep
Madhya Pradesh
Maharashtra
Manipur
Meghalaya
Mizoram
Nagaland
Odisha
Puducherry
Punjab
Rajasthan
Sikkim
Tamil Nadu
Telangana
Tripura
Uttar Pradesh
Uttarakhand
West Bengal

In [177]:
max_growth_rate_nan_cutoff = 150
init_date = pd.datetime(2020, 3, 15)
num_days_rolling_avg = 7

dfdd = pd.read_csv("../data/09052020/derived/districtwise_time_series.csv")
dfdd["date"] = pd.to_datetime(dfdd["date"])
state_list = dfdd["state"].unique()
district_list = dfdd["district"].unique()

latest_date = pd.to_datetime(dfdd.sort_values("date").tail(1)["date"].values[0])
two_weeks_past_date = latest_date - timedelta(days=14)

#dfdc = dfdd.groupby(["state", "district"]).sum()["count"].reset_index()
#dfdc = dfdc[dfdc["count"]>min_case_count]
#district_list_with_min_cases = dfdc["district"].unique()

# State code
dfsc = pd.read_csv("../data/extracted_data/state_codes.csv")

# District population
dfwdp = pd.read_csv("../data/wiki_scrape/district_population_wiki_withNameMapped.csv")

ridx = 0
cidx = 0
cpidx = 0
dfrc = pd.DataFrame() ## Current growth rate for all districts ##with min_case_count
dfcc = pd.DataFrame() ## Current Growth rate for all districts
dfrg = pd.DataFrame() ## Latest two weeks Growth rate for all districts
dfcp = pd.DataFrame() ## Latest two weeks cases/population for all districts

#state_list = ["Rajasthan"]
for sid in range(len(state_list)):
    state_name = state_list[sid]
    if state_name=="Daman And Diu":
        state_name = state_name.replace("And","and")
    state_code = dfsc[dfsc["state"]==state_name]["state_code"].values[0]
    print("==== " + state_name + " ====")
    
    state_district_list = dfdd[dfdd["state"]==state_name]["district"].unique()
    # Remove nan names
    state_district_list = [l for l in state_district_list if not pd.isnull(l)]    
    # Handle special case of Delhi (covid19.org raw data has no district wise data for Delhi)
    # Combine all districts of Delhi to one entity
    if state_name=="Delhi":
        state_district_list = ["Delhi"]
    
    #print(state_district_list)
    #state_district_list = ["Jaisalmer"]
    for did in range(len(state_district_list)):
        district_name = state_district_list[did]
        
        if district_name in district_name_mapping.keys():
            district_name_mapped = district_name_mapping[district_name]
            dfdd['district'] = dfdd['district'].replace({district_name:district_name_mapped})
            district_name = district_name_mapped

        if district_name in district_name_resolution:
            district_name_resolved = resolve_district_name(state_name, district_name)
            dfdd['district'] = dfdd['district'].replace({district_name:district_name_resolved})
            district_name = district_name_resolved

        district_population = np.nan
        if district_name=="Delhi":
            district_population = dfwdp[dfwdp["state"]=="Delhi"]["population"].sum()
        else:
            if len(dfwdp[dfwdp["district"]==district_name])==0:
                print(district_name + " population data not found")
            if len(dfwdp[dfwdp["district"]==district_name])>1:
                print(district_name + " more than one population data found")
            if len(dfwdp[dfwdp["district"]==district_name])==1:
                district_population = dfwdp[dfwdp["district"]==district_name]["population"].values[0]
        
        if not pd.isnull(district_name):
            #print(district_name)
            dfd = dfdd[(dfdd["state"]==state_name) & (dfdd["district"]==district_name)].copy()
            #d = start_date
            #while (d <= end_date):

            dfd["cumulative_count"] = dfd["count"].cumsum()
            dfd["previous_day_count"] = np.nan

            l = [[0], dfd["cumulative_count"].values[:len(dfd)-1]]
            previous_day_count = [item for sublist in l for item in sublist]

            # District total case count
            district_total_case_count = dfd[dfd["date"]==latest_date]["cumulative_count"].values[0]

            ######### Current Growth rate and latest two weeks growth for all districts ########
            ### ------ For districit hotspot table----- ###
            dfd["previous_day_count"] = previous_day_count
            #dfds = dfd[dfd["previous_day_count"]!=0].copy()
            dfds = dfd.copy()
            dfds["daily_growth_rate"] = (dfds["cumulative_count"] - dfds["previous_day_count"])/dfds["previous_day_count"]
            dfds["avg_growth_rate"] = dfds[["date","daily_growth_rate"]].set_index("date").rolling(num_days_rolling_avg).mean().reset_index()["daily_growth_rate"].values
            dfds = dfds[dfds["date"]>=init_date]
            dfds["avg_growth_rate"] = np.round(dfds["avg_growth_rate"] * 100, 2)
            ## Smooth curve: 
            dfds.at[dfds["avg_growth_rate"]>=max_growth_rate_nan_cutoff, "avg_growth_rate"] = np.nan
            if len(dfds)==0:
                dfc = dfd[dfd["date"]==latest_date][["district", "state", "cumulative_count"]].copy()
                dfc["avg_growth_rate"] = np.nan
                dfc.rename(columns={"cumulative_count":"total_cases", "avg_growth_rate":"current_avg_growth_rate"}, inplace=True)
                cdt = two_weeks_past_date
                gh=0;
                while (cdt <= latest_date):
                    dfc.at[dfc.index, "day"+str(gh)] = np.nan
                    cdt += timedelta(days=1)
                    gh+=1
            else:
                dfc = dfds[dfds["date"]==latest_date][["district", "state", "cumulative_count", "avg_growth_rate"]].copy()
                #dfc.at[dfc["district"]==district_name, "district"] = district_name+", "+state_code
                dfc.rename(columns={"cumulative_count":"total_cases", "avg_growth_rate":"current_avg_growth_rate"}, inplace=True)
                cdt = two_weeks_past_date
                gh=0;
                while (cdt <= latest_date):
                    dfc.at[dfc.index, "day"+str(gh)] = dfds[dfds["date"]==cdt]["avg_growth_rate"].values[0]
                    cdt += timedelta(days=1)
                    gh+=1
            if cidx==0:
                dfcc = dfc.copy()
            else:
                dfcc = dfcc.append(dfc)
            cidx += 1

            ########## Growth rate for all days for all districts ###########
            ### ------ For districit growth rate curve----- ###
            dfr = dfds[["date", "avg_growth_rate"]].copy()
            #dfr = dfr[dfr["date"]>two_weeks_past_date]
            dfr["date"] = pd.to_datetime(dfr["date"]).dt.date
            dfr.rename(columns={"date":"district","avg_growth_rate":district_name+", "+state_code}, inplace=True)
            dfr.reset_index(inplace=True)
            del dfr["index"]
            dfr.at[-1, "district"] = "total_case_count"
            dfr.at[-1, district_name+", "+state_code] = district_total_case_count
            dfr.sort_index(inplace=True)
            dfr = dfr.transpose()
            new_header = dfr.iloc[0] #grab the first row for the header
            dfr = dfr[1:] #take the data less the header row
            dfr.columns = new_header
            #if district_name in district_list_with_min_cases:
            if ridx==0:
                dfrc = dfr.copy()
            else:
                dfrc = dfrc.append(dfr)
            ridx += 1
            
            """
            ######## Latest two weeks Growth rate for all districts ########
            dfrgd = dfds[["date", "avg_growth_rate"]].copy()
            dfrgd = dfrgd[dfrgd["date"]>two_weeks_past_date]
            dfrgd["date"] = pd.to_datetime(dfrgd["date"]).dt.date
            dfrgd.rename(columns={"date":"district","avg_growth_rate":district_name+", "+state_code}, inplace=True)
            dfrgd.reset_index(inplace=True)
            del dfrgd["index"]
            dfrgd.at[-1, "district"] = "total_case_count"
            dfrgd.at[-1, district_name+", "+state_code] = district_total_case_count
            dfrgd.sort_index(inplace=True)
            dfrgd = dfrgd.transpose()
            new_header = dfrgd.iloc[0] #grab the first row for the header
            dfrgd = dfrgd[1:] #take the data less the header row
            dfrgd.columns = new_header
            #dfrgd = dfrr[[col for col in dfrr.columns if col>two_weeks_past_date]].copy()
            if cidx==0:
                dfrg = dfrgd.copy()
            else:
                dfrg = dfrg.append(dfrgd)
            """

            ######## Latest two weeks cases per population for all districts ##############
            ### ------ For districit case density curve----- ###
            #if district_total_case_count>=min_case_count_to_compute_case_density:
            dfcpd = dfds[["district", "date", "count"]].copy()
            dfcpd["avg_daily_cases"] = dfds[["date","count"]].set_index("date").rolling(5).mean().reset_index()["count"].values
            dfcpd["population"] = district_population
            dfcpd["cases_per_lakh"] = dfcpd["avg_daily_cases"] / dfcpd["population"] * 100000
            dfcpd = dfcpd[["date", "cases_per_lakh"]].copy()
            dfcpd.rename(columns={"cases_per_lakh":district_name+", "+state_code}, inplace=True)
            dfcpd = dfcpd[dfcpd["date"]>two_weeks_past_date]
            dfcpd["date"] = pd.to_datetime(dfcpd["date"]).dt.date
            dfcpd.reset_index(inplace=True)
            del dfcpd["index"]
            dfcpd.at[-1, "date"] = "total_case_count"
            dfcpd.at[-1, district_name+", "+state_code] = district_total_case_count
            dfcpd.sort_index(inplace=True)

            dfcpd = dfcpd.transpose()
            new_header = dfcpd.iloc[0] #grab the first row for the header
            dfcpd = dfcpd[1:] #take the data less the header row
            dfcpd.columns = new_header
            #dfcpd = dfcpd[[col for col in dfcpd.columns if col>two_weeks_past_date]].copy()
            if cpidx==0:
                dfcp = dfcpd.copy()
            else:
                dfcp = dfcp.append(dfcpd)
            cpidx+=1
                       

dfcp.to_csv("../data/09052020/code_data/districtwise_latest_cases_per_population_derivedFromRawData.csv")
##dfcc.to_csv("../data/extracted_data_api/code_data/districtwise_current_growth_rate_all_withDistrictNameMapped.csv", index=False)
dfrc.to_csv("../data/09052020/code_data/districtwise_growth_rate_derivedFromRawData.csv")

==== Andaman and Nicobar Islands ====
==== Andhra Pradesh ====
==== Arunachal Pradesh ====
Pakke Kessang population data not found
==== Assam ====
Biswanath population data not found
South Salmara Mancachar population data not found
==== Bihar ====
==== Chandigarh ====
==== Chhattisgarh ====
==== Dadra and Nagar Haveli ====
==== Daman and Diu ====
==== Delhi ====
==== Goa ====
==== Gujarat ====
==== Haryana ====
==== Himachal Pradesh ====
==== Jammu and Kashmir ====
Mirpur population data not found
Muzaffarabad population data not found
==== Jharkhand ====
==== Karnataka ====
==== Kerala ====
==== Ladakh ====
==== Lakshadweep ====
==== Madhya Pradesh ====
==== Maharashtra ====
==== Manipur ====
==== Meghalaya ====
==== Mizoram ====
==== Nagaland ====
==== Odisha ====
==== Puducherry ====
==== Punjab ====
==== Rajasthan ====
==== Sikkim ====
==== Tamil Nadu ====
Tirupathur population data not found
==== Telangana ====
==== Tripura ====
==== Uttar Pradesh ====
==== Uttarakhand ====
==== West Bengal ====

### Basic maps (district, statewise - cases, deaths)

#### State map data

In [128]:
df = pd.read_csv('../data/'+folder+'/state_wise_current.csv')

with open("../data/india_geojson_raw/india_topojson.json") as topodata:
    raw_data = json.load(topodata)

data = raw_data
state_list = data["objects"]["india"]["geometries"]

for i in range(len(state_list)):
    state_name = state_list[i]["properties"]["st_nm"]
    if (state_name=="Dadra and Nagar Haveli"):
        state_name = "Dadra and Nagar Haveli and Daman and Diu"

    df_state = df[df["State"]==state_name].copy()

    if len(df_state)==1:
        data["objects"]["india"]["geometries"][i]["properties"]["confirmed"] = str(df_state["Confirmed"].values[0])
        data["objects"]["india"]["geometries"][i]["properties"]["active"] = str(df_state["Active"].values[0])
        data["objects"]["india"]["geometries"][i]["properties"]["deaths"] = str(df_state["Deaths"].values[0])
        data["objects"]["india"]["geometries"][i]["properties"]["recovered"] = str(df_state["Recovered"].values[0])
        
    elif len(df_state)==0:
        print(state_name + " data not found")
    elif len(df_state)>1:
        print(state_name + " more than one data found")
    else:
        print(state_name + " other error")

#with open('../data/india_geojson_data_api/india.json', 'w') as outfile:
with open('../data/'+folder+'/code_data/india.json', 'w') as outfile:
    json.dump(data, outfile)

Hello data not found

#### District map data

In [129]:
### Get data: cases, deaths, cases_per_million
df = pd.read_csv("../data/"+folder+"/derived/district_confirmed_active_recovered_deceased_population_casespm.csv")
### Get data: district wise growth rate
dfcg = pd.read_csv("../data/"+folder+"/code_data/districtwise_growth_rate.csv")
dfcg = dfcg[["district", dfcg.columns[-1]]]
dfcg.rename(columns={dfcg.columns[-1]:"current_case_growth_rate"}, inplace=True)


dfmd = pd.read_csv("../data/district_list_map.csv")
delhi_district_list = dfmd[dfmd["state"]=="Delhi"]["district"].values

state_name_list = []

for fp in os.listdir("../data/state_geojson_raw/"):
    if not fp.startswith(".") and fp.endswith(".json"):
        state_name = fp.split(".")[0]
        state_name_mapped = state_name_mapping[state_name]
        state_name_list.append(state_name)
        print(state_name)

        with open("../data/state_geojson_raw/"+fp) as topodata:
            raw_data = json.load(topodata)

        data = raw_data
        district_list = data["objects"][state_name+"_district"]["geometries"]
        
        if state_name=="tamilnadu":
            data["transform"]["scale"] = [0.0006973698971092601, 0.0006462543480830687]
            data["transform"]["translate"] = [76.20310065122152, 8.107847033856163]
        
        for i in range(len(district_list)):
            district_name = data["objects"][state_name+"_district"]["geometries"][i]["properties"]["district"]
            
            # Combine districts of Delhi
            if district_name in delhi_district_list:
                district_name = "Delhi"
                data["objects"][state_name+"_district"]["geometries"][i]["properties"]["district"] = "Delhi"

            ## District name not found
            if (0): #district_name in district_name_unmapped:
                data["objects"][state_name+"_district"]["geometries"][i]["properties"]["cases"] = str(-1)
                data["objects"][state_name+"_district"]["geometries"][i]["properties"]["deaths"] = str(-1)
                #data["objects"][state_name+"_district"]["geometries"][i]["properties"]["current_case_growth_rate"] = str(-1)
                #data["objects"][state_name+"_district"]["geometries"][i]["properties"]["case_density"] = str(-1)
            else:
                if ((district_name=="Raigarh") and (state_name_mapped=="Maharashtra")):
                    district_name = "Raigarh(MH)"
                if ((district_name=="Raigarh") and (state_name_mapped=="Chhattisgarh")):
                    district_name = "Raigarh(CG)"
                
                df_district = df[(df["district"]==district_name) & (df["state"]==state_name_mapped)].copy()
                state_code = df[df["state"]==state_name_mapped]["state_code"].unique()[0]
                dfcg_district_name = district_name + ", " + state_code
                dfcg_district = dfcg[dfcg["district"]==dfcg_district_name]
                
                if len(df_district)==1:
                    data["objects"][state_name+"_district"]["geometries"][i]["properties"]["cases"] = str(df_district["confirmed"].values[0])
                    data["objects"][state_name+"_district"]["geometries"][i]["properties"]["deaths"] = str(df_district["deceased"].values[0])
                    data["objects"][state_name+"_district"]["geometries"][i]["properties"]["case_density"] = str(df_district["cases_per_million"].values[0])
                elif len(df_district)==0:
                    print(district_name + " data not found")
                elif len(df_district)>1:
                    print(district_name + " more than one data found")
                else:
                    print(district_name + " other error")
                    
                if len(dfcg_district)==1:
                    data["objects"][state_name+"_district"]["geometries"][i]["properties"]["current_case_growth_rate"] = str(dfcg_district["current_case_growth_rate"].values[0])
                elif len(dfcg_district)==0:
                    print(district_name + " cgr data not found")
                elif len(dfcg_district)>1:
                    print(district_name + " cgr more than one data found")
                else:
                    print(district_name + " cgr other error")
                    
        with open('../data/'+folder+'/code_data/district_data_map/'+state_name+'.json', 'w') as outfile:
            json.dump(data, outfile)

odisha
telangana
meghalaya
karnataka
haryana
bihar
andhrapradesh
jammukashmir
westbengal
kerala
chhattisgarh
andamannicobarislands
jharkhand
ladakh
uttarpradesh
mizoram
lakshadweep
nagaland
tamilnadu
dadranagarhaveli
delhi
puducherry
madhyapradesh
arunachalpradesh
uttarakhand
manipur
tripura
gujarat
goa
assam
maharashtra
punjab
sikkim
rajasthan
chandigarh
himachalpradesh

### Daily and overall cases, deaths

In [130]:
df = pd.read_csv('../data/'+folder+'/case_time_series.csv')
df.rename(columns={"Date":"date", "Daily Confirmed": "daily_confirmed", "Total Confirmed": "total_confirmed",
                   "Daily Recovered":"daily_recovered", "Total Recovered":"total_recovered",
                   "Daily Deceased":"daily_deaths", "Total Deceased":"total_deaths"}, inplace=True)
df["date"] = df["date"].str.strip()
for i in range(len(df)):
    df.at[i, "date"] = df.iloc[i]["date"] + " 2020"
df["date"] = pd.to_datetime(df["date"])
#df.columns = ["daily_confirmed", "daily_deaths", "daily_recovered", "date", "total_confirmed", "total_deaths", "total_recovered"]
df = df[["date", "daily_confirmed", "total_confirmed", "daily_deaths", "total_deaths", "daily_recovered", "total_recovered"]] 

dfr = df.set_index("date").rolling(7).mean().reset_index()[["date", "daily_confirmed", "daily_deaths"]]
dfr.columns = ["date", "rolling_avg_confirmed", "rolling_avg_deaths"]
df = df.set_index("date").join(dfr.set_index("date")).reset_index()

df.to_csv("../data/"+folder+"/code_data/overall_and_daily_cases_deaths.csv", index=False)
df.head(2)

,date,daily_confirmed,total_confirmed,daily_deaths,total_deaths,daily_recovered,total_recovered,rolling_avg_confirmed,rolling_avg_deaths
0,2020-01-30,1,1,0,0,0,0,NaN,NaN
1,2020-01-31,0,1,0,0,0,0,NaN,NaN

### State - Cases, deaths, testspm, ntod -- For state testing vs growth animation

In [131]:
# Get case count
dfsc = pd.read_csv("../data/"+folder+"/statewise_daily_confirmed.csv")
del dfsc["TT"]
dfsc["date"] = pd.to_datetime(dfsc["date"]).dt.date
dfsc["date"] = dfsc["date"].apply(lambda x: x.strftime('%Y-%m-%d'))
dfsc = dfsc.set_index("date").cumsum().reset_index()
dfsc = dfsc.transpose()
new_header = dfsc.iloc[0]
dfsc = dfsc[1:]
dfsc.columns = new_header
dfsc.columns = [col+"_cases" for col in dfsc.columns]
dfsc.reset_index(inplace=True)
dfsc.rename(columns={"index":"state"}, inplace=True)


# Get death count
dfsd = pd.read_csv("../data/"+folder+"/statewise_daily_deceased.csv")
del dfsd["TT"] #, dfsd["Unnamed: 39"]
dfsd["date"] = pd.to_datetime(dfsd["date"]).dt.date
dfsd["date"] = dfsd["date"].apply(lambda x: x.strftime('%Y-%m-%d'))
dfsd = dfsd.set_index("date").cumsum().reset_index()
dfsd = dfsd.transpose()
new_header = dfsd.iloc[0]
dfsd = dfsd[1:]
dfsd.columns = new_header
dfsd.columns = [col+"_deaths" for col in dfsd.columns]
dfsd.reset_index(inplace=True)
dfsd.rename(columns={"index":"state"}, inplace=True)


#### Join: Cases and deaths
dfs = dfsc.set_index("state").join(dfsd.set_index("state")).reset_index()


# Get tests per million
dfst = pd.read_csv("../data/"+folder+"/statewise_testing.csv")[["State", "Updated On", "Total Tested"]]
dfst.rename(columns={"State":"state_name", "Total Tested":"tests", "Updated On":"date"}, inplace=True)

# Get state population
dfsp = pd.read_csv("../data/wiki_scrape/district_population_wiki_withNameMapped.csv")
dfsp = dfsp.groupby(["state", "state_code"]).sum()["population"].reset_index()
dfsp.rename(columns={"state":"state_name"}, inplace=True)

# Join state population and state testing data
dfst = dfst.set_index("state_name").join(dfsp.set_index("state_name"), how="inner").reset_index()
dfst["date"] = pd.to_datetime(dfst["date"], dayfirst=True).dt.date

# Tests per million population
dfst["testspm"] = dfst["tests"]/dfst["population"] * 1e6
dfst["testspm"] = np.round(dfst["testspm"], 2)
del dfst["tests"], dfst["population"]


dfsc = pd.read_csv("../data/"+folder+"/statewise_daily_confirmed.csv")
dfsc["date"] = pd.to_datetime(dfsc["date"], dayfirst=True).dt.date
start_date = dfsc["date"][0]
end_date = dfsc["date"][len(dfsc)-1]

dfit = pd.DataFrame()
state_list = dfst["state_name"].unique()

for i in range(len(state_list)):
    state_name = state_list[i]
    dft = dfst[dfst["state_name"]==state_name].copy()
    dft.dropna(subset=["testspm"], inplace=True)
    dft.drop_duplicates(inplace=True, subset=["date"], keep="last")
    state_code = dft["state_code"].unique()[0]
    dfi = pd.DataFrame()
    cdt = start_date
    idx=0
    while cdt<=end_date:
        dfi.at[idx, "date"] = cdt
        cdt += timedelta(days=1)
        idx +=1
    dfi = dfi.set_index("date").join(dft.set_index("date")).reset_index()
    dfi["state_name"] = dfi["state_name"].fillna(state_name)
    dfi["state_code"] = dfi["state_code"].fillna(state_code)
    dfi["testspm"] = dfi["testspm"].fillna(method="ffill")
    dfi["testspm"] = dfi["testspm"].fillna(0)

    dfi["date"] = dfi["date"].apply(lambda x: x.strftime('%Y-%m-%d')+"_testspm")
    del dfi["state_name"], dfi["state_code"]
    dfi.rename(columns={"testspm":state_code}, inplace=True)
    dfi = dfi.transpose()
    new_header = dfi.iloc[0]
    dfi = dfi[1:]
    dfi.columns = new_header
    dfi.reset_index(inplace=True)
    dfi.rename(columns={"index":"state"}, inplace=True)
    
    if i==0:
        dfit = dfi.copy()
    else:
        dfit = dfit.append(dfi) #, sort=True)


        
#### Join: tests
dfs = dfs.set_index("state").join(dfit.set_index("state")).reset_index()

        
        
        
## Get growth rate
min_case_count_to_compute_doubling_rate = 50
dfsc = pd.read_csv("../data/"+folder+"/statewise_daily_confirmed.csv")
del dfsc["TT"] #, dfsc["Unnamed: 39"]
dfsc["date"] = pd.to_datetime(dfsc["date"]).dt.date
dfsc["date"] = dfsc["date"].apply(lambda x: x.strftime('%Y-%m-%d'))
dfsc = dfsc.set_index("date").cumsum().reset_index()

dfsg = pd.DataFrame()
stidx = 0
for col in dfsc.columns:
    if col not in ["date"]:
        dfss = dfsc[["date", col]].copy()
        dfss["prev"] = np.nan
        l = [[0], dfss[col].values[:len(dfss)-1]]
        previous_day_count = [item for sublist in l for item in sublist]
        dfss["prev"] = previous_day_count
        
        ### Days to double
        dfss["ndays_to_double"] = 1/np.log2(dfss[col]/dfss["prev"])
        dfss["ndays_to_double_ravg"]  = dfss.set_index("date").rolling(5).mean()["ndays_to_double"].values        
        dfss.at[dfss[col]<min_case_count_to_compute_doubling_rate, "ndays_to_double_ravg"] = np.nan
        
        dfss["ndays_to_double_ravg"] = np.round(dfss["ndays_to_double_ravg"], 2)
        del dfss[col], dfss["prev"], dfss["ndays_to_double"]
        dfss.rename(columns={"ndays_to_double_ravg":col}, inplace=True)
        dfss["date"] = pd.to_datetime(dfss["date"]).dt.date
        dfss["date"] = dfss["date"].apply(lambda x: x.strftime('%Y-%m-%d')+"_ntod")
        dfss = dfss.transpose()
        new_header = dfss.iloc[0]
        dfss = dfss[1:]
        dfss.columns = new_header
        dfss.reset_index(inplace=True)
        dfss.rename(columns={"index":"state"}, inplace=True)
        
        if stidx==0:
            dfsg = dfss.copy()
        else:
            dfsg = dfsg.append(dfss)
        stidx+=1

        
#### Join: growth rate
dfs = dfs.set_index("state").join(dfsg.set_index("state")).reset_index()

dfsp = pd.read_csv("../data/wiki_scrape/district_population_wiki_withNameMapped.csv")
dfsp = dfsp.groupby(["state", "state_code"]).sum()["population"].reset_index()
dfsp.rename(columns={"state":"state_name", "state_code":"state"}, inplace=True)

dfss = dfs.set_index("state").join(dfsp[["state","state_name"]].set_index("state"), how="inner").reset_index()
l = [["state"], ["state_name"], dfss.columns[1:len(dfss.columns)-1]]
columns = [item for sublist in l for item in sublist]
dfss = dfss[columns]
dfss.to_csv("../data/"+folder+"/code_data/state_case_death_testpm_ntod.csv", index=False) 
dfss

,state,state_name,2020-03-14_cases,2020-03-15_cases,2020-03-16_cases,2020-03-17_cases,2020-03-18_cases,2020-03-19_cases,2020-03-20_cases,2020-03-21_cases,2020-03-22_cases,2020-03-23_cases,2020-03-24_cases,2020-03-25_cases,2020-03-26_cases,2020-03-27_cases,2020-03-28_cases,2020-03-29_cases,2020-03-30_cases,2020-03-31_cases,2020-04-01_cases,2020-04-02_cases,2020-04-03_cases,2020-04-04_cases,2020-04-05_cases,2020-04-06_cases,2020-04-07_cases,2020-04-08_cases,2020-04-09_cases,2020-04-10_cases,2020-04-11_cases,2020-04-12_cases,2020-04-13_cases,2020-04-14_cases,2020-04-15_cases,2020-04-16_cases,2020-04-17_cases,2020-04-18_cases,2020-04-19_cases,2020-04-20_cases,2020-04-21_cases,2020-04-22_cases,2020-04-23_cases,2020-04-24_cases,2020-04-25_cases,2020-04-26_cases,2020-04-27_cases,2020-04-28_cases,2020-04-29_cases,2020-04-30_cases,...,2020-03-25_ntod,2020-03-26_ntod,2020-03-27_ntod,2020-03-28_ntod,2020-03-29_ntod,2020-03-30_ntod,2020-03-31_ntod,2020-04-01_ntod,2020-04-02_ntod,2020-04-03_ntod,2020-04-04_ntod,2020-04-05_ntod,2020-04-06_ntod,2020-04-07_ntod,2020-04-08_ntod,2020-04-09_ntod,2020-04-10_ntod,2020-04-11_ntod,2020-04-12_ntod,2020-04-13_ntod,2020-04-14_ntod,2020-04-15_ntod,2020-04-16_ntod,2020-04-17_ntod,2020-04-18_ntod,2020-04-19_ntod,2020-04-20_ntod,2020-04-21_ntod,2020-04-22_ntod,2020-04-23_ntod,2020-04-24_ntod,2020-04-25_ntod,2020-04-26_ntod,2020-04-27_ntod,2020-04-28_ntod,2020-04-29_ntod,2020-04-30_ntod,2020-05-01_ntod,2020-05-02_ntod,2020-05-03_ntod,2020-05-04_ntod,2020-05-05_ntod,2020-05-06_ntod,2020-05-07_ntod,2020-05-08_ntod,2020-05-09_ntod,2020-05-10_ntod,2020-05-11_ntod,2020-05-12_ntod,2020-05-13_ntod
0,AN,Andaman and Nicobar Islands,0,0,0,0,0,0,0,0,0,0,0,0,1,6,9,9,10,10,10,10,10,10,10,10,10,11,11,11,11,11,11,11,11,11,12,14,15,16,17,18,22,29,33,33,33,33,33,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AP,Andhra Pradesh,1,1,1,1,1,3,3,5,6,7,8,10,11,13,19,21,23,44,111,149,164,192,256,303,314,348,363,381,405,420,439,484,525,534,572,603,647,722,757,813,893,955,1016,1097,1177,1259,1332,1403,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.64,3.74,3.8,3.16,3.43,4.1,7.52,7.42,9.83,12.21,13.65,13.58,15.36,13.5,12.34,18.23,16.43,15.92,16.47,16.03,10.8,10.73,9.58,9.68,10.65,9.53,9.56,10.14,10.53,10.96,12.47,13.84,15.49,16.38,17.19,17.92,19.04,20.11,22.91,24.85,28.11,27.65,28.98
2,AR,Arunachal Pradesh,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AS,Assam,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,16,16,23,26,26,26,28,28,29,29,29,30,32,33,33,35,35,35,35,35,35,35,36,36,36,36,36,38,38,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.76,21.38,19.51,NaN,NaN
4,BR,Bihar,0,0,0,0,0,0,0,0,2,3,3,4,7,9,11,15,15,21,24,29,31,32,32,32,38,39,58,60,64,64,66,66,72,83,85,86,96,113,126,143,170,223,251,277,346,366,403,425,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.5,20.76,21.06,16.33,5.28,4.53,4.85,4.99,4.51,6.18,7.11,8.54,8.64,12.4,11.85,16.99,24.91,34.07,39.16,39.93,35.93,26.35,18.09,9.49,8.51
5,CH,Chandigarh,0,0,0,0,0,1,5,5,6,7,7,7,7,8,8,8,13,15,17,18,18,18,18,18,18,18,18,19,19,21,21,21,21,21,21,23,26,26,27,27,27,27,28,36,45,56,68,74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.33,4.16,4.41,5.89,9.67,11.71,10.97,13.54,13.07,10.43,8.62,13.64,13.34,15.96,20.74
6,DD,Dadra and Nagar Haveli,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,DL,Delhi,7,7,7,8,10,14,20,27,27,30,30,35,36,40,49,72,97,120,152,293,386,445,503,525,576,669,720,903,1069,1154,1510,1561,1578,1640,1707,1893,2003,2081,2156,2248,2376,2514,2625,2918,3108,3314,3439,3515,...,NaN,NaN,NaN,NaN,8.18,7.75,3.48,2.75,2.27,2.42,2.93,3.41,6.06,7.34,7.77,8.68,8.16,5.74,6.06,5.65,7.93,20.12,22.9,24.55,25.37,23.65,14.48,14.8,14.66,15.82,15.82,15.4,12.8,11.68,11.33,12.62,15.75,16.7,15.92,15.16,13.3,10.32,9.79,10.15,11.26,13.37,12.45,13.89,14.65,15.15
8,GA,Goa,0,0,0,0,0,0,0,0,0,0,0,3,3,3,3,5,5,5,5,5,6,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,GJ,Gujarat,0,0,0,0,0,2,7,14,18,30,34,38,43,47,55,63,70,74,87,88,95,108,128,146,175,186,262,378,468,516,572,650,766,929,1099,1376,1743,1939,2178,2407,2624,2815,3071,3301,3548,3774,4082,4395,...,NaN,NaN,NaN,5.92,5.83,5.9,7.27,6.57,17.82,18.61,18.37,16.69,16.89,5.53,5.99,5.31,4.88,4.47,5.13,4.2,4.88,5.34,5.41,4.82,4.09,3.59,4.05,4.52,5.08,6.07,7.46,7.75,8.48,9.01,9.65,9.45,9.73,9.75,9.86,9.56,9.86,9.88,10.29,10.69,11.31,11.91,12.8,13.8,14.7,15.6
10,HR,Haryana,14,14,14,15,16,17,19,21,21,28,30,31,32,33,35,35,36,43,43,49,58,84,90,110,143,167,170,176,179,195,196,198,204,215,223,232,250,251,255,264,270,275,287,296,301,308,311,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.96,4.42,4.5,11.91,13.9,21.41,22.5,48.71,54.57,55.22,49.66,51.83,28.24,16.44,46.52,52.65,52.85,55.52,61.22,29.73,25.46,29.74,29.6,36.34,34.71,32.9,27.29,22.12,8.7,9.48,8.52,8.57,11.72,14.1,15.14,17.09,16.46,20.84
11,HP,Himachal Pradesh,0,0,0,0,0,0,2,2,2,3,3,3,3,3,3,3,3,3,3,6,6,13,14,18,27,27,28,28,32,32,32,33,35,35,38,39,39,39,39,39,40,40,40,40,40,40,40,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.98,18.9,14.41,16.63,15.81,23.37
12,JK,Jammu and Kashmir,2,2,3,3,4,4,4,4,4,4,6,11,14,20,33,38,49,55,62,70,75,92,106,109,125,158,184,207,224,245,270,278,300,314,328,341,354,368,380,407,434,454,494,523,546,565,581,614,...,NaN,NaN,NaN,NaN,NaN,NaN,3.39,4.16,5.03,6.05,6.19,5.97,9.78,9.65,8.23,8.46,8.66,5.45,5.98,6.82,10.65,11.3,12.58,14.21,16.35,15.31,17.06,18.34,17.19,15.78,15.15,13.22,11.33,12.53,14.42,16.31,17.18,18.22,18.35,17,16,20.26,19.88,22.57,23.6,28.49,26.41,30.02,26.27,26.1
13,JH,Jharkhand,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,2,2,2,3,4,4,4,13,14,17,19,24,27,28,29,32,33,41,46,46,46,53,59,67,82,103,105,107,110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.66,10.89,16.94,20.86,25.33,32.62,NaN,NaN,NaN,NaN,NaN,NaN,25.63,45.66,42.44,40.95,44.88
14,KA,Karnataka,6,6,7,9,14,15,15,20,26,33,41,51,55,64,81,83,88,101,110,124,128,144,151,163,175,181,197,207,215,232,247,260,279,315,359,384,390,408,418,427,445,474,500,503,512,523,535,565,...,2.87,4.22,4.61,4.61,9.66,11.39,10.56,11.27,11.84,10.52,9.33,11.25,11.43,12.23,11.97,12.43,12.31,14.16,14.03,12.13,13.19,12.36,9.84,9.08,8.93,15.17,16.28,20.86,26.31,27.6,20.86,20.38,37.83,39.14,42.3,46.22,46.16,26.32,25.38,25.34,21.59,23.22,24.63,25.83,21.45,21.7,19.64,23.37,17.26,18.99
15,KL,Kerala,19,24,27,27,27,28,40,52,67,95,109,118,137,176,182,202,234,241,265,286,295,306,314,327,336,345,357,364,374,376,379,387,388,395,396,400,402,408,427,438,448,451,458,469,482,486,496,498,...,4.23,4.63,4.63,8.37,8.69,7.89,11.66,12.57,10.25,13.4,16.24,16.91,18.87,22.16,22.93,23.19,24.96,26.66,47.55,59.75,62.33,108.91,111.55,140.38,136.73,157.89,113.53,108.82,59.44,51.79,44.77,44.41,47.2,46.82,57.46,43.49,68.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139.61,77.16
16,LA,Ladakh,0,0,0,0,8,8,10,13,13,13,13,13,13,13,13,13,13,13,13,13,14,14,14,14,14,14,14,15,15,15,17,17,18,18,18,18,18,18,18,18,18,18,20,20,20,22,22,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,LD,Lakshadweep,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,MP,Madhya Pradesh,0,0,NaN,0,0,0,4,4,6,6,7,15,20,29,39,39,47,66,98,107,154,179,193,256,290,341,411,451,529,562,614,741,938,1164,1310,1402,1407,1485,1552,1587,1687,1846,1945,2090,2165,2387,2560,2625,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.46,3.64,5.07,5.21,4.75,5.22,5.04,4.69,5.07,6.25,6.96,6.96,6.05,5.83,4.71,5.18,43.39,45.37,47.87,52.91,53.14,15.73,15.82,14.61,12.32,11.47,11.92,14.79,16.97,18.27,24.8,26.64,24.99,25.7,24.36,21.53,21.78,21.02,19.2,18,15.88
19,MH,Maharashtra,14,32,38,41,44,48,52,64,74,97,107,122,125,156,186,203,220,302,335,423,487,635,747,868,1018,1135,1364,1574,1761,1982,2334,2680,2916,3201,3321,3648,4200,4666,5218,5649,6427,6817,7628,8068,8590,9318,9915,10498,...,4.6,9.64,9.31,9.59,9.76,10.43,5.16,5.87,5.68,5.08,3.88,4.29,3.88,4.15,4.44,4.68,4.79,5.1,5.4,4.98,5.23,5.9,6.15,8.75,9.38,9.36,9.03,8.78,6.76,6.36,7.73,7.65,8.88,9.34,9.97,9.85,11.05,10.09,9.96,10.84,9.82,9.52,9.82,9.71,9.48,10.6,10,10.75,12,11.98
20,MN,Manipur,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,ML,Meghalaya,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,7,9,9,11,11,11,12,12,12,12,12,12,12,12,12,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,MZ,Mizoram,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NL,Nagaland,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,PY,Puducherry,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,3,5,5,5,5,5,5,5,5,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,8,8,8,8,8,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,PB,Punjab,1,1,1,1,2,2,3,13,21,23,29,31,33,38,38,38,41,42,46,47,53,65,68,79,99,106,130,151,158,170,176,184,186,197,211,234,244,245,251,278,283,298,308,322,330,342,375,480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.7,15.56,12.88,12.28,6.44,7.32,7.32,5.17,7.31,8.59,10.55,12.99,24.89,24.25,24.37,21.71,21.91,42.98,46.3,45.63,52.07,51.44,21.75,19.14,23.43,19.53,18.35,14.72,12.3,7.15,3.66,3.39,3.68,5.73,7.09,9.39,15.96,19.18,21.18,26.42,50.34
26,RJ,Rajasthan,3,4,4,4,7,9,17,24,28,32,32,38,40,50,54,59,79,93,120,133,179,206,266,301,343,383,463,561,700,804,897,1005,1076,1131,1229,1351,1478,1576,1735,1888,1964,2034,2083,2185,2262,2364,2440,2584,...,NaN,NaN,NaN,NaN,7.5,7.17,5.31,5.24,4.78,3.68,4.19,3.89,4.47,4.18,4.97,4.71,4.89,4.4,4.34,4.35,4.84,6.14,8.3,8.97,9.16,9.49,9.62,8.28,8.25,10.3,12.71,16.38,17.83,20.2,19.83,20.25,16.84,18.38,17.93,18.23,16.21,18.23,16.62,17.31,17.06,18.62,19.1,19.38,19.21,19.85
27,SK,Sikkim,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,TN,Tamil Nadu,1,1,1,1,2,3,3,6,9,12,18,26,29,38,42,50,67,124,234,309,411,485,571,621,690,738,834,911,969,1075,1173,1204,1242,1267,1323,1372,1477,1520,1596,1629,1683,1755,1821,1885,1937,2058,2162,2323,...,NaN,NaN,NaN,NaN,4.34,4.44,3.39,3.1,2.21,1.9,2.27,2.89,4.32,5.14,6.72,7.01,7.73,8.33,8.35,7.87,12.05,14.95,19.66,21.53,23.75,20.31,20.68,16.57,20.14,20.58,22.01,20.93,22.1,20.42,18.46,17.96,16.14,13.78,10.27,9.49,7.54,6.64,5.79,5.42,5.24,6.03,6.41,6.93,7.33,8.45
29,TR,Tripura,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.24,1.47,1.84,2.64,3.5,NaN,NaN,NaN
30,UP,Uttar Pradesh,12,13,13,15,17,20,24,28,30,32,35,38,42,49,65,72,96,104,117,128,174,234,278,305,332,361,410,433,452,483,558,660,735,805,849,975,1100,1184,1337,1449,1510,1621,1793,1873,1986,2053,2134,2211,...,NaN,NaN,NaN,6.01,5.82,4.61,4.96,5.24,6.29,5.39,5.37,4.44,4.76,4.85,6.06,6.68,8.41,10.15,10.6,9.91,9.64,8.39,6.69,7.2,7.24,7.57,8.16,7.78,6.9,9.26,10.06,9.55,11.59,12.23,13.05,14.68,17.21,16.73,16.46,14.53,14.05,13.57,14.33,18,18.79,18.56,20.18,21.33,21.08,23.5
31,WB,West Bengal,0,0,0,1,1,1,2,4,7,7,9,9,10,15,18,21,22,37,37,53,53,53,80,80,91,99,103,116,126,134,152,190,213,231,255,287,310,339,392,423,456,514,571,611,649,697,725,758,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.06,10.24,9.69,6.82,6.86,6.9,6.05,6.12,7.3,7.63,6.88,7.3,7.97,7.33,7.1,8.19,8.67,8.76,11.13,12.92,13.78,12.42,11.01,10.28,9.29,8.11,9.44,10.63,10.06,9.62,10.13,10.53,11.46

### State case count

In [132]:
df = pd.read_csv("../data/"+folder+"/statewise_daily_confirmed.csv")
del df["TT"]
df = df.set_index("date").cumsum().reset_index()
df["date"] = pd.to_datetime(df["date"]).dt.date
dfsc = pd.read_csv("../data/extracted_data_api/state_codes.csv")
df = df.transpose()
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header
df.reset_index(inplace=True)
df.rename(columns={"index":"state_code"}, inplace=True)
df = dfsc.set_index("state_code").join(df.set_index("state_code")).reset_index()
df.rename(columns={"state":"state_name"}, inplace=True)
del df["state_code"]

dfntod = pd.read_csv("../data/"+folder+"/code_data/state_case_death_testpm_ntod.csv")
dfntod = dfntod[["state_name", dfntod.columns[-1]]]
dfntod.rename(columns={dfntod.columns[-1]:"latest_ntod"}, inplace=True)

df = dfntod.set_index("state_name").join(df.set_index("state_name")).reset_index()
df.to_csv("../data/"+folder+"/code_data/state_case_count.csv", index=False)
df

,state_name,latest_ntod,2020-03-14,2020-03-15,2020-03-16,2020-03-17,2020-03-18,2020-03-19,2020-03-20,2020-03-21,2020-03-22,2020-03-23,2020-03-24,2020-03-25,2020-03-26,2020-03-27,2020-03-28,2020-03-29,2020-03-30,2020-03-31,2020-04-01,2020-04-02,2020-04-03,2020-04-04,2020-04-05,2020-04-06,2020-04-07,2020-04-08,2020-04-09,2020-04-10,2020-04-11,2020-04-12,2020-04-13,2020-04-14,2020-04-15,2020-04-16,2020-04-17,2020-04-18,2020-04-19,2020-04-20,2020-04-21,2020-04-22,2020-04-23,2020-04-24,2020-04-25,2020-04-26,2020-04-27,2020-04-28,2020-04-29,2020-04-30,2020-05-01,2020-05-02,2020-05-03,2020-05-04,2020-05-05,2020-05-06,2020-05-07,2020-05-08,2020-05-09,2020-05-10,2020-05-11,2020-05-12,2020-05-13
0,Andaman and Nicobar Islands,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,6,9,9,10,10,10,10,10,10,10,10,10,11,11,11,11,11,11,11,11,11,12,14,15,16,17,18,22,29,33,33,33,33,33,33,33,33,33,33,33,33,33,33,33,33,33,33,33
1,Andhra Pradesh,28.98,1,1,1,1,1,3,3,5,6,7,8,10,11,13,19,21,23,44,111,149,164,192,256,303,314,348,363,381,405,420,439,484,525,534,572,603,647,722,757,813,893,955,1016,1097,1177,1259,1332,1403,1463,1525,1583,1650,1717,1777,1833,1887,1930,1980,2018,2089,2137
2,Arunachal Pradesh,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,Assam,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,16,16,23,26,26,26,28,28,29,29,29,30,32,33,33,35,35,35,35,35,35,35,36,36,36,36,36,38,38,43,43,43,43,43,45,46,54,60,62,63,65,65,80
4,Bihar,8.51,0,0,0,0,0,0,0,0,2,3,3,4,7,9,11,15,15,21,24,29,31,32,32,32,38,39,58,60,64,64,66,66,72,83,85,86,96,113,126,143,170,223,251,277,346,366,403,425,466,481,517,528,535,542,550,579,611,707,749,879,953
5,Chandigarh,20.74,0,0,0,0,0,1,5,5,6,7,7,7,7,8,8,8,13,15,17,18,18,18,18,18,18,18,18,19,19,21,21,21,21,21,21,23,26,26,27,27,27,27,28,36,45,56,68,74,88,94,97,102,119,124,135,146,169,173,181,187,191
6,Dadra and Nagar Haveli,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1
7,Delhi,15.15,7,7,7,8,10,14,20,27,27,30,30,35,36,40,49,72,97,120,152,293,386,445,503,525,576,669,720,903,1069,1154,1510,1561,1578,1640,1707,1893,2003,2081,2156,2248,2376,2514,2625,2918,3108,3314,3439,3515,3738,4122,4549,4898,5104,5532,5980,6318,6542,6923,7233,7639,7998
8,Goa,NaN,0,0,0,0,0,0,0,0,0,0,0,3,3,3,3,5,5,5,5,5,6,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
9,Gujarat,15.60,0,0,0,0,0,2,7,14,18,30,34,38,43,47,55,63,70,74,87,88,95,108,128,146,175,186,262,378,468,516,572,650,766,929,1099,1376,1743,1939,2178,2407,2624,2815,3071,3301,3548,3774,4082,4395,4721,5054,5428,5804,6245,6625,7013,7403,7797,8195,8542,8904,9268
10,Haryana,20.84,14,14,14,15,16,17,19,21,21,28,30,31,32,33,35,35,36,43,43,49,58,84,90,110,143,167,170,176,179,195,196,198,204,215,223,232,250,251,255,264,270,275,287,296,301,308,311,339,357,376,442,517,548,594,625,647,675,703,730,780,793
11,Himachal Pradesh,23.37,0,0,0,0,0,0,2,2,2,3,3,3,3,3,3,3,3,3,3,6,6,13,14,18,27,27,28,28,32,32,32,33,35,35,38,39,39,39,39,39,40,40,40,40,40,40,40,40,40,40,40,41,42,43,46,50,52,58,59,66,67
12,Jammu and Kashmir,26.10,2,2,3,3,4,4,4,4,4,4,6,11,14,20,33,38,49,55,62,70,75,92,106,109,125,158,184,207,224,245,270,278,300,314,328,341,354,368,380,407,434,454,494,523,546,565,581,614,639,666,701,726,741,775,793,823,836,861,879,934,971
13,Jharkhand,44.88,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,2,2,2,3,4,4,4,13,14,17,19,24,27,28,29,32,33,41,46,46,46,53,59,67,82,103,105,107,110,113,115,115,115,125,127,132,154,156,157,161,172,177
14,Karnataka,18.99,6,6,7,9,14,15,15,20,26,33,41,51,55,64,81,83,88,101,110,124,128,144,151,163,175,181,197,207,215,232,247,260,279,315,359,384,390,408,418,427,445,474,500,503,512,523,535,565,589,601,614,651,673,693,705,753,794,848,862,925,959
15,Kerala,77.16,19,24,27,27,27,28,40,52,67,95,109,118,137,176,182,202,234,241,265,286,295,306,314,327,336,345,357,364,374,376,379,387,388,395,396,400,402,408,427,438,448,451,458,469,482,486,496,498,498,500,500,500,503,503,503,504,506,513,520,525,535
16,Ladakh,NaN,0,0,0,0,8,8,10,13,13,13,13,13,13,13,13,13,13,13,13,13,14,14,14,14,14,14,14,15,15,15,17,17,18,18,18,18,18,18,18,18,18,18,20,20,20,22,22,22,22,23,42,42,42,42,42,42,42,42,42,42,43
17,Lakshadweep,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,Madhya Pradesh,15.88,0,0,NaN,0,0,0,4,4,6,6,7,15,20,29,39,39,47,66,98,107,154,179,193,256,290,341,411,451,529,562,614,741,938,1164,1310,1402,1407,1485,1552,1587,1687,1846,1945,2090,2165,2387,2560,2625,2715,2788,2837,2942,3049,3138,3252,3341,3457,3614,3785,3986,4173
19,Maharashtra,11.98,14,32,38,41,44,48,52,64,74,97,107,122,125,156,186,203,220,302,335,423,487,635,747,868,1018,1135,1364,1574,1761,1982,2334,2680,2916,3201,3321,3648,4200,4666,5218,5649,6427,6817,7628,8068,8590,9318,9915,10498,11506,12296,12974,14541,15525,16758,17974,19063,20228,22171,23401,24427,25922
20,Manipur,NaN,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
21,Meghalaya,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,7,9,9,11,11,11,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,13,13,13,13,13
22,Mizoram,NaN,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
23,Nagaland,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24,Puducherry,NaN,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,3,5,5,5,5,5,5,5,5,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,8,8,8,8,8,8,8,9,9,9,9,9,9,10,10,12,12,12,13
25,Punjab,50.34,1,1,1,1,2,2,3,13,21,23,29,31,33,38,38,38,41,42,46,47,53,65,68,79,99,106,130,151,158,170,176,184,186,197,211,234,244,245,251,278,283,298,308,322,330,342,375,480,585,772,1102,1232,1451,1526,1644,1731,1762,1823,1877,1914,1924
26,Rajasthan,19.85,3,4,4,4,7,9,17,24,28,32,32,38,40,50,54,59,79,93,120,133,179,206,266,301,343,383,463,561,700,804,897,1005,1076,1131,1229,1351,1478,1576,1735,1888,1964,2034,2083,2185,2262,2364,2440,2584,2666,2772,2886,3061,3158,3317,3427,3579,3708,3814,3988,4126,4278
27,Sikkim,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28,Tamil Nadu,8.45,1,1,1,1,2,3,3,6,9,12,18,26,29,38,42,50,67,124,234,309,411,485,571,621,690,738,834,911,969,1075,1173,1204,1242,1267,1323,1372,1477,1520,1596,1629,1683,1755,1821,1885,1937,2058,2162,2323,2526,2757,3023,3550,4058,4829,5409,6009,6535,7204,8002,8718,9227
29,Tripura,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,4,16,29,42,64,88,118,135,151,151,153,153
30,Uttar Pradesh,23.50,12,13,13,15,17,20,24,28,30,32,35,38,42,49,65,72,96,104,117,128,174,234,278,305,332,361,410,433,452,483,558,660,735,805,849,975,1100,1184,1337,1449,1510,1621,1793,1873,1986,2053,2134,2211,2328,2487,2645,2766,2880,2998,3071,3214,3373,3467,3573,3664,3758
31,West Bengal,11.46,0,0,0,1,1,1,2,4,7,7,9,9,10,15,18,21,22,37,37,53,53,53,80,80,91,99,103,116,126,134,152,190,213,231,255,287,310,339,392,423,456,514,571,611,649,697,725,758,795,922,1198,1259,1344,1456,1548,1678,1786,1939,2063,2173,2290

### State doubling time

In [133]:
dfss = pd.read_csv("../data/"+folder+"/code_data/state_case_death_testpm_ntod.csv")
l = [["state"], ["state_name"], [col for col in dfss.columns if col.endswith("_ntod")]]
columns = [item for sublist in l for item in sublist]
dfss = dfss[columns]
for c in dfss.columns:
    if c!="state" and c!="state_name":
        dfss.rename(columns={c:c.split("_ntod")[0]}, inplace=True)
dfss = dfss.set_index(["state", "state_name"]).dropna(axis=0, how="all").reset_index()
dfss = dfss[dfss["state_name"]!="Chandigarh"]
dfss = dfss[dfss["state_name"]!="Jharkhand"]
dfss["state_name"] = dfss["state_name"] + ", " + dfss["state"]
del dfss["state"]
dfss.to_csv("../data/"+folder+"/code_data/state_doubling_time.csv", index=False)
dfss

,state_name,2020-03-14,2020-03-15,2020-03-16,2020-03-17,2020-03-18,2020-03-19,2020-03-20,2020-03-21,2020-03-22,2020-03-23,2020-03-24,2020-03-25,2020-03-26,2020-03-27,2020-03-28,2020-03-29,2020-03-30,2020-03-31,2020-04-01,2020-04-02,2020-04-03,2020-04-04,2020-04-05,2020-04-06,2020-04-07,2020-04-08,2020-04-09,2020-04-10,2020-04-11,2020-04-12,2020-04-13,2020-04-14,2020-04-15,2020-04-16,2020-04-17,2020-04-18,2020-04-19,2020-04-20,2020-04-21,2020-04-22,2020-04-23,2020-04-24,2020-04-25,2020-04-26,2020-04-27,2020-04-28,2020-04-29,2020-04-30,2020-05-01,2020-05-02,2020-05-03,2020-05-04,2020-05-05,2020-05-06,2020-05-07,2020-05-08,2020-05-09,2020-05-10,2020-05-11,2020-05-12,2020-05-13
0,"Andhra Pradesh, AP",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.64,3.74,3.80,3.16,3.43,4.10,7.52,7.42,9.83,12.21,13.65,13.58,15.36,13.50,12.34,18.23,16.43,15.92,16.47,16.03,10.80,10.73,9.58,9.68,10.65,9.53,9.56,10.14,10.53,10.96,12.47,13.84,15.49,16.38,17.19,17.92,19.04,20.11,22.91,24.85,28.11,27.65,28.98
1,"Assam, AS",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.76,21.38,19.51,NaN,NaN
2,"Bihar, BR",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.50,20.76,21.06,16.33,5.28,4.53,4.85,4.99,4.51,6.18,7.11,8.54,8.64,12.40,11.85,16.99,24.91,34.07,39.16,39.93,35.93,26.35,18.09,9.49,8.51
4,"Delhi, DL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.18,7.75,3.48,2.75,2.27,2.42,2.93,3.41,6.06,7.34,7.77,8.68,8.16,5.74,6.06,5.65,7.93,20.12,22.90,24.55,25.37,23.65,14.48,14.80,14.66,15.82,15.82,15.40,12.80,11.68,11.33,12.62,15.75,16.70,15.92,15.16,13.30,10.32,9.79,10.15,11.26,13.37,12.45,13.89,14.65,15.15
5,"Gujarat, GJ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.92,5.83,5.90,7.27,6.57,17.82,18.61,18.37,16.69,16.89,5.53,5.99,5.31,4.88,4.47,5.13,4.20,4.88,5.34,5.41,4.82,4.09,3.59,4.05,4.52,5.08,6.07,7.46,7.75,8.48,9.01,9.65,9.45,9.73,9.75,9.86,9.56,9.86,9.88,10.29,10.69,11.31,11.91,12.80,13.80,14.70,15.60
6,"Haryana, HR",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.96,4.42,4.50,11.91,13.90,21.41,22.50,48.71,54.57,55.22,49.66,51.83,28.24,16.44,46.52,52.65,52.85,55.52,61.22,29.73,25.46,29.74,29.60,36.34,34.71,32.90,27.29,22.12,8.70,9.48,8.52,8.57,11.72,14.10,15.14,17.09,16.46,20.84
7,"Himachal Pradesh, HP",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.98,18.90,14.41,16.63,15.81,23.37
8,"Jammu and Kashmir, JK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.39,4.16,5.03,6.05,6.19,5.97,9.78,9.65,8.23,8.46,8.66,5.45,5.98,6.82,10.65,11.30,12.58,14.21,16.35,15.31,17.06,18.34,17.19,15.78,15.15,13.22,11.33,12.53,14.42,16.31,17.18,18.22,18.35,17.00,16.00,20.26,19.88,22.57,23.60,28.49,26.41,30.02,26.27,26.10
10,"Karnataka, KA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.87,4.22,4.61,4.61,9.66,11.39,10.56,11.27,11.84,10.52,9.33,11.25,11.43,12.23,11.97,12.43,12.31,14.16,14.03,12.13,13.19,12.36,9.84,9.08,8.93,15.17,16.28,20.86,26.31,27.60,20.86,20.38,37.83,39.14,42.30,46.22,46.16,26.32,25.38,25.34,21.59,23.22,24.63,25.83,21.45,21.70,19.64,23.37,17.26,18.99
11,"Kerala, KL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.67,2.87,4.23,4.63,4.63,8.37,8.69,7.89,11.66,12.57,10.25,13.40,16.24,16.91,18.87,22.16,22.93,23.19,24.96,26.66,47.55,59.75,62.33,108.91,111.55,140.38,136.73,157.89,113.53,108.82,59.44,51.79,44.77,44.41,47.20,46.82,57.46,43.49,68.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139.61,77.16
12,"Madhya Pradesh, MP",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.46,3.64,5.07,5.21,4.75,5.22,5.04,4.69,5.07,6.25,6.96,6.96,6.05,5.83,4.71,5.18,43.39,45.37,47.87,52.91,53.14,15.73,15.82,14.61,12.32,11.47,11.92,14.79,16.97,18.27,24.80,26.64,24.99,25.70,24.36,21.53,21.78,21.02,19.20,18.00,15.88
13,"Maharashtra, MH",NaN,NaN,NaN,NaN,NaN,NaN,7.92,7.78,6.91,5.46,5.28,4.60,9.64,9.31,9.59,9.76,10.43,5.16,5.87,5.68,5.08,3.88,4.29,3.88,4.15,4.44,4.68,4.79,5.10,5.40,4.98,5.23,5.90,6.15,8.75,9.38,9.36,9.03,8.78,6.76,6.36,7.73,7.65,8.88,9.34,9.97,9.85,11.05,10.09,9.96,10.84,9.82,9.52,9.82,9.71,9.48,10.60,10.00,10.75,12.00,11.98
14,"Punjab, PB",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.70,15.56,12.88,12.28,6.44,7.32,7.32,5.17,7.31,8.59,10.55,12.99,24.89,24.25,24.37,21.71,21.91,42.98,46.30,45.63,52.07,51.44,21.75,19.14,23.43,19.53,18.35,14.72,12.30,7.15,3.66,3.39,3.68,5.73,7.09,9.39,15.96,19.18,21.18,26.42,50.34
15,"Rajasthan, RJ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.50,7.17,5.31,5.24,4.78,3.68,4.19,3.89,4.47,4.18,4.97,4.71,4.89,4.40,4.34,4.35,4.84,6.14,8.30,8.97,9.16,9.49,9.62,8.28,8.25,10.30,12.71,16.38,17.83,20.20,19.83,20.25,16.84,18.38,17.93,18.23,16.21,18.23,16.62,17.31,17.06,18.62,19.10,19.38,19.21,19.85
16,"Tamil Nadu, TN",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.34,4.44,3.39,3.10,2.21,1.90,2.27,2.89,4.32,5.14,6.72,7.01,7.73,8.33,8.35,7.87,12.05,14.95,19.66,21.53,23.75,20.31,20.68,16.57,20.14,20.58,22.01,20.93,22.10,20.42,18.46,17.96,16.14,13.78,10.27,9.49,7.54,6.64,5.79,5.42,5.24,6.03,6.41,6.93,7.33,8.45
17,"Tripura, TR",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.24,1.47,1.84,2.64,3.50,NaN,NaN,NaN
18,"Uttar Pradesh, UP",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.01,5.82,4.61,4.96,5.24,6.29,5.39,5.37,4.44,4.76,4.85,6.06,6.68,8.41,10.15,10.60,9.91,9.64,8.39,6.69,7.20,7.24,7.57,8.16,7.78,6.90,9.26,10.06,9.55,11.59,12.23,13.05,14.68,17.21,16.73,16.46,14.53,14.05,13.57,14.33,18.00,18.79,18.56,20.18,21.33,21.08,23.50
19,"West Bengal, WB",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.06,10.24,9.69,6.82,6.86,6.90,6.05,6.12,7.30,7.63,6.88,7.30,7.97,7.33,7.10,8.19,8.67,8.76,11.13,12.92,13.78,12.42,11.01,10.28,9.29,8.11,9.44,10.63,10.06,9.62,10.13,10.53,11.46

### Data for top hotspots table

In [134]:
### District cases, deaths, population, cases per million
dfd = pd.read_csv("../data/"+folder+"/derived/district_confirmed_active_recovered_deceased_population_casespm.csv")
dfd = dfd[["district", "state", "state_code", "confirmed", "deceased", "population", "cases_per_million"]]
dfd.rename(columns={"confirmed":"cases", "deceased":"deaths"}, inplace=True)

### District growth rate
dfcg = pd.read_csv("../data/"+folder+"/code_data/districtwise_growth_rate.csv")
for i in range(len(dfcg)):
    dfcg.at[dfcg.index[i], "district"] = dfcg.iloc[i]["district"].split(", ")[0]
l = [["district"], dfcg.columns[-5:]]
columns = [item for sublist in l for item in sublist]
dfcg = dfcg[columns]
for i in range(len(dfcg.columns)):
    col = dfcg.columns[i]
    if col not in ["district", "current_avg_growth_rate"]:
        dfcg.rename(columns={col:"day"+str(i-1)}, inplace=True)
dfcg.insert(1, "current_avg_growth_rate", dfcg[dfcg.columns[-1]])
dfcg

dfht = dfd.set_index("district").join(dfcg.set_index("district")).reset_index()
dfht = dfht[["district", "state", "cases", "deaths", "current_avg_growth_rate", "day0","day1",
            "day2","day3","day4","population", "state_code","cases_per_million"]]
dfht.drop_duplicates(subset=["district"], inplace=True)
dfht.to_csv("../data/"+folder+"/code_data/districtwise_case_death_growth_density.csv", index=False)
dfht

,district,state,cases,deaths,current_avg_growth_rate,day0,day1,day2,day3,day4,population,state_code,cases_per_million
0,Adilabad,Telangana,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,708952.0,TG,29.621187
1,Agar Malwa,Madhya Pradesh,13.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MP,NaN
2,Agra,Uttar Pradesh,791.0,24.0,4.79,7.62,7.39,7.01,7.16,4.79,4380793.0,UP,180.560917
3,Ahmadabad,Gujarat,6645.0,446.0,7.39,11.42,9.60,8.58,7.85,7.39,7208200.0,GJ,921.866763
4,Ahmadnagar,Maharashtra,64.0,3.0,11.05,17.02,8.45,10.90,12.71,11.05,4543083.0,MH,14.087350
5,Airport Quarantine,Tamil Nadu,9.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TN,NaN
6,Aizawl,Mizoram,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,404054.0,MZ,2.474917
7,Ajmer,Rajasthan,235.0,5.0,7.41,9.44,9.65,10.35,9.55,7.41,2584913.0,RJ,90.912151
8,Akola,Maharashtra,192.0,12.0,9.70,19.52,20.06,14.28,11.37,9.70,1818617.0,MH,105.574731
9,Alappuzha,Kerala,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2121943.0,KL,2.356331
10,Aligarh,Uttar Pradesh,63.0,3.0,5.03,8.53,8.00,5.59,5.29,5.03,3673849.0,UP,17.148228
11,Alipurduar,West Bengal,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1700000.0,WB,0.000000
12,Alirajpur,Madhya Pradesh,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,728677.0,MP,4.117050
13,Almora,Uttarakhand,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,621927.0,UT,3.215812
14,Alwar,Rajasthan,32.0,2.0,7.55,16.61,15.28,9.73,8.50,7.55,3671999.0,RJ,8.714599
15,Ambala,Haryana,42.0,2.0,0.00,16.67,6.67,0.00,0.00,0.00,1136784.0,HR,36.946333
16,Ambedkar Nagar,Uttar Pradesh,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2398709.0,UP,0.833782
17,Amethi,Uttar Pradesh,11.0,0.0,41.67,NaN,NaN,NaN,NaN,41.67,2549935.0,UP,4.313835
18,Amravati,Maharashtra,89.0,13.0,4.63,10.30,9.14,8.23,6.70,4.63,2887826.0,MH,30.819031
19,Amreli,Gujarat,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1513614.0,GJ,0.660670
20,Amritsar,Punjab,298.0,4.0,0.34,6.24,6.32,6.40,1.32,0.34,2490891.0,PB,119.635905
21,Amroha,Uttar Pradesh,32.0,1.0,0.00,0.00,0.00,0.00,0.00,0.00,1838771.0,UP,17.402928
22,Anand,Gujarat,80.0,7.0,2.56,5.59,5.29,4.72,3.61,2.56,2090276.0,GJ,38.272458
23,Anantapur,Andhra Pradesh,118.0,4.0,5.73,10.95,10.53,10.89,10.31,5.73,4083315.0,AP,28.898089
24,Anantnag,Jammu and Kashmir,145.0,1.0,3.42,2.51,2.31,0.35,0.35,3.42,1070144.0,JK,135.495784
25,Angul,Odisha,15.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1271703.0,OR,11.795207
26,Anjaw,Arunachal Pradesh,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,21089.0,AR,0.000000
27,Anugul,Odisha,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1271703.0,OR,0.000000
28,Anuppur,Madhya Pradesh,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,749521.0,MP,4.002556
29,Araria,Bihar,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2806200.0,BR,1.425415
...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,Vikarabad,Telangana,37.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,881250.0,TG,41.985816
731,Viluppuram,Tamil Nadu,316.0,2.0,8.12,22.61,17.87,17.12,10.05,8.12,2093003.0,TN,150.979239
732,Virudhunagar,Tamil Nadu,45.0,0.0,10.74,3.82,3.48,5.02,10.74,10.74,1943309.0,TN,23.156379
733,Visakhapatnam,Andhra Pradesh,66.0,1.0,4.95,27.45,24.63,23.27,14.52,4.95,4288113.0,AP,15.391385
734,Vizianagaram,Andhra Pradesh,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2342868.0,AP,1.707309
735,Wanaparthy,Telangana,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,751553.0,TG,0.000000
736,Warangal Rural,Telangana,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,716457.0,TG,0.000000
737,Warangal Urban,Telangana,27.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,1135707.0,TG,23.773737
738,Wardha,Maharashtra,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1296157.0,MH,0.771511
739,Washim,Maharashtra,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1196714.0,MH,2.506865
740,Wayanad,Kerala,13.0,0.0,15.67,10.00,0.00,6.67,11.67,15.67,816558.0,KL,15.920486
741,West Champaran,Bihar,25.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,3935042.0,BR,6.353172
742,West District,Sikkim,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,136299.0,SK,0.000000
743,West Garo Hills,Meghalaya,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,642923.0,ML,0.000000
744,West Godavari,Andhra Pradesh,68.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,3934782.0,AP,17.281771
745,West Jaintia Hills,Meghalaya,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,270352.0,ML,0.000000
746,West Kameng,Arunachal Pradesh,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,87013.0,AR,0.000000
747,West Karbi Anglong,Assam,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,300320.0,AS,0.000000
748,West Khasi Hills,Meghalaya,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,385601.0,ML,0.000000
749,West Siang,Arunachal Pradesh,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,112272.0,AR,0.000000
750,West Singhbhum,Jharkhand,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1501619.0,JH,0.000000
751,West Tripura,Tripura,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,917534.0,TR,0.000000
752,Wokha,Nagaland,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,166239.0,NL,0.000000
753,Y.S.R.,Andhra Pradesh,97.0,0.0,1.07,7.27,6.31,5.62,1.62,1.07,2884524.0,AP,33.627732
754,Yadadri Bhuvanagiri,Telangana,12.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,726465.0,TG,16.518346
755,Yadgir,Karnataka,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1172985.0,KA,1.705052
756,Yamunanagar,Haryana,8.0,0.0,0.00,10.00,0.00,0.00,0.00,0.00,1214162.0,HR,6.588907
757,Yanam,Puducherry,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,55626.0,PY,0.000000
758,Yavatmal,Maharashtra,99.0,0.0,3.00,3.91,4.78,4.15,3.56,3.00,2775457.0,MH,35.669801
759,Zunheboto,Nagaland,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,141014.0,NL,0.000000

### State streamgraph data

In [135]:
df = pd.read_csv("../data/"+folder+"/statewise_daily_confirmed.csv")
del df["TT"]
df["date"] = pd.to_datetime(df["date"], dayfirst=True)
df.to_csv("../data/"+folder+"/code_data/state_streamgraph_data.csv", index=False)
df

,date,AN,AP,AR,AS,BR,CH,CT,DN,DD,DL,GA,GJ,HR,HP,JK,JH,KA,KL,LA,LD,MP,MH,MN,ML,MZ,NL,OR,PY,PB,RJ,SK,TN,TG,TR,UP,UT,WB
0,2020-03-14,0,1,0,0,0,0,0,0,0,7,0,0,14,0,2,0,6,19,0,0,0.0,14,0,0,0,0,0,0,1,3,0,1,1,0,12,0,0
1,2020-03-15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,0,0,0.0,18,0,0,0,0,0,0,0,1,0,0,2,0,1,0,0
2,2020-03-16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,3,0,0,NaN,6,0,0,0,0,1,1,0,0,0,0,1,0,0,1,0
3,2020-03-17,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,2,0,0,0,0.0,3,0,0,0,0,0,0,0,0,0,0,1,0,2,0,1
4,2020-03-18,0,0,0,0,0,0,0,0,0,2,0,0,1,0,1,0,5,0,8,0,0.0,3,0,0,0,0,1,0,1,3,0,1,8,0,2,1,0
5,2020-03-19,0,2,0,0,0,1,1,0,0,4,0,2,1,0,0,0,1,1,0,0,0.0,4,0,0,0,0,0,0,0,2,0,1,3,0,3,1,0
6,2020-03-20,0,0,0,0,0,4,0,0,0,6,0,5,2,2,0,0,0,12,2,0,4.0,4,0,0,0,0,0,0,1,8,0,0,3,0,4,0,1
7,2020-03-21,0,2,0,0,0,0,0,0,0,7,0,7,2,0,0,0,5,12,3,0,0.0,12,0,0,0,0,0,0,10,7,0,3,2,0,4,0,2
8,2020-03-22,0,1,0,0,2,1,0,0,0,0,0,4,0,0,0,0,6,15,0,0,2.0,10,0,0,0,0,0,0,8,4,0,3,6,0,2,0,3
9,2020-03-23,0,1,0,0,1,1,0,0,0,3,0,12,7,1,0,0,7,28,0,0,0.0,23,0,0,0,0,0,0,2,4,0,3,6,0,2,1,0
10,2020-03-24,0,1,0,0,0,0,0,0,0,0,0,4,2,0,2,0,8,14,0,0,1.0,10,1,0,0,0,0,0,6,0,0,6,4,0,3,0,2
11,2020-03-25,0,2,0,0,1,0,2,0,0,5,3,4,1,0,5,0,10,9,0,0,8.0,15,0,0,1,0,0,0,2,6,0,8,4,0,3,1,0
12,2020-03-26,1,1,0,0,3,0,3,0,0,1,0,5,1,0,3,0,4,19,0,0,5.0,3,0,0,0,0,1,0,2,2,0,3,3,0,4,0,1
13,2020-03-27,5,2,0,0,2,1,0,0,0,4,0,4,1,0,6,0,9,39,0,0,9.0,31,0,0,0,0,0,0,5,10,0,9,15,0,7,0,5
14,2020-03-28,3,6,0,0,2,0,1,0,0,9,0,8,2,0,13,0,17,6,0,0,10.0,30,0,0,0,0,0,0,0,4,0,4,8,0,16,1,3
15,2020-03-29,0,2,0,0,4,0,0,0,0,23,2,8,0,0,5,0,2,20,0,0,0.0,17,0,0,0,0,0,0,0,5,0,8,3,0,7,1,3
16,2020-03-30,1,2,0,0,0,5,1,0,0,25,0,7,1,0,11,0,5,32,0,0,8.0,17,0,0,0,0,0,0,3,20,0,17,7,0,24,0,1
17,2020-03-31,0,21,0,1,6,2,1,0,0,23,0,4,7,0,6,1,13,7,0,0,19.0,82,0,0,0,0,1,0,1,14,0,57,20,0,8,0,15
18,2020-04-01,0,67,0,15,3,2,0,0,0,32,0,13,0,0,7,0,9,24,0,0,32.0,33,0,0,0,0,1,2,4,27,0,110,30,0,13,0,0
19,2020-04-02,0,38,1,0,5,1,0,0,0,141,0,1,6,3,8,1,14,21,0,0,9.0,88,1,0,0,0,0,2,1,13,0,75,27,0,11,3,16
20,2020-04-03,0,15,0,7,2,0,0,0,0,93,1,7,9,0,5,0,4,9,1,0,47.0,64,0,0,0,0,15,0,6,46,0,102,75,0,46,6,0
21,2020-04-04,0,28,0,3,1,0,1,0,0,59,1,13,26,7,17,0,16,11,0,0,25.0,148,0,0,0,0,1,0,12,27,0,74,43,0,60,6,0
22,2020-04-05,0,64,0,0,0,0,0,0,0,58,0,20,6,1,14,1,7,8,0,0,14.0,112,0,0,0,0,18,0,3,60,0,86,62,0,44,4,27
23,2020-04-06,0,47,0,0,0,0,0,0,0,22,0,18,20,4,3,1,12,13,0,0,63.0,121,0,0,0,0,1,0,11,35,0,50,30,1,27,5,0
24,2020-04-07,0,11,0,2,6,0,0,0,0,51,0,29,33,9,16,0,12,9,0,0,34.0,150,0,0,0,0,2,0,20,42,0,69,40,0,27,0,11
25,2020-04-08,1,34,0,0,1,0,0,0,0,93,0,11,24,0,33,0,6,9,0,0,51.0,117,0,0,0,0,0,0,7,40,0,48,49,0,29,4,8
26,2020-04-09,0,15,0,1,19,0,8,0,0,51,0,76,3,1,26,9,16,12,0,0,70.0,229,0,0,0,0,6,0,24,80,0,96,18,0,49,0,4
27,2020-04-10,0,18,0,0,2,1,0,0,0,183,0,116,6,0,23,1,10,7,1,0,40.0,210,0,0,0,0,2,2,21,98,0,77,16,1,23,0,13
28,2020-04-11,0,24,0,0,4,0,7,0,0,166,0,90,3,4,17,3,8,10,0,0,78.0,187,0,0,0,0,4,0,7,139,0,58,16,0,19,0,10
29,2020-04-12,0,15,0,1,0,2,6,0,0,85,0,48,16,0,21,2,17,2,0,0,33.0,221,0,0,0,0,0,0,12,104,0,106,28,0,31,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,2020-04-14,0,45,0,1,0,0,2,0,0,51,0,78,2,1,8,3,13,8,0,0,127.0,346,0,0,0,0,5,0,8,108,0,31,52,0,102,2,38
32,2020-04-15,0,41,0,0,6,0,0,0,0,17,0,116,6,2,22,1,19,1,1,0,197.0,236,0,6,0,0,0,0,2,71,0,38,6,0,75,0,23
33,2020-04-16,0,9,0,2,11,0,3,0,0,62,0,163,11,0,14,1,36,7,0,0,226.0,285,0,2,0,0,0,0,11,55,0,25,50,0,70,0,18
34,2020-04-17,1,38,0,0,2,0,0,0,0,67,0,170,8,3,14,3,44,1,0,0,146.0,120,0,0,0,0,0,0,14,98,0,56,66,0,44,3,24
35,2020-04-18,2,31,0,0,1,2,0,0,0,186,0,277,9,1,13,1,25,4,0,0,92.0,327,0,2,0,0,1,0,23,122,0,49,43,0,126,2,32
36,2020-04-19,1,44,0,0,10,3,0,0,0,110,0,367,18,0,13,8,6,2,0,0,5.0,552,0,0,0,0,0,0,10,127,0,105,49,0,125,2,23
37,2020-04-20,1,75,0,0,17,0,0,0,0,78,0,196,1,0,14,5,18,6,0,0,78.0,466,0,0,0,0,13,0,1,98,0,43,14,0,84,2,29
38,2020-04-21,1,35,0,0,13,1,0,0,0,75,0,239,4,0,12,0,10,19,0,0,67.0,552,0,1,0,0,5,0,6,159,0,76,56,0,153,0,53
39,2020-04-22,1,56,0,0,17,0,0,0,0,92,0,229,9,0,27,0,9,11,0,0,35.0,431,0,0,0,0,4,0,27,153,0,33,15,0,112,0,31
40,2020-04-23,4,80,0,1,27,0,0,0,0,128,0,217,6,1,27,7,18,10,0,0,100.0,778,0,0,0,0,6,0,5,76,0,54,27,0,61,1,33
41,2020-04-24,7,62,0,0,53,0,0,0,0,138,0,191,5,0,20,6,29,3,0,0,159.0,390,0,0,0,0,5,0,15,70,0,72,13,0,111,1,58
42,2020-04-25,4,61,0,0,28,1,1,0,0,111,0,256,12,0,40,8,26,7,2,0,99.0,811,0,0,0,0,6,1,10,49,0,66,7,0,172,0,57
43,2020-04-26,0,81,0,0,26,8,0,0,0,293,0,230,9,0,29,15,3,11,0,0,145.0,440,0,0,0,0,3,0,14,102,0,64,11,0,80,3,40
44,2020-04-27,0,80,0,0,69,9,0,0,0,190,0,247,5,0,23,21,9,13,0,0,75.0,522,0,0,0,0,15,0,8,77,0,52,2,0,113,0,38
45,2020-04-28,0,82,0,2,20,11,1,0,0,206,0,226,7,0,19,2,11,4,2,0,222.0,728,0,0,0,0,0,0,12,102,0,121,6,0,67,3,48
46,2020-04-29,0,73,0,0,37,12,0,0,0,125,0,308,3,0,16,2,12,10,0,0,173.0,597,0,0,0,0,7,0,33,76,0,104,7,0,81,1,28
47,2020-04-30,0,71,0,5,22,6,2,0,0,76,0,313,28,0,33,3,30,2,0,0,65.0,583,0,0,0,0,18,0,105,144,0,161,22,0,77,2,33
48,2020-05-01,0,60,0,0,41,14,3,0,0,223,0,326,18,0,25,3,24,0,0,0,90.0,1008,0,0,0,0,11,0,105,82,0,203,6,0,117,0,37
49,2020-05-02,0,62,0,0,15,6,0,0,0,384,0,333,19,0,27,2,12,2,1,0,73.0,790,0,0,0,0,6,1,187,106,0,231,17,2,159,2,127
50,2020-05-03,0,58,0,0,36,3,14,0,0,427,0,374,66,0,35,0,13,0,19,0,49.0,678,0,0,0,0,2,0,330,114,0,266,21,12,158,1,276
51,2020-05-04,0,67,0,0,11,5,1,0,0,349,0,376,75,1,25,0,37,0,0,0,105.0,1567,0,0,0,0,7,0,130,175,0,527,3,13,121,0,61
52,2020-05-05,0,67,0,2,7,17,1,1,0,206,0,441,31,1,15,10,22,3,0,0,107.0,984,0,0,0,0,8,0,219,97,0,508,11,13,114,1,85
53,2020-05-06,0,60,0,1,7,5,0,0,0,428,0,380,46,1,34,2,20,0,0,0,89.0,1233,0,0,0,0,28,0,75,159,0,771,11,22,118,0,112
54,2020-05-07,0,56,0,8,8,11,0,0,0,448,0,388,31,3,18,5,12,0,0,0,114.0,1216,0,0,0,0,14,0,118,110,0,580,15,24,73,0,92
55,2020-05-08,0,54,0,6,29,11,0,0,0,338,0,390,22,4,30,22,48,1,0,0,89.0,1089,0,0,0,0,51,1,87,152,0,600,10,30,143,2,130
56,2020-05-09,0,43,0,2,32,23,0,0,0,224,0,394,28,2,13,2,41,2,0,0,116.0,1165,0,1,0,0,82,0,31,129,0,526,31,17,159,4,108
57,2020-05-10,0,50,0,1,96,4,0,0,0,381,0,398,28,6,25,1,54,7,0,0,157.0,1943,0,0,0,0,25,2,61,106,0,669,33,16,94,1,153
58,2020-05-11,0,38,0,2,42,8,0,0,0,310,0,347,27,1,18,4,14,7,0,0,171.0,1230,0,0,0,0,38,0,54,174,0,798,79,0,106,0,124
59,2020-05-12,0,71,0,0,130,6,0,0,0,406,0,362,50,7,55,11,63,5,0,0,201.0,1026,0,0,0,0,22,0,37,138,0,716,51,2,91,1,110
60,2020-05-13,0,48,0,15,74,4,0,0,0,359,0,364,13,1,37,5,34,10,1,0,187.0,1495,0,0,0,0,101,1,10,152,0,509,41,0,94,3,117

### Outbreak free districts

In [136]:
dfcc = pd.read_csv("../data/"+folder+"/code_data/districtwise_case_death_growth_density.csv")
total_population = dfcc["population"].sum()
per_outbreak_free_districts = np.round(len(dfcc[dfcc["cases"]==0])/len(dfcc)*100)
per_outbreak_free_population = np.round(dfcc[dfcc["cases"]==0]["population"].sum()/total_population*100)
df = pd.DataFrame()
for i in range(len(dfcc)):
    district_name = dfcc.iloc[i]["district"].replace(" ","-") + ", " + dfcc.iloc[i]["state_code"]
    df.at[i, "id"] = "district."+district_name
    df.at[i, "value"] = int(dfcc.iloc[i]["cases"])+1
    df.at[i, "district"] = district_name
    df.at[i, "per_outbreak_free_districts"] = per_outbreak_free_districts
    df.at[i, "per_outbreak_free_population"] = per_outbreak_free_population
df["value"] = df["value"].astype(int)
df["per_outbreak_free_districts"] = df["per_outbreak_free_districts"].astype(int)
df["per_outbreak_free_population"] = df["per_outbreak_free_population"].astype(int)
# Shuffling
df = df.sample(frac=1).reset_index(drop=True)
df.to_csv("../data/"+folder+"/code_data/outbreak_free_districts.csv", index=False)
df

,id,value,district,per_outbreak_free_districts,per_outbreak_free_population
0,"district.Tumakuru, KA",12,"Tumakuru, KA",27,10
1,"district.Fatehpur, UP",7,"Fatehpur, UP",27,10
2,"district.Sabar-Kantha, GJ",28,"Sabar-Kantha, GJ",27,10
3,"district.Pithoragarh, UT",1,"Pithoragarh, UT",27,10
4,"district.Rupnagar, PB",57,"Rupnagar, PB",27,10
5,"district.Ramanagara, KA",1,"Ramanagara, KA",27,10
6,"district.Kulgam, JK",73,"Kulgam, JK",27,10
7,"district.Yamunanagar, HR",9,"Yamunanagar, HR",27,10
8,"district.Sambalpur, OR",1,"Sambalpur, OR",27,10
9,"district.Koraput, OR",2,"Koraput, OR",27,10
10,"district.Lower-Dibang-Valley, AR",1,"Lower-Dibang-Valley, AR",27,10
11,"district.Mahoba, UP",4,"Mahoba, UP",27,10
12,"district.Gwalior, MP",32,"Gwalior, MP",27,10
13,"district.Khawzawl, MZ",1,"Khawzawl, MZ",27,10
14,"district.Lahaul-and-Spiti, HP",1,"Lahaul-and-Spiti, HP",27,10
15,"district.Kachchh, GJ",15,"Kachchh, GJ",27,10
16,"district.Janjgir-Champa, CT",1,"Janjgir-Champa, CT",27,10
17,"district.Bhandara, MH",2,"Bhandara, MH",27,10
18,"district.Buldana, MH",26,"Buldana, MH",27,10
19,"district.East-Godavari, AP",52,"East-Godavari, AP",27,10
20,"district.Pali, RJ",96,"Pali, RJ",27,10
21,"district.South-West-Khasi-Hills, ML",1,"South-West-Khasi-Hills, ML",27,10
22,"district.West-Garo-Hills, ML",1,"West-Garo-Hills, ML",27,10
23,"district.Ranchi, JH",97,"Ranchi, JH",27,10
24,"district.Baloda-Bazar, CT",1,"Baloda-Bazar, CT",27,10
25,"district.Pakke-Kessang, AR",1,"Pakke-Kessang, AR",27,10
26,"district.West-Khasi-Hills, ML",1,"West-Khasi-Hills, ML",27,10
27,"district.Saharsa, BR",11,"Saharsa, BR",27,10
28,"district.Gajapati, OR",1,"Gajapati, OR",27,10
29,"district.Chikkaballapura, KA",25,"Chikkaballapura, KA",27,10
...,...,...,...,...,...
715,"district.Pathankot, PB",30,"Pathankot, PB",27,10
716,"district.Dibrugarh, AS",1,"Dibrugarh, AS",27,10
717,"district.Mandya, KA",32,"Mandya, KA",27,10
718,"district.Puri, OR",5,"Puri, OR",27,10
719,"district.Goalpara, AS",7,"Goalpara, AS",27,10
720,"district.Raisen, MP",66,"Raisen, MP",27,10
721,"district.Paschim-Bardhaman, WB",15,"Paschim-Bardhaman, WB",27,10
722,"district.Kurnool, AP",592,"Kurnool, AP",27,10
723,"district.Bijapur(CT), CT",1,"Bijapur(CT), CT",27,10
724,"district.Sheopur, MP",5,"Sheopur, MP",27,10
725,"district.Junagadh, GJ",5,"Junagadh, GJ",27,10
726,"district.Palamu, JH",9,"Palamu, JH",27,10
727,"district.Reasi, JK",4,"Reasi, JK",27,10
728,"district.Hamirpur(HP), HP",7,"Hamirpur(HP), HP",27,10
729,"district.Lakshadweep, LD",1,"Lakshadweep, LD",27,10
730,"district.Basti, UP",42,"Basti, UP",27,10
731,"district.Bareilly, UP",12,"Bareilly, UP",27,10
732,"district.Palwal, HR",38,"Palwal, HR",27,10
733,"district.Majuli, AS",1,"Majuli, AS",27,10
734,"district.Baghpat, UP",26,"Baghpat, UP",27,10
735,"district.Raigarh(CG), CT",1,"Raigarh(CG), CT",27,10
736,"district.Amravati, MH",90,"Amravati, MH",27,10
737,"district.Sikar, RJ",13,"Sikar, RJ",27,10
738,"district.Mahendragarh, HR",6,"Mahendragarh, HR",27,10
739,"district.Patiala, PB",100,"Patiala, PB",27,10
740,"district.Kargil, LA",10,"Kargil, LA",27,10
741,"district.Sagar, MP",11,"Sagar, MP",27,10
742,"district.Nashik, MH",752,"Nashik, MH",27,10
743,"district.Pune, MH",3162,"Pune, MH",27,10
744,"district.Uttara-Kannada, KA",42,"Uttara-Kannada, KA",27,10

### State recovery rate

In [137]:
dfc = pd.read_csv("../data/"+folder+"/statewise_daily_confirmed.csv")
del dfc["TT"]
state_code_list = dfc.columns[1:]
dfcc = dfc.set_index("date").cumsum().reset_index()

dfr = pd.read_csv("../data/"+folder+"/statewise_daily_recovered.csv")
del dfr["TT"]
l = [["date"], [col+"_r" for col in dfr.columns if col in state_code_list]]
dfr.columns = [item for sublist in l for item in sublist]
dfr = dfr.set_index("date").cumsum().reset_index()

dfcr = dfcc.set_index("date").join(dfr.set_index("date")).reset_index()
dfrr = dfcc.copy()
for col in state_code_list:
    dfrr[col] = np.round(dfcr[col+"_r"] / dfcr[col],2)
dfrr.dropna(axis=1, how="all", inplace=True)
### Replace nan with -1, handle in color_Scale in javascript
dfrr.fillna(value=-1, inplace=True)
### Concat total case count at top of table
dfrr = pd.concat([pd.DataFrame(dfc.sum(axis=0, numeric_only=True)).transpose(), dfrr], ignore_index=True, axis=0, sort=True)
l = [["date"], [col for col in dfrr.columns[:len(dfrr.columns)-1]]]
columns = [item for sublist in l for item in sublist]
dfrr = dfrr[columns]
dfrr.at[pd.isnull(dfrr["date"]), "date"] = "total_count"
dfrr.to_csv("../data/"+folder+"/code_data/state_recovery_rate.csv", index=False)
dfrr

,date,AN,AP,AR,AS,BR,CH,CT,DD,DL,DN,GA,GJ,HP,HR,JH,JK,KA,KL,LA,LD,MH,ML,MN,MP,MZ,NL,OR,PB,PY,RJ,SK,TG,TN,TR,UP,UT,WB
0,total_count,33.00,2137.00,1.0,80.00,953.00,191.00,59.00,0.0,7998.00,1.0,7.00,9268.00,67.00,793.00,177.00,971.00,959.00,535.00,43.00,0.0,25922.00,13.00,2.0,4173.00,1.0,0.0,538.00,1924.00,13.00,4278.00,0.0,1367.00,9227.00,153.00,3758.00,72.00,2290.00
1,14-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,-1.00,-1.00,NaN,0.14,-1.0,-1.00,-1.00,-1.00,0.00,-1.00,0.00,0.00,0.16,-1.00,NaN,0.00,-1.00,-1.0,-1.00,-1.0,NaN,-1.00,0.00,-1.00,0.33,NaN,0.00,0.00,-1.00,0.33,-1.00,-1.00
2,15-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,-1.00,-1.00,NaN,0.29,-1.0,-1.00,-1.00,-1.00,0.00,-1.00,0.00,0.00,0.12,-1.00,NaN,0.00,-1.00,-1.0,-1.00,-1.0,NaN,-1.00,0.00,-1.00,0.75,NaN,0.33,0.00,-1.00,0.31,-1.00,-1.00
3,16-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,-1.00,-1.00,NaN,0.29,-1.0,-1.00,-1.00,-1.00,0.00,-1.00,0.00,0.00,0.11,-1.00,NaN,0.00,-1.00,-1.0,-1.00,-1.0,NaN,0.00,0.00,0.00,0.75,NaN,0.25,1.00,-1.00,0.31,0.00,-1.00
4,17-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,-1.00,-1.00,NaN,0.25,-1.0,-1.00,-1.00,-1.00,0.00,-1.00,0.00,0.00,0.11,-1.00,NaN,0.00,-1.00,-1.0,-1.00,-1.0,NaN,0.00,0.00,0.00,0.75,NaN,0.20,1.00,-1.00,0.33,0.00,0.00
5,18-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,-1.00,-1.00,NaN,0.20,-1.0,-1.00,-1.00,-1.00,0.00,-1.00,0.00,0.00,0.11,0.00,NaN,0.00,-1.00,-1.0,-1.00,-1.0,NaN,0.00,0.00,0.00,0.43,NaN,0.08,0.50,-1.00,0.29,0.00,0.00
6,19-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,0.00,0.00,NaN,0.21,-1.0,-1.00,0.00,-1.00,0.00,-1.00,0.00,0.00,0.11,0.00,NaN,0.00,-1.00,-1.0,-1.00,-1.0,NaN,0.00,0.00,0.00,0.33,NaN,0.06,0.33,-1.00,0.45,0.00,0.00
7,20-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,0.00,0.00,NaN,0.25,-1.0,-1.00,0.00,0.00,0.00,-1.00,0.00,0.07,0.08,0.00,NaN,0.00,-1.00,-1.0,0.00,-1.0,NaN,0.00,0.00,0.00,0.18,NaN,0.05,0.33,-1.00,0.38,0.00,0.00
8,21-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,0.00,0.00,NaN,0.19,-1.0,-1.00,0.00,0.00,0.00,-1.00,0.00,0.05,0.06,0.00,NaN,0.00,-1.00,-1.0,0.00,-1.0,NaN,0.00,0.00,0.00,0.12,NaN,0.05,0.17,-1.00,0.32,0.00,0.00
9,22-Mar-20,-1.00,0.00,-1.0,-1.00,0.00,0.00,0.00,NaN,0.19,-1.0,-1.00,0.00,0.00,0.00,-1.00,0.00,0.04,0.04,0.00,NaN,0.00,-1.00,-1.0,0.00,-1.0,NaN,0.00,0.00,0.00,0.11,NaN,0.04,0.11,-1.00,0.30,0.00,0.00
10,23-Mar-20,-1.00,0.00,-1.0,-1.00,0.00,0.00,0.00,NaN,0.17,-1.0,-1.00,0.00,0.00,0.39,-1.00,0.00,0.06,0.03,0.00,NaN,0.00,-1.00,-1.0,0.00,-1.0,NaN,0.00,0.00,0.00,0.09,NaN,0.03,0.08,-1.00,0.28,0.00,0.00
11,24-Mar-20,-1.00,0.00,-1.0,-1.00,0.00,0.00,0.00,NaN,0.20,-1.0,-1.00,0.00,0.00,0.37,-1.00,0.00,0.07,0.04,0.00,NaN,0.00,-1.00,0.0,0.00,-1.0,NaN,0.00,0.00,0.00,0.09,NaN,0.03,0.06,-1.00,0.31,0.00,0.00
12,25-Mar-20,-1.00,0.10,-1.0,-1.00,0.00,0.00,0.00,NaN,0.17,-1.0,0.00,0.00,0.00,0.35,-1.00,0.09,0.06,0.03,0.00,NaN,0.01,-1.00,0.0,0.00,0.0,NaN,0.00,0.00,0.00,0.08,NaN,0.02,0.04,-1.00,0.29,0.00,0.00
13,26-Mar-20,0.00,0.09,-1.0,-1.00,0.00,0.00,0.00,NaN,0.17,-1.0,0.00,0.00,0.00,0.34,-1.00,0.07,0.05,0.08,0.00,NaN,0.01,-1.00,0.0,0.00,0.0,NaN,0.00,0.00,0.00,0.08,NaN,0.02,0.03,-1.00,0.26,0.00,0.00
14,27-Mar-20,0.00,0.08,-1.0,-1.00,0.00,0.00,0.00,NaN,0.15,-1.0,0.00,0.00,0.33,0.33,-1.00,0.05,0.08,0.06,0.23,NaN,0.12,-1.00,0.0,0.00,0.0,NaN,0.00,0.03,0.00,0.06,NaN,0.02,0.05,-1.00,0.22,0.00,0.00
15,28-Mar-20,0.00,0.05,-1.0,-1.00,0.00,0.00,0.00,NaN,0.12,-1.0,0.00,0.00,0.67,0.31,-1.00,0.03,0.06,0.07,0.23,NaN,0.13,-1.00,0.0,0.00,0.0,NaN,0.00,0.03,0.00,0.06,NaN,0.01,0.05,-1.00,0.17,0.17,0.00
16,29-Mar-20,0.00,0.05,-1.0,-1.00,0.00,0.00,0.00,NaN,0.08,-1.0,0.00,0.02,0.67,0.31,-1.00,0.03,0.06,0.08,0.23,NaN,0.12,-1.00,0.0,0.00,0.0,NaN,0.00,0.03,0.00,0.05,NaN,0.01,0.04,-1.00,0.15,0.14,0.00
17,30-Mar-20,0.00,0.04,-1.0,-1.00,0.00,0.00,0.00,NaN,0.06,-1.0,0.00,0.04,0.67,0.47,-1.00,0.02,0.07,0.09,0.23,NaN,0.18,-1.00,0.0,0.00,0.0,NaN,0.00,0.02,0.00,0.04,NaN,0.18,0.06,-1.00,0.18,0.29,0.00
18,31-Mar-20,0.00,0.02,-1.0,0.00,0.00,0.00,0.22,NaN,0.05,-1.0,0.00,0.07,0.67,0.40,0.00,0.02,0.08,0.10,0.23,NaN,0.13,-1.00,0.0,0.00,0.0,NaN,0.00,0.02,0.00,0.03,NaN,0.14,0.05,-1.00,0.16,0.29,0.08
19,01-Apr-20,0.00,0.02,-1.0,0.00,0.00,0.00,0.22,NaN,0.04,-1.0,0.00,0.06,0.67,0.63,0.00,0.03,0.08,0.10,0.23,NaN,0.12,-1.00,0.0,0.00,0.0,NaN,0.20,0.02,0.00,0.02,NaN,0.11,0.03,-1.00,0.15,0.29,0.08
20,02-Apr-20,0.00,0.01,0.0,0.00,0.10,0.00,0.33,NaN,0.03,-1.0,0.00,0.11,0.33,0.55,0.00,0.04,0.09,0.10,0.23,NaN,0.10,-1.00,0.0,0.00,0.0,NaN,0.20,0.02,0.00,0.02,NaN,0.11,0.02,-1.00,0.13,0.20,0.06
21,03-Apr-20,0.00,0.01,0.0,0.00,0.10,0.00,0.33,NaN,0.02,-1.0,0.00,0.11,0.33,0.47,0.00,0.04,0.09,0.14,0.21,NaN,0.10,-1.00,0.0,0.00,0.0,NaN,0.10,0.02,0.00,0.02,NaN,0.14,0.01,-1.00,0.10,0.12,0.06
22,04-Apr-20,0.00,0.01,0.0,0.00,0.09,0.17,0.30,NaN,0.04,-1.0,0.00,0.12,0.15,0.33,0.00,0.03,0.08,0.16,0.21,NaN,0.08,-1.00,0.0,0.00,0.0,NaN,0.10,0.05,0.00,0.12,NaN,0.12,0.02,-1.00,0.09,0.09,0.06
23,05-Apr-20,0.00,0.02,0.0,0.00,0.09,0.28,0.80,NaN,0.03,-1.0,0.00,0.16,0.14,0.31,0.00,0.04,0.08,0.18,0.21,NaN,0.07,-1.00,0.0,0.02,0.0,NaN,0.05,0.06,0.00,0.09,NaN,0.10,0.01,-1.00,0.08,0.15,0.12
24,06-Apr-20,0.00,0.02,0.0,0.00,0.28,0.28,0.80,NaN,0.03,-1.0,0.00,0.15,0.11,0.25,0.00,0.04,0.12,0.18,0.71,NaN,0.08,-1.00,0.5,0.04,0.0,NaN,0.05,0.05,0.00,0.08,NaN,0.12,0.02,0.00,0.07,0.13,0.12
25,07-Apr-20,0.00,0.02,0.0,0.00,0.39,0.39,0.90,NaN,0.03,-1.0,0.00,0.14,0.11,0.21,0.00,0.03,0.14,0.21,0.71,NaN,0.08,-1.00,0.5,0.07,0.0,NaN,0.05,0.14,0.20,0.07,NaN,0.11,0.03,0.00,0.06,0.13,0.14
26,08-Apr-20,0.00,0.02,0.0,0.00,0.38,0.39,0.90,NaN,0.03,-1.0,0.00,0.13,0.11,0.19,0.00,0.04,0.15,0.24,0.71,NaN,0.10,-1.00,0.5,0.07,0.0,NaN,0.05,0.13,0.20,0.12,NaN,0.10,0.03,0.00,0.09,0.14,0.13
27,09-Apr-20,0.91,0.03,0.0,0.00,0.26,0.39,0.50,NaN,0.03,-1.0,0.00,0.10,0.11,0.18,0.00,0.03,0.15,0.27,0.71,NaN,0.09,-1.00,0.5,0.06,0.0,NaN,0.04,0.14,0.20,0.13,NaN,0.10,0.03,0.00,0.08,0.14,0.16
28,10-Apr-20,0.91,0.03,0.0,0.00,0.25,0.37,0.50,NaN,0.03,-1.0,0.14,0.09,0.11,0.20,0.00,0.03,0.16,0.34,0.73,NaN,0.12,-1.00,0.5,0.08,0.0,NaN,0.24,0.13,0.14,0.11,NaN,0.09,0.05,0.00,0.07,0.14,0.14
29,11-Apr-20,0.91,0.02,0.0,0.00,0.23,0.37,0.36,NaN,0.03,-1.0,0.71,0.09,0.28,0.20,0.00,0.03,0.18,0.38,0.73,NaN,0.12,-1.00,0.5,0.07,0.0,NaN,0.22,0.13,0.14,0.17,NaN,0.19,0.05,0.00,0.10,0.14,0.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,14-Apr-20,0.91,0.03,0.0,0.00,0.44,0.33,0.39,NaN,0.02,-1.0,0.71,0.09,0.42,0.27,0.00,0.11,0.27,0.55,0.71,NaN,0.10,0.00,0.5,0.09,0.0,NaN,0.30,0.15,0.14,0.15,NaN,0.17,0.07,0.00,0.08,0.24,0.19
33,15-Apr-20,0.91,0.04,1.0,0.06,0.40,0.43,0.52,NaN,0.03,-1.0,0.86,0.08,0.40,0.27,0.00,0.12,0.29,0.56,0.67,NaN,0.10,0.00,0.5,0.07,0.0,NaN,0.32,0.15,0.14,0.14,NaN,0.18,0.10,0.50,0.08,0.24,0.17
34,16-Apr-20,1.00,0.04,1.0,0.14,0.45,0.43,0.64,NaN,0.03,-1.0,0.86,0.08,0.49,0.30,0.00,0.12,0.26,0.62,0.78,NaN,0.09,0.00,0.5,0.06,0.0,NaN,0.32,0.15,0.14,0.15,NaN,0.27,0.14,0.50,0.08,0.24,0.18
35,17-Apr-20,0.92,0.06,1.0,0.26,0.44,0.43,0.67,NaN,0.04,-1.0,0.86,0.08,0.45,0.38,0.00,0.13,0.25,0.64,0.78,NaN,0.10,0.00,0.5,0.05,0.0,NaN,0.35,0.14,0.14,0.15,NaN,0.24,0.21,0.50,0.10,0.22,0.20
36,18-Apr-20,0.79,0.07,1.0,0.34,0.49,0.39,0.69,NaN,0.11,-1.0,0.86,0.07,0.44,0.43,0.00,0.15,0.27,0.64,0.78,NaN,0.10,0.00,0.5,0.09,0.0,NaN,0.39,0.13,0.57,0.15,NaN,0.23,0.27,0.50,0.11,0.21,0.19
37,19-Apr-20,0.73,0.10,1.0,0.49,0.44,0.50,0.69,NaN,0.14,-1.0,1.00,0.06,0.44,0.41,0.00,0.16,0.28,0.67,0.78,NaN,0.12,0.00,0.5,0.09,0.0,NaN,0.39,0.15,0.57,0.14,NaN,0.22,0.28,0.50,0.12,0.25,0.20
38,20-Apr-20,0.69,0.13,1.0,0.54,0.37,0.54,0.69,NaN,0.21,-1.0,1.00,0.07,0.44,0.56,0.09,0.19,0.27,0.71,0.78,NaN,0.12,0.00,1.0,0.09,0.0,NaN,0.32,0.16,0.57,0.13,NaN,0.21,0.30,0.50,0.12,0.39,0.19
39,21-Apr-20,0.65,0.13,1.0,0.54,0.33,0.52,0.69,NaN,0.28,-1.0,1.00,0.06,0.44,0.57,0.09,0.21,0.31,0.72,0.78,NaN,0.14,0.00,1.0,0.10,0.0,NaN,0.38,0.20,0.57,0.16,NaN,0.21,0.40,0.50,0.12,0.41,0.19
40,22-Apr-20,0.61,0.15,1.0,0.54,0.29,0.52,0.78,NaN,0.32,-1.0,1.00,0.07,0.44,0.59,0.09,0.23,0.31,0.70,0.78,NaN,0.14,0.00,1.0,0.10,0.0,NaN,0.39,0.19,0.57,0.18,NaN,0.21,0.41,0.50,0.12,0.50,0.17
41,23-Apr-20,0.50,0.16,1.0,0.53,0.26,0.52,0.83,NaN,0.34,-1.0,1.00,0.10,0.48,0.63,0.15,0.21,0.33,0.71,0.89,NaN,0.13,0.00,1.0,0.12,0.0,NaN,0.37,0.23,0.57,0.23,NaN,0.26,0.45,1.00,0.14,0.51,0.17
42,24-Apr-20,0.38,0.15,1.0,0.53,0.20,0.56,0.83,NaN,0.34,-1.0,1.00,0.09,0.48,0.67,0.14,0.24,0.32,0.73,0.89,NaN,0.14,0.00,1.0,0.11,0.0,NaN,0.35,0.23,0.57,0.24,NaN,0.30,0.49,1.00,0.14,0.52,0.20
43,25-Apr-20,0.33,0.17,1.0,0.53,0.18,0.54,0.86,NaN,0.33,-1.0,1.00,0.09,0.57,0.66,0.12,0.23,0.32,0.74,0.80,NaN,0.14,0.00,1.0,0.14,0.0,NaN,0.34,0.23,0.50,0.25,NaN,0.31,0.53,1.00,0.15,0.54,0.18
44,26-Apr-20,0.33,0.21,1.0,0.75,0.20,0.47,0.86,NaN,0.30,-1.0,1.00,0.09,0.57,0.67,0.16,0.26,0.36,0.73,0.80,NaN,0.15,0.00,1.0,0.14,0.0,NaN,0.34,0.26,0.50,0.29,NaN,0.32,0.54,1.00,0.17,0.51,0.17
45,27-Apr-20,0.33,0.20,1.0,0.75,0.16,0.38,0.86,NaN,0.28,-1.0,1.00,0.11,0.65,0.70,0.17,0.30,0.38,0.74,0.80,NaN,0.15,0.00,1.0,0.16,0.0,NaN,0.31,0.30,0.62,0.33,NaN,0.33,0.55,1.00,0.20,0.51,0.16
46,28-Apr-20,0.45,0.20,1.0,0.71,0.17,0.30,0.89,NaN,0.33,-1.0,1.00,0.11,0.65,0.72,0.18,0.31,0.40,0.74,0.73,NaN,0.15,0.00,1.0,0.16,0.0,NaN,0.32,0.30,0.62,0.33,NaN,0.37,0.55,1.00,0.23,0.48,0.16
47,29-Apr-20,0.45,0.22,1.0,0.76,0.16,0.25,0.89,NaN,0.32,-1.0,1.00,0.13,0.65,0.72,0.18,0.33,0.40,0.74,0.77,NaN,0.16,0.00,1.0,0.18,0.0,NaN,0.31,0.27,0.62,0.33,NaN,0.40,0.56,1.00,0.24,0.51,0.16
48,30-Apr-20,0.48,0.23,1.0,0.67,0.20,0.24,0.90,NaN,0.31,-1.0,1.00,0.14,0.72,0.69,0.17,0.35,0.41,0.77,0.77,NaN,0.17,0.00,1.0,0.18,0.0,NaN,0.29,0.22,0.62,0.35,NaN,0.43,0.54,1.00,0.25,0.63,0.16
49,01-May-20,0.48,0.28,1.0,0.77,0.21,0.20,0.84,NaN,0.31,-1.0,1.00,0.16,0.78,0.67,0.19,0.39,0.43,0.79,0.77,NaN,0.16,0.83,1.0,0.19,0.0,NaN,0.36,0.18,0.62,0.42,NaN,0.44,0.52,1.00,0.28,0.65,0.17
50,02-May-20,0.79,0.29,1.0,0.77,0.24,0.20,0.84,NaN,0.30,-1.0,1.00,0.18,0.85,0.64,0.19,0.38,0.45,0.80,0.74,NaN,0.16,0.83,1.0,0.22,0.0,NaN,0.35,0.15,0.56,0.45,NaN,0.47,0.49,0.50,0.28,0.66,0.16
51,03-May-20,0.97,0.31,1.0,0.77,0.24,0.20,0.63,NaN,0.30,-1.0,1.00,0.19,0.88,0.55,0.23,0.41,0.48,0.80,0.40,NaN,0.16,0.83,1.0,0.28,0.0,NaN,0.37,0.11,0.67,0.47,NaN,0.50,0.46,0.12,0.29,0.65,0.11
52,04-May-20,0.97,0.32,1.0,0.77,0.24,0.21,0.62,NaN,0.29,-1.0,1.00,0.21,0.85,0.49,0.23,0.42,0.49,0.92,0.40,NaN,0.17,0.83,1.0,0.29,0.0,NaN,0.36,0.10,0.67,0.47,NaN,0.54,0.40,0.07,0.29,0.65,0.17
53,05-May-20,0.97,0.34,1.0,0.73,0.30,0.18,0.61,NaN,0.29,0.0,1.00,0.22,0.83,0.47,0.26,0.43,0.49,0.92,0.40,NaN,0.18,0.83,1.0,0.33,1.0,NaN,0.34,0.09,0.67,0.48,NaN,0.57,0.37,0.05,0.34,0.64,0.20
54,06-May-20,0.97,0.41,1.0,0.76,0.29,0.17,0.61,NaN,0.28,0.0,1.00,0.23,0.81,0.44,0.29,0.42,0.51,0.93,0.40,NaN,0.18,0.83,1.0,0.35,1.0,NaN,0.30,0.09,0.67,0.52,NaN,0.59,0.31,0.03,0.38,0.64,0.18
55,07-May-20,1.00,0.43,1.0,0.65,0.40,0.16,0.61,NaN,0.32,0.0,1.00,0.24,0.76,0.41,0.31,0.42,0.52,0.94,0.40,NaN,0.18,0.83,1.0,0.38,1.0,NaN,0.28,0.09,0.67,0.55,NaN,0.62,0.29,0.02,0.41,0.64,0.19
56,08-May-20,1.00,0.45,1.0,0.58,0.46,0.14,0.64,NaN,0.32,0.0,1.00,0.25,0.70,0.43,0.27,0.44,0.50,0.96,0.43,NaN,0.18,0.83,1.0,0.40,1.0,NaN,0.23,0.09,0.80,0.56,NaN,0.64,0.27,0.02,0.43,0.71,0.19
57,09-May-20,1.00,0.46,1.0,0.56,0.52,0.14,0.73,NaN,0.31,0.0,1.00,0.27,0.69,0.43,0.50,0.44,0.49,0.96,0.43,NaN,0.19,0.77,1.0,0.43,1.0,NaN,0.19,0.09,0.80,0.58,NaN,0.65,0.28,0.01,0.44,0.69,0.21
58,10-May-20,1.00,0.47,1.0,0.56,0.50,0.14,0.83,NaN,0.30,0.0,1.00,0.31,0.62,0.43,0.50,0.44,0.50,0.95,0.50,NaN,0.19,0.77,1.0,0.46,1.0,NaN,0.18,0.09,0.75,0.59,NaN,0.63,0.27,0.01,0.48,0.68,0.22
59,11-May-20,1.00,0.49,1.0,0.62,0.50,0.15,0.90,NaN,0.29,0.0,1.00,0.33,0.61,0.46,0.48,0.49,0.49,0.94,0.52,NaN,0.20,0.77,1.0,0.46,1.0,NaN,0.20,0.09,0.75,0.58,NaN,0.63,0.26,0.01,0.49,0.68,0.24
60,12-May-20,1.00,0.51,1.0,0.62,0.43,0.16,0.92,NaN,0.33,1.0,1.00,0.36,0.55,0.44,0.46,0.49,0.47,0.93,0.52,NaN,0.21,0.77,1.0,0.47,1.0,NaN,0.27,0.09,0.75,0.59,NaN,0.62,0.24,0.01,0.51,0.67,0.28
61,13-May-20,1.00,0.53,1.0,0.50,0.40,0.16,0.93,NaN,0.36,1.0,1.00,0.38,0.54,0.53,0.49,0.48,0.47,0.92,0.51,NaN,0.21,0.85,1.0,0.48,1.0,NaN,0.27,0.10,0.69,0.60,NaN,0.69,0.24,0.01,0.52,0.64,0.31

### Cluster table and cluster network map

In [138]:
from shutil import copyfile
src = "../data/extracted_data_api/code_data/cluster_table.csv"
dest = "../data/"+folder+"/code_data/cluster_table.csv"
copyfile(src, dest)

src = "../data/extracted_data_api/code_data/cluster_network_map.csv"
dest = "../data/"+folder+"/code_data/cluster_network_map.csv"
copyfile(src, dest)

'../data/09052020/code_data/cluster_network_map.csv'

### 4*9 grid state wise plots

In [ ]:
### For missing dates
# District time series available till 13th April, current district confirmed cases available, interpolate in between
# For future dates, two options
###### 1. Diff from daily howIndiaLives data 
###### 2. District daily data from covid19india api

In [180]:
init_date = pd.datetime(2020,3,15)

df = pd.read_csv("../data/09052020/derived/districtwise_time_series.csv")
df["date"] = pd.to_datetime(df["date"])
df = df[df["date"]>=init_date]
dfsc = pd.read_csv("../data/extracted_data_api/state_codes.csv")
df = df.set_index("state").join(dfsc.set_index("state")).reset_index()

### MAp district names
for i in range(len(df)):
    district_name = df.iloc[i]["district"]
    state_name = df.iloc[i]["state"]
    
    if district_name in district_name_mapping:
        district_name_mapped = district_name_mapping[district_name]
        district_name = district_name_mapped

    if district_name in district_name_resolution:
        district_name_resolved = resolve_district_name(state_name, district_name)
        district_name = district_name_resolved
    
    df.at[i, "district"] = district_name
    

    
district_list = df["district"].unique()
dfd = pd.DataFrame()
for i in range(len(district_list)):
    district_name = district_list[i]

    if district_name==district_name:
        dft = df[df["district"]==district_name].copy()
        dft["count"] = dft["count"].cumsum()
        state_name = dft["state"].unique()[0]
        state_code = dft["state_code"].unique()[0]
        dft.reset_index(inplace=True)
        del dft["index"], dft["state"], dft["district"], dft["state_code"]
        dft.rename(columns={"count":district_name}, inplace=True)
        dft[district_name] = dft[district_name].astype(str)
        dft["date"] = pd.to_datetime(dft["date"]).dt.date
        dft.at[-1, "date"] = "state"
        dft.at[-1, district_name] = state_name
        dft.at[-2, "date"] = "state_code"
        dft.at[-2, district_name] = state_code
        dft.sort_index(inplace=True)
        dft = dft.transpose()
        new_header = dft.iloc[0]
        dft = dft[1:]
        dft.columns = new_header
        dft.reset_index(inplace=True)
        dft.rename(columns={"index":"district"}, inplace=True)

        if i==0:
            dfd = dft.copy()
        else:
            dfd = dfd.append(dft)

dfd.to_csv("../data/"+folder+"/code_data/districtwise_daily_case_count.csv", index=False)

### Outbreak spread map

In [ ]:
### For missing dates
# District time series available till 13th April, current district confirmed cases available, interpolate in between
# For future dates, two options
###### 1. Diff from daily howIndiaLives data 
###### 2. District daily data from covid19india api

### Country case count

In [139]:
country_case_count_thresh = 10000
start_counting_from_case = 200
df = pd.read_csv("../data/"+folder+"/owid/owid-covid-data.csv")[["location", "date", "total_cases"]]
df = df[df["location"] != "World"]
df = df[df["location"] != "International"]
df = df.groupby("location").filter(lambda x: x.tail(1)["total_cases"]>country_case_count_thresh)
df = df[df["total_cases"] >= start_counting_from_case]

dfca = pd.DataFrame()
country_list = df["location"].unique()
for i in range(len(country_list)):
    country_name = country_list[i]
    
    dfc = df[df["location"]==country_name].copy()
    dfc.reset_index(inplace=True)
    del dfc["index"]
    dfc.reset_index(inplace=True)
    dfc.rename(columns={"index":"day", "total_cases":country_name}, inplace=True)
    del dfc["date"], dfc["location"]
    dfc["day"] = np.round(dfc["day"]) #.astype(int)
    dfc
    
    if i==0:
        dfca = dfc.copy()
    else:
        dfca = dfca.set_index("day").join(dfc.set_index("day"), how="outer").reset_index()
        dfca["day"] = np.round(dfca["day"]) #.astype(int)
dfca = dfca.transpose()
new_header = dfca.iloc[0]
dfca = dfca[1:]
dfca.columns = new_header
dfca.reset_index(inplace=True)
dfca.rename(columns={"index":"country"}, inplace=True)
idx = 0
for col in dfca.columns:
    if col!="country":
        dfca.rename(columns={col:int(idx)}, inplace=True)
        idx+=1
dfca.to_csv("../data/"+folder+"/code_data/country_case_count.csv", index=False)
dfca

day,country,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,...,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115
0,United Arab Emirates,248.0,333.0,333.0,405.0,468.0,468.0,611.0,664.0,664.0,1024.0,1024.0,1505.0,1799.0,2076.0,2359.0,2659.0,2990.0,3360.0,3736.0,4123.0,4521.0,4933.0,5365.0,5825.0,5825.0,6302.0,6781.0,7265.0,7755.0,8238.0,8756.0,9281.0,9813.0,10349.0,10839.0,11380.0,11929.0,12481.0,13038.0,13599.0,14163.0,14730.0,15192.0,15738.0,16240.0,16793.0,17417.0,18198.0,18878.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Austria,246.0,361.0,504.0,655.0,860.0,1016.0,1332.0,1646.0,2196.0,2649.0,3024.0,3631.0,4486.0,5282.0,5888.0,7029.0,7697.0,8291.0,8813.0,9618.0,10182.0,10711.0,11129.0,11525.0,11766.0,11983.0,12297.0,12640.0,12969.0,13248.0,13560.0,13807.0,13937.0,14043.0,14234.0,14370.0,14448.0,14603.0,14662.0,14710.0,14783.0,14833.0,14924.0,14985.0,15068.0,15134.0,15189.0,15256.0,15314.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Belgium,200.0,239.0,267.0,314.0,399.0,559.0,689.0,886.0,1085.0,1243.0,1486.0,1795.0,2257.0,2815.0,3401.0,3743.0,4269.0,4937.0,6235.0,7284.0,9134.0,10836.0,11899.0,12775.0,13964.0,15348.0,16770.0,18431.0,19691.0,20814.0,22194.0,23403.0,24983.0,26667.0,28018.0,29647.0,30589.0,31119.0,33573.0,34809.0,36138.0,37183.0,38496.0,39983.0,40956.0,41889.0,42797.0,44293.0,45325.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bangladesh,218.0,330.0,424.0,482.0,621.0,803.0,1012.0,1231.0,1572.0,1838.0,2144.0,2456.0,2948.0,3382.0,3772.0,4186.0,4689.0,4998.0,5416.0,5913.0,6462.0,7103.0,7667.0,8238.0,8790.0,9455.0,10143.0,10929.0,11719.0,12425.0,13134.0,13770.0,14657.0,15691.0,16660.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Belarus,254.0,351.0,394.0,564.0,700.0,861.0,1066.0,1486.0,1981.0,2226.0,2578.0,2919.0,3281.0,3728.0,4204.0,4779.0,4779.0,4779.0,6264.0,6723.0,7281.0,8022.0,8773.0,9590.0,10463.0,11289.0,12208.0,13181.0,14027.0,14917.0,15828.0,16705.0,17489.0,18350.0,19255.0,20168.0,21101.0,22052.0,22973.0,23906.0,24873.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Brazil,200.0,234.0,291.0,428.0,621.0,904.0,1128.0,1546.0,1891.0,2201.0,2433.0,2915.0,3417.0,3904.0,4256.0,4579.0,5717.0,6836.0,7910.0,9056.0,10278.0,11130.0,12056.0,13717.0,15927.0,17857.0,19638.0,20727.0,22169.0,23430.0,25262.0,28320.0,30425.0,33682.0,36599.0,38654.0,40581.0,43079.0,45757.0,49492.0,52995.0,58509.0,61888.0,66501.0,71886.0,78162.0,85380.0,91589.0,96559.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Canada,244.0,304.0,424.0,569.0,690.0,846.0,971.0,1302.0,1430.0,1646.0,1959.0,3385.0,4018.0,4675.0,5386.0,6255.0,7424.0,8536.0,9595.0,11268.0,12519.0,13882.0,15496.0,16653.0,17883.0,19274.0,20748.0,22133.0,23301.0,24365.0,25663.0,27046.0,28364.0,30081.0,31872.0,33341.0,34777.0,36823.0,38413.0,40179.0,42099.0,43877.0,45341.0,46884.0,48489.0,50015.0,51587.0,53236.0,55061.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Switzerland,209.0,264.0,332.0,374.0,490.0,642.0,854.0,1121.0,1359.0,2200.0,2200.0,2650.0,3010.0,3888.0,4840.0,6077.0,6971.0,8015.0,8789.0,9714.0,10714.0,12104.0,13152.0,14274.0,15412.0,16108.0,17070.0,18194.0,19227.0,20201.0,21022.0,21574.0,22164.0,22710.0,23495.0,24228.0,24820.0,25220.0,25499.0,25753.0,26336.0,26651.0,26997.0,27322.0,27658.0,27826.0,27981.0,28186.0,28414.0,...,30261.0,30297.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Chile,201.0,238.0,342.0,434.0,537.0,632.0,746.0,922.0,1142.0,1306.0,1610.0,1909.0,2139.0,2449.0,2738.0,3031.0,3404.0,3737.0,4161.0,4471.0,4815.0,5116.0,5546.0,5972.0,6501.0,6927.0,7213.0,7525.0,7917.0,8273.0,8807.0,9252.0,9730.0,10088.0,10507.0,10832.0,11296.0,11812.0,12306.0,12858.0,13331.0,13813.0,14365.0,14885.0,16023.0,17008.0,18435.0,19663.0,20643.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,China,216.0,235.0,386.0,526.0,623.0,882.0,1323.0,1988.0,2775.0,4528.0,5994.0,7734.0,9714.0,11809.0,14399.0,17211.0,20448.0,24320.0,28047.0,31207.0,34625.0,37232.0,40206.0,42696.0,44724.0,59865.0,64021.0,66559.0,68566.0,70618.0,72508.0,74258.0,74652.0,75543.0,76369.0,77016.0,77234.0,77749.0,78159.0,78598.0,78927.0,79355.0,79929.0,80134.0,80261.0,80380.0,80497.0,80667.0,80768.0,...,81631.0,81733.0,81827.0,81946.0,82059.0,82157.0,82241.0,82295.0,82395.0,82465.0,82527.0,82575.0,82642.0,82698.0,82784.0,82870.0,82925.0,83004.0,83097.0,83209.0,83303.0,83352.0,83402.0,83754.0,83785.0,83803.0,83817.0,83849.0,83864.0,83876.0,83884.0,83899.0,83909.0,83912.0,83938.0,83940.0,83944.0,83956.0,83959.0,83961.0,83964.0,83966.0,83968.0,83970.0,83976.0,83976.0,83991.0,84010.0,84011.0,84018.0
10,Colombia,210.0,235.0,306.0,378.0,470.0,491.0,539.0,608.0,702.0,798.0,906.0,1065.0,1161.0,1267.0,1406.0,1485.0,1579.0,1780.0,2054.0,2223.0,2473.0,2709.0,2776.0,2852.0,2979.0,3105.0,3233.0,3439.0,3621.0,3792.0,3977.0,4149.0,4356.0,4561.0,4881.0,5142.0,5379.0,5597.0,5949.0,6211.0,6507.0,7006.0,7285.0,7668.0,7973.0,8613.0,8959.0,9456.0,10051.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Germany,262.0,400.0,684.0,847.0,902.0,1139.0,1296.0,1567.0,2369.0,3062.0,3795.0,4838.0,6012.0,7156.0,8198.0,14138.0,18187.0,21463.0,24774.0,29212.0,31554.0,36508.0,42288.0,48582.0,52547.0,57298.0,61913.0,67366.0,73522.0,79696.0,85778.0,91714.0,95391.0,99225.0,103228.0,108202.0,113525.0,117658.0,120479.0,123016.0,125098.0,127584.0,130450.0,133830.0,137439.0,139897.0,141672.0,143457.0,145694.0,...,169218.0,169575.0,170508.0,171306.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Denmark,264.0,516.0,676.0,804.0,827.0,875.0,932.0,1024.0,1115.0,1151.0,1255.0,1326.0,1395.0,1460.0,1591.0,1724.0,1877.0,2046.0,2201.0,2395.0,2577.0,2860.0,3107.0,3386.0,3757.0,4077.0,4369.0,4681.0,5071.0,5402.0,5635.0,5819.0,5996.0,6174.0,6318.0,6511.0,6681.0,6879.0,7073.0,7242.0,7384.0,7515.0,7695.0,7912.0,8073.0,8210.0,8445.0,8575.0,8698.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Dominican Republic,202.0,245.0,312.0,392.0,488.0,581.0,719.0,859.0,901.0,1109.0,1284.0,1380.0,1488.0,1578.0,1745.0,1828.0,1956.0,2111.0,2349.0,2620.0,2759.0,2967.0,3167.0,3286.0,3614.0,3755.0,4126.0,4335.0,4680.0,4964.0,5044.0,5300.0,5543.0,5749.0,5926.0,6135.0,6135.0,6416.0,6652.0,6972.0,7288.0,7578.0,7954.0,8235.0,8480.0,8807.0,9095.0,9376.0,9882.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Ecuador,426.0,532.0,789.0,981.0,1082.0,1211.0,1403.0,1627.0,1835.0,1890.0,1966.0,2302.0,2758.0,3163.0,3368.0,3465.0,3646.0,3747.0,3995.0,4450.0,4965.0,7161.0,7257.0,7466.0,7529.0,7603.0,7858.0,8225.0,8450.0,9022.0,9468.0,10128.0,10398.0,10850.0,11183.0,11183.0,11183.0,22719.0,23240.0,24258.0,24675.0,24934.0,26336.0,27464.0,29538.0,31881.0,31881.0,29420.0,30298.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Egypt,210.0,256.0,285.0,294.0,327.0,366.0,442.0,456.0,495.0,536.0,576.0,609.0,656.0,710.0,779.0,779.0,985.0,1070.0,1073.0,1322.0,1560.0,1699.0,1794.0,1939.0,2065.0,2190.0,2350.0,2505.0,2673.0,2844.0,3032.0,3144.0,3333.0,3490.0,3490.0,3659.0,4092.0,4319.0,4319.0,4782.0,5042.0,5268.0,5537.0,5895.0,6193.0,6465.0,6813.0,7201.0,7588.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Spain,200.0,261.0,374.0,430.0,589.0,1204.0,1639.0,2140.0,3004.0,4231.0,5753.0,7753.0,9191.0,11178.0,13716.0,17147.0,19980.0,24926.0,28572.0,33089.0,39673.0,47610.0,56188.0,64059.0,72248.0,78797.0,85195.0,94417.0,102136.0,110238.0,117710.0,124736.0,130759.0,135032.0,140510.0,146690.0,152446.0,157022.0,161852.0,166019.0,169496.0,177464.0,181504.0,185904.0,190008.0,188578.0,191163.0,194515.0,197142.0,...,224390.0,227436.0,228030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,France,212.0,285.0,423.0,613.0,716.0,1126.0,1412.0,1784.0,2281.0,2876.0,3661.0,4499.0,5423.0,6633.0,7730.0,9134.0,10995.0,12612.0,14459.0,16018.0,19856.0,22302.0,25233.0,29155.0,32964.0,37575.0,40174.0,44550.0,52128.0,56989.0,59105.0,64338.0,68605.0,70478.0,74390.0,78167.0,82048.0,86334.0,90676.0,93790.0,95403.0,98076.0,103573.0,106206.0,108847.0,109252.0,111821.0,112606.0,114657.0,...,138421.0,138854.0,139063.0,139519.0,140227.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,United Kingdom,206.0,273.0,321.0,373.0,456.0,590.0,707.0,1140.0,1391.0,1543.0,1950.0,2630.0,3277.0,3983.0,5018.0,5683.0,6650.0,8077.0,9529.0,11658.0,14543.0,17089.0,19522.0,22141.0,25150.0,29474.0,33718.0,38168.0,41903.0,47806.0,51608.0,55242.0,60733.0,65077.0,70272.0,78991.0,84279.0,88621.0,93873.0,98476.0,103093.0,108692.0,114217.0,120067.0,124743.0,129044.0,133495.0,138078.0,143464.0,...,226463.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Indonesia,227.0,309.0,450.0,514.0,579.0,686.0,790.0,893.0,1046.0,1155.0,1285.0,1414.0,1528.0,1677.0,1790.0,1986.0,2092.0,2273.0,2491.0,2738.0,2956.0,3293.0,3512.0,3842.0,4241.0,4557.0,4839.0,5136.0,5516.0,5923.0,6248.0,6575.0,6760.0,7135.0,7418.0,7775.0,8211.0,8607.0,8882.0,9096.0,9511.0,9771.0,10118.0,10551.0,10843.0,11192.0,11587.0,12071.0,12438.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,India,231.0,320.0,439.0,492.0,562.0,649.0,724.0,873.0,979.0,1071.0,1251.0,1397.0,1965.0,2301.0,2902.0,3374.0,4067.0,4421.0,5194.0,5734.0,6412.0,7447.0,8356.0,9152.0,10363.0,11438.0,12380.0,13387.0,14378.0,15712.0,17265.0,18600.0,19984.0,21393.0,23077.0,24506.0,26496.0,27892.0,29435.0,31332.0,33050.0,35043.0,37336.0,39980.0,42533.0,46433.0,49391.0,52952.0,56342.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Ireland,223.0,292.0,366.0,557.0,683.0,785.0,906.0,1125.0,1329.0,1564.0,1819.0,2121.0,2415.0,2615.0,2910.0,3235.0,3447.0,3849.0,4273.0,4604.0,5111.0,5364.0,5709.0,6224.0,7393.0,8089.0,8928.0,9655.0,10647.0,11479.0,12547.0,13271.0,13980.0,14758.0,15251.0,15652.0,16040.0,16671.0,17607.0,18184.0,18561.0,19262.0,19648.0,19877.0,20253.0,20612.0,20833.0,21176.0,21506.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Iran,245.0,388.0,593.0,978.0,1501.0,2336.0,2922.0,3513.0,4747.0,5823.0,6566.0,7161.0,8042.0,9000.0,10075.0,11364.0,12729.0,13938.0,14991.0,16169.0,17361.0,18407.0,19644.0,20610.0,21638.0,23049.0,24811.0,27017.0,29406.0,32332.0,35408.0,38309.0,41495.0,44606.0,47593.0,50468.0,50468.0,55743.0,58226.0,60500.0,62589.0,64586.0,66220.0,68192.0,70029.0,71686.0,73303.0,74877.0,76389.0,...,97424.0,98647.0,99970.0,101650.0,103135.0,104691.0,106220.0,107603.0,109286.0,110767.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Israel,250.0,260.0,427.0,433.0,677.0,712.0,883.0,1071.0,1442.0,1930.0,2369.0,2666.0,3035.0,3619.0,4247.0,4473.0,4916.0,5591.0,6252.0,7428.0,8018.0,8430.0,8904.0,9248.0,9404.0,9968.0,10408.0,10743.0,11145.0,11586.0,12046.0,12501.0,12758.0,12982.0,13265.0,13491.0,13713.0,13942.0,14592.0,14882.0,15058.0,15298.0,15398.0,15466.0,15589.0,15834.0,15946.0,16101.0,16185.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Italy,229.0,322.0,400.0,650.0,888.0,1128.0,1689.0,2036.0,2502.0,3089.0,3858.0,4636.0,5883.0,7375.0,9172.0,10149.0,12462.0,15113.0,17660.0,21157.0,23980.0,27980.0,31506.0,35713.0,41035.0,47021.0,53578.0,59138.0,63927.0,69176.0,74386.0,80539.0,86498.0,92472.0,97689.0,101739.0,105792.0,110574.0,115242.0,119827.0,124632.0,128948.0,132547.0,135586.0,139422.0,143626.0,147577.0,152271.0,156363.0,...,205463.0,207428.0,209328.0,210717.0,211938.0,213013.0,214457.0,215858.0,217185.0,218268.0,219070.0,219814.0,221216.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Japan,210.0,230.0,239.0,254.0,254.0,268.0,317.0,349.0,408.0,455.0,488.0,514.0,568.0,619.0,675.0,737.0,780.0,814.0,824.0,829.0,873.0,950.0,1007.0,1046.0,1089.0,1128.0,1193.0,1268.0,1364.0,1499.0,1693.0,1866.0,1953.0,1953.0,2178.0,2617.0,2935.0,3271.0,3654.0,3817.0,3906.0,4257.0,4667.0,5347.0,6748.0,7255.0,7645.0,8100.0,8582.0,...,15057.0,15231.0,15354.0,15463.0,15547.0,15628.0,15747.0,15798.0,15874.0,16024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,South Korea,345.0,601.0,762.0,892.0,1146.0,1595.0,2022.0,2931.0,3526.0,4212.0,4812.0,5328.0,5766.0,6284.0,6767.0,7134.0,7382.0,7513.0,7755.0,7869.0,7979.0,8086.0,8162.0,8236.0,8320.0,8413.0,8565.0,8652.0,8799.0,8897.0,8961.0,9037.0,9137.0,9241.0,9332.0,9478.0,9583.0,9661.0,9786.0,9786.0,9976.0,10062.0,10156.0,10237.0,10284.0,10331.0,10384.0,10423.0,10450.0,...,10752.0,10761.0,10765.0,10774.0,10780.0,10793.0,10801.0,10804.0,10806.0,10810.0,10822.0,10840.0,10874.0,10909.0,10936.0,10962.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Kuwait,208.0,225.0,235.0,255.0,266.0,289.0,317.0,342.0,342.0,479.0,556.0,665.0,743.0,855.0,910.0,993.0,1154.0,1234.0,1300.0,1355.0,1405.0,1524.0,1658.0,1752.0,1915.0,1995.0,2080.0,2248.0,2399.0,2614.0,2892.0,3075.0,3288.0,3440.0,3740.0,4024.0,4377.0,4619.0,4983.0,5278.0,5804.0,6289.0,6567.0,7208.0,7623.0,8688.0,9286.0,10277.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Mexico,203.0,251.0,316.0,367.0,405.0,475.0,585.0,717.0,848.0,993.0,1094.0,1215.0,1378.0,1510.0,1688.0,1890.0,2143.0,2439.0,2785.0,3181.0,3441.0,3844.0,4219.0,4661.0,5014.0,5399.0,5847.0,6297.0,6875.0,7497.0,8261.0,8772.0,9501.0,10544.0,11633.0,12872.0,13842.0,14677.0,15529.0,16752.0,17799.0,19224.0,20739.0,22088.0,23471.0,24905.0,26025.0,27634.0,29616.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Netherlands,265.0,321.0,382.0,503.0,614.0,804.0,959.0,1135.0,1413.0,1705.0,2051.0,2460.0,2994.0,3631.0,4204.0,4749.0,5560.0,6412.0,7431.0,8603.0,9762.0,10866.0,11750.0,12595.0,13614.0,14697.0,15723.0,16627.0,17851.0,18803.0,19580.0,20549.0,21762.0,23097.0,24413.0,25587.0,26551.0,27419.0,28153.0,29214.0,30449.0,31589.0,32655.0,33405.0,34134.0,34842.0,35729.0,36535.0,37190.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Pakistan,302.0,478.0,495.0,646.0,784.0,887.0,991.0,1057.0,1197.0,1197.0,1408.0,1526.0,1625.0,2039.0,2291.0,2291.0,2291.0,2450.0,3277.0,3864.0,4072.0,4322.0,4601.0,4788.0,5038.0,5374.0,5716.0,5988.0,6505.0,7025.0,7481.0,7993.0,8418.0,9216.0,9749.0,9749.0,11155.0,11940.0,12723.0,13328.0,14079.0,14885.0,15759.0,16817.0,18114.0,19103.0,20186.0,21501.0,22550.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Peru,234.0,263.0,318.0,363.0,395.0,416.0,558.0,580.0,635.0,671.0,852.0,950.0,1065.0,1323.0,1414.0,1595.0,1746.0,2281.0,2561.0,2954.0,4342.0,5256.0,5897.0,6848.0,7519.0,7519.0,10303.0,11475.0,12491.0,13489.0,14420.0,15628.0,16325.0,17837.0,19250.0,20914.0,21648.0,25331.0,27517.0,28699.0,31190.0,33931.0,36976.0,40459.0,42534.0,45928.0,47372.0,51189.0,54817.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Philippines,202.0,230.0,230.0,380.0,380.0,462.0,552.0,636.0,707.0,803.0,1075.0,1418.0,2084.0,2084.0,2311.0,2633.0,3018.0,3094.0,3246.0,3660.0,3764.0,3870.0,4076.0,4076.0,4428.0,4648.0,4932.0,5223.0,5453.0,5660.0,5878.0,6087.0,6259.0,6459.0,6599.0,6710.0,6981.0,7192.0,7294.0,7579.0,7777.0,7958.0,8212.0,8488.0,8772.0,8928.0,9223.0,9485.0,9684.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Country testing rate

In [140]:
country_case_count_thresh = 10000
start_counting_from_case = 200
df = pd.read_csv("../data/"+folder+"/owid/owid-covid-data.csv")[["location", "date", "total_cases", "total_cases_per_million", "total_tests_per_thousand"]]
df = df[df["location"] != "World"]
df = df[df["location"] != "International"]
df = df.groupby("location").filter(lambda x: x.tail(1)["total_cases"]>country_case_count_thresh)
df = df.dropna(subset=["total_cases_per_million", "total_tests_per_thousand"])
df = df.groupby('location').nth(-1).reset_index()
del df["date"]
df.rename(columns={"location":"country"}, inplace=True)
df.to_csv("../data/"+folder+"/code_data/country_testing_rate.csv", index=False)
df

,country,total_cases,total_cases_per_million,total_tests_per_thousand
0,Austria,15874,1762.524,36.564
1,Bangladesh,15691,95.276,0.830
2,Belarus,23906,2529.917,30.102
3,Belgium,52596,4538.200,42.095
4,Brazil,38654,181.850,0.623
5,Canada,69981,1854.187,30.356
6,Chile,30063,1572.644,15.868
7,Colombia,11063,217.421,3.124
8,Denmark,10513,1815.026,57.709
9,Ecuador,29538,1674.199,2.622
10,France,131863,2020.161,12.734
11,Germany,162496,1939.465,32.891
12,India,70756,51.272,1.275
13,Indonesia,14265,52.153,0.438
14,Iran,109286,1301.133,7.328
15,Ireland,23135,4685.289,52.414
16,Israel,16477,1903.636,53.443
17,Italy,219814,3635.583,28.810
18,Japan,15874,125.510,1.768
19,Mexico,35022,271.630,0.885
20,Netherlands,42627,2487.734,15.778
21,Pakistan,32081,145.234,1.385
22,Peru,68822,2087.296,16.140
23,Philippines,10610,96.823,1.440
24,Poland,16326,431.373,13.417
25,Portugal,27406,2687.730,54.317
26,Qatar,23623,8199.413,46.960
27,Romania,15588,810.285,13.992
28,Russia,221344,1516.736,39.781
29,Saudi Arabia,41014,1178.094,13.856
30,Serbia,10176,1495.460,22.236
31,Singapore,18205,3111.783,21.114
32,South Africa,10652,179.603,6.233
33,South Korea,10936,213.306,13.281
34,Spain,221447,4736.350,34.760
35,Sweden,25921,2566.621,17.576
36,Switzerland,30222,3492.009,36.611
37,Turkey,139771,1657.251,17.082
38,Ukraine,15648,357.801,4.283
39,United Kingdom,223060,3285.802,21.514
40,United States,1329799,4017.488,28.243

### Scrollytelling data

In [207]:
df = pd.read_csv("../data/09052020/one_time/full_data_patient_level_withDistrictMapped_withStatusMapped.csv")
df = df[["date", "district", "state", "state_code", "status", "status_change_date"]]
df["date"] = pd.to_datetime(df["date"], dayfirst=True).dt.date
df["status_change_date"] = pd.to_datetime(df["status_change_date"], dayfirst=True).dt.date
df = df[::10]
df.reset_index(inplace=True)
del df["index"]
df.reset_index(inplace=True)
df.rename(columns={"index":"id"}, inplace=True)
#df["district_lat"] = np.nan
#df["district_long"] = np.nan
#df["state_lat"] = np.nan
#df["state_long"] = np.nan
df.at[df["state"]=="Delhi", "district"] = "Delhi"
df

dfdll = pd.read_csv("../data/extracted_data_api/code_data/district_center_bounds.csv")
dfdll.at[dfdll["district"]=="New Delhi", "district"] = "Delhi"
dfsll = pd.read_csv("../data/extracted_data_api/code_data/state_center_bounds.csv")
dfsll.rename(columns={"location":"state"}, inplace=True)

####################### Map district names ###############################
district_list = df["district"].unique()
for i in range(len(district_list)):
    district_name = district_list[i]  # df.iloc[i]["district"]
    district_name_found = district_list[i]  # df.iloc[i]["district"]
    if district_name in data_to_map_district_name_mapping:
        district_name = data_to_map_district_name_mapping[district_name]

    if district_name in district_name_mapping:
        district_name = district_name_mapping[district_name]

    if district_name in district_name_wiki_mapping:
        district_name = district_name_wiki_mapping[district_name]

    if district_name in district_name_resolution:
        district_name = district_name+" ("+dfd["state"].unique()[0]+")"

    if district_name=="Aurangabad(MH)":
        district_name = "Aurangabad (Maharashtra)"

    df.at[df["district"]==district_name_found, "district"] = district_name
##########################################################################

df = df.set_index("district").join(dfdll[["district", "latitude", "longitude"]].set_index("district")).reset_index()
df.rename(columns={"latitude":"district_lat", "longitude":"district_long"}, inplace=True)
df = df[~pd.isnull(df["district_lat"])]
df = df.set_index("state").join(dfsll[["state", "latitude", "longitude"]].set_index("state")).reset_index()
df.rename(columns={"latitude":"state_lat", "longitude":"state_long"}, inplace=True)

df.sort_values("date", inplace=True)
df

,state,district,id,date,state_code,status,status_change_date,district_lat,district_long,state_lat,state_long
1915,Kerala,Thrissur,0,2020-01-30,KL,Recovered,2020-04-09,10.471392,76.315042,10.352874,76.512040
1658,Haryana,Gurgaon,1,2020-03-04,HR,Recovered,2020-04-01,28.368813,76.941136,29.000000,76.000000
4384,Rajasthan,Jaipur,2,2020-03-04,RJ,Recovered,2020-03-15,26.976868,75.718689,26.810578,73.768455
265,Delhi,Delhi,3,2020-03-06,DL,Recovered,2020-03-15,28.578610,77.147670,28.651718,77.221939
1745,Jammu and Kashmir,Jammu,4,2020-03-09,JK,Recovered,2020-04-29,32.798321,74.749358,34.047656,76.797289
1805,Karnataka,Bangalore,5,2020-03-10,KA,Recovered,2020-04-21,12.952255,77.594187,14.520390,75.722352
3678,Maharashtra,Pune,6,2020-03-10,MH,Hospitalized,2020-03-10,18.570765,74.068534,19.531932,76.055457
3579,Maharashtra,Nagpur,7,2020-03-11,MH,Recovered,2020-03-28,21.178173,79.085043,19.531932,76.055457
5492,Uttar Pradesh,Ghaziabad,8,2020-03-12,UP,Recovered,2020-03-14,28.767770,77.475813,27.130334,80.859666
5350,Uttar Pradesh,Agra,9,2020-03-13,UP,Recovered,2020-03-19,27.036633,78.075949,27.130334,80.859666
4385,Rajasthan,Jaipur,10,2020-03-14,RJ,Recovered,2020-03-15,26.976868,75.718689,26.810578,73.768455
5230,Telangana,Hyderabad,11,2020-03-15,TG,Deceased,2020-03-30,17.394355,78.470553,17.849592,79.115166
3945,Maharashtra,Thane,12,2020-03-16,MH,Hospitalized,2020-03-16,19.361309,73.322007,19.531932,76.055457
1659,Haryana,Gurgaon,13,2020-03-17,HR,Recovered,2020-03-23,28.368813,76.941136,29.000000,76.000000
5231,Telangana,Hyderabad,14,2020-03-17,TG,Recovered,2020-04-11,17.394355,78.470553,17.849592,79.115166
1806,Karnataka,Bangalore,15,2020-03-18,KA,Recovered,2020-03-30,12.952255,77.594187,14.520390,75.722352
4505,Rajasthan,Jhunjhunun,16,2020-03-18,RJ,Hospitalized,2020-03-18,28.092127,75.549985,26.810578,73.768455
266,Delhi,Delhi,17,2020-03-18,DL,Hospitalized,2020-03-18,28.578610,77.147670,28.651718,77.221939
5232,Telangana,Hyderabad,19,2020-03-19,TG,Recovered,2020-03-30,17.394355,78.470553,17.849592,79.115166
4681,Tamil Nadu,Chennai,18,2020-03-19,TN,Hospitalized,2020-03-19,13.043610,80.375228,10.909433,78.366535
1894,Kerala,Kasaragod,24,2020-03-20,KL,Recovered,2020-04-13,12.462569,75.152091,10.352874,76.512040
5298,Telangana,Karimnagar,25,2020-03-20,TG,Deceased,2020-03-30,18.378200,79.235737,17.849592,79.115166
1920,Ladakh,Leh(Ladakh),20,2020-03-20,LA,Recovered,2020-04-06,35.036381,76.805594,33.945641,77.656858
1870,Kerala,Ernakulam,23,2020-03-20,KL,Recovered,2020-04-11,10.083076,76.545244,10.352874,76.512040
1592,Gujarat,Vadodara,21,2020-03-20,GJ,Recovered,2020-05-02,22.812948,73.404784,22.415408,72.031497
1593,Gujarat,Vadodara,22,2020-03-20,GJ,Recovered,2020-04-02,22.812948,73.404784,22.415408,72.031497
50,Andhra Pradesh,Krishna,33,2020-03-21,AP,Recovered,2020-04-09,16.555696,80.797695,15.924091,80.186381
5058,Tamil Nadu,Erode,30,2020-03-21,TN,Recovered,2020-03-31,11.509138,77.428269,10.909433,78.366535
267,Delhi,Delhi,28,2020-03-21,DL,Recovered,2020-04-18,28.578610,77.147670,28.651718,77.221939
1871,Kerala,Ernakulam,32,2020-03-21,KL,Recovered,2020-04-20,10.083076,76.545244,10.352874,76.512040
...,...,...,...,...,...,...,...,...,...,...,...
5484,Uttar Pradesh,Gautam Buddha Nagar,4869,2020-05-08,UP,Recovered,2020-04-28,28.394052,77.556413,27.130334,80.859666
218,Bihar,Khagaria,5515,2020-05-08,BR,Hospitalized,NaT,25.510256,86.601390,25.644085,85.906508
219,Bihar,Khagaria,5527,2020-05-08,BR,Hospitalized,NaT,25.510256,86.601390,25.644085,85.906508
5513,Uttar Pradesh,Jalaun,5309,2020-05-08,UP,Hospitalized,NaT,26.091130,79.386536,27.130334,80.859666
5142,Tamil Nadu,Thiruvallur,5555,2020-05-08,TN,Hospitalized,NaT,13.217732,80.051652,10.909433,78.366535
2185,Madhya Pradesh,Indore,4674,2020-05-08,MP,Hospitalized,NaT,22.713559,75.782533,23.969928,79.394870
2183,Madhya Pradesh,Indore,4672,2020-05-08,MP,Recovered,2020-05-03,22.713559,75.782533,23.969928,79.394870
5564,Uttar Pradesh,Lucknow,5067,2020-05-08,UP,Recovered,2020-05-06,26.842020,80.905236,27.130334,80.859666
5144,Tamil Nadu,Thiruvallur,5557,2020-05-08,TN,Hospitalized,NaT,13.217732,80.051652,10.909433,78.366535
5145,Tamil Nadu,Thiruvallur,5558,2020-05-08,TN,Hospitalized,NaT,13.217732,80.051652,10.909433,78.366535
5146,Tamil Nadu,Thiruvallur,5559,2020-05-08,TN,Hospitalized,NaT,13.217732,80.051652,10.909433,78.366535
5147,Tamil Nadu,Thiruvallur,5560,2020-05-08,TN,Hospitalized,NaT,13.217732,80.051652,10.909433,78.366535
1655,Haryana,Faridabad,5282,2020-05-08,HR,Recovered,2020-05-05,28.348888,77.347273,29.000000,76.000000
5148,Tamil Nadu,Thiruvallur,5562,2020-05-08,TN,Hospitalized,NaT,13.217732,80.051652,10.909433,78.366535
5149,Tamil Nadu,Thiruvallur,5563,2020-05-08,TN,Hospitalized,NaT,13.217732,80.051652,10.909433,78.366535
5150,Tamil Nadu,Thiruvallur,5564,2020-05-08,TN,Hospitalized,NaT,13.217732,80.051652,10.909433,78.366535
1666,Haryana,Gurgaon,5114,2020-05-08,HR,Hospitalized,NaT,28.368813,76.941136,29.000000,76.000000
1708,Himachal Pradesh,Una,5538,2020-05-08,HP,Recovered,2020-05-02,31.579916,76.209682,31.816760,77.349321
1751,Jammu and Kashmir,Kulgam,5129,2020-05-08,JK,Hospitalized,NaT,33.601819,74.841742,34.047656,76.797289
1788,Jharkhand,North District,4800,2020-05-08,JH,Hospitalized,NaT,27.743494,88.527770,23.455981,85.255730
1789,Jharkhand,North District,4801,2020-05-08,JH,Hospitalized,NaT,27.743494,88.527770,23.455981,85.255730
1827,Karnataka,Belgaum,5617,2020-05-08,KA,Recovered,2020-05-06,16.121191,74.823669,14.520390,75.722352
1828,Karnataka,Belgaum,5618,2020-05-08,KA,Hospitalized,NaT,16.121191,74.823669,14.520390,75.722352
1867,Karnataka,Uttara Kannada,5619,2020-05-08,KA,Hospitalized,NaT,14.791843,74.619472,14.520390,75.722352
1868,Karnataka,Uttara Kannada,5620,2020-05-08,KA,Hospitalized,NaT,14.791843,74.619472,14.520390,75.722352
1986,Madhya Pradesh,Bhopal,4682,2020-05-08,MP,Recovered,2020-05-06,23.470280,77.390743,23.969928,79.394870
1987,Madhya Pradesh,Bhopal,4683,2020-05-08,MP,Hospitalized,NaT,23.470280,77.390743,23.969928,79.394870
1988,Madhya Pradesh,Bhopal,4684,2020-05-08,MP,Hospitalized,NaT,23.470280,77.390743,23.969928,79.394870
2184,Madhya Pradesh,Indore,4673,2020-05-08,MP,Hospitalized,NaT,22.713559,75.782533,23.969928,79.394870
5349,Tripura,North District,5539,2020-05-08,TR,Hospitalized,NaT,27.743494,88.527770,23.775082,91.702509

In [208]:
### Assign day_id
df["date"] = pd.to_datetime(df["date"], dayfirst=True).dt.date
df.sort_values("date", inplace=True)
start_date = df.head(1)["date"].values[0]
end_date = df.tail(1)["date"].values[0]
df["day_id"] = -1
cdt = start_date
while (cdt <= end_date):
    current_date_indx = df[df["date"]==cdt].index
    for i in range(len(current_date_indx)):
        df.at[current_date_indx[i], "day_id"] = i
    cdt+=timedelta(1)

### Assign district_id
df["district_id"] = -1
district_list = df["district"].unique()
for i in range(len(district_list)):
    district_name = district_list[i]
    dfd = df[df["district"]==district_name].copy()
    current_indx = dfd.index
    num_cases = len(dfd)
    for j in range(num_cases):
        df.at[current_indx[j], "district_id"] = int(j)

### Assign state
df["state_id"] = -1
state_list = df["state"].unique()
for i in range(len(state_list)):
    state_name = state_list[i]
    dfd = df[df["state"]==state_name].copy()
    current_indx = dfd.index
    num_cases = len(dfd)
    for j in range(num_cases):
        df.at[current_indx[j], "state_id"] = int(j)
df


dfdc = df.groupby("district").count()["id"].reset_index()
dfdc.rename(columns={"id":"num_cases_in_district"}, inplace=True)
df = df.set_index("district").join(dfdc.set_index("district")).reset_index()

dfsc = df.groupby("state").count()["id"].reset_index()
dfsc.rename(columns={"id":"num_cases_in_state"}, inplace=True)
df = df.set_index("state").join(dfsc.set_index("state")).reset_index()

df.sort_values("date", inplace=True)
df.to_csv("../data/09052020/code_data/scroll_data.csv", index=False)
df

,state,district,id,date,state_code,status,status_change_date,district_lat,district_long,state_lat,state_long,day_id,district_id,state_id,num_cases_in_district,num_cases_in_state
1915,Kerala,Thrissur,0,2020-01-30,KL,Recovered,2020-04-09,10.471392,76.315042,10.352874,76.512040,0,0,0,4,50.0
1658,Haryana,Gurgaon,1,2020-03-04,HR,Recovered,2020-04-01,28.368813,76.941136,29.000000,76.000000,0,0,0,10,62.0
4384,Rajasthan,Jaipur,2,2020-03-04,RJ,Recovered,2020-03-15,26.976868,75.718689,26.810578,73.768455,1,0,0,114,331.0
265,Delhi,Delhi,3,2020-03-06,DL,Recovered,2020-03-15,28.578610,77.147670,28.651718,77.221939,0,0,0,633,633.0
1745,Jammu and Kashmir,Jammu,4,2020-03-09,JK,Recovered,2020-04-29,32.798321,74.749358,34.047656,76.797289,0,0,0,6,77.0
1805,Karnataka,Bangalore,5,2020-03-10,KA,Recovered,2020-04-21,12.952255,77.594187,14.520390,75.722352,0,0,0,18,68.0
3678,Maharashtra,Pune,6,2020-03-10,MH,Hospitalized,2020-03-10,18.570765,74.068534,19.531932,76.055457,1,0,0,221,1855.0
3579,Maharashtra,Nagpur,7,2020-03-11,MH,Recovered,2020-03-28,21.178173,79.085043,19.531932,76.055457,0,0,1,23,1855.0
5492,Uttar Pradesh,Ghaziabad,8,2020-03-12,UP,Recovered,2020-03-14,28.767770,77.475813,27.130334,80.859666,0,0,0,12,309.0
5350,Uttar Pradesh,Agra,9,2020-03-13,UP,Recovered,2020-03-19,27.036633,78.075949,27.130334,80.859666,0,0,1,73,309.0
4385,Rajasthan,Jaipur,10,2020-03-14,RJ,Recovered,2020-03-15,26.976868,75.718689,26.810578,73.768455,0,1,1,114,331.0
5230,Telangana,Hyderabad,11,2020-03-15,TG,Deceased,2020-03-30,17.394355,78.470553,17.849592,79.115166,0,0,0,61,109.0
3945,Maharashtra,Thane,12,2020-03-16,MH,Hospitalized,2020-03-16,19.361309,73.322007,19.531932,76.055457,0,0,2,170,1855.0
1659,Haryana,Gurgaon,13,2020-03-17,HR,Recovered,2020-03-23,28.368813,76.941136,29.000000,76.000000,0,1,1,10,62.0
5231,Telangana,Hyderabad,14,2020-03-17,TG,Recovered,2020-04-11,17.394355,78.470553,17.849592,79.115166,1,1,1,61,109.0
1806,Karnataka,Bangalore,15,2020-03-18,KA,Recovered,2020-03-30,12.952255,77.594187,14.520390,75.722352,0,1,1,18,68.0
4505,Rajasthan,Jhunjhunun,16,2020-03-18,RJ,Hospitalized,2020-03-18,28.092127,75.549985,26.810578,73.768455,1,0,2,5,331.0
266,Delhi,Delhi,17,2020-03-18,DL,Hospitalized,2020-03-18,28.578610,77.147670,28.651718,77.221939,2,1,1,633,633.0
5232,Telangana,Hyderabad,19,2020-03-19,TG,Recovered,2020-03-30,17.394355,78.470553,17.849592,79.115166,0,2,2,61,109.0
4681,Tamil Nadu,Chennai,18,2020-03-19,TN,Hospitalized,2020-03-19,13.043610,80.375228,10.909433,78.366535,1,0,0,308,571.0
1894,Kerala,Kasaragod,24,2020-03-20,KL,Recovered,2020-04-13,12.462569,75.152091,10.352874,76.512040,5,0,2,14,50.0
5298,Telangana,Karimnagar,25,2020-03-20,TG,Deceased,2020-03-30,18.378200,79.235737,17.849592,79.115166,4,0,3,3,109.0
1920,Ladakh,Leh(Ladakh),20,2020-03-20,LA,Recovered,2020-04-06,35.036381,76.805594,33.945641,77.656858,3,0,0,3,4.0
1870,Kerala,Ernakulam,23,2020-03-20,KL,Recovered,2020-04-11,10.083076,76.545244,10.352874,76.512040,2,0,1,5,50.0
1592,Gujarat,Vadodara,22,2020-03-20,GJ,Recovered,2020-04-02,22.812948,73.404784,22.415408,72.031497,0,0,0,48,742.0
1593,Gujarat,Vadodara,21,2020-03-20,GJ,Recovered,2020-05-02,22.812948,73.404784,22.415408,72.031497,1,1,1,48,742.0
50,Andhra Pradesh,Krishna,33,2020-03-21,AP,Recovered,2020-04-09,16.555696,80.797695,15.924091,80.186381,0,0,0,30,186.0
5058,Tamil Nadu,Erode,30,2020-03-21,TN,Recovered,2020-03-31,11.509138,77.428269,10.909433,78.366535,1,0,1,8,571.0
267,Delhi,Delhi,28,2020-03-21,DL,Recovered,2020-04-18,28.578610,77.147670,28.651718,77.221939,2,2,2,633,633.0
1871,Kerala,Ernakulam,32,2020-03-21,KL,Recovered,2020-04-20,10.083076,76.545244,10.352874,76.512040,3,1,3,5,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4977,Tamil Nadu,Chennai,5495,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,295,296,554,308,571.0
4971,Tamil Nadu,Chennai,5493,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,243,290,545,308,571.0
4978,Tamil Nadu,Chennai,5511,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,297,297,555,308,571.0
4980,Tamil Nadu,Chennai,5509,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,307,299,562,308,571.0
4981,Tamil Nadu,Chennai,5500,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,309,300,563,308,571.0
4982,Tamil Nadu,Chennai,5494,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,310,301,564,308,571.0
4983,Tamil Nadu,Chennai,5499,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,311,302,565,308,571.0
4984,Tamil Nadu,Chennai,5498,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,312,303,566,308,571.0
4985,Tamil Nadu,Chennai,5497,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,313,304,567,308,571.0
4979,Tamil Nadu,Chennai,5507,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,306,298,561,308,571.0
4970,Tamil Nadu,Chennai,5523,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,241,289,544,308,571.0
4969,Tamil Nadu,Chennai,5524,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,224,288,542,308,571.0
4968,Tamil Nadu,Chennai,5522,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,223,287,541,308,571.0
4953,Tamil Nadu,Chennai,5512,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,170,272,526,308,571.0
4954,Tamil Nadu,Chennai,5554,2020-05-08,TN,Recovered,2020-05-05,13.043610,80.375228,10.909433,78.366535,172,273,527,308,571.0
4955,Tamil Nadu,Chennai,5492,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,194,274,528,308,571.0
4956,Tamil Nadu,Chennai,5491,2020-05-08,TN,Recovered,2020-04-27,13.043610,80.375228,10.909433,78.366535,195,275,529,308,571.0
4957,Tamil Nadu,Chennai,5490,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,196,276,530,308,571.0
4958,Tamil Nadu,Chennai,5525,2020-05-08,TN,Deceased,2020-04-28,13.043610,80.375228,10.909433,78.366535,207,277,531,308,571.0
4959,Tamil Nadu,Chennai,5520,2020-05-08,TN,Recovered,2020-05-07,13.043610,80.375228,10.909433,78.366535,208,278,532,308,571.0
4960,Tamil Nadu,Chennai,5526,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,211,279,533,308,571.0
4961,Tamil Nadu,Chennai,5519,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,212,280,534,308,571.0
4962,Tamil Nadu,Chennai,5516,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,215,281,535,308,571.0
4963,Tamil Nadu,Chennai,5553,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,216,282,536,308,571.0
4964,Tamil Nadu,Chennai,5521,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,217,283,537,308,571.0
4965,Tamil Nadu,Chennai,5551,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,218,284,538,308,571.0
4966,Tamil Nadu,Chennai,5552,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,219,285,539,308,571.0
4967,Tamil Nadu,Chennai,5518,2020-05-08,TN,Hospitalized,NaT,13.043610,80.375228,10.909433,78.366535,222,286,540,308,571.0
135,Andhra Pradesh,Kurnool,5150,2020-05-08,AP,Recovered,2020-05-03,15.532050,77.999105,15.924091,80.186381,177,55,184,56,186.0
1418,Gujarat,Ahmadabad,3908,2020-05-08,GJ,Hospitalized,NaT,22.785004,72.246901,22.415408,72.031497,155,519,737,524,742.0

In [62]:
dfll = pd.read_csv("../data/extracted_data_api/code_data/district_center_bounds.csv")

district_list = df["district"].unique()
dfcp = pd.DataFrame()
idx = 0
for i in range(len(district_list)):
    district_name = district_list[i]
    if district_name==district_name:
        dfd = df[df["district"]==district_name].copy()
        start_date = dfd.head(1)["date"].values[0]
        end_date = dfd.tail(1)["date"].values[0]
        district_total_case_count = int(len(dfd))
        max_district_radius = np.log10(district_total_case_count) #district_total_case_count/1000 #np.log2(district_total_case_count)/10
        cdt = pd.to_datetime(start_date).date()

        if district_name in data_to_map_district_name_mapping:
            district_name = data_to_map_district_name_mapping[district_name]

        if district_name in district_name_mapping:
            district_name = district_name_mapping[district_name]
        
        if district_name in district_name_wiki_mapping:
            district_name = district_name_wiki_mapping[district_name]
        
        if district_name in district_name_resolution:
            district_name = district_name+" ("+dfd["state"].unique()[0]+")"
            
        if district_name in district_list_not_in_map:
            break

        if district_name=="Aurangabad(MH)":
            district_name = "Aurangabad (Maharashtra)"

        if district_name=="Delhi":
            dflld = dfll[dfll["district"]=="New Delhi"].copy()
        else:
            dflld = dfll[dfll["district"]==district_name].copy()

        if len(dflld)==0:
            print(district_name + ": No lat long data")
        elif len(dflld)>1:
            print(district_name + ": More than one lat long data")
        else:
            district_center_lat = dflld["latitude"].values[0]
            district_center_long = dflld["longitude"].values[0]

            while (cdt <= end_date):
                num_cases = len(dfd[dfd["date"]==cdt])
                pid_array = dfd[dfd["date"]==cdt]["id"].values
                
                for c in range(num_cases):
                    theta = random.uniform(0, 360)
                    radius = c/num_cases*max_district_radius #random.uniform(0, max_district_radius)
                    patient_district_lat = district_center_lat #+ radius*np.cos(theta*np.pi/180) 
                    patient_district_long = district_center_long #+ radius*np.sin(theta*np.pi/180) 

                    pid = pid_array[c]
                    df.at[df["id"]==pid, "district_lat"] = patient_district_lat
                    df.at[df["id"]==pid, "district_long"] = patient_district_long
                    
                    idx+=1

                cdt += timedelta(days=1)

Ranipet: No lat long data
Chengalpattu: No lat long data

In [52]:
dfll = pd.read_csv("../data/extracted_data_api/code_data/state_center_bounds.csv")

state_list = df["state"].unique()
dfcp = pd.DataFrame()
idx = 0
for i in range(len(state_list)):
    state_name = state_list[i]
    if state_name==state_name:
        dfd = df[df["state"]==state_name].copy()
        start_date = dfd.head(1)["date"].values[0]
        end_date = dfd.tail(1)["date"].values[0]
        state_total_case_count = int(len(dfd))
        max_state_radius = np.log10(state_total_case_count) #state_total_case_count/1000 #np.log2(district_total_case_count)/10
        cdt = pd.to_datetime(start_date).date()

        dflld = dfll[dfll["location"]==state_name].copy()

        if len(dflld)==0:
            print(state_name + ": No lat long data")
        elif len(dflld)>1:
            print(state_name + ": More than one lat long data")
        else:
            state_center_lat = dflld["latitude"].values[0]
            state_center_long = dflld["longitude"].values[0]

            while (cdt <= end_date):
                num_cases = len(dfd[dfd["date"]==cdt])
                pid_array = dfd[dfd["date"]==cdt]["id"].values
                
                for c in range(num_cases):
                    theta = random.uniform(0, 360)
                    radius = c/num_cases*max_state_radius #random.uniform(0, max_district_radius)
                    patient_state_lat = state_center_lat + radius*np.cos(theta*np.pi/180) 
                    patient_state_long = state_center_long + radius*np.sin(theta*np.pi/180) 

                    pid = pid_array[c]
                    df.at[df["id"]==pid, "state_lat"] = patient_state_lat
                    df.at[df["id"]==pid, "state_long"] = patient_state_long
                    
                    idx+=1

                cdt += timedelta(days=1)

df.to_csv("../data/09052020/code_data/outbreak_spread_case_location.csv", index=False)

Dadra and Nagar Haveli and Daman and Diu: No lat long data

### State testing vs ncases - scroll

In [214]:
dfdp = pd.read_csv("../data/wiki_scrape/district_population_wiki_withNameMapped.csv")
dfdp = dfdp.groupby("state").sum()["population"].reset_index()

dfsll = pd.read_csv("../data/extracted_data_api/code_data/state_center_bounds.csv")
dfsll.rename(columns={"location":"state"}, inplace=True)

df = pd.read_csv("../data/"+folder+"/code_data/state_case_death_testpm_ntod.csv")
data_till_date = "2020-05-13"
df = df[["state", "state_name", data_till_date+"_cases", data_till_date+"_deaths", data_till_date+"_testspm", data_till_date+"_ntod"]]
df.columns = ["state", "state_name", "cases", "deaths", "testspm", "ntod"]
#df = df[df["cases"]>=100]
df.rename(columns={"state":"state_code", "state_name":"state"}, inplace=True)
df = df.set_index("state").join(dfdp.set_index("state")).reset_index()
df["casespm"] = df["cases"] / df["population"] * 1e6
df["casespm"] = np.round(df["casespm"], 2)

df = df.set_index("state").join(dfsll[["state", "latitude", "longitude"]].set_index("state")).reset_index()
df.rename(columns={"latitude":"state_lat", "longitude":"state_long"}, inplace=True)
df.sort_values("cases", inplace=True, ascending=False)
df.reset_index(inplace=True)
del df["index"]
df.reset_index(inplace=True)
df.rename(columns={"index":"state_id"}, inplace=True)
df.to_csv("../data/"+folder+"/code_data/scroll_state_data.csv", index=False)
df

,state_id,state,state_code,cases,deaths,testspm,ntod,population,casespm,state_lat,state_long
0,0,Maharashtra,MH,25922.0,974.0,2002.80,11.98,115369105.0,224.69,19.531932,76.055457
1,1,Gujarat,GJ,9268.0,566.0,1843.40,15.60,64845397.0,142.92,22.415408,72.031497
2,2,Tamil Nadu,TN,9227.0,64.0,3530.04,8.45,75547848.0,122.13,10.909433,78.366535
3,3,Delhi,DL,7998.0,106.0,6751.57,15.15,16787941.0,476.41,28.651718,77.221939
4,4,Rajasthan,RJ,4278.0,121.0,2837.08,19.85,68621012.0,62.34,26.810578,73.768455
5,5,Madhya Pradesh,MP,4173.0,233.0,1183.27,15.88,72597832.0,57.48,23.969928,79.394870
6,6,Uttar Pradesh,UP,3758.0,86.0,707.43,23.50,205867440.0,18.25,27.130334,80.859666
7,7,West Bengal,WB,2290.0,207.0,620.34,11.46,92903903.0,24.65,22.996495,87.685588
8,8,Andhra Pradesh,AP,2137.0,47.0,4074.54,28.98,49378776.0,43.28,15.924091,80.186381
9,9,Punjab,PB,1924.0,32.0,1508.51,50.34,30510873.0,63.06,30.929321,75.500484
10,10,Jammu and Kashmir,JK,971.0,10.0,4659.04,26.10,12258093.0,79.21,34.047656,76.797289
11,11,Karnataka,KA,959.0,33.0,1984.99,18.99,61047156.0,15.71,14.520390,75.722352
12,12,Bihar,BR,953.0,7.0,377.09,8.51,103817951.0,9.18,25.644085,85.906508
13,13,Haryana,HR,793.0,11.0,2544.35,20.84,25855357.0,30.67,29.000000,76.000000
14,14,Kerala,KL,535.0,4.0,1179.48,77.16,33387677.0,16.02,10.352874,76.512040
15,15,Chandigarh,CH,191.0,3.0,2292.86,20.74,1055450.0,180.97,30.719402,76.764655
16,16,Jharkhand,JH,177.0,3.0,692.07,44.88,32966238.0,5.37,23.455981,85.255730
17,17,Tripura,TR,153.0,0.0,2817.74,NaN,3671032.0,41.68,23.775082,91.702509
18,18,Assam,AS,80.0,1.0,645.93,NaN,33735719.0,2.37,26.407384,93.255130
19,19,Himachal Pradesh,HP,67.0,3.0,1923.72,23.37,6856509.0,9.77,31.816760,77.349321
20,20,Ladakh,LA,43.0,0.0,12058.85,NaN,290492.0,148.02,33.945641,77.656858
21,21,Andaman and Nicobar Islands,AN,33.0,0.0,9863.87,NaN,380581.0,86.71,10.218834,92.577133
22,22,Meghalaya,ML,13.0,1.0,737.02,NaN,3364915.0,3.86,25.537943,91.299910
23,23,Puducherry,PY,13.0,0.0,3941.65,NaN,1247953.0,10.42,11.934057,79.830645
24,24,Goa,GA,7.0,0.0,3640.61,NaN,1457723.0,4.80,15.300454,74.085513
25,25,Manipur,MN,2.0,0.0,446.60,NaN,2993721.0,0.67,24.720882,93.922939
26,26,Mizoram,MZ,1.0,0.0,205.31,NaN,1091014.0,0.92,23.214617,92.868761
27,27,Arunachal Pradesh,AR,1.0,0.0,1338.16,NaN,1686644.0,0.59,27.689171,96.459723
28,28,Nagaland,NL,0.0,0.0,380.70,NaN,2335175.0,0.00,NaN,NaN
29,29,Lakshadweep,LD,0.0,0.0,NaN,NaN,64473.0,0.00,NaN,NaN
30,30,Sikkim,SK,0.0,0.0,572.66,NaN,607688.0,0.00,NaN,NaN
31,31,Dadra and Nagar Haveli,DD,0.0,0.0,NaN,NaN,586956.0,0.00,20.273517,73.004358

In [105]:
state_name_mapping = {'odisha':'Odisha', 'telangana':'Telangana', 'meghalaya':'Meghalaya','karnataka':'Karnataka',
                     'haryana':'Haryana','bihar':'Bihar','andhrapradesh':'Andhra Pradesh','jammukashmir':'Jammu and Kashmir',
                     'westbengal':'West Bengal','kerala':'Kerala','chhattisgarh':'Chhattisgarh','andamannicobarislands':'Andaman and Nicobar Islands',
                     'jharkhand':'Jharkhand','ladakh':'Ladakh','uttarpradesh':'Uttar Pradesh','mizoram':'Mizoram','lakshadweep':'Lakshadweep',
                     'nagaland':'Nagaland','tamilnadu':'Tamil Nadu','dadranagarhaveli':'Dadra and Nagar Haveli','delhi':'Delhi',
                     'puducherry':'Puducherry','madhyapradesh':'Madhya Pradesh','arunachalpradesh':'Arunachal Pradesh','uttarakhand':'Uttarakhand',
                     'manipur':'Manipur','tripura':'Tripura','gujarat':'Gujarat','goa':'Goa','assam':'Assam','maharashtra':'Maharashtra',
                     'punjab':'Punjab','sikkim':'Sikkim','rajasthan':'Rajasthan','chandigarh':'Chandigarh','himachalpradesh':'Himachal Pradesh'}

state_name_mapping_howindialives = {"Jammu & Kashmir":"Jammu and Kashmir",
                                    "A& N Islands":"Andaman and Nicobar Islands",
                                    "D & N Haveli":"Dadra and Nagar Haveli"}

district_name_mapping = {"Jagitial":"Jagtial", "Jangoan":"Jangaon", "Kumuram Bheem Asifabad":"Komaram Bheem Asifabad",
                         "Mahabubnagar": "Mahbubnagar", "Ranga Reddy": "Rangareddy", "Yadadri Bhuvanagiri":"Yadadri Bhongir",
                         "Jayashankar": "Jayashankar Bhupalapally",
                         "West Khasi Hills":"West khasi Hills", "East Jaintia Hills":"East Jainta Hills",
                        "Kalaburagi":"Gulbarga", "Belagavi":"Belgaum", "Bagalkote":"Bagalkot", "Ballari":"Bellary",
                        "Shivamogga":"Shimoga", "Chikkamagaluru":"Chikmagalur", "Bengaluru Rural":"Bangalore Rural",
                        "Bengaluru":"Bangalore", "Bengaluru Urban":"Bangalore", "Chamarajanagara":"Chamarajanagar", "Tumakuru":"Tumkur", "Mysuru":"Mysore","Vijayapura":"Bijapur",
                        "Gurugram":"Gurgaon", "Mahendragarh":"Narnaul","Charki Dadri":"Ch-Dadri",
                        "West Champaran": "Pashchim Champaran", "East Champaran":"Purba Champaran", "Kaimur Bhabhua":"Kaimur (Bhabua)", "Kaimur Bhabua":"Kaimur (Bhabua)",
                        "S.P.S. Nellore":"Nellore", "Chittoor":"chittoor",
                        "South 24 Parganas":"South Twenty Four Parganas", "Medinipur West":"Paschim Medinipur", "Medinipur East":"Purba Medinipur",
                        "Darjeeling":"Darjiling", "Purulia":"Puruliya", "North 24 Parganas":"North Twenty Four Parganas", "Hooghly":"Hugli",
                        "Howrah":"Haora", "Cooch Behar":"Koch Bihar",
                        "Gariaband":"Gariyaband", "Kabeerdham":"Kawardha", "Janjgir Champa":"Janjgir - Champa", "Bametara":"Bemetara",
                        "Baloda Bazar":"Balodabazar",
                        "North and Middle Andaman":"North & Middle Andman", "South Andaman":"South Andman","Nicobars":"Nicobar",
                        "Saraikela-kharsawan":"Saraikela-Kharsawan",
                        "Leh":"Leh(Ladakh)",
                        "Amroha":"J P Nagar (Amroha)", "Kheri":"Lakhimpur Kheri", "Kasganj":"Kanshiram Nagar", "Prayagraj":"Allahabad",
                        "Bhadohi":"Sant Ravidas Nagar (Bhadohi)", "Amethi":"C S M Nagar (Amethi)",
                        "Thoothukudi":"Thoothukkudi","Dadra and Nagar Haveli":"Uni District UT", 
                        "Khargone":"Khargone (West Nimar)", "Khandwa":"Khandwa (East Nimar)", "Ashoknagar":"Ashok Nagar",
                        "Kra Daadi":"Kra daadi", "Lower Dibang Valley":"Lower Dibang valley", "Upper Dibang Valley":"Dibang Valley",
                        "Haridwar":"Hardwar", "Noney":"None", "Pherzawl":"Pherjawl", "Sipahijala":"Sepahijala District","Gomati":"Gomati District",
                        "Khowai":"Khowai District", "Unokoti":"Unakoti District", "The Dangs":"Dang", "Chota Udaipur":"Chhota Udepur",
                        "Aravalli":"Arvalli",
                        "S.A.S. Nagar":"Mohali", "Sri Muktsar Sahib":"Muktsar","Jalore":"Jalor",
                        "Jhunjhunu":"Jhunjhunun", "Lahul and Spiti":"Lahul & Spiti","North  District":"North District"
                        }


district_name_resolution = ["Aurangabad", "Bijapur", "Raigarh", "Bilaspur", "Balrampur", "Hamirpur", "Pratapgarh"]

"""
district_name_unmapped_old = ["Muzaffarabad", "Mirpur", "Shi Yomi", "Pakke Kessang", "Pakke-Kessang", "Lepa Rada", "Pauri Garhwal",
                         "Charaideo", "Majuli", "Biswanath", "Hojai", "South Salmara Mancachar",
                         "Shahid Bhagat Singh Nagar", "West Karbi Anglong"]
"""

district_name_wiki_mapping = {"Sri Potti Sriramulu Nellore":"Nellore", "Kadapa":"Y.S.R.",
    "Dantewada":"Dakshin Bastar Dantewada", "Janjgir-Champa":"Janjgir - Champa","Kabirdham":"Kawardha", "Kanker":"Uttar Bastar Kanker",
    "Ahmedabad":"Ahmadabad", "Banaskantha": "Banas Kantha", "Dahod":"Dohad", "Devbhoomi Dwarka":"Devbhumi Dwarka",
    "Kutch":"Kachchh", "Mehsana":"Mahesana", "Panchmahal":"Panch Mahals", "Sabarkantha":"Sabar Kantha",
    "Charkhi Dadri":"Ch-Dadri", "Hissar":"Hisar", "Yamuna Nagar":"Yamunanagar",
    "Lahaul and Spiti":"Lahul & Spiti",
    "East Singhbhum":"Purbi Singhbhum", "West Singhbhum":"Pashchimi Singhbhum", "Hazaribag":"Hazaribagh", "Koderma":"Kodarma", "Seraikela Kharsawan":"Saraikela-Kharsawan",
    "Bangalore Urban":"Bangalore","Chamarajnagar":"Chamarajanagar","Chikkaballapur":"Chikkaballapura",
    "Narsinghpur":"Narsimhapur", "Ahmednagar":"Ahmadnagar", "Beed":"Bid", "Buldhana":"Buldana", "Gondia":"Gondiya", "Mumbai City":"Mumbai","Mumbai suburban":"Mumbai Suburban",
    "Raigad":"Raigarh (Maharashtra)","Ri Bhoi":"Ribhoi", "Angul":"Anugul", "Boudh (Bauda)":"Baudh", "Boudh":"Baudh", "Bargarh (Baragarh)":"Bargarh", "Balasore":"Baleshwar",
    "Debagarh (Deogarh)":"Debagarh", "Jajpur":"Jajapur", "Jagatsinghpur":"Jagatsinghapur","Kendujhar (Keonjhar)":"Kendujhar", "Nabarangpur":"Nabarangapur", "Subarnapur (Sonepur)":"Subarnapur",
    "Chittorgarh":"Chittaurgarh", "Dholpur":"Dhaulpur", "East Sikkim":"East District", "North Sikkim":"North District", "South Sikkim":"South District", "West Sikkim":"West District",
    "Kanchipuram":"Kancheepuram", "Kanyakumari":"Kanniyakumari", "Nilgiris":"The Nilgiris", "Tirupur":"Tiruppur",
    "Tiruvallur":"Thiruvallur","Tiruvarur":"Thiruvarur", "Komaram Bheem":"Komaram Bheem Asifabad","Jayashankar Bhupalpally":"Jayashankar Bhupalapally", "Medchal-Malkajgiri":"Medchal Malkajgiri",
    "Sepahijala":"Sepahijala District", "Bagpat":"Baghpat", "Barabanki":"Bara Banki", "Gautam Buddh Nagar":"Gautam Buddha Nagar",
    "Maharajganj":"Mahrajganj", "Raebareli":"Rae Bareli", "Shravasti":"Shrawasti","Bandipora":"Bandipore", "Baramulla":"Baramula",
    "Poonch":"Punch", "Shopian":"Shupiyan","Mah√©":"Mahe","Pondicherry":"Puducherry",
    "Kaimur":"Kaimur (Bhabua)", "Sahibzada Ajit Singh Nagar":"Mohali","Jalore":"Jalor"
}

district_name_unmapped = ["Muzaffarabad", "Mirpur", "Shi Yomi", "Pakke Kessang", "Pakke-Kessang", "Lepa Rada", "Pauri Garhwal",
                         "Charaideo", "Majuli", "Biswanath", "Hojai", "South Salmara Mancachar", "South Salmara", "Bishwanath",
                         "Shahid Bhagat Singh Nagar", "West Karbi Anglong",
                         "Gaurela-Pendra-Marwahi", "Chachaura-Binaganj", "Maihar", "Niwari", "Nagda", "Noklak",
                         "Sahibzada Ajit Singh Nagar", "Jalore", "Chengalpattu", "Kallakurichi", "Mayiladuthurai",
                         "Ranipet","Tenkasi","Tirupattur", "Daman", "Diu", "Niwari", "Tirupathur"]

def resolve_district_name(state_name, district_name):
    if ((state_name=="bihar") and (district_name=="Aurangabad")):
        district_name = "Aurangabad (Bihar)"
    if ((state_name=="Bihar") and (district_name=="Aurangabad")):
        district_name = "Aurangabad (Bihar)"
    if ((state_name=="maharashtra") and (district_name=="Aurangabad")):
        district_name = "Aurangabad (Maharashtra)"
    if ((state_name=="Maharashtra") and (district_name=="Aurangabad")):
        district_name = "Aurangabad (Maharashtra)"

    if ((state_name=="karnataka") and (district_name=="Bijapur")):
        district_name = "Bijapur (Karnataka)"
    if ((state_name=="Karnataka") and (district_name=="Bijapur")):
        district_name = "Bijapur (Karnataka)"
    if ((state_name=="chhattisgarh") and (district_name=="Bijapur")):
        district_name = "Bijapur (Chhattisgarh)"
    if ((state_name=="Chhattisgarh") and (district_name=="Bijapur")):
        district_name = "Bijapur (Chhattisgarh)"

    if ((state_name=="maharashtra") and (district_name=="Raigarh")):
        district_name = "Raigarh (Maharashtra)"
    if ((state_name=="Maharashtra") and (district_name=="Raigarh")):
        district_name = "Raigarh (Maharashtra)"
    if ((state_name=="chhattisgarh") and (district_name=="Raigarh")):
        district_name = "Raigarh (Chhattisgarh)"
    if ((state_name=="Chhattisgarh") and (district_name=="Raigarh")):
        district_name = "Raigarh (Chhattisgarh)"
    
    if ((state_name=="himachalpradesh") and (district_name=="Bilaspur")):
        district_name = "Bilaspur (Himachal Pradesh)"
    if ((state_name=="Himachal Pradesh") and (district_name=="Bilaspur")):
        district_name = "Bilaspur (Himachal Pradesh)"
    if ((state_name=="chhattisgarh") and (district_name=="Bilaspur")):
        district_name = "Bilaspur (Chhattisgarh)"
    if ((state_name=="Chhattisgarh") and (district_name=="Bilaspur")):
        district_name = "Bilaspur (Chhattisgarh)"
    
    if ((state_name=="uttarpradesh") and (district_name=="Balrampur")):
        district_name = "Balrampur (Uttar Pradesh)"
    if ((state_name=="Uttar Pradesh") and (district_name=="Balrampur")):
        district_name = "Balrampur (Uttar Pradesh)"
    if ((state_name=="chhattisgarh") and (district_name=="Balrampur")):
        district_name = "Balrampur (Chhattisgarh)"
    if ((state_name=="Chhattisgarh") and (district_name=="Balrampur")):
        district_name = "Balrampur (Chhattisgarh)"

    if ((state_name=="uttarpradesh") and (district_name=="Hamirpur")):
        district_name = "Hamirpur (Uttar Pradesh)"
    if ((state_name=="Uttar Pradesh") and (district_name=="Hamirpur")):
        district_name = "Hamirpur (Uttar Pradesh)"
    if ((state_name=="himachalpradesh") and (district_name=="Hamirpur")):
        district_name = "Hamirpur (Himachal Pradesh)"
    if ((state_name=="Himachal Pradesh") and (district_name=="Hamirpur")):
        district_name = "Hamirpur (Himachal Pradesh)"
    
    if ((state_name=="uttarpradesh") and (district_name=="Pratapgarh")):
        district_name = "Pratapgarh (Uttar Pradesh)"
    if ((state_name=="Uttar Pradesh") and (district_name=="Pratapgarh")):
        district_name = "Pratapgarh (Uttar Pradesh)"
    if ((state_name=="rajasthan") and (district_name=="Pratapgarh")):
        district_name = "Pratapgarh (Rajasthan)"
    if ((state_name=="Rajasthan") and (district_name=="Pratapgarh")):
        district_name = "Pratapgarh (Rajasthan)"


    return district_name

### Derive status for raw data 1 and raw data 2 -- One time code

In [120]:
"""
df1 = pd.read_csv("../data/"+folder+"/raw_data1.csv")
df1.dropna(subset=["Date Announced"], inplace=True)

df2 = pd.read_csv("../data/"+folder+"/raw_data2.csv")
df2.dropna(subset=["Date Announced"], inplace=True)

df = df1.append(df2)

df.rename(columns={"Contracted from which Patient (Suspected)":"contracted_from", "Current Status":"status", "Notes":"notes",
                   "Detected City":"city", "Detected District":"district", "Detected State": "state","State code":"state_code",
                   "Date Announced":"date", "Type of transmission":"transmission_type", "Age Bracket":"age", "Gender":"gender",
                   "State Patient Number": "state_pid", "Patient Number":"pid", "Status Change Date":"status_change_date"}, inplace=True)
df = df[["pid", "date", "city", "district", "state", "state_code", "contracted_from", "status", "transmission_type", "notes", "status_change_date"]]
df["date"] = pd.to_datetime(df["date"], dayfirst=True)
df["status_change_date"] = pd.to_datetime(df["status_change_date"], dayfirst=True)
df["status_change_date"] = df["date"]
df["derived_status"] = "Hospitalized"
df["is_derived_status_updated"] = 0

df.reset_index(inplace=True)
del df["index"]

dfsd = pd.read_csv("../data/"+folder+"/statewise_daily_deceased.csv")
del dfsd["TT"]
dfsd["date"] = pd.to_datetime(dfsd["date"], dayfirst=True)
dfsd

dfsr = pd.read_csv("../data/"+folder+"/statewise_daily_recovered.csv")
del dfsr["TT"]
dfsr["date"] = pd.to_datetime(dfsr["date"], dayfirst=True)

dfr = df.copy()

num_recovered = 0
num_deceased = 0

for col in dfsd.columns:
    start_date = pd.datetime(2020,3,14)
    end_date = pd.datetime(2020,4,26)
    current_date = start_date
    print(col)

    if col!="date":
        state_code = col
        
        while(current_date<=end_date):
            
            num_deaths_state_on_day = int(dfsd[(dfsd["date"]==current_date)][state_code].values[0])
            num_recoveries_state_on_day = int(dfsr[(dfsr["date"]==current_date)][state_code].values[0])
            
            if num_deaths_state_on_day>0:
                idxs = dfr[(dfr["date"]<current_date) & (dfr["state_code"]==state_code) & (dfr["is_derived_status_updated"]==0)].index
                if len(idxs)>0:
                    random_idx = idxs[random.sample(range(len(idxs)), num_deaths_state_on_day)]
                    for idx in random_idx:
                        dfr.at[dfr.index==idx, "status_change_date"] = current_date
                        dfr.at[dfr.index==idx, "derived_status"] = "Deceased"
                        dfr.at[dfr.index==idx, "is_derived_status_updated"] = 1
                        num_deceased += 1
            
            if num_recoveries_state_on_day>0:
                idxs = dfr[(dfr["date"]<current_date) & (dfr["state_code"]==state_code) & (dfr["is_derived_status_updated"]==0)].index
                if len(idxs)>0:
                    random_idx = idxs[random.sample(range(len(idxs)), num_recoveries_state_on_day)]
                    for idx in random_idx:
                        dfr.at[dfr.index==idx, "status_change_date"] = current_date
                        dfr.at[dfr.index==idx, "derived_status"] = "Recovered"
                        dfr.at[dfr.index==idx, "is_derived_status_updated"] = 1
                        num_recovered += 1
                
            current_date += timedelta(1)
dfr.to_csv("../data/06052020/raw_data1_data2_withStatusMapped.csv", index=False)
"""
print("One time code")

One time code

In [ ]:
### full_data_patient_level_withoutDistrictMapped_withoutStatusMapped
"""
df = pd.read_csv("../data/06052020/one_time/raw_data1_data2_withStatusMapped.csv")
del df["status"]
df.rename(columns={"derived_status":"status"}, inplace=True)
df["num_cases"] = 1
df = df[["pid", "date", "city", "district", "state", "state_code", "contracted_from", "status", "transmission_type", "notes", "status_change_date", "is_derived_status_updated", "num_cases"]]

df3 = pd.read_csv("../data/"+folder+"/raw_data3.csv")
df3.rename(columns={"Contracted from which Patient (Suspected)":"contracted_from", "Current Status":"status", "Notes":"notes",
                   "Detected City":"city", "Detected District":"district", "Detected State": "state","State code":"state_code",
                   "Date Announced":"date", "Type of transmission":"transmission_type", "Age Bracket":"age", "Gender":"gender",
                   "State Patient Number": "state_pid", "Patient Number":"pid", "Status Change Date":"status_change_date",
                   "Num Cases":"num_cases"}, inplace=True)
df3["is_derived_status_updated"] = 0
df3 = df3[["pid", "date", "city", "district", "state", "state_code", "contracted_from", "status", "transmission_type", "notes", "status_change_date", "is_derived_status_updated", "num_cases"]]
df3.dropna(subset=["date", "state"], inplace=True)
df3h = df3[df3["status"] == "Hospitalized"].copy()

dfh = df3h.copy()
dfh.sort_values("num_cases",ascending=False, inplace=True)
dfh.reset_index(inplace=True)
del dfh["index"]
dfh

dfr = df.copy()
dfr.reset_index(inplace=True)
del dfr["index"]
#dfr = pd.DataFrame(columns=dfh.columns)

idx=0
ncases = 0

for i in range(len(dfh)):
    if i%500==0:
        print(i)
    current_num_cases = dfh.iloc[i]["num_cases"]
    state_name = dfh.iloc[i]["state"]
    district_name = dfh.iloc[i]["district"]

    if ( (current_num_cases>0) and (current_num_cases==current_num_cases) ):
        current_num_cases = int(current_num_cases)
        dfr = dfr.append([dfh.iloc[i]]*current_num_cases, ignore_index=True)
        ncases += current_num_cases

    elif ( (current_num_cases<0) and (current_num_cases==current_num_cases) ):
        current_num_cases = int(current_num_cases)
        
        if (district_name==district_name):
            if len(dfr[ (dfr["district"]==district_name) & (dfr["state"]==state_name) & (dfr["status"]=="Hospitalized")])>=abs(current_num_cases):
                dft = dfr[ (dfr["district"]==district_name) & (dfr["state"]==state_name) & (dfr["status"]=="Hospitalized")]
            else:
                dft = dfr[ (pd.isnull(dfr["district"])) & (dfr["state"]==state_name) & (dfr["status"]=="Hospitalized")]
        else:
            dft = dfr[ (pd.isnull(dfr["district"])) & (dfr["state"]==state_name) ]
        del_index_list = dft.index[np.random.choice(range(0,len(dft)), abs(current_num_cases), replace=False)]
        dfr.drop(dfr.index[del_index_list], inplace=True)
        ncases += current_num_cases

    if ((dfh[0:i+1]["num_cases"].sum())+ len(df))!=len(dfr):
        print("-----"+str(i)+"------")
        
dfr["num_cases"] = 1
dfr.to_csv("../data/09052020/one_time/full_data_patient_level_withoutDistrictMapped_withoutStatusMapped.csv", index=False)
"""
print("one time")

In [ ]:
"""
df3 = pd.read_csv("../data/09052020/raw_data3.csv")
df3.rename(columns={"Contracted from which Patient (Suspected)":"contracted_from", "Current Status":"status", "Notes":"notes",
                   "Detected City":"city", "Detected District":"district", "Detected State": "state","State code":"state_code",
                   "Date Announced":"date", "Type of transmission":"transmission_type", "Age Bracket":"age", "Gender":"gender",
                   "State Patient Number": "state_pid", "Patient Number":"pid", "Status Change Date":"status_change_date",
                   "Num Cases":"num_cases"}, inplace=True)
df3["is_derived_status_updated"] = 0
df3 = df3[["pid", "date", "city", "district", "state", "state_code", "contracted_from", "status", "transmission_type", "notes", "status_change_date", "is_derived_status_updated", "num_cases"]]
df3.dropna(subset=["date", "state"], inplace=True)
df3nh = df3[df3["status"]!="Hospitalized"].copy()
df3nh["status_change_date"] = df3nh["date"]
df3nh.reset_index(inplace=True)
del df3nh["index"]

df = pd.read_csv("../data/09052020/one_time/full_data_patient_level_withoutDistrictMapped_withoutStatusMapped.csv")

for i in range(len(df3nh)):
    current_date = df3nh.iloc[i]["date"]
    status = df3nh.iloc[i]["status"]
    state_name = df3nh.iloc[i]["state"]
    district_name = df3nh.iloc[i]["district"]
    num_status_update = df3nh.iloc[i]["num_cases"]

    if (num_status_update==num_status_update) and (num_status_update>0):
        dft = df[(df["state"]==state_name) & (df["district"]==district_name) & (df["status"]=="Hospitalized")]
        if len(dft) < num_status_update:
            dft = df[(df["state"]==state_name) & (pd.isnull(df["district"])) & (df["status"]=="Hospitalized")]
        if len(dft)>0:
            update_index_list = dft.index[np.random.choice(range(0,len(dft)), min(len(dft), int(num_status_update)), replace=False)]
            for idx in update_index_list:
                df.at[df.index==idx, "status_change_date"] = current_date
                df.at[df.index==idx, "status"] = status
                df.at[df.index==idx, "is_derived_status_updated"] = 1
    
    elif (num_status_update==num_status_update) and (num_status_update<0):
        dft = df[(df["state"]==state_name) & (df["district"]==district_name) & (df["status"]==status)]
        if len(dft) < abs(num_status_update):
            dft = df[(df["state"]==state_name) & (pd.isnull(df["district"])) & (df["status"]==status)]
        if len(dft)>0:
            del_index_list = dft.index[np.random.choice(range(0,len(dft)), min(len(dft), abs(int(num_status_update))), replace=False)]
            df.drop(del_index_list, inplace=True)
            
df.to_csv("../data/09052020/one_time/full_data_patient_level_withoutDistrictMapped_withStatusMapped.csv")
"""
"""
df = pd.read_csv("../data/09052020/one_time/full_data_patient_level_withoutDistrictMapped_withStatusMapped.csv")
del df["Unnamed: 0"]
df["date"] = pd.to_datetime(df["date"], dayfirst=True)
df["status_change_date"] = pd.to_datetime(df["status_change_date"], dayfirst=True)
df.to_csv("../data/09052020/one_time/full_data_patient_level_withoutDistrictMapped_withStatusMapped.csv", index=False)
"""
print("One time")

In [ ]:
"""
df = pd.read_csv("../data/09052020/one_time/full_data_patient_level_withoutDistrictMapped_withStatusMapped.csv")
df.at[ (pd.isnull(df["district"])) & (df["state"]=="Delhi"), "district" ] = "Delhi"

dfd = pd.read_csv("../data/"+folder+"/derived/district_confirmed_active_recovered_deceased_population_casespm.csv")
state_list = dfd["state"].unique()

for st in state_list:
    if st not in ["Delhi"]:
        dfds = dfd[dfd["state"]==st].copy()
        dfds.sort_values("confirmed", ascending=False)
        district_list = dfds["district"].unique()

        for dt in district_list:
            district_num_confirmed = dfd[dfd["district"]==dt]["confirmed"].values[0]
            district_num_mapped = len(df[(df["state"]==st) & (df["district"]==dt)])
            
            if (district_num_confirmed > district_num_mapped):
                num_missing_mapped = int(district_num_confirmed - district_num_mapped)
                
                if len(df[ (pd.isnull(df["district"])) & (df["state"]==st) ])>0:
                    dft = df[ (pd.isnull(df["district"])) & (df["state"]==st) ]
                    selected_idx = dft.index[np.random.choice(range(0, len(dft)), min(len(dft), num_missing_mapped), replace=False)]
                    
                    for idx in selected_idx:
                        df.at[df.index==idx, "district"] = dt

dfunmapped = df[pd.isnull(df["district"])].copy()
for i in range(len(dfunmapped)):
    state_name = df.iloc[i]["state"]
    dfds = dfd[dfd["state"]==st].copy()
    missing_cases_mapped_to_district_name = dfds.sort_values("confirmed", ascending=False).head(1)["district"].values[0]
    
    idx = dfunmapped.index[i]
    df.at[df.index==idx, "district"] = missing_cases_mapped_to_district_name

df.to_csv("../data/09052020/one_time/full_data_patient_level_withDistrictMapped_withStatusMapped.csv", index=False)
"""
"""
df = pd.read_csv("../data/09052020/one_time/full_data_patient_level_withDistrictMapped_withStatusMapped.csv")
df["date"] = pd.to_datetime(df["date"], dayfirst=True).dt.date
df["status_change_date"] = pd.to_datetime(df["status_change_date"], dayfirst=True).dt.date
df.at[(df["district"]=="Italians*")&(df["state"]=="Haryana"), "district"] = "Gurugram"
df.at[(df["district"]=="Italians*")&(df["state"]=="Rajasthan"), "district"] = "Jaipur"
df.to_csv("../data/09052020/one_time/full_data_patient_level_withDistrictMapped_withStatusMapped.csv", index=False)
df
"""

In [ ]:
"""
### Get list of all districts from map
dfmd = pd.DataFrame()
idx = 0
for fp in os.listdir("../data/state_geojson_raw/"):
    if not fp.startswith(".") and fp.endswith(".json"):
        state_name = fp.split(".")[0]
        state_name_mapped = state_name_mapping[state_name]
        state_name_list.append(state_name)
        #print(state_name)

        with open("../data/state_geojson_raw/"+fp) as topodata:
            raw_data = json.load(topodata)

        data = raw_data
        district_list = data["objects"][state_name+"_district"]["geometries"]
        
        for i in range(len(district_list)):
            district_name = data["objects"][state_name+"_district"]["geometries"][i]["properties"]["district"]
        
            dfmd.at[idx, "district"] = district_name
            dfmd.at[idx, "state"] = state_name_mapped
            idx+=1
dfmd.to_csv("../data/district_list_map.csv", index=False)
"""
print("One time code")