In [289]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
pd.set_option("display.max_columns", 100)
import os
import geojson
from geojson import Feature, FeatureCollection
import requests
from bs4 import BeautifulSoup
import json
import requests
from datetime import datetime
from geopy import geocoders
import random
from datetime import timedelta

In [264]:
folder = "30042020"

In [115]:
url = "https://api.covid19india.org/csv/latest/raw_data.csv"
r = requests.get(url)
f = open('../data/26042020/raw_data.csv','w')
f.write(r.text)
f.close()

In [26]:
url = "https://api.covid19india.org/csv/latest/state_wise_daily.csv"
r = requests.get(url)
f = open('../data/26042020/statewise_daily_confirmed_deceased_recovered.csv','w')
f.write(r.text)
f.close()

### Clusters

In [1016]:
df = pd.read_csv("../data/26042020/raw_data.csv")
df.dropna(subset=["Date Announced"], inplace=True)
df.rename(columns={"Contracted from which Patient (Suspected)":"contracted_from", "Current Status":"status", "Notes":"notes",
                   "Detected City":"city", "Detected District":"district", "Detected State": "state","State code":"state_code",
                   "Date Announced":"date", "Type of transmission":"transmission_type", "Age Bracket":"age", "Gender":"gender",
                   "State Patient Number": "state_pid", "Patient Number":"pid"}, inplace=True)
df = df[["pid", "date", "city", "district", "state", "contracted_from", "transmission_type", "notes"]]
total_case_count = len(df)

### District name mapping
for i in range(len(df)):
    district_name = df.iloc[i]["district"]
    state_name = df.iloc[i]["state"]
    
    if district_name in district_name_mapping:
        district_name_mapped = district_name_mapping[district_name]
        district_name = district_name_mapped

    if district_name in district_name_resolution:
        district_name_resolved = resolve_district_name(state_name, district_name)
        district_name = district_name_resolved
    
    df.at[i, "district"] = district_name

In [1017]:
## Get root node of "contracted_from"
for i in range(len(df)):
    dft = df.iloc[i]
    cf = dft["contracted_from"] #.values[0]

    while cf==cf: 
        if cf.startswith("https"):
            break
        if ((cf!="E0") and (cf!="E1")):
            pid = cf.split("P")[1]
            if ", " in pid:
                pid = pid.split(", ")[0]
            elif "," in pid:
                pid = pid.split(",")[0]
                
            cfpid = int(pid)
            dft = df[df["pid"]==cfpid].copy()
            df.at[i, "derived_contracted_from"] = "P"+str(cfpid) 
            cf = dft["contracted_from"].values[0]
        else:
            df.at[i, "derived_contracted_from"] = cf
            cf = np.nan

In [1018]:
# Map to finite clusters
for i in range(len(df)):
    cf = df.iloc[i]["contracted_from"]
    dcf = df.iloc[i]["derived_contracted_from"]
    notes = df.iloc[i]["notes"]
    
    # IF both notes and contracted from are empty, skip this entry
    if ((cf!=cf) and (notes!=notes)):
        continue

    if ((cf == "E0") or (cf == "P4862") or (cf == "P531") ):
        df.at[i, "cluster"] = "Delhi Religious meeting"
        df.at[i, "cluster_location"] = "New Delhi"

    elif ((cf == "P689") or (cf == "P1215") ):
        df.at[i, "cluster"] = "Mysuru Pharmaceutical industry"
        df.at[i, "cluster_location"] = "Mysore"
    
    elif cf == "P182":
        df.at[i, "cluster"] = "Punjab Preacher"
        df.at[i, "cluster_location"] = "Shaheed Bhagat Singh Nagar"
    
    elif cf == "P20410":
        df.at[i, "cluster"] = "Bengaluru scrap segregation worker"
        df.at[i, "cluster_location"] = "Bangalore"
    
    elif cf == "P6":
        df.at[i, "cluster"] = "Italian tourists in Rajasthan"
        df.at[i, "cluster_location"] = "Italy"
        if df.iloc[i]["state"] == "Rajasthan":
            df.at[i, "district"] = "Jaipur"
        elif df.iloc[i]["state"] == "Haryana":
            df.at[i, "district"] = "Gurgaon"
        
    elif cf == "P301":
        df.at[i, "cluster"] = "Thai national in Tamil Nadu"
        df.at[i, "cluster_location"] = "Erode"
    
    elif cf == "E1":
        df.at[i, "cluster"] = "Contact with UK returnee"
        df.at[i, "cluster_location"] = "Gautam Buddha Nagar"
    
    elif cf == "P2868":
        df.at[i, "cluster"] = "Dubai returnee, hosted feast for 1500 people"
        df.at[i, "cluster_location"] = "Morena"
    
    elif cf == "P10454":
        df.at[i, "cluster"] = "Doctor from Bethany Hospital"
        df.at[i, "cluster_location"] = "East Khasi Hills"
    
    else:
        if ((is_in_iran_evacuee_list(notes)) or ((df.iloc[i]["district"]=="Evacuees*") and (df.iloc[i]["state"]=="Rajasthan"))):
            df.at[i, "cluster"] = "Iran evacuees"
            df.at[i, "cluster_location"] = "Iran"
            df.at[i, "district"] = "Jodhpur"

        elif is_in_travel_list(notes):
            travelled_from_place = is_in_travel_list(notes)
            df.at[i, "cluster"] = "Travel History"
            df.at[i, "cluster_location"] = travelled_from_place

        elif is_in_family_list(notes):
            df.at[i, "cluster"] = "Family member"
        
        elif is_in_contact_list(notes):
            df.at[i, "cluster"] = "Close Contact"
        
        elif is_in_healthcare_list(notes):
            df.at[i, "cluster"] = "Healthcare worker"
        
        elif is_in_worker_list(notes):
            df.at[i, "cluster"] = "Domestic Worker"
        
        elif is_in_no_travel_history_list(notes):
            df.at[i, "cluster"] = "No travel history"
        
        elif is_in_delhi_religious_list(notes):
            df.at[i, "cluster"] = "Delhi Religious meeting"
            df.at[i, "cluster_location"] = "New Delhi"
            df.at[i, "contracted_from"] = "E0"
            df.at[i, "derived_contracted_from"] = "E0"
        
        elif is_in_pharma_company_list(notes):
            df.at[i, "cluster"] = "Mysuru Pharmaceutical industry"
            df.at[i, "cluster_location"] = "Mysore"
            df.at[i, "contracted_from"] = "E1"
            df.at[i, "derived_contracted_from"] = "E1"

        elif is_in_misc_list(notes):
            cluster_category = is_in_misc_list(notes)
            df.at[i, "cluster"] = cluster_category

        elif is_in_skip_list(notes):
            continue;
            
        else:
            print(notes)
            continue;

In [1019]:
### Get cluster location for derived_contracted_from
for i in range(len(df)):
    cf = df.iloc[i]["contracted_from"]
    dcf = df.iloc[i]["derived_contracted_from"]
    cl = df.iloc[i]["cluster_location"] #.values[0]
    
    # If cluster location is null and derived_contracted_from is not null
    if ((cl!=cl) and (dcf==dcf)):
        if ((dcf!="E0") and (dcf!="E1")):
            pid = dcf.split("P")[1]
            if ", " in pid:
                pid = pid.split(", ")[0]
            elif "," in pid:
                pid = pid.split(",")[0]
            cfpid = int(pid)
            dft = df[df["pid"]==cfpid].copy()
        df.at[i, "cluster_location"] = dft["district"].values[0]

    # If cluster location is null and contracted_from is not null
    elif ((cl!=cl) and (cf==cf)):
        if ((cf!="E0") and (cf!="E1") and ("http" not in cf)):
            pid = cf.split("P")[1]
            if ", " in pid:
                pid = pid.split(", ")[0]
            elif "," in pid:
                pid = pid.split(",")[0]
            cfpid = int(pid)
            dft = df[df["pid"]==cfpid].copy()
        df.at[i, "cluster_location"] = dft["district"].values[0]

In [1020]:
cluster_district_mapping = {"Saudi":"Saudi Arabia", "Evacuees*":"Iran", "Abhudhabi":"Abu dhabi", "WB":"West Bengal"}
df["cluster_location"] = df["cluster_location"].apply(lambda x: cluster_district_mapping[x] if x in cluster_district_mapping.keys() else x)

cluster_district_skip = ["to", "the", "Asansole"]
for i in range(len(cluster_district_skip)):
    df = df[df["cluster_location"]!=cluster_district_skip[i]]

In [1035]:
### Removing isolated clusters
df = df.groupby("cluster").filter(lambda x: len(x)>=10)
df.to_csv("../data/extracted_data_api/code_data/clusters.csv", index=False)

### Cluster table

In [1036]:
min_case_count_cluster_table = 10
dfc = df.groupby("cluster").count()["pid"].reset_index()
dfc.rename(columns={"pid":"case_count"}, inplace=True)
dfc = dfc[dfc["case_count"]>=min_case_count_cluster_table]
dfc = dfc[dfc["cluster"] != "No travel history"]
dfc.at[dfc["cluster"]=="SARI", "cluster"] = "Severe Acute Respiratory Infections"
dfc.sort_values("case_count", ascending=False, inplace=True)
dfc.to_csv("../data/extracted_data_api/code_data/cluster_table.csv", index=False)
dfc

                                         cluster  case_count
3                        Delhi Religious meeting         913
10                                Travel History         621
5                                  Family member         294
6                                  Iran evacuees          61
8                 Mysuru Pharmaceutical industry          53
1                                  Close Contact          33
0             Bengaluru scrap segregation worker          20
7                  Italian tourists in Rajasthan          16
9                    Thai national in Tamil Nadu          13
2                       Contact with UK returnee          11
4   Dubai returnee, hosted feast for 1500 people          11

### Cluster network map

In [56]:
df = pd.read_csv("../data/extracted_data_api/code_data/clusters.csv")
df = df[["pid", "date", "district", "state", "contracted_from", "derived_contracted_from", "cluster", "cluster_location"]]

# Handle special case
df.at[(df["district"]=="Italians*") & (df["state"]=="Rajasthan"), "district"] = "Jaipur"
   
## To avoid loop onto same node in network map, remove district==cluster_location
df.dropna(subset=["district", "cluster_location"], inplace=True)
##df = df[df["district"] != df["cluster_location"]]

### Cluster type mapping
cluster_type_mapping = {}
cluster_list = df["cluster"].unique()
for i in range(len(cluster_list)):
    cluster_name = cluster_list[i]
    if cluster_name not in cluster_type_mapping.keys():
        cluster_type_mapping[cluster_name] = int(i)
df["cluster_type"] = df["cluster"].apply(lambda x: cluster_type_mapping[x])

## Remove unmapped districts
for i in range(len(district_name_unmapped)):
    df = df[df["district"] != district_name_unmapped[i]]

In [57]:
dfcm = df.copy()
dfcm = dfcm[["date", "district", "cluster_location", "cluster", "cluster_type", "derived_contracted_from"]]

dfll = pd.read_csv("../data/extracted_data_api/code_data/district_center_bounds.csv")
district_list = dfll["district"].unique()

dfcl = pd.read_csv("../data/extracted_data_api/code_data/cluster_center_bounds.csv")
dfcl.rename(columns={"location":"cluster_location", "latitude":"cluster_latitude",
                     "longitude":"cluster_longitude"}, inplace=True)


cluster_pid_list = {}
unknown_dcf_id = 0

for i in range(len(dfcm)):
    district_name = dfcm.iloc[i]["district"]
    cluster_location = dfcm.iloc[i]["cluster_location"]
    dcf = dfcm.iloc[i]["derived_contracted_from"]
    
    if (district_name==district_name):
        dft = dfll[dfll["district"]==district_name]
        if len(dft)==1:
            minx = dft["minx"].values[0]
            maxx = dft["maxx"].values[0]
            miny = dft["miny"].values[0]
            maxy = dft["maxy"].values[0]
            dfcm.at[dfcm.index[i], "patient_latitude"] = random.uniform(miny, maxy)    
            dfcm.at[dfcm.index[i], "patient_longitude"] = random.uniform(minx, maxx)
        elif len(dft)==0:
            print(district_name + " -- No Location found")
        elif len(dft)>1:
            print(district_name + " -- More than one Location found")

    if dcf in cluster_pid_list.keys():
        cluster_latitude = cluster_pid_list[dcf][0]
        cluster_longitude = cluster_pid_list[dcf][1]
    else:
        if cluster_location in district_list:
            dft = dfll[dfll["district"]==cluster_location]
            minx = dft["minx"].values[0]
            maxx = dft["maxx"].values[0]
            miny = dft["miny"].values[0]
            maxy = dft["maxy"].values[0]
            cluster_latitude = dft["latitude"].values[0] #random.uniform(miny, maxy)
            cluster_longitude = dft["longitude"].values[0] #random.uniform(minx, maxx)
        else:
            dft = dfcl[dfcl["cluster_location"]==cluster_location]
            if len(dft)==1:
                minx = dft["minx"].values[0]
                maxx = dft["maxx"].values[0]
                miny = dft["miny"].values[0]
                maxy = dft["maxy"].values[0]
                cluster_latitude = dft["cluster_latitude"].values[0]  #random.uniform(miny, maxy)
                cluster_longitude = dft["cluster_longitude"].values[0]  #random.uniform(minx, maxx)
            else:
                cluster_latitude = np.nan
                cluster_longitude = np.nan
                

        if dcf!=dcf:
            dcf = "U" + str(unknown_dcf_id)
            unknown_dcf_id+=1
        #cpl = {dcf:(cluster_latitude, cluster_longitude)}
        #cluster_pid_list.append()
        cluster_pid_list[dcf] = [cluster_latitude, cluster_longitude]

    dfcm.at[dfcm.index[i], "cluster_latitude"] = cluster_latitude
    dfcm.at[dfcm.index[i], "cluster_longitude"] = cluster_longitude

In [58]:
dfcm.dropna(subset=["cluster_latitude", "cluster_longitude"], inplace=True)
dfcm["date"] = pd.to_datetime(dfcm["date"], dayfirst=True)
dfcm.reset_index(inplace=True)
dfcm.to_csv("../data/extracted_data_api/code_data/cluster_network_map.csv", index=False)


### Combine with daily cases and deaths
dfc = pd.read_csv("../data/26042020/statewise_daily_confirmed_deceased_recovered.csv")[["Date", "Status", "TT"]]
dfc.rename(columns={"Date":"date", "Status":"status"}, inplace=True)
dfc["date"] = pd.to_datetime(dfc["date"])
dfc1 = dfc[dfc["status"]=="Confirmed"].copy()
del dfc1["status"]
dfc1.rename(columns={"TT":"total_cases"}, inplace=True)
dfc1["total_cases"] = dfc1["total_cases"].cumsum()
dfc2 = dfc[dfc["status"]=="Deceased"].copy()
del dfc2["status"]
dfc2.rename(columns={"TT":"total_deaths"}, inplace=True)
dfc2["total_deaths"] = dfc2["total_deaths"].cumsum()

dfr = pd.read_csv("../data/26042020/raw_data.csv")
dfr.rename(columns={"Date Announced":"date"}, inplace=True)
dfr["date"] = pd.to_datetime(dfr["date"], dayfirst=True)
init_date = pd.datetime(2020, 3, 14)
dfinit_case_count = dfr.groupby("date").count()["Patient Number"].reset_index()
dfinit_case_count.rename(columns={"Patient Number":"total_cases"}, inplace=True)
dfinit_case_count["total_cases"] = dfinit_case_count["total_cases"].cumsum()
dfinit_case_count = dfinit_case_count[dfinit_case_count["date"] <= init_date]

dfc1 = dfc1[dfc1["date"]>init_date]
dfc1 = dfinit_case_count.append(dfc1)

dfcm = dfcm.set_index("date").join(dfc1.set_index("date")).reset_index()
#dfcm = dfcm.set_index("date").join(dfc2.set_index("date")).reset_index()

dfcm.to_csv("../data/extracted_data_api/code_data/cluster_network_map.csv", index=False)
dfcm

,date,index,district,cluster_location,cluster,cluster_type,derived_contracted_from,patient_latitude,patient_longitude,cluster_latitude,cluster_longitude,total_cases
0,2020-01-30,0,Thrissur,Wuhan,Travel History,0,NaN,10.548925,76.717859,30.595105,114.299935,1
1,2020-02-02,1,Alappuzha,Wuhan,Travel History,0,NaN,9.423722,76.502106,30.595105,114.299935,2
2,2020-02-03,2,Kasaragod,Wuhan,Travel History,0,NaN,12.760040,74.984361,30.595105,114.299935,3
3,2020-03-02,3,East Delhi,Austria,Travel History,0,NaN,28.587916,77.335460,47.200034,13.199959,5
4,2020-03-02,4,Hyderabad,Dubai,Travel History,0,NaN,17.446530,78.492699,25.065700,55.171300,5
5,2020-03-03,5,Jaipur,Italy,Travel History,0,NaN,26.945979,75.577603,42.638426,12.674297,6
6,2020-03-04,6,Gurgaon,Italy,Italian tourists in Rajasthan,1,P6,28.252581,77.014259,42.638426,12.674297,28
7,2020-03-04,7,Gurgaon,Italy,Italian tourists in Rajasthan,1,P6,28.235628,76.968028,42.638426,12.674297,28
8,2020-03-04,8,Gurgaon,Italy,Italian tourists in Rajasthan,1,P6,28.470262,77.066151,42.638426,12.674297,28
9,2020-03-04,9,Gurgaon,Italy,Italian tourists in Rajasthan,1,P6,28.521585,76.970157,42.638426,12.674297,28
10,2020-03-04,10,Gurgaon,Italy,Italian tourists in Rajasthan,1,P6,28.290633,77.154593,42.638426,12.674297,28
11,2020-03-04,11,Gurgaon,Italy,Italian tourists in Rajasthan,1,P6,28.386918,76.751136,42.638426,12.674297,28
12,2020-03-04,12,Gurgaon,Italy,Italian tourists in Rajasthan,1,P6,28.283861,76.892179,42.638426,12.674297,28
13,2020-03-04,13,Gurgaon,Italy,Italian tourists in Rajasthan,1,P6,28.247763,76.751778,42.638426,12.674297,28
14,2020-03-04,14,Gurgaon,Italy,Italian tourists in Rajasthan,1,P6,28.490706,77.005328,42.638426,12.674297,28
15,2020-03-04,15,Gurgaon,Italy,Italian tourists in Rajasthan,1,P6,28.447578,76.761573,42.638426,12.674297,28
16,2020-03-04,16,Gurgaon,Italy,Italian tourists in Rajasthan,1,P6,28.310771,76.956177,42.638426,12.674297,28
17,2020-03-04,17,Gurgaon,Italy,Italian tourists in Rajasthan,1,P6,28.299452,77.044916,42.638426,12.674297,28
18,2020-03-04,18,Gurgaon,Italy,Italian tourists in Rajasthan,1,P6,28.241209,77.029829,42.638426,12.674297,28
19,2020-03-04,19,Gurgaon,Italy,Italian tourists in Rajasthan,1,P6,28.204943,77.185990,42.638426,12.674297,28
20,2020-03-04,20,Jaipur,Italy,Italian tourists in Rajasthan,1,P6,27.152871,75.204234,42.638426,12.674297,28
21,2020-03-04,21,Agra,East Delhi,Family member,2,P4,26.877645,77.495832,28.618542,77.295175,28
22,2020-03-04,22,Agra,East Delhi,Family member,2,P4,27.012535,78.362168,28.618542,77.295175,28
23,2020-03-04,23,Agra,East Delhi,Family member,2,P4,26.835410,78.379961,28.618542,77.295175,28
24,2020-03-04,24,Agra,East Delhi,Family member,2,P4,27.003627,77.648851,28.618542,77.295175,28
25,2020-03-04,25,Agra,East Delhi,Family member,2,P4,26.963006,78.523487,28.618542,77.295175,28
26,2020-03-04,26,Agra,East Delhi,Family member,2,P4,27.036180,78.765453,28.618542,77.295175,28
27,2020-03-04,27,Agra,Italy,Italian tourists in Rajasthan,1,P6,27.087372,77.649792,42.638426,12.674297,28
28,2020-03-05,28,South West Delhi,Italy,Travel History,0,NaN,28.516303,76.917413,42.638426,12.674297,30
29,2020-03-05,29,Ghaziabad,Iran,Travel History,0,NaN,28.612923,77.528378,32.647531,54.564352,30
...,...,...,...,...,...,...,...,...,...,...,...,...
2015,2020-04-24,2016,Bhadrak,West Bengal,Travel History,0,NaN,21.056269,86.927376,22.996495,87.685588,24447
2016,2020-04-24,2017,Tumkur,Surat,Travel History,0,NaN,14.122269,76.696478,21.266598,73.075919,24447
2017,2020-04-24,2018,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,12.862439,77.376855,12.952255,77.594187,24447
2018,2020-04-24,2019,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,12.906835,77.633285,12.952255,77.594187,24447
2019,2020-04-24,2020,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,13.054607,77.513507,12.952255,77.594187,24447
2020,2020-04-24,2021,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,13.084421,77.629430,12.952255,77.594187,24447
2021,2020-04-24,2022,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,12.734479,77.820154,12.952255,77.594187,24447
2022,2020-04-24,2023,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,13.011550,77.367631,12.952255,77.594187,24447
2023,2020-04-24,2024,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,13.230475,77.701684,12.952255,77.594187,24447
2024,2020-04-24,2025,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,13.034946,77.769006,12.952255,77.594187,24447
2025,2020-04-24,2026,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,13.004684,77.814048,12.952255,77.594187,24447
2026,2020-04-24,2027,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,13.143008,77.669308,12.952255,77.594187,24447
2027,2020-04-24,2028,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,13.158480,77.564081,12.952255,77.594187,24447
2028,2020-04-24,2029,Mansa,New Delhi,Delhi Religious meeting,4,E0,29.820286,75.275983,28.578610,77.147670,24447
2029,2020-04-24,2030,Mansa,New Delhi,Delhi Religious meeting,4,E0,30.080827,75.730338,28.578610,77.147670,24447
2030,2020-04-25,2031,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,12.670058,77.685028,12.952255,77.594187,26282
2031,2020-04-25,2032,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,13.206647,77.639652,12.952255,77.594187,26282
2032,2020-04-25,2033,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,12.784898,77.531037,12.952255,77.594187,26282
2033,2020-04-25,2034,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,13.144150,77.578748,12.952255,77.594187,26282
2034,2020-04-25,2035,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,13.182961,77.421356,12.952255,77.594187,26282
2035,2020-04-25,2036,Chikkaballapura,Hindupur,Travel History,0,NaN,13.532252,77.400540,13.826383,77.493772,26282
2036,2020-04-25,2037,Kottayam,Maharashtra,Travel History,0,NaN,9.463988,76.661074,19.531932,76.055457,26282
2037,2020-04-25,2038,Kottayam,Sharjah,Travel History,0,NaN,9.801995,76.740662,25.358543,55.389532,26282
2038,2020-04-25,2039,Kottayam,Kottayam,Family member,2,P21710,9.813422,76.847523,9.636864,76.650784,26282
2039,2020-04-25,2040,Kollam,Sharjah,Travel History,0,NaN,8.938192,76.676562,25.358543,55.389532,26282
2040,2020-04-25,2041,Kollam,Kollam,Close Contact,3,P19074,8.859057,76.516347,8.961950,76.871847,26282
2041,2020-04-25,2042,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,13.196825,77.771263,12.952255,77.594187,26282
2042,2020-04-25,2043,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,13.034999,77.478741,12.952255,77.594187,26282
2043,2020-04-25,2044,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,12.893838,77.750100,12.952255,77.594187,26282
2044,2020-04-25,2045,Bangalore,Bangalore,Bengaluru scrap segregation worker,10,P20410,13.123070,77.659353,12.952255,77.594187,26282

In [23]:
#https://sashat.me/2017/01/11/list-of-20-simple-distinct-colors/
cluster_color_mapping = {}
cluster_color_mapping["Mysuru Pharmaceutical industry"] = "#f032e6"  # Magenta
cluster_color_mapping["Bengaluru scrap segregation worker"] = "#800000" #Maroon
cluster_color_mapping["Travel History"] = "#f58231" #Orange 
cluster_color_mapping["Italian tourists in Rajasthan"] = "#3cb44b"  # Green
cluster_color_mapping["Delhi Religious meeting"] = "#4363d8" #Blue 
cluster_color_mapping["Iran evacuees"] = "#911eb4" #Purple
cluster_color_mapping["Family member"] = "#ff0000" # Red "#ffe119" #Yellow  
cluster_color_mapping["Close Contact"] = "#000075"  #Navy blue "#bcf60c" #Lime
cluster_color_mapping["Thai national in Tamil Nadu"] = "#008080" # Teal
cluster_color_mapping["Dubai returnee, hosted feast for 1500 people"] = "#9a6324" #Brown
cluster_color_mapping["Contact with UK returnee"] = "#808000" #Olive

cluster_color_mapping

{'Mysuru Pharmaceutical industry': '#f032e6',
 'Bengaluru scrap segregation worker': '#800000',
 'Travel History': '#f58231',
 'Italian tourists in Rajasthan': '#3cb44b',
 'Delhi Religious meeting': '#4363d8',
 'Iran evacuees': '#911eb4',
 'Family member': '#ff0000',
 'Close Contact': '#000075',
 'Thai national in Tamil Nadu': '#008080',
 'Dubai returnee, hosted feast for 1500 people': '#9a6324',
 'Contact with UK returnee': '#808000'}

### % of districts without the disease

In [48]:
dfcc = pd.read_csv("../data/extracted_data_api/code_data/districtwise_case_death_growth_density_withDelhiSeparate.csv")
total_population = dfcc["population"].sum()
per_outbreak_free_districts = np.round(len(dfcc[dfcc["cases"]==0])/len(dfcc)*100)
per_outbreak_free_population = np.round(dfcc[dfcc["cases"]==0]["population"].sum()/total_population*100)
df = pd.DataFrame()
for i in range(len(dfcc)):
    district_name = dfcc.iloc[i]["district"].replace(" ","-") + ", " + dfcc.iloc[i]["state_code"]
    df.at[i, "id"] = "district."+district_name
    df.at[i, "value"] = int(dfcc.iloc[i]["cases"])+1
    df.at[i, "district"] = district_name
    df.at[i, "per_outbreak_free_districts"] = per_outbreak_free_districts
    df.at[i, "per_outbreak_free_population"] = per_outbreak_free_population
df["value"] = df["value"].astype(int)
df["per_outbreak_free_districts"] = df["per_outbreak_free_districts"].astype(int)
df["per_outbreak_free_population"] = df["per_outbreak_free_population"].astype(int)
# Shuffling
df = df.sample(frac=1).reset_index(drop=True)
df.to_csv("../data/extracted_data_api/code_data/outbreak_free_districts.csv", index=False)
df

,id,value,district,per_outbreak_free_districts,per_outbreak_free_population
0,"district.Sahibganj, JH",1,"Sahibganj, JH",44,31
1,"district.Kamrup, AS",2,"Kamrup, AS",44,31
2,"district.Buldana, MH",12,"Buldana, MH",44,31
3,"district.Kasaragod, KL",169,"Kasaragod, KL",44,31
4,"district.Karnal, HR",7,"Karnal, HR",44,31
5,"district.Haora, WB",24,"Haora, WB",44,31
6,"district.Dindori, MP",1,"Dindori, MP",44,31
7,"district.Kiphire, NL",1,"Kiphire, NL",44,31
8,"district.Baksa, AS",1,"Baksa, AS",44,31
9,"district.Alwar, RJ",8,"Alwar, RJ",44,31
10,"district.Fatehpur, UP",1,"Fatehpur, UP",44,31
11,"district.Khunti, JH",1,"Khunti, JH",44,31
12,"district.Indore, MP",312,"Indore, MP",44,31
13,"district.Tirunelveli, TN",61,"Tirunelveli, TN",44,31
14,"district.New-Delhi, DL",132,"New-Delhi, DL",44,31
15,"district.Giridih, JH",1,"Giridih, JH",44,31
16,"district.Maldah, WB",1,"Maldah, WB",44,31
17,"district.Dharwad, KA",3,"Dharwad, KA",44,31
18,"district.Sonipat, HR",4,"Sonipat, HR",44,31
19,"district.Bankura, WB",1,"Bankura, WB",44,31
20,"district.Dhamtari, CG",1,"Dhamtari, CG",44,31
21,"district.Thoubal, MN",1,"Thoubal, MN",44,31
22,"district.Idukki, KL",10,"Idukki, KL",44,31
23,"district.Kodagu, KA",2,"Kodagu, KA",44,31
24,"district.J-P-Nagar-(Amroha), UP",7,"J-P-Nagar-(Amroha), UP",44,31
25,"district.Narayanpet, TS",12,"Narayanpet, TS",44,31
26,"district.Imphal-East, MN",1,"Imphal-East, MN",44,31
27,"district.Bilaspur-(Chhattisgarh), CG",2,"Bilaspur-(Chhattisgarh), CG",44,31
28,"district.Wanaparthy, TS",12,"Wanaparthy, TS",44,31
29,"district.Rayagada, OD",1,"Rayagada, OD",44,31
...,...,...,...,...,...
687,"district.Theni, TN",42,"Theni, TN",44,31
688,"district.Bharatpur, RJ",10,"Bharatpur, RJ",44,31
689,"district.Shrawasti, UP",1,"Shrawasti, UP",44,31
690,"district.Nalbari, AS",4,"Nalbari, AS",44,31
691,"district.Pashchimi-Singhbhum, JH",1,"Pashchimi-Singhbhum, JH",44,31
692,"district.Hazaribagh, JH",3,"Hazaribagh, JH",44,31
693,"district.Rudraprayag, UK",1,"Rudraprayag, UK",44,31
694,"district.Farrukhabad, UP",1,"Farrukhabad, UP",44,31
695,"district.Kushinagar, UP",1,"Kushinagar, UP",44,31
696,"district.Bhiwani, HR",4,"Bhiwani, HR",44,31
697,"district.Jalgaon, MH",3,"Jalgaon, MH",44,31
698,"district.Kawardha, CG",1,"Kawardha, CG",44,31
699,"district.Mandi, HP",1,"Mandi, HP",44,31
700,"district.Krishnagiri, TN",1,"Krishnagiri, TN",44,31
701,"district.Kachchh, GJ",5,"Kachchh, GJ",44,31
702,"district.Champawat, UK",1,"Champawat, UK",44,31
703,"district.Vadodara, GJ",96,"Vadodara, GJ",44,31
704,"district.Hapur, UP",32,"Hapur, UP",44,31
705,"district.Sivaganga, TN",7,"Sivaganga, TN",44,31
706,"district.Kendujhar, OD",1,"Kendujhar, OD",44,31
707,"district.West-Godavari, AP",23,"West-Godavari, AP",44,31
708,"district.Anuppur, MP",1,"Anuppur, MP",44,31
709,"district.Jhabua, MP",1,"Jhabua, MP",44,31
710,"district.Dausa, RJ",8,"Dausa, RJ",44,31
711,"district.Saharanpur, UP",21,"Saharanpur, UP",44,31
712,"district.Raigarh-(Chhattisgarh), CG",1,"Raigarh-(Chhattisgarh), CG",44,31
713,"district.Lawngtlai, MZ",1,"Lawngtlai, MZ",44,31
714,"district.Burhanpur, MP",1,"Burhanpur, MP",44,31
715,"district.Nandurbar, MH",1,"Nandurbar, MH",44,31
716,"district.Sheohar, BR",1,"Sheohar, BR",44,31

### Recovery rate

In [112]:
dfc = pd.read_csv("../data/extracted_data_api/statewise_daily_confirmed.csv")
del dfc["TT"], dfc["Unnamed: 39"]
state_code_list = dfc.columns[1:]
dfcc = dfc.set_index("date").cumsum().reset_index()

dfr = pd.read_csv("../data/extracted_data_api/statewise_daily_recovered.csv")
del dfr["TT"], dfr["Unnamed: 39"]
l = [["date"], [col+"_r" for col in dfr.columns if col in state_code_list]]
dfr.columns = [item for sublist in l for item in sublist]
dfr = dfr.set_index("date").cumsum().reset_index()

dfcr = dfcc.set_index("date").join(dfr.set_index("date")).reset_index()
dfrr = dfcc.copy()
for col in state_code_list:
    dfrr[col] = np.round(dfcr[col+"_r"] / dfcr[col],2)
dfrr.dropna(axis=1, how="all", inplace=True)
### Replace nan with -1, handle in color_Scale in javascript
dfrr.fillna(value=-1, inplace=True)
### Concat total case count at top of table
dfrr = pd.concat([pd.DataFrame(dfc.sum(axis=0, numeric_only=True)).transpose(), dfrr], ignore_index=True, axis=0, sort=True)
l = [["date"], [col for col in dfrr.columns[:len(dfrr.columns)-1]]]
columns = [item for sublist in l for item in sublist]
dfrr = dfrr[columns]
dfrr.at[pd.isnull(dfrr["date"]), "date"] = "total_count"
dfrr.to_csv("../data/extracted_data_api/code_data/state_recovery_rate.csv", index=False)
dfrr

,date,AN,AP,AR,AS,BR,CH,CT,DD,DL,DN,GA,GJ,HP,HR,JH,JK,KA,KL,LA,LD,MH,ML,MN,MP,MZ,NL,OR,PB,PY,RJ,SK,TG,TN,TR,UP,UT,WB
0,total_count,17.00,757.00,1.0,35.00,126.00,27.00,36.00,0.0,2156.00,0.0,7.00,2178.00,39.00,255.00,46.00,380.00,418.00,426.00,18.00,0.0,5218.00,12.0,2.0,1552.00,1.0,0.0,79.00,251.00,7.00,1735.00,0.0,928.00,1596.00,2.0,1337.00,46.00,392.00
1,14-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,-1.00,-1.00,NaN,0.14,NaN,-1.00,-1.00,-1.00,0.00,-1.00,0.00,0.00,0.16,-1.00,NaN,0.00,-1.0,-1.0,-1.00,-1.0,NaN,-1.00,0.00,-1.00,0.33,NaN,0.00,0.00,-1.0,0.33,-1.00,-1.00
2,15-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,-1.00,-1.00,NaN,0.29,NaN,-1.00,-1.00,-1.00,0.00,-1.00,0.00,0.00,0.12,-1.00,NaN,0.00,-1.0,-1.0,-1.00,-1.0,NaN,-1.00,0.00,-1.00,0.75,NaN,0.33,0.00,-1.0,0.31,-1.00,-1.00
3,16-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,-1.00,-1.00,NaN,0.29,NaN,-1.00,-1.00,-1.00,0.00,-1.00,0.00,0.00,0.11,-1.00,NaN,0.00,-1.0,-1.0,-1.00,-1.0,NaN,0.00,0.00,0.00,0.75,NaN,0.25,1.00,-1.0,0.31,0.00,-1.00
4,17-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,-1.00,-1.00,NaN,0.25,NaN,-1.00,-1.00,-1.00,0.00,-1.00,0.00,0.00,0.11,-1.00,NaN,0.00,-1.0,-1.0,-1.00,-1.0,NaN,0.00,0.00,0.00,0.75,NaN,0.20,1.00,-1.0,0.33,0.00,0.00
5,18-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,-1.00,-1.00,NaN,0.20,NaN,-1.00,-1.00,-1.00,0.00,-1.00,0.00,0.00,0.11,0.00,NaN,0.00,-1.0,-1.0,-1.00,-1.0,NaN,0.00,0.00,0.00,0.43,NaN,0.08,0.50,-1.0,0.29,0.00,0.00
6,19-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,0.00,0.00,NaN,0.21,NaN,-1.00,0.00,-1.00,0.00,-1.00,0.00,0.00,0.11,0.00,NaN,0.00,-1.0,-1.0,-1.00,-1.0,NaN,0.00,0.00,0.00,0.33,NaN,0.06,0.33,-1.0,0.45,0.00,0.00
7,20-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,0.00,0.00,NaN,0.25,NaN,-1.00,0.00,0.00,0.00,-1.00,0.00,0.07,0.08,0.00,NaN,0.00,-1.0,-1.0,0.00,-1.0,NaN,0.00,0.00,0.00,0.18,NaN,0.05,0.33,-1.0,0.38,0.00,0.00
8,21-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,0.00,0.00,NaN,0.19,NaN,-1.00,0.00,0.00,0.00,-1.00,0.00,0.05,0.06,0.00,NaN,0.00,-1.0,-1.0,0.00,-1.0,NaN,0.00,0.00,0.00,0.12,NaN,0.05,0.17,-1.0,0.32,0.00,0.00
9,22-Mar-20,-1.00,0.00,-1.0,-1.00,0.00,0.00,0.00,NaN,0.19,NaN,-1.00,0.00,0.00,0.00,-1.00,0.00,0.04,0.04,0.00,NaN,0.00,-1.0,-1.0,0.00,-1.0,NaN,0.00,0.00,0.00,0.11,NaN,0.04,0.11,-1.0,0.30,0.00,0.00
10,23-Mar-20,-1.00,0.00,-1.0,-1.00,0.00,0.00,0.00,NaN,0.17,NaN,-1.00,0.00,0.00,0.39,-1.00,0.00,0.06,0.03,0.00,NaN,0.00,-1.0,-1.0,0.00,-1.0,NaN,0.00,0.00,0.00,0.09,NaN,0.03,0.08,-1.0,0.28,0.00,0.00
11,24-Mar-20,-1.00,0.00,-1.0,-1.00,0.00,0.00,0.00,NaN,0.20,NaN,-1.00,0.00,0.00,0.37,-1.00,0.00,0.07,0.04,0.00,NaN,0.00,-1.0,0.0,0.00,-1.0,NaN,0.00,0.00,0.00,0.09,NaN,0.03,0.06,-1.0,0.31,0.00,0.00
12,25-Mar-20,-1.00,0.10,-1.0,-1.00,0.00,0.00,0.00,NaN,0.17,NaN,0.00,0.00,0.00,0.35,-1.00,0.09,0.06,0.03,0.00,NaN,0.01,-1.0,0.0,0.00,0.0,NaN,0.00,0.00,0.00,0.08,NaN,0.02,0.04,-1.0,0.29,0.00,0.00
13,26-Mar-20,0.00,0.09,-1.0,-1.00,0.00,0.00,0.00,NaN,0.17,NaN,0.00,0.00,0.00,0.34,-1.00,0.07,0.05,0.08,0.00,NaN,0.01,-1.0,0.0,0.00,0.0,NaN,0.00,0.00,0.00,0.08,NaN,0.02,0.03,-1.0,0.26,0.00,0.00
14,27-Mar-20,0.00,0.08,-1.0,-1.00,0.00,0.00,0.00,NaN,0.15,NaN,0.00,0.00,0.33,0.33,-1.00,0.05,0.08,0.06,0.23,NaN,0.12,-1.0,0.0,0.00,0.0,NaN,0.00,0.03,0.00,0.06,NaN,0.02,0.05,-1.0,0.22,0.00,0.00
15,28-Mar-20,0.00,0.05,-1.0,-1.00,0.00,0.00,0.00,NaN,0.12,NaN,0.00,0.00,0.67,0.31,-1.00,0.03,0.06,0.07,0.23,NaN,0.13,-1.0,0.0,0.00,0.0,NaN,0.00,0.03,0.00,0.06,NaN,0.01,0.05,-1.0,0.17,0.17,0.00
16,29-Mar-20,0.00,0.05,-1.0,-1.00,0.00,0.00,0.00,NaN,0.08,NaN,0.00,0.02,0.67,0.31,-1.00,0.03,0.06,0.08,0.23,NaN,0.12,-1.0,0.0,0.00,0.0,NaN,0.00,0.03,0.00,0.05,NaN,0.01,0.04,-1.0,0.15,0.14,0.00
17,30-Mar-20,0.00,0.04,-1.0,-1.00,0.00,0.00,0.00,NaN,0.06,NaN,0.00,0.04,0.67,0.47,-1.00,0.02,0.07,0.09,0.23,NaN,0.18,-1.0,0.0,0.00,0.0,NaN,0.00,0.02,0.00,0.04,NaN,0.18,0.06,-1.0,0.18,0.29,0.00
18,31-Mar-20,0.00,0.02,-1.0,0.00,0.00,0.00,0.22,NaN,0.05,NaN,0.00,0.07,0.67,0.40,0.00,0.02,0.08,0.10,0.23,NaN,0.13,-1.0,0.0,0.00,0.0,NaN,0.00,0.02,0.00,0.03,NaN,0.14,0.05,-1.0,0.16,0.29,0.08
19,01-Apr-20,0.00,0.02,-1.0,0.00,0.00,0.00,0.22,NaN,0.04,NaN,0.00,0.06,0.67,0.63,0.00,0.03,0.08,0.10,0.23,NaN,0.12,-1.0,0.0,0.00,0.0,NaN,0.20,0.02,0.00,0.02,NaN,0.11,0.03,-1.0,0.15,0.29,0.08
20,02-Apr-20,0.00,0.01,0.0,0.00,0.10,0.00,0.33,NaN,0.03,NaN,0.00,0.11,0.33,0.55,0.00,0.04,0.09,0.10,0.23,NaN,0.10,-1.0,0.0,0.00,0.0,NaN,0.20,0.02,0.00,0.02,NaN,0.11,0.02,-1.0,0.13,0.20,0.06
21,03-Apr-20,0.00,0.01,0.0,0.00,0.10,0.00,0.33,NaN,0.02,NaN,0.00,0.11,0.33,0.47,0.00,0.04,0.09,0.14,0.21,NaN,0.10,-1.0,0.0,0.00,0.0,NaN,0.10,0.02,0.00,0.02,NaN,0.14,0.01,-1.0,0.10,0.12,0.06
22,04-Apr-20,0.00,0.01,0.0,0.00,0.09,0.17,0.30,NaN,0.04,NaN,0.00,0.12,0.15,0.33,0.00,0.03,0.08,0.16,0.21,NaN,0.08,-1.0,0.0,0.00,0.0,NaN,0.10,0.05,0.00,0.12,NaN,0.12,0.02,-1.0,0.09,0.09,0.06
23,05-Apr-20,0.00,0.02,0.0,0.00,0.09,0.28,0.80,NaN,0.03,NaN,0.00,0.16,0.14,0.31,0.00,0.04,0.08,0.18,0.21,NaN,0.07,-1.0,0.0,0.02,0.0,NaN,0.05,0.06,0.00,0.09,NaN,0.10,0.01,-1.0,0.08,0.15,0.12
24,06-Apr-20,0.00,0.02,0.0,0.00,0.28,0.28,0.80,NaN,0.03,NaN,0.00,0.15,0.11,0.25,0.00,0.04,0.12,0.18,0.71,NaN,0.08,-1.0,0.5,0.04,0.0,NaN,0.05,0.05,0.00,0.08,NaN,0.12,0.02,0.0,0.07,0.13,0.12
25,07-Apr-20,0.00,0.02,0.0,0.00,0.39,0.39,0.90,NaN,0.03,NaN,0.00,0.14,0.11,0.21,0.00,0.03,0.14,0.21,0.71,NaN,0.08,-1.0,0.5,0.07,0.0,NaN,0.05,0.14,0.20,0.07,NaN,0.11,0.03,0.0,0.06,0.13,0.14
26,08-Apr-20,0.00,0.02,0.0,0.00,0.38,0.39,0.90,NaN,0.03,NaN,0.00,0.13,0.11,0.19,0.00,0.04,0.15,0.24,0.71,NaN,0.10,-1.0,0.5,0.07,0.0,NaN,0.05,0.13,0.20,0.12,NaN,0.10,0.03,0.0,0.09,0.14,0.13
27,09-Apr-20,0.91,0.03,0.0,0.00,0.26,0.39,0.50,NaN,0.03,NaN,0.00,0.10,0.11,0.18,0.00,0.03,0.15,0.27,0.71,NaN,0.09,-1.0,0.5,0.06,0.0,NaN,0.04,0.14,0.20,0.13,NaN,0.10,0.03,0.0,0.08,0.14,0.16
28,10-Apr-20,0.91,0.03,0.0,0.00,0.25,0.37,0.50,NaN,0.03,NaN,0.14,0.09,0.11,0.20,0.00,0.03,0.16,0.34,0.73,NaN,0.12,-1.0,0.5,0.08,0.0,NaN,0.24,0.13,0.14,0.11,NaN,0.09,0.05,0.0,0.07,0.14,0.14
29,11-Apr-20,0.91,0.02,0.0,0.00,0.23,0.37,0.36,NaN,0.03,NaN,0.71,0.09,0.28,0.20,0.00,0.03,0.18,0.38,0.73,NaN,0.12,-1.0,0.5,0.07,0.0,NaN,0.22,0.13,0.14,0.17,NaN,0.19,0.05,0.0,0.10,0.14,0.13
30,12-Apr-20,0.91,0.03,0.0,0.00,0.41,0.33,0.32,NaN,0.02,NaN,0.71,0.09,0.41,0.22,0.00,0.02,0.23,0.48,0.73,NaN,0.11,-1.0,0.5,0.07,0.0,NaN,0.22,0.14,0.14,0.15,NaN,0.19,0.05,0.0,0.09,0.14,0.14
31,13-Apr-20,0.91,0.03,0.0,0.00,0.42,0.33,0.32,NaN,0.02,NaN,0.71,0.09,0.41,0.26,0.00,0.06,0.24,0.52,0.71,NaN,0.10,0.0,0.5,0.08,0.0,NaN,0.33,0.14,0.14,0.13,NaN,0.17,0.05,0.0,0.09,0.20,0.19
32,14-Apr-20,0.91,0.03,0.0,0.00,0.44,0.33,0.39,NaN,0.02,NaN,0.71,0.09,0.42,0.27,0.00,0.11,0.27,0.55,0.71,NaN,0.10,0.0,0.5,0.09,0.0,NaN,0.30,0.15,0.14,0.15,NaN,0.17,0.07,0.0,0.08,0.24,0.19
33,15-Apr-20,0.91,0.04,1.0,0.06,0.40,0.43,0.52,NaN,0.03,NaN,0.86,0.08,0.40,0.27,0.00,0.12,0.29,0.56,0.67,NaN,0.10,0.0,0.5,0.07,0.0,NaN,0.32,0.15,0.14,0.14,NaN,0.18,0.10,0.5,0.08,0.24,0.17
34,16-Apr-20,1.00,0.04,1.0,0.14,0.45,0.43,0.64,NaN,0.03,NaN,0.86,0.08,0.49,0.30,0.00,0.12,0.26,0.62,0.78,NaN,0.09,0.0,0.5,0.06,0.0,NaN,0.32,0.15,0.14,0.15,NaN,0.27,0.14,0.5,0.08,0.24,0.18
35,17-Apr-20,0.92,0.06,1.0,0.26,0.44,0.43,0.67,NaN,0.04,NaN,0.86,0.08,0.45,0.38,0.00,0.13,0.25,0.65,0.78,NaN,0.10,0.0,0.5,0.05,0.0,NaN,0.35,0.14,0.14,0.15,NaN,0.24,0.21,0.5,0.10,0.22,0.20
36,18-Apr-20,0.79,0.07,1.0,0.34,0.49,0.39,0.69,NaN,0.11,NaN,0.86,0.07,0.44,0.43,0.00,0.15,0.27,0.64,0.78,NaN,0.10,0.0,0.5,0.09,0.0,NaN,0.39,0.13,0.57,0.15,NaN,0.23,0.27,0.5,0.11,0.21,0.19
37,19-Apr-20,0.73,0.10,1.0,0.49,0.44,0.50,0.69,NaN,0.14,NaN,1.00,0.06,0.44,0.41,0.00,0.16,0.28,0.67,0.78,NaN,0.12,0.0,0.5,0.09,0.0,NaN,0.39,0.15,0.57,0.14,NaN,0.22,0.28,0.5,0.12,0.25,0.20
38,20-Apr-20,0.69,0.13,1.0,0.54,0.37,0.54,0.69,NaN,0.21,NaN,1.00,0.07,0.44,0.56,0.09,0.19,0.27,0.71,0.78,NaN,0.12,0.0,1.0,0.09,0.0,NaN,0.32,0.16,0.57,0.13,NaN,0.21,0.30,0.5,0.12,0.39,0.19
39,21-Apr-20,0.65,0.13,1.0,0.54,0.33,0.52,0.69,NaN,0.28,NaN,1.00,0.06,0.44,0.57,0.09,0.21,0.31,0.72,0.78,NaN,0.14,0.0,1.0,0.10,0.0,NaN,0.38,0.20,0.57,0.16,NaN,0.21,0.40,0.5,0.12,0.41,0.19

### Statewise charts

In [138]:
init_date = pd.datetime(2020,3,15)

df = pd.read_csv("../data/extracted_data_api/districtwise_time_series.csv")
df["date"] = pd.to_datetime(df["date"])
df = df[df["date"]>=init_date]
dfsc = pd.read_csv("../data/extracted_data_api/state_codes.csv")
df = df.set_index("state").join(dfsc.set_index("state")).reset_index()

### MAp district names
for i in range(len(df)):
    district_name = df.iloc[i]["district"]
    state_name = df.iloc[i]["state"]
    
    if district_name in district_name_mapping:
        district_name_mapped = district_name_mapping[district_name]
        district_name = district_name_mapped

    if district_name in district_name_resolution:
        district_name_resolved = resolve_district_name(state_name, district_name)
        district_name = district_name_resolved
    
    df.at[i, "district"] = district_name

In [143]:
district_list = df["district"].unique()
dfd = pd.DataFrame()
for i in range(len(district_list)):
    district_name = district_list[i]

    if district_name==district_name:
        dft = df[df["district"]==district_name].copy()
        dft["count"] = dft["count"].cumsum()
        state_name = dft["state"].unique()[0]
        state_code = dft["state_code"].unique()[0]
        dft.reset_index(inplace=True)
        del dft["index"], dft["state"], dft["district"], dft["state_code"]
        dft.rename(columns={"count":district_name}, inplace=True)
        dft[district_name] = dft[district_name].astype(str)
        dft["date"] = pd.to_datetime(dft["date"]).dt.date
        dft.at[-1, "date"] = "state"
        dft.at[-1, district_name] = state_name
        dft.at[-2, "date"] = "state_code"
        dft.at[-2, district_name] = state_code
        dft.sort_index(inplace=True)
        dft = dft.transpose()
        new_header = dft.iloc[0]
        dft = dft[1:]
        dft.columns = new_header
        dft.reset_index(inplace=True)
        dft.rename(columns={"index":"district"}, inplace=True)

        if i==0:
            dfd = dft.copy()
        else:
            dfd = dfd.append(dft)

dfd.to_csv("../data/extracted_data_api/code_data/districtwise_daily_case_count.csv", index=False)

### Spread of outbreak

In [277]:
df = pd.read_csv("../data/extracted_data_api/districtwise_time_series.csv")

### Map district names
for i in range(len(df)):
    district_name = df.iloc[i]["district"]
    state_name = df.iloc[i]["state"]
    if district_name in district_name_mapping:
        district_name_mapped = district_name_mapping[district_name]
        district_name = district_name_mapped

    if district_name in district_name_resolution:
        district_name_resolved = resolve_district_name(state_name, district_name)
        district_name = district_name_resolved
    df.at[i, "district"] = district_name

df["date"] = pd.to_datetime(df["date"], dayfirst=True).dt.date
start_date = df.head(1)["date"].values[0]
end_date = df.tail(1)["date"].values[0]
district_list = df["district"].unique()

dfll = pd.read_csv("../data/extracted_data_api/code_data/district_center_bounds.csv")

In [294]:
dfcp = pd.DataFrame()
idx = 0
for i in range(len(district_list)):
    district_name = district_list[i]
    if district_name==district_name:
        dfd = df[df["district"]==district_name].copy()
        district_total_case_count = int(dfd["count"].cumsum().values[len(dfd)-1])
        max_district_radius = district_total_case_count/1000 #np.log2(district_total_case_count)/10
        cdt = pd.to_datetime(start_date).date()

        if district_name=="Delhi":
            dflld = dfll[dfll["district"]=="New Delhi"].copy()
        else:
            dflld = dfll[dfll["district"]==district_name].copy()

        if len(dflld)==0:
            print(district_name + ": No lat long data")
        elif len(dflld)>1:
            print(district_name + ": More than one lat long data")
        else:
            district_center_lat = dflld["latitude"].values[0]
            district_center_long = dflld["longitude"].values[0]

            while (cdt <= end_date):
                num_cases = int(dfd[dfd["date"]==cdt]["count"].values[0])

                for c in range(num_cases):
                    theta = random.uniform(0, 360)
                    radius = c/num_cases*max_district_radius #random.uniform(0, max_district_radius)
                    patient_lat = district_center_lat + radius*np.cos(theta*np.pi/180) 
                    patient_long = district_center_long + radius*np.sin(theta*np.pi/180) 

                    dfcp.at[idx, "date"] = cdt
                    dfcp.at[idx, "district"] = district_name
                    dfcp.at[idx, "num_cases"] = int(dfd["count"].sum())
                    dfcp.at[idx, "latitude"] = patient_lat
                    dfcp.at[idx, "longitude"] = patient_long

                    idx+=1

                cdt += timedelta(days=1)
dfcp.to_csv("../data/extracted_data_api/code_data/outbreak_spread_case_location.csv", index=False)

Karbi Anglong: More than one lat long data
West Karbi Anglong: No lat long data
Daman: No lat long data
Diu: No lat long data
Niwari: No lat long data
Tikamgarh: More than one lat long data
Tenkasi: No lat long data
Chengalpattu: No lat long data
Ranipet: No lat long data
Kallakurichi: No lat long data
Tirupathur: No lat long data

### State streamgraph

In [267]:
df = pd.read_csv("../data/"+folder+"/statewise_daily_confirmed.csv")
del df["TT"]
df["date"] = pd.to_datetime(df["date"], dayfirst=True)
df.to_csv("../data/extracted_data_api/code_data/state_streamgraph_data.csv", index=False)
df

,date,AN,AP,AR,AS,BR,CH,CT,DN,DD,DL,GA,GJ,HR,HP,JK,JH,KA,KL,LA,LD,MP,MH,MN,ML,MZ,NL,OR,PY,PB,RJ,SK,TN,TG,TR,UP,UT,WB
0,2020-03-14,0,1,0,0,0,0,0,0,0,7,0,0,14,0,2,0,6,19,0,0,0.0,14,0,0,0,0,0,0,1,3,0,1,1,0,12,0,0
1,2020-03-15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,0,0,0.0,18,0,0,0,0,0,0,0,1,0,0,2,0,1,0,0
2,2020-03-16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,3,0,0,NaN,6,0,0,0,0,1,1,0,0,0,0,1,0,0,1,0
3,2020-03-17,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,2,0,0,0,0.0,3,0,0,0,0,0,0,0,0,0,0,1,0,2,0,1
4,2020-03-18,0,0,0,0,0,0,0,0,0,2,0,0,1,0,1,0,5,0,8,0,0.0,3,0,0,0,0,1,0,1,3,0,1,8,0,2,1,0
5,2020-03-19,0,2,0,0,0,1,1,0,0,4,0,2,1,0,0,0,1,1,0,0,0.0,4,0,0,0,0,0,0,0,2,0,1,3,0,3,1,0
6,2020-03-20,0,0,0,0,0,4,0,0,0,6,0,5,2,2,0,0,0,12,2,0,4.0,4,0,0,0,0,0,0,1,8,0,0,3,0,4,0,1
7,2020-03-21,0,2,0,0,0,0,0,0,0,7,0,7,2,0,0,0,5,12,3,0,0.0,12,0,0,0,0,0,0,10,7,0,3,2,0,4,0,2
8,2020-03-22,0,1,0,0,2,1,0,0,0,0,0,4,0,0,0,0,6,15,0,0,2.0,10,0,0,0,0,0,0,8,4,0,3,6,0,2,0,3
9,2020-03-23,0,1,0,0,1,1,0,0,0,3,0,12,7,1,0,0,7,28,0,0,0.0,23,0,0,0,0,0,0,2,4,0,3,6,0,2,1,0
10,2020-03-24,0,1,0,0,0,0,0,0,0,0,0,4,2,0,2,0,8,14,0,0,1.0,10,1,0,0,0,0,0,6,0,0,6,4,0,3,0,2
11,2020-03-25,0,2,0,0,1,0,2,0,0,5,3,4,1,0,5,0,10,9,0,0,8.0,15,0,0,1,0,0,0,2,6,0,8,4,0,3,1,0
12,2020-03-26,1,1,0,0,3,0,3,0,0,1,0,5,1,0,3,0,4,19,0,0,5.0,3,0,0,0,0,1,0,2,2,0,3,3,0,4,0,1
13,2020-03-27,5,2,0,0,2,1,0,0,0,4,0,4,1,0,6,0,9,39,0,0,9.0,31,0,0,0,0,0,0,5,10,0,9,15,0,7,0,5
14,2020-03-28,3,6,0,0,2,0,1,0,0,9,0,8,2,0,13,0,17,6,0,0,10.0,30,0,0,0,0,0,0,0,4,0,4,8,0,16,1,3
15,2020-03-29,0,2,0,0,4,0,0,0,0,23,2,8,0,0,5,0,2,20,0,0,0.0,17,0,0,0,0,0,0,0,5,0,8,3,0,7,1,3
16,2020-03-30,1,2,0,0,0,5,1,0,0,25,0,7,1,0,11,0,5,32,0,0,8.0,17,0,0,0,0,0,0,3,20,0,17,7,0,24,0,1
17,2020-03-31,0,21,0,1,6,2,1,0,0,23,0,4,7,0,6,1,13,7,0,0,19.0,82,0,0,0,0,1,0,1,14,0,57,20,0,8,0,15
18,2020-04-01,0,67,0,15,3,2,0,0,0,32,0,13,0,0,7,0,9,24,0,0,32.0,33,0,0,0,0,1,2,4,27,0,110,30,0,13,0,0
19,2020-04-02,0,38,1,0,5,1,0,0,0,141,0,1,6,3,8,1,14,21,0,0,9.0,88,1,0,0,0,0,2,1,13,0,75,27,0,11,3,16
20,2020-04-03,0,15,0,7,2,0,0,0,0,93,1,7,9,0,5,0,4,9,1,0,47.0,64,0,0,0,0,15,0,6,46,0,102,75,0,46,6,0
21,2020-04-04,0,28,0,3,1,0,1,0,0,59,1,13,26,7,17,0,16,11,0,0,25.0,148,0,0,0,0,1,0,12,27,0,74,43,0,60,6,0
22,2020-04-05,0,64,0,0,0,0,0,0,0,58,0,20,6,1,14,1,7,8,0,0,14.0,112,0,0,0,0,18,0,3,60,0,86,62,0,44,4,27
23,2020-04-06,0,47,0,0,0,0,0,0,0,22,0,18,20,4,3,1,12,13,0,0,63.0,121,0,0,0,0,1,0,11,35,0,50,30,1,27,5,0
24,2020-04-07,0,11,0,2,6,0,0,0,0,51,0,29,33,9,16,0,12,9,0,0,34.0,150,0,0,0,0,2,0,20,42,0,69,40,0,27,0,11
25,2020-04-08,1,34,0,0,1,0,0,0,0,93,0,11,24,0,33,0,6,9,0,0,51.0,117,0,0,0,0,0,0,7,40,0,48,49,0,29,4,8
26,2020-04-09,0,15,0,1,19,0,8,0,0,51,0,76,3,1,26,9,16,12,0,0,70.0,229,0,0,0,0,6,0,24,80,0,96,18,0,49,0,4
27,2020-04-10,0,18,0,0,2,1,0,0,0,183,0,116,6,0,23,1,10,7,1,0,40.0,210,0,0,0,0,2,2,21,98,0,77,16,1,23,0,13
28,2020-04-11,0,24,0,0,4,0,7,0,0,166,0,90,3,4,17,3,8,10,0,0,78.0,187,0,0,0,0,4,0,7,139,0,58,16,0,19,0,10
29,2020-04-12,0,15,0,1,0,2,6,0,0,85,0,48,16,0,21,2,17,2,0,0,33.0,221,0,0,0,0,0,0,12,104,0,106,28,0,31,0,8
30,2020-04-13,0,19,0,2,2,0,0,0,0,356,0,56,1,0,25,5,15,3,2,0,52.0,352,0,1,0,0,1,0,6,93,0,98,61,0,75,0,18
31,2020-04-14,0,45,0,1,0,0,2,0,0,51,0,78,2,1,8,3,13,8,0,0,127.0,346,0,0,0,0,5,0,8,108,0,31,52,0,102,2,38
32,2020-04-15,0,41,0,0,6,0,0,0,0,17,0,116,6,2,22,1,19,1,1,0,197.0,236,0,6,0,0,0,0,2,71,0,38,6,0,75,0,23
33,2020-04-16,0,9,0,2,11,0,3,0,0,62,0,163,11,0,14,1,36,7,0,0,226.0,285,0,2,0,0,0,0,11,55,0,25,50,0,70,0,18
34,2020-04-17,1,38,0,0,2,0,0,0,0,67,0,170,8,3,14,3,44,1,0,0,146.0,120,0,0,0,0,0,0,14,98,0,56,66,0,44,3,24
35,2020-04-18,2,31,0,0,1,2,0,0,0,186,0,277,9,1,13,1,25,4,0,0,92.0,327,0,2,0,0,1,0,23,122,0,49,43,0,126,2,32
36,2020-04-19,1,44,0,0,10,3,0,0,0,110,0,367,18,0,13,8,6,2,0,0,5.0,552,0,0,0,0,0,0,10,127,0,105,49,0,125,2,23
37,2020-04-20,1,75,0,0,17,0,0,0,0,78,0,196,1,0,14,5,18,6,0,0,78.0,466,0,0,0,0,13,0,1,98,0,43,14,0,84,2,29
38,2020-04-21,1,35,0,0,13,1,0,0,0,75,0,239,4,0,12,0,10,19,0,0,67.0,552,0,1,0,0,5,0,6,159,0,76,56,0,153,0,53
39,2020-04-22,1,56,0,0,17,0,0,0,0,92,0,229,9,0,27,0,9,11,0,0,35.0,431,0,0,0,0,4,0,27,153,0,33,15,0,112,0,31
40,2020-04-23,4,80,0,1,27,0,0,0,0,128,0,217,6,1,27,7,18,10,0,0,100.0,778,0,0,0,0,6,0,5,76,0,54,27,0,61,1,33
41,2020-04-24,7,62,0,0,53,0,0,0,0,138,0,191,5,0,20,6,29,3,0,0,159.0,390,0,0,0,0,5,0,15,70,0,72,13,0,111,1,58
42,2020-04-25,4,61,0,0,28,1,1,0,0,111,0,256,12,0,40,8,26,7,2,0,99.0,811,0,0,0,0,6,1,10,49,0,66,7,0,172,0,57
43,2020-04-26,0,81,0,0,26,8,0,0,0,293,0,230,9,0,29,15,3,11,0,0,145.0,440,0,0,0,0,3,0,14,102,0,64,11,0,80,3,40
44,2020-04-27,0,80,0,0,69,9,0,0,0,190,0,247,5,0,23,21,9,13,0,0,75.0,522,0,0,0,0,15,0,8,77,0,52,2,0,113,0,38
45,2020-04-28,0,82,0,2,20,11,1,0,0,206,0,226,7,0,19,2,11,4,2,0,222.0,728,0,0,0,0,0,0,12,102,0,121,6,0,67,3,48
46,2020-04-29,0,73,0,0,37,12,0,0,0,125,0,308,3,0,16,2,11,10,0,0,173.0,597,0,0,0,0,7,0,33,74,0,104,7,0,81,1,28

### India vs world case count

In [339]:
country_case_count_thresh = 10000
start_counting_from_case = 200
df = pd.read_csv("../data/owid/02052020/owid-covid-data.csv")[["location", "date", "total_cases"]]
df = df[df["location"] != "World"]
df = df[df["location"] != "International"]
df = df.groupby("location").filter(lambda x: x.tail(1)["total_cases"]>country_case_count_thresh)
df = df[df["total_cases"] >= start_counting_from_case]

In [359]:
dfca = pd.DataFrame()
country_list = df["location"].unique()
for i in range(len(country_list)):
    country_name = country_list[i]
    
    dfc = df[df["location"]==country_name].copy()
    dfc.reset_index(inplace=True)
    del dfc["index"]
    dfc.reset_index(inplace=True)
    dfc.rename(columns={"index":"day", "total_cases":country_name}, inplace=True)
    del dfc["date"], dfc["location"]
    dfc["day"] = np.round(dfc["day"]) #.astype(int)
    dfc
    
    if i==0:
        dfca = dfc.copy()
    else:
        dfca = dfca.set_index("day").join(dfc.set_index("day"), how="outer").reset_index()
        dfca["day"] = np.round(dfca["day"]) #.astype(int)
dfca = dfca.transpose()
new_header = dfca.iloc[0]
dfca = dfca[1:]
dfca.columns = new_header
dfca.reset_index(inplace=True)
dfca.rename(columns={"index":"country"}, inplace=True)
idx = 0
for col in dfca.columns:
    if col!="country":
        dfca.rename(columns={col:int(idx)}, inplace=True)
        idx+=1
dfca.to_csv("../data/extracted_data_api/code_data/country_case_count.csv", index=False)
dfca

day,country,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,...,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104
0,United Arab Emirates,248.0,333.0,333.0,405.0,468.0,468.0,611.0,664.0,664.0,1024.0,1024.0,1505.0,1799.0,2076.0,2359.0,2659.0,2990.0,3360.0,3736.0,4123.0,4521.0,4933.0,5365.0,5825.0,5825.0,6302.0,6781.0,7265.0,7755.0,8238.0,8756.0,9281.0,9813.0,10349.0,10839.0,11380.0,11929.0,12481.0,13038.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Austria,246.0,361.0,504.0,655.0,860.0,1016.0,1332.0,1646.0,2196.0,2649.0,3024.0,3631.0,4486.0,5282.0,5888.0,7029.0,7697.0,8291.0,8813.0,9618.0,10182.0,10711.0,11129.0,11525.0,11766.0,11983.0,12297.0,12640.0,12969.0,13248.0,13560.0,13807.0,13937.0,14043.0,14234.0,14370.0,14448.0,14603.0,14662.0,14710.0,14783.0,14833.0,14924.0,14985.0,15068.0,15134.0,15189.0,15256.0,15314.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Belgium,200.0,239.0,267.0,314.0,399.0,559.0,689.0,886.0,1085.0,1243.0,1486.0,1795.0,2257.0,2815.0,3401.0,3743.0,4269.0,4937.0,6235.0,7284.0,9134.0,10836.0,11899.0,12775.0,13964.0,15348.0,16770.0,18431.0,19691.0,20814.0,22194.0,23403.0,24983.0,26667.0,28018.0,29647.0,30589.0,31119.0,33573.0,34809.0,36138.0,37183.0,38496.0,39983.0,40956.0,41889.0,42797.0,44293.0,45325.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Belarus,254.0,351.0,394.0,564.0,700.0,861.0,1066.0,1486.0,1981.0,2226.0,2578.0,2919.0,3281.0,3728.0,4204.0,4779.0,4779.0,4779.0,6264.0,6723.0,7281.0,8022.0,8773.0,9590.0,10463.0,11289.0,12208.0,13181.0,14027.0,14917.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Brazil,200.0,234.0,291.0,428.0,621.0,904.0,1128.0,1546.0,1891.0,2201.0,2433.0,2915.0,3417.0,3904.0,4256.0,4579.0,5717.0,6836.0,7910.0,9056.0,10278.0,11130.0,12056.0,13717.0,15927.0,17857.0,19638.0,20727.0,22169.0,23430.0,25262.0,28320.0,30425.0,33682.0,36599.0,38654.0,40581.0,43079.0,45757.0,49492.0,52995.0,58509.0,61888.0,66501.0,71886.0,78162.0,85380.0,91589.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Canada,244.0,304.0,424.0,569.0,690.0,846.0,971.0,1302.0,1430.0,1646.0,1959.0,3385.0,4018.0,4675.0,5386.0,6255.0,7424.0,8536.0,9595.0,11268.0,12519.0,13882.0,15496.0,16653.0,17883.0,19274.0,20748.0,22133.0,23301.0,24365.0,25663.0,27046.0,28364.0,30081.0,31872.0,33341.0,34777.0,36823.0,38413.0,40179.0,42099.0,43877.0,45341.0,46884.0,48489.0,50015.0,51587.0,53236.0,55061.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Switzerland,209.0,264.0,332.0,374.0,490.0,642.0,854.0,1121.0,1359.0,2200.0,2200.0,2650.0,3010.0,3888.0,4840.0,6077.0,6971.0,8015.0,8789.0,9714.0,10714.0,12104.0,13152.0,14274.0,15412.0,16108.0,17070.0,18194.0,19227.0,20201.0,21022.0,21574.0,22164.0,22710.0,23495.0,24228.0,24820.0,25220.0,25499.0,25753.0,26336.0,26651.0,26997.0,27322.0,27658.0,27826.0,27981.0,28186.0,28414.0,...,29503.0,29622.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Chile,201.0,238.0,342.0,434.0,537.0,632.0,746.0,922.0,1142.0,1306.0,1610.0,1909.0,2139.0,2449.0,2738.0,3031.0,3404.0,3737.0,4161.0,4471.0,4815.0,5116.0,5546.0,5972.0,6501.0,6927.0,7213.0,7525.0,7917.0,8273.0,8807.0,9252.0,9730.0,10088.0,10507.0,10832.0,11296.0,11812.0,12306.0,12858.0,13331.0,13813.0,14365.0,14885.0,16023.0,17008.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,China,216.0,235.0,386.0,526.0,623.0,882.0,1323.0,1988.0,2775.0,4528.0,5994.0,7734.0,9714.0,11809.0,14399.0,17211.0,20448.0,24320.0,28047.0,31207.0,34625.0,37232.0,40206.0,42696.0,44724.0,59865.0,64021.0,66559.0,68566.0,70618.0,72508.0,74258.0,74652.0,75543.0,76369.0,77016.0,77234.0,77749.0,78159.0,78598.0,78927.0,79355.0,79929.0,80134.0,80261.0,80380.0,80497.0,80667.0,80768.0,...,80973.0,80995.0,81020.0,81063.0,81086.0,81130.0,81229.0,81281.0,81346.0,81484.0,81553.0,81631.0,81733.0,81827.0,81946.0,82059.0,82157.0,82241.0,82295.0,82395.0,82465.0,82527.0,82575.0,82642.0,82698.0,82784.0,82870.0,82925.0,83004.0,83097.0,83209.0,83303.0,83352.0,83402.0,83754.0,83785.0,83803.0,83817.0,83849.0,83864.0,83876.0,83884.0,83899.0,83909.0,83912.0,83938.0,83940.0,83944.0,83956.0,83959.0
9,Germany,262.0,400.0,684.0,847.0,902.0,1139.0,1296.0,1567.0,2369.0,3062.0,3795.0,4838.0,6012.0,7156.0,8198.0,14138.0,18187.0,21463.0,24774.0,29212.0,31554.0,36508.0,42288.0,48582.0,52547.0,57298.0,61913.0,67366.0,73522.0,79696.0,85778.0,91714.0,95391.0,99225.0,103228.0,108202.0,113525.0,117658.0,120479.0,123016.0,125098.0,127584.0,130450.0,133830.0,137439.0,139897.0,141672.0,143457.0,145694.0,...,157641.0,159119.0,159119.0,161703.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Ecuador,426.0,532.0,789.0,981.0,1082.0,1211.0,1403.0,1627.0,1835.0,1890.0,1966.0,2302.0,2758.0,3163.0,3368.0,3465.0,3646.0,3747.0,3995.0,4450.0,4965.0,7161.0,7257.0,7466.0,7529.0,7603.0,7858.0,8225.0,8450.0,9022.0,9468.0,10128.0,10398.0,10850.0,11183.0,11183.0,11183.0,22719.0,23240.0,24258.0,24675.0,24934.0,26336.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Spain,200.0,261.0,374.0,430.0,589.0,1204.0,1639.0,2140.0,3004.0,4231.0,5753.0,7753.0,9191.0,11178.0,13716.0,17147.0,19980.0,24926.0,28572.0,33089.0,39673.0,47610.0,56188.0,64059.0,72248.0,78797.0,85195.0,94417.0,102136.0,110238.0,117710.0,124736.0,130759.0,135032.0,140510.0,146690.0,152446.0,157022.0,161852.0,166019.0,169496.0,177464.0,181504.0,185904.0,190008.0,188578.0,191163.0,194515.0,197142.0,...,212917.0,213435.0,215216.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,France,212.0,285.0,423.0,613.0,716.0,1126.0,1412.0,1784.0,2281.0,2876.0,3661.0,4499.0,5423.0,6633.0,7730.0,9134.0,10995.0,12612.0,14459.0,16018.0,19856.0,22302.0,25233.0,29155.0,32964.0,37575.0,40174.0,44550.0,52128.0,56989.0,59105.0,64338.0,68605.0,70478.0,74390.0,78167.0,82048.0,86334.0,90676.0,93790.0,95403.0,98076.0,103573.0,106206.0,108847.0,109252.0,111821.0,112606.0,114657.0,...,125770.0,126835.0,128442.0,129581.0,130185.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,United Kingdom,206.0,273.0,321.0,373.0,456.0,590.0,707.0,1140.0,1391.0,1543.0,1950.0,2630.0,3277.0,3983.0,5018.0,5683.0,6650.0,8077.0,9529.0,11658.0,14543.0,17089.0,19522.0,22141.0,25150.0,29474.0,33718.0,38168.0,41903.0,47806.0,51608.0,55242.0,60733.0,65077.0,70272.0,78991.0,84279.0,88621.0,93873.0,98476.0,103093.0,108692.0,114217.0,120067.0,124743.0,129044.0,133495.0,138078.0,143464.0,...,177454.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Indonesia,227.0,309.0,450.0,514.0,579.0,686.0,790.0,893.0,1046.0,1155.0,1285.0,1414.0,1528.0,1677.0,1790.0,1986.0,2092.0,2273.0,2491.0,2738.0,2956.0,3293.0,3512.0,3842.0,4241.0,4557.0,4839.0,5136.0,5516.0,5923.0,6248.0,6575.0,6760.0,7135.0,7418.0,7775.0,8211.0,8607.0,8882.0,9096.0,9511.0,9771.0,10118.0,10551.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,India,231.0,320.0,439.0,492.0,562.0,649.0,724.0,873.0,979.0,1071.0,1251.0,1397.0,1965.0,2301.0,2902.0,3374.0,4067.0,4421.0,5194.0,5734.0,6412.0,7447.0,8356.0,9152.0,10363.0,11438.0,12380.0,13387.0,14378.0,15712.0,17265.0,18600.0,19984.0,21393.0,23077.0,24506.0,26496.0,27892.0,29435.0,31332.0,33050.0,35043.0,37336.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Ireland,223.0,292.0,366.0,557.0,683.0,785.0,906.0,1125.0,1329.0,1564.0,1819.0,2121.0,2415.0,2615.0,2910.0,3235.0,3447.0,3849.0,4273.0,4604.0,5111.0,5364.0,5709.0,6224.0,7393.0,8089.0,8928.0,9655.0,10647.0,11479.0,12547.0,13271.0,13980.0,14758.0,15251.0,15652.0,16040.0,16671.0,17607.0,18184.0,18561.0,19262.0,19648.0,19877.0,20253.0,20612.0,20833.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Iran,245.0,388.0,593.0,978.0,1501.0,2336.0,2922.0,3513.0,4747.0,5823.0,6566.0,7161.0,8042.0,9000.0,10075.0,11364.0,12729.0,13938.0,14991.0,16169.0,17361.0,18407.0,19644.0,20610.0,21638.0,23049.0,24811.0,27017.0,29406.0,32332.0,35408.0,38309.0,41495.0,44606.0,47593.0,50468.0,50468.0,55743.0,58226.0,60500.0,62589.0,64586.0,66220.0,68192.0,70029.0,71686.0,73303.0,74877.0,76389.0,...,85996.0,87026.0,88194.0,89328.0,90481.0,91472.0,92584.0,93657.0,94640.0,95646.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Israel,250.0,260.0,427.0,433.0,677.0,712.0,883.0,1071.0,1442.0,1930.0,2369.0,2666.0,3035.0,3619.0,4247.0,4473.0,4916.0,5591.0,6252.0,7428.0,8018.0,8430.0,8904.0,9248.0,9404.0,9968.0,10408.0,10743.0,11145.0,11586.0,12046.0,12501.0,12758.0,12982.0,13265.0,13491.0,13713.0,13942.0,14592.0,14882.0,15058.0,15298.0,15398.0,15466.0,15589.0,15834.0,15946.0,16101.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Italy,229.0,322.0,400.0,650.0,888.0,1128.0,1689.0,2036.0,2502.0,3089.0,3858.0,4636.0,5883.0,7375.0,9172.0,10149.0,12462.0,15113.0,17660.0,21157.0,23980.0,27980.0,31506.0,35713.0,41035.0,47021.0,53578.0,59138.0,63927.0,69176.0,74386.0,80539.0,86498.0,92472.0,97689.0,101739.0,105792.0,110574.0,115242.0,119827.0,124632.0,128948.0,132547.0,135586.0,139422.0,143626.0,147577.0,152271.0,156363.0,...,178972.0,181228.0,183957.0,187327.0,189973.0,192994.0,195351.0,197675.0,199414.0,201505.0,203591.0,205463.0,207428.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Japan,210.0,230.0,239.0,254.0,254.0,268.0,317.0,349.0,408.0,455.0,488.0,514.0,568.0,619.0,675.0,737.0,780.0,814.0,824.0,829.0,873.0,950.0,1007.0,1046.0,1089.0,1128.0,1193.0,1268.0,1364.0,1499.0,1693.0,1866.0,1953.0,1953.0,2178.0,2617.0,2935.0,3271.0,3654.0,3817.0,3906.0,4257.0,4667.0,5347.0,6748.0,7255.0,7645.0,8100.0,8582.0,...,11772.0,12240.0,12892.0,13182.0,13385.0,13576.0,13852.0,14088.0,14281.0,14544.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,South Korea,345.0,601.0,762.0,892.0,1146.0,1595.0,2022.0,2931.0,3526.0,4212.0,4812.0,5328.0,5766.0,6284.0,6767.0,7134.0,7382.0,7513.0,7755.0,7869.0,7979.0,8086.0,8162.0,8236.0,8320.0,8413.0,8565.0,8652.0,8799.0,8897.0,8961.0,9037.0,9137.0,9241.0,9332.0,9478.0,9583.0,9661.0,9786.0,9786.0,9976.0,10062.0,10156.0,10237.0,10284.0,10331.0,10384.0,10423.0,10450.0,...,10635.0,10653.0,10661.0,10674.0,10683.0,10694.0,10702.0,10708.0,10718.0,10728.0,10738.0,10752.0,10761.0,10765.0,10774.0,10780.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Mexico,203.0,251.0,316.0,367.0,405.0,475.0,585.0,717.0,848.0,993.0,1094.0,1215.0,1378.0,1510.0,1688.0,1890.0,2143.0,2439.0,2785.0,3181.0,3441.0,3844.0,4219.0,4661.0,5014.0,5399.0,5847.0,6297.0,6875.0,7497.0,8261.0,8772.0,9501.0,10544.0,11633.0,12872.0,13842.0,14677.0,15529.0,16752.0,17799.0,19224.0,20739.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Netherlands,265.0,321.0,382.0,503.0,614.0,804.0,959.0,1135.0,1413.0,1705.0,2051.0,2460.0,2994.0,3631.0,4204.0,4749.0,5560.0,6412.0,7431.0,8603.0,9762.0,10866.0,11750.0,12595.0,13614.0,14697.0,15723.0,16627.0,17851.0,18803.0,19580.0,20549.0,21762.0,23097.0,24413.0,25587.0,26551.0,27419.0,28153.0,29214.0,30449.0,31589.0,32655.0,33405.0,34134.0,34842.0,35729.0,36535.0,37190.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Pakistan,302.0,478.0,495.0,646.0,784.0,887.0,991.0,1057.0,1197.0,1197.0,1408.0,1526.0,1625.0,2039.0,2291.0,2291.0,2291.0,2450.0,3277.0,3864.0,4072.0,4322.0,4601.0,4788.0,5038.0,5374.0,5716.0,5988.0,6505.0,7025.0,7481.0,7993.0,8418.0,9216.0,9749.0,9749.0,11155.0,11940.0,12723.0,13328.0,14079.0,14885.0,15759.0,16817.0,18114.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Peru,234.0,263.0,318.0,363.0,395.0,416.0,558.0,580.0,635.0,671.0,852.0,950.0,1065.0,1323.0,1414.0,1595.0,1746.0,2281.0,2561.0,2954.0,4342.0,5256.0,5897.0,6848.0,7519.0,7519.0,10303.0,11475.0,12491.0,13489.0,14420.0,15628.0,16325.0,17837.0,19250.0,20914.0,21648.0,25331.0,27517.0,28699.0,31190.0,33931.0,36976.0,40459.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Poland,238.0,287.0,355.0,425.0,536.0,634.0,749.0,901.0,1051.0,1221.0,1389.0,1638.0,1862.0,2055.0,2311.0,2554.0,2946.0,3383.0,3627.0,4102.0,4413.0,4848.0,5205.0,5575.0,5955.0,6356.0,6674.0,6934.0,7202.0,7582.0,7918.0,8379.0,8742.0,9287.0,9593.0,9856.0,10169.0,10511.0,10892.0,11273.0,11617.0,11902.0,12218.0,12640.0,12877.0,13105.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Portugal,245.0,331.0,448.0,642.0,785.0,1020.0,1280.0,1600.0,2060.0,2362.0,2995.0,3544.0,4268.0,5170.0,5962.0,6408.0,7443.0,8251.0,9034.0,9886.0,10524.0,11278.0,11730.0,12442.0,13141.0,13956.0,15472.0,15987.0,16585.0,16934.0,17448.0,18091.0,18841.0,19022.0,19685.0,20206.0,20863.0,21379.0,21982.0,22353.0,22797.0,23392.0,23864.0,24027.0,24322.0,24505.0,25056.0,25351.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Qatar,262.0,320.0,337.0,401.0,439.0,442.0,452.0,460.0,470.0,481.0,494.0,501.0,526.0,537.0,549.0,562.0,590.0,634.0,693.0,781.0,835.0,949.0,949.0,1325.0,1604.0,1832.0,2057.0,2210.0,2376.0,2512.0,2728.0,2979.0,3231.0,3428.0,3711.0,4103.0,4663.0,5008.0,5448.0,6015.0,6533.0,7141.0,7764.0,8525.0,9358.0,10287.0,11244.0,11921.0,12564.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Romania,217.0,260.0,277.0,308.0,367.0,433.0,576.0,762.0,906.0,1029.0,1292.0,1452.0,1760.0,1952.0,2245.0,2460.0,2738.0,3183.0,3613.0,3864.0,4057.0,4417.0,4761.0,5202.0,5467.0,5990.0,6300.0,6633.0,6879.0,7216.0,7707.0,8067.0,8418.0,8746.0,8936.0,9242.0,9710.0,10096.0,10417.0,10635.0,11036.0,11339.0,11616.0,11978.0,12240.0,12567.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Russia,253.0,306.0,438.0,438.0,495.0,658.0,840.0,1036.0,1264.0,1534.0,1836.0,2337.0,2777.0,3548.0,4149.0,4731.0,5389.0,6343.0,7497.0,8672.0,10131.0,11917.0,13584.0,15770.0,18328.0,21102.0,24490.0,27938.0,32008.0,36793.0,42853.0,47121.0,52763.0,57999.0,62773.0,68622.0,74588.0,80949.0,87147.0,93558.0,99399.0,106498.0,114431.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Saudi Arabia,238.0,274.0,392.0,511.0,562.0,767.0,900.0,1012.0,1104.0,1203.0,1229.0,1453.0,1563.0,1720.0,1885.0,1885.0,2179.0,2385.0,2523.0,2795.0,2932.0,3287.0,3651.0,4033.0,4462.0,4934.0,5369.0,5862.0,6380.0,7142.0,8274.0,9362.0,10484.0,11631.0,12772.0,13930.0,15102.0,16299.0,17522.0,18811.0,20077.0,21402.0,22753.0,24097.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Singapore,200.0,214.0,226.0,243.0,266.0,313.0,345.0,385.0,432.0,455.0,509.0,558.0,568.0,594.0,732.0,803.0,844.0,844.0,879.0,1000.0,1049.0,1114.0,1189.0,1309.0,1375.0,1481.0,1623.0,1909.0,1909.0,2299.0,2532.0,2918.0,3252.0,3699.0,4427.0,5050.0,5992.0,6588.0,8014.0,9125.0,10141.0,11178.0,11178.0,12693.0,13624.0,14423.0,14951.0,15641.0,16169.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Sweden,203.0,248.0,326.0,462.0,620.0,775.0,924.0,1032.0,1121.0,1167.0,1301.0,1423.0,1623.0,1746.0,1906.0,2016.0,2272.0,2510.0,2806.0,3046.0,3447.0,3700.0,4028.0,4435.0,4947.0,5466.0,6078.0,6443.0,6830.0,7206.0,7693.0,8419.0,9141.0,9685.0,10151.0,10483.0,10948.0,11445.0,11927.0,12540.0,13216.0,13822.0,14385.0,14777.0,15322.0,16004.0,16755.0,17567.0,18177.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [366]:
europe_countries_list = ["Austria", "Belgium","Belarus","Switzerland", "Germany", "Spain","France","United Kingdom",
                        "Ireland","Italy","Netherlands","Poland","Portugal","Romania","Russia","Sweden","Turkey",
                        "Ukraine"]
asia_countries_list = ["China", "Indonesia", "India","Iran","Israel","Japan","South Korea","Pakistan","Qatar",
                       "Saudi Arabia","Singapore","United Arab Emirates"]
americas_countries_list = ["Brazil", "Chile", "Mexico","Peru","Canada","United States"]
africa_countries_list = ["Ecuador"]

country_continent_mapping = {}
filtered_countries_list = dfca["country"].unique()
for c in filtered_countries_list:
    if c in europe_countries_list:
        country_continent_mapping[c] = "Europe"
    elif c in asia_countries_list:
        country_continent_mapping[c] = "Asia"
    elif c in americas_countries_list:
        country_continent_mapping[c] = "Americas"
    elif c in africa_countries_list:
        country_continent_mapping[c] = "Africa"
    else:
        country_continent_mapping[c] = "Others"

### India vs world testing rate

In [430]:
country_case_count_thresh = 10000
start_counting_from_case = 200
df = pd.read_csv("../data/owid/02052020/owid-covid-data.csv")[["location", "date", "total_cases", "total_cases_per_million", "total_tests_per_thousand"]]
df = df[df["location"] != "World"]
df = df[df["location"] != "International"]
df = df.groupby("location").filter(lambda x: x.tail(1)["total_cases"]>country_case_count_thresh)
df = df.dropna(subset=["total_cases_per_million", "total_tests_per_thousand"])
df = df.groupby('location').nth(-1).reset_index()
del df["date"]
df.rename(columns={"location":"country"}, inplace=True)
df.to_csv("../data/extracted_data_api/code_data/country_testing_rate.csv", index=False)
df

,country,total_cases,total_cases_per_million,total_tests_per_thousand
0,Austria,15457,1716.224,29.321
1,Belarus,11289,1194.689,17.041
2,Belgium,47334,4084.173,26.484
3,Canada,53236,1410.518,21.367
4,Chile,14885,778.659,9.443
5,Ecuador,24675,1398.567,2.995
6,France,125770,1926.815,11.101
7,Germany,154175,1840.150,30.400
8,India,35043,25.393,0.654
9,Indonesia,10118,36.991,0.280
10,Iran,93657,1115.058,5.516
11,Ireland,19648,3979.103,30.996
12,Israel,15466,1786.832,40.998
13,Italy,203591,3367.265,32.735
14,Japan,14281,112.914,1.377
15,Mexico,17799,138.049,0.557
16,Netherlands,38416,2241.978,12.824
17,Pakistan,16817,76.132,0.825
18,Peru,33931,1029.090,9.652
19,Poland,12877,340.242,9.370
20,Portugal,24322,2385.280,40.205
21,Qatar,13409,4654.190,33.920
22,Romania,12240,636.251,9.548
23,Russia,106498,729.766,25.517
24,Singapore,13624,2328.752,17.081
25,South Korea,10774,210.146,12.153
26,Spain,200194,4281.787,22.148
27,Sweden,18177,1799.833,11.803
28,Switzerland,29181,3371.726,30.594
29,Turkey,117589,1394.241,12.255
30,Ukraine,9866,225.592,2.558
31,United Kingdom,165221,2433.801,10.125
32,United States,1039909,3141.694,18.825

### topojson to geojson

In [ ]:
##https://gis.stackexchange.com/questions/207731/generating-random-coordinates-in-multipolygon-in-python
import random
from shapely.geometry import Point

def generate_random(number, polygon):
    list_of_points = []
    minx, miny, maxx, maxy = polygon.bounds
    counter = 0
    while counter < number:
        pnt = Point(random.uniform(minx, maxx), random.uniform(miny, maxy))
        if polygon.contains(pnt):
            list_of_points.append(pnt)
            counter += 1
    return list_of_points

In [922]:
#https://gist.github.com/perrygeo/1e767e42e8bc54ad7262
#https://github.com/sgillies/topojson/blob/master/topojson.py

import json
import sys
from topojson_geometry import geometry
from shapely.geometry import asShape
from shapely.geometry import shape

dfll = pd.DataFrame()
idx = 0

for f in os.listdir("../data/extracted_data_api/code_data/state_geojson_data_howIndiaLives/"):
    state_name = f.split(".json")[0]
    topojson_path = "../data/extracted_data_api/code_data/state_geojson_data_howIndiaLives/"+f
    geojson_path = "../data/extracted_data_api/code_data/geojson_map/"+f

    with open(topojson_path, 'r') as fh:
        f = fh.read()
        topology = json.loads(f)

    features = topology['objects'][state_name+"_district"]['geometries']
    scale = topology['transform']['scale']
    trans = topology['transform']['translate']

    with open(geojson_path, 'w') as dest:
        fc = {'type': "FeatureCollection", 'features': []}

        for id, tf in enumerate(features):
            f = {'id': id, 'type': "Feature"}
            f['properties'] = tf['properties'].copy()

            geommap = geometry(tf, topology['arcs'], scale, trans)
            geom = asShape(geommap).buffer(0)
            assert geom.is_valid
            f['geometry'] = geom.__geo_interface__

            fc['features'].append(f) 

        # Save geojson file
        dest.write(json.dumps(fc))
    
        # Compute district center
        for d in range(len(fc["features"])):
            geom = shape(fc["features"][d]["geometry"])    
            district_bounds = geom.bounds
            district_name = fc["features"][d]["properties"]["district"]
            if district_name in district_name_mapping:
                district_name_mapped = district_name_mapping[district_name]
                district_name = district_name_mapped
                
            if district_name in district_name_resolution:
                district_name_resolved = resolve_district_name(state_name, district_name)
                district_name = district_name_resolved
            
            dfll.at[idx, "district"] = district_name
            dfll.at[idx, "latitude"] = geom.centroid.y
            dfll.at[idx, "longitude"] = geom.centroid.x

            minx, miny, maxx, maxy = geom.bounds
            dfll.at[idx, "minx"] = minx
            dfll.at[idx, "maxx"] = maxx
            dfll.at[idx, "miny"] = miny
            dfll.at[idx, "maxy"] = maxy

            idx+=1

bhadrak_bounds = (86.27553642278104, 20.735154747771226, 86.97753404572204, 21.236571014401317)
minx, miny, maxx, maxy = bhadrak_bounds
dfll.at[dfll["district"]=="Bhadrak", "minx"] = minx
dfll.at[dfll["district"]=="Bhadrak", "maxx"] = maxx
dfll.at[dfll["district"]=="Bhadrak", "miny"] = miny
dfll.at[dfll["district"]=="Bhadrak", "maxy"] = maxy

dfll.to_csv("../data/extracted_data_api/code_data/district_center_bounds.csv", index=False)

In [1100]:
"""
df = pd.read_csv("../data/extracted_data_api/code_data/clusters.csv")
cluster_location_list = df["cluster_location"].unique()

## One time - Get lat, long of cluster, foreign travel centers
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
geolocator = Nominatim(user_agent="myGeocoder")

#cluster_district_mapping = {"Saudi":"Saudi Arabia", "Evacuees*":"Iran", "Abhudhabi":"Abu dhabi", "WB":"West Bengal"}
cluster_district_skip = ["Shahid Bhagat Singh Nagar", "Thenkashi"]

#dfcll = pd.DataFrame()
#idx = 0
for loc in cluster_location_list[147:]:
    if ((not pd.isnull(loc)) and (loc not in cluster_district_skip)):

        try:
            location = geolocator.geocode(loc, timeout=10) #, geometry="geojson")
            print(loc + " " + str(location.latitude), str(location.longitude))
            dfcll.at[idx, "location"] = loc
            dfcll.at[idx, "latitude"] = location.latitude
            dfcll.at[idx, "longitude"] = location.longitude
            dfcll.at[idx, "minx"] = location.raw["boundingbox"][2]
            dfcll.at[idx, "maxx"] = location.raw["boundingbox"][3]
            dfcll.at[idx, "miny"] = location.raw["boundingbox"][0]
            dfcll.at[idx, "maxy"] = location.raw["boundingbox"][1]
            
        except GeocoderTimedOut as e:
            dfcll.at[idx, "location"] = loc
            dfcll.at[idx, "latitude"] = np.nan
            dfcll.at[idx, "longitude"] = np.nan
            dfcll.at[idx, "minx"] = np.nan
            dfcll.at[idx, "maxx"] = np.nan
            dfcll.at[idx, "miny"] = np.nan
            dfcll.at[idx, "maxy"] = np.nan
            print(loc + " Error: geocode failed on input %s with message %s"%(loc, e.message))

        idx+=1
dfcll.to_csv("../data/extracted_data_api/code_data/cluster_center_bounds.csv", index=False)
"""
#print("One time")

Dehradun 30.3255646 78.0436813
Pollachi 10.669422350000001 77.01017959253107
Surat 45.9383 3.2553
Hindupur 13.826383 77.4937723
Maharashtra 19.531932 76.0554568
Kottayam 9.62857045 76.6455250291479

In [3]:
def is_in_pharma_company_list(notes):
    pharma_company_list = ["Pharmaceutical company employee", "Pharma Company Worker"]
    for f in pharma_company_list:
        if f in notes:
            return True
    return False

def is_in_delhi_religious_list(notes):
    is_in_delhi_religious_list = ["Attended Delhi Religious Conference"]
    for f in is_in_delhi_religious_list:
        if f in notes:
            return True
    return False
    
def is_in_travel_list(notes):
    travel_list = ["Travelled from ", "Travelled to ", "Tavelled from ", "Travel history to ", "Travel History to ",
                  "foreign travel from ", "travelled to ", "Returned from ", "Travel HIstory to ",
                  "History of travel to ", "Evacuees from "]
    
    travel_place_unknown_list = ["No history of travel", "Travel history", "travel history", "Foreign Travel",
                                ]
    
    for f in travel_list:
        if f in notes:
            travelled_from_place = notes.split(f)[1].split(" ")[0]
            if travelled_from_place in ["United", "New", "Sri", "Abu", "West", "Uttar"]:
                travelled_from_place = notes.split(f)[1].split(" ")[0] + " " + notes.split(f)[1].split(" ")[1] 
            if "," in travelled_from_place:
                travelled_from_place = travelled_from_place.split(",")[0]
            if "." in travelled_from_place:
                travelled_from_place = travelled_from_place.split(".")[0]
            if ";" in travelled_from_place:
                travelled_from_place = travelled_from_place.split(";")[0]
            if ")" in travelled_from_place:
                travelled_from_place = travelled_from_place.split(")")[0]
            return travelled_from_place
    
    for f in travel_place_unknown_list:
        if f in notes:
            return np.nan

    return False

def is_in_iran_evacuee_list(notes):
    iran_evacuee_list = ["Evacuees from Iran", "Evacuee from Iran"]
    for f in iran_evacuee_list:
        if f in notes:
            return True
    return False

def is_in_misc_list(notes):
    misc_list = ["Co-passenger", "Cab driver",  "Indian Army jawan", "Travelled in a car with",
                "Supertech Capetown, Sector 74, NOIDA", "Tourist", "BSF officer" , "Dharavi", "Domestic Travel",
                "SARI", "Police", "Journalist", "Influenza like illness", "Conatct with patient", "Influenza like Illness"]
    for f in misc_list:
        if f in notes:
            return f
    return False

def is_in_no_travel_history_list(notes):
    no_travel_history_list = ["No travel history", "No Travel History", "No foreign travel",
                             "No history of travelling abroad",]
    for f in no_travel_history_list:
        if f in notes:
            return True
    return False

def is_in_healthcare_list(notes):
    healthcare_list = ["Doctor", "Staff of Private Hospital", "Nurse", "Hospital staff", "Health worker",
                      "Sanitation worker", "Attendent", "Hospital Staff"]
    for f in healthcare_list:
        if f in notes:
            return f
    return False
    
def is_in_skip_list(notes):
    skip_list = ["Factory Manager contact with businessman from Italy", "Was in contact with",
                "Have international history and were brought in from the Mumbai Airport", "Sector 78; Contracted from his boss",
                 "Reached Chennai MGR Central from Delhi via Train on 12.03.2020", "Travelled to UK", "Details awaited",
                 "Bangar Hospital Compounder","Admitted on Swine Flu suspicion; COVID19 confirmed",
                 "Worked at a beauty salon that Chandigarh’s first coronavirus patient visited",
                 "Landed in Mangalore airport, had been to Kasturba Medical College Attavar",
                 "No international travel history, has travelled to  Bilaspur by train",
                 "One more person, who is under observation at Dehradun's Doon Hospita", "Details Awaited",
                 "Sonipat", "Anganwadi Worker, Visited Velha, Attended Marriage, Tested Positive on 24th March, 2020",
                 "Native of", "details awaited", "Travel history (first case from Ramganj?)", "Travelled with ",
                 "Matched ", "A 50-year-old man, a railway guard, tested positive at the All India Institute of Medical Sciences, Bhopal",
                 "Match", "IPD patient at of Bangar Hospital", "earlier tested positive", "Woman in 40s",
                 "Worked at", "Patient is from", "Admit Noble Hospital on 2nd April, 2020", "Further Details not known",
                 "From ", "Belongs to", "Admitted to", "Admit to", "Visited", "Organized Medical camp with participation of NRIs",
                 "The detailed investigation is under process", "admit", "confimed positive", "No Info", "Classified as",
                 "They work at a bakery in Jawaharpur, Dera Bassi", "Source of", "Travelle from", "Returned to",
                 "ambulance", "Travelld from", "As per MohFW update", "Conference", "History of travel from Hidupur on 2 wheeler on 7/4/2020",
                 "Neighour of", "WB returnees", "Kolkata Returnees", "New case", "Trancing under process"
                ]
    for f in skip_list:
        if f in notes:
            return True
    return False
    
def is_in_family_list(notes):
    family_list = ["Father of", "Mother of", "Wife of", "Son of", "Daughter of", "Brother of", "Sister of", "Son in law of",
                  "Daughter in law of", "Close contact of", "Family members of" ,"Relative of", 
                  "Friends of", "Friend of", "First contacts", "family members", "Family members", "Spouse of",
                  "Father", "Mother", "Related to", "Employee of", "Contact of", "contact of", "husband",
                  "Daughter in Law", "Uncle of", "Aunt of", "Close relative of", "Relatives of", "Grandmother of",
                  "Family member of", "Cousin of", "Brother-in-law of", "Husband of", "Sister in law of", "Family",
                   "family", "relative", "Sister-in-law of"
                  ]
    for f in family_list:
        if f in notes:
            return True
    return False

def is_in_contact_list(notes):
    contact_list = ["Close contact of", "neighbour of", "Friends of", "Friend of", "First contacts",
                    "Employee of", "Contact of", "contact of", "Contact", "contact", "Local transmission",
                   "locally transmitted", "Local Transmission", "Tenant of", "Neighbour of", "neighbour of",
                   "Neighbor of", "Co-worker", "Came in touch with a positive person"]
    for f in contact_list:
        if f in notes:
            return True
    return False

def is_in_worker_list(notes):
    worker_list = ["Cook of", "Domestic worker of"]
    for f in worker_list:
        if f in notes:
            return True
    return False

In [218]:
state_name_mapping = {'odisha':'Odisha', 'telangana':'Telangana', 'meghalaya':'Meghalaya','karnataka':'Karnataka',
                     'haryana':'Haryana','bihar':'Bihar','andhrapradesh':'Andhra Pradesh','jammukashmir':'Jammu and Kashmir',
                     'westbengal':'West Bengal','kerala':'Kerala','chhattisgarh':'Chhattisgarh','andamannicobarislands':'Andaman and Nicobar Islands',
                     'jharkhand':'Jharkhand','ladakh':'Ladakh','uttarpradesh':'Uttar Pradesh','mizoram':'Mizoram','lakshadweep':'Lakshadweep',
                     'nagaland':'Nagaland','tamilnadu':'Tamil Nadu','dadranagarhaveli':'Dadra and Nagar Haveli','delhi':'Delhi',
                     'puducherry':'Puducherry','madhyapradesh':'Madhya Pradesh','arunachalpradesh':'Arunachal Pradesh','uttarakhand':'Uttarakhand',
                     'manipur':'Manipur','tripura':'Tripura','gujarat':'Gujarat','goa':'Goa','assam':'Assam','maharashtra':'Maharashtra',
                     'punjab':'Punjab','sikkim':'Sikkim','rajasthan':'Rajasthan','chandigarh':'Chandigarh','himachalpradesh':'Himachal Pradesh'}

state_name_mapping_howindialives = {"Jammu & Kashmir":"Jammu and Kashmir",
                                    "A& N Islands":"Andaman and Nicobar Islands",
                                    "D & N Haveli":"Dadra and Nagar Haveli"}

district_name_mapping = {"Jagitial":"Jagtial", "Jangoan":"Jangaon", "Kumuram Bheem Asifabad":"Komaram Bheem Asifabad",
                         "Mahabubnagar": "Mahbubnagar", "Ranga Reddy": "Rangareddy", "Yadadri Bhuvanagiri":"Yadadri Bhongir",
                         "Jayashankar": "Jayashankar Bhupalapally",
                         "West Khasi Hills":"West khasi Hills", "East Jaintia Hills":"East Jainta Hills",
                        "Kalaburagi":"Gulbarga", "Belagavi":"Belgaum", "Bagalkote":"Bagalkot", "Ballari":"Bellary",
                        "Shivamogga":"Shimoga", "Chikkamagaluru":"Chikmagalur", "Bengaluru Rural":"Bangalore Rural",
                        "Bengaluru":"Bangalore", "Chamarajanagara":"Chamarajanagar", "Tumakuru":"Tumkur", "Mysuru":"Mysore","Vijayapura":"Bijapur",
                        "Gurugram":"Gurgaon", "Mahendragarh":"Narnaul","Charki Dadri":"Ch-Dadri",
                        "West Champaran": "Pashchim Champaran", "East Champaran":"Purba Champaran", "Kaimur Bhabhua":"Kaimur (Bhabua)", "Kaimur Bhabua":"Kaimur (Bhabua)",
                        "S.P.S. Nellore":"Nellore", "Chittoor":"chittoor",
                        "South 24 Parganas":"South Twenty Four Parganas", "Medinipur West":"Paschim Medinipur", "Medinipur East":"Purba Medinipur",
                        "Darjeeling":"Darjiling", "Purulia":"Puruliya", "North 24 Parganas":"North Twenty Four Parganas", "Hooghly":"Hugli",
                        "Howrah":"Haora", "Cooch Behar":"Koch Bihar",
                        "Gariaband":"Gariyaband", "Kabeerdham":"Kawardha", "Janjgir Champa":"Janjgir - Champa", "Bametara":"Bemetara",
                        "Baloda Bazar":"Balodabazar",
                        "North and Middle Andaman":"North & Middle Andman", "South Andaman":"South Andman","Nicobars":"Nicobar",
                        "Saraikela-kharsawan":"Saraikela-Kharsawan",
                        "Leh":"Leh(Ladakh)",
                        "Amroha":"J P Nagar (Amroha)", "Kheri":"Lakhimpur Kheri", "Kasganj":"Kanshiram Nagar", "Prayagraj":"Allahabad",
                        "Bhadohi":"Sant Ravidas Nagar (Bhadohi)", "Amethi":"C S M Nagar (Amethi)",
                        "Thoothukudi":"Thoothukkudi","Dadra and Nagar Haveli":"Uni District UT", 
                        "Khargone":"Khargone (West Nimar)", "Khandwa":"Khandwa (East Nimar)", "Ashoknagar":"Ashok Nagar",
                        "Kra Daadi":"Kra daadi", "Lower Dibang Valley":"Lower Dibang valley", "Upper Dibang Valley":"Dibang Valley",
                        "Haridwar":"Hardwar", "Noney":"None", "Pherzawl":"Pherjawl", "Sipahijala":"Sepahijala District","Gomati":"Gomati District",
                        "Khowai":"Khowai District", "Unokoti":"Unakoti District", "The Dangs":"Dang", "Chota Udaipur":"Chhota Udepur",
                        "Aravalli":"Arvalli",
                        "S.A.S. Nagar":"Mohali", "Sri Muktsar Sahib":"Muktsar","Jalore":"Jalor",
                        "Jhunjhunu":"Jhunjhunun", "Lahul and Spiti":"Lahul & Spiti","North  District":"North District"
                        }


district_name_resolution = ["Aurangabad", "Bijapur", "Raigarh", "Bilaspur", "Balrampur", "Hamirpur", "Pratapgarh"]

"""
district_name_unmapped_old = ["Muzaffarabad", "Mirpur", "Shi Yomi", "Pakke Kessang", "Pakke-Kessang", "Lepa Rada", "Pauri Garhwal",
                         "Charaideo", "Majuli", "Biswanath", "Hojai", "South Salmara Mancachar",
                         "Shahid Bhagat Singh Nagar", "West Karbi Anglong"]
"""

district_name_wiki_mapping = {"Sri Potti Sriramulu Nellore":"Nellore", "Kadapa":"Y.S.R.",
    "Dantewada":"Dakshin Bastar Dantewada", "Janjgir-Champa":"Janjgir - Champa","Kabirdham":"Kawardha", "Kanker":"Uttar Bastar Kanker",
    "Ahmedabad":"Ahmadabad", "Banaskantha": "Banas Kantha", "Dahod":"Dohad", "Devbhoomi Dwarka":"Devbhumi Dwarka",
    "Kutch":"Kachchh", "Mehsana":"Mahesana", "Panchmahal":"Panch Mahals", "Sabarkantha":"Sabar Kantha",
    "Charkhi Dadri":"Ch-Dadri", "Hissar":"Hisar", "Yamuna Nagar":"Yamunanagar",
    "Lahaul and Spiti":"Lahul & Spiti",
    "East Singhbhum":"Purbi Singhbhum", "West Singhbhum":"Pashchimi Singhbhum", "Hazaribag":"Hazaribagh", "Koderma":"Kodarma", "Seraikela Kharsawan":"Saraikela-Kharsawan",
    "Bangalore Urban":"Bangalore","Chamarajnagar":"Chamarajanagar","Chikkaballapur":"Chikkaballapura",
    "Narsinghpur":"Narsimhapur", "Ahmednagar":"Ahmadnagar", "Beed":"Bid", "Buldhana":"Buldana", "Gondia":"Gondiya", "Mumbai City":"Mumbai","Mumbai suburban":"Mumbai Suburban",
    "Raigad":"Raigarh (Maharashtra)","Ri Bhoi":"Ribhoi", "Angul":"Anugul", "Boudh (Bauda)":"Baudh", "Bargarh (Baragarh)":"Bargarh", "Balasore":"Baleshwar",
    "Debagarh (Deogarh)":"Debagarh", "Jajpur":"Jajapur", "Jagatsinghpur":"Jagatsinghapur","Kendujhar (Keonjhar)":"Kendujhar", "Nabarangpur":"Nabarangapur", "Subarnapur (Sonepur)":"Subarnapur",
    "Chittorgarh":"Chittaurgarh", "Dholpur":"Dhaulpur", "East Sikkim":"East District", "North Sikkim":"North District", "South Sikkim":"South District", "West Sikkim":"West District",
    "Kanchipuram":"Kancheepuram", "Kanyakumari":"Kanniyakumari", "Nilgiris":"The Nilgiris", "Tirupur":"Tiruppur",
    "Tiruvallur":"Thiruvallur","Tiruvarur":"Thiruvarur", "Komaram Bheem":"Komaram Bheem Asifabad","Jayashankar Bhupalpally":"Jayashankar Bhupalapally", "Medchal-Malkajgiri":"Medchal Malkajgiri",
    "Sepahijala":"Sepahijala District", "Bagpat":"Baghpat", "Barabanki":"Bara Banki", "Gautam Buddh Nagar":"Gautam Buddha Nagar",
    "Maharajganj":"Mahrajganj", "Raebareli":"Rae Bareli", "Shravasti":"Shrawasti","Bandipora":"Bandipore", "Baramulla":"Baramula",
    "Poonch":"Punch", "Shopian":"Shupiyan","Mahé":"Mahe","Pondicherry":"Puducherry",
    "Kaimur":"Kaimur (Bhabua)", "Sahibzada Ajit Singh Nagar":"Mohali","Jalore":"Jalor"
}

district_name_unmapped = ["Muzaffarabad", "Mirpur", "Shi Yomi", "Pakke Kessang", "Pakke-Kessang", "Lepa Rada", "Pauri Garhwal",
                         "Charaideo", "Majuli", "Biswanath", "Hojai", "South Salmara Mancachar", "South Salmara", "Bishwanath",
                         "Shahid Bhagat Singh Nagar", "West Karbi Anglong",
                         "Gaurela-Pendra-Marwahi", "Chachaura-Binaganj", "Maihar", "Niwari", "Nagda", "Noklak",
                         "Sahibzada Ajit Singh Nagar", "Jalore", "Chengalpattu", "Kallakurichi", "Mayiladuthurai",
                         "Ranipet","Tenkasi","Tirupattur", "Daman", "Diu", "Niwari", "Tirupathur"]

def resolve_district_name(state_name, district_name):
    if ((state_name=="bihar") and (district_name=="Aurangabad")):
        district_name = "Aurangabad (Bihar)"
    if ((state_name=="Bihar") and (district_name=="Aurangabad")):
        district_name = "Aurangabad (Bihar)"
    if ((state_name=="maharashtra") and (district_name=="Aurangabad")):
        district_name = "Aurangabad (Maharashtra)"
    if ((state_name=="Maharashtra") and (district_name=="Aurangabad")):
        district_name = "Aurangabad (Maharashtra)"

    if ((state_name=="karnataka") and (district_name=="Bijapur")):
        district_name = "Bijapur (Karnataka)"
    if ((state_name=="Karnataka") and (district_name=="Bijapur")):
        district_name = "Bijapur (Karnataka)"
    if ((state_name=="chhattisgarh") and (district_name=="Bijapur")):
        district_name = "Bijapur (Chhattisgarh)"
    if ((state_name=="Chhattisgarh") and (district_name=="Bijapur")):
        district_name = "Bijapur (Chhattisgarh)"

    if ((state_name=="maharashtra") and (district_name=="Raigarh")):
        district_name = "Raigarh (Maharashtra)"
    if ((state_name=="Maharashtra") and (district_name=="Raigarh")):
        district_name = "Raigarh (Maharashtra)"
    if ((state_name=="chhattisgarh") and (district_name=="Raigarh")):
        district_name = "Raigarh (Chhattisgarh)"
    if ((state_name=="Chhattisgarh") and (district_name=="Raigarh")):
        district_name = "Raigarh (Chhattisgarh)"
    
    if ((state_name=="himachalpradesh") and (district_name=="Bilaspur")):
        district_name = "Bilaspur (Himachal Pradesh)"
    if ((state_name=="Himachal Pradesh") and (district_name=="Bilaspur")):
        district_name = "Bilaspur (Himachal Pradesh)"
    if ((state_name=="chhattisgarh") and (district_name=="Bilaspur")):
        district_name = "Bilaspur (Chhattisgarh)"
    if ((state_name=="Chhattisgarh") and (district_name=="Bilaspur")):
        district_name = "Bilaspur (Chhattisgarh)"
    
    if ((state_name=="uttarpradesh") and (district_name=="Balrampur")):
        district_name = "Balrampur (Uttar Pradesh)"
    if ((state_name=="Uttar Pradesh") and (district_name=="Balrampur")):
        district_name = "Balrampur (Uttar Pradesh)"
    if ((state_name=="chhattisgarh") and (district_name=="Balrampur")):
        district_name = "Balrampur (Chhattisgarh)"
    if ((state_name=="Chhattisgarh") and (district_name=="Balrampur")):
        district_name = "Balrampur (Chhattisgarh)"

    if ((state_name=="uttarpradesh") and (district_name=="Hamirpur")):
        district_name = "Hamirpur (Uttar Pradesh)"
    if ((state_name=="Uttar Pradesh") and (district_name=="Hamirpur")):
        district_name = "Hamirpur (Uttar Pradesh)"
    if ((state_name=="himachalpradesh") and (district_name=="Hamirpur")):
        district_name = "Hamirpur (Himachal Pradesh)"
    if ((state_name=="Himachal Pradesh") and (district_name=="Hamirpur")):
        district_name = "Hamirpur (Himachal Pradesh)"
    
    if ((state_name=="uttarpradesh") and (district_name=="Pratapgarh")):
        district_name = "Pratapgarh (Uttar Pradesh)"
    if ((state_name=="Uttar Pradesh") and (district_name=="Pratapgarh")):
        district_name = "Pratapgarh (Uttar Pradesh)"
    if ((state_name=="rajasthan") and (district_name=="Pratapgarh")):
        district_name = "Pratapgarh (Rajasthan)"
    if ((state_name=="Rajasthan") and (district_name=="Pratapgarh")):
        district_name = "Pratapgarh (Rajasthan)"


    return district_name

### Misc

In [ ]:
elif "No travel history" in notes:
            df.at[i, "cluster"] = "No travel history"
            df.at[i, "cluster_district"] = district
            df.at[i, "cluster_state"] = state
        
        elif "Co-passenger" in notes:
            df.at[i, "cluster"] = "Co-passenger"
            df.at[i, "cluster_district"] = district
            df.at[i, "cluster_state"] = state

        elif "Cab driver" in notes:
            df.at[i, "cluster"] = "Cab driver"
            df.at[i, "cluster_district"] = district
            df.at[i, "cluster_state"] = state
        
        elif "Doctor" in notes:
            df.at[i, "cluster"] = "Doctor"
            df.at[i, "cluster_district"] = district
            df.at[i, "cluster_state"] = state
        
        elif "Indian Army jawan" in notes:
            df.at[i, "cluster"] = "Indian Army jawan"
            df.at[i, "cluster_district"] = district
            df.at[i, "cluster_state"] = state

In [ ]:
# Map to finite clusters
for i in range(len(df)):
    cf = df.iloc[i]["contracted_from"]
    dcf = df.iloc[i]["derived_contracted_from"]
    notes = df.iloc[i]["notes"]
    district = df.iloc[i]["district"]
    state = df.iloc[i]["state"]
    
    df[df[""]]

    # IF both notes and contracted from are empty, skip this entry
    if ((cf!=cf) and (notes!=notes)):
        continue

    if ((cf == "E0") or (cf == "P4862") or (cf == "P531") ):
        df.at[i, "cluster"] = "Delhi Religious meeting"
        df.at[i, "cluster_district"] = "New Delhi"
        df.at[i, "cluster_state"] = "Delhi"

    elif ((cf == "P689") or (cf == "P1215") ):
        df.at[i, "cluster"] = "Mysuru Pharmaceutical industry"
        df.at[i, "cluster_district"] = "Mysore"
        df.at[i, "cluster_state"] = "Karnataka"
    
    elif cf == "P182":
        df.at[i, "cluster"] = "Punjab Preacher"
        df.at[i, "cluster_district"] = "Shaheed Bhagat Singh Nagar"
        df.at[i, "cluster_state"] = "Punjab"
    
    elif cf == "P20410":
        df.at[i, "cluster"] = "Bengaluru scrap segregation worker"
        df.at[i, "cluster_district"] = "Bangalore"
        df.at[i, "cluster_state"] = "Karnataka"
    
    elif cf == "P6":
        df.at[i, "cluster"] = "Italian tourists in Rajasthan"
        df.at[i, "cluster_district"] = "Jaipur"
        df.at[i, "cluster_state"] = "Rajasthan"
    
    elif cf == "P301":
        df.at[i, "cluster"] = "Thai national in Tamil Nadu"
        df.at[i, "cluster_district"] = "Erode"
        df.at[i, "cluster_state"] = "Tamil Nadu"
    
    elif cf == "E1":
        df.at[i, "cluster"] = "Contact with UK returnee"
        df.at[i, "cluster_district"] = "Gautam Buddha Nagar"
        df.at[i, "cluster_state"] = "Uttar Pradesh"
    
    elif cf == "P2868":
        df.at[i, "cluster"] = "Dubai returnee, hosted feast for 1500 people"
        df.at[i, "cluster_district"] = "Morena"
        df.at[i, "cluster_state"] = "Madhya Pradesh"
    
    elif cf == "P10454":
        df.at[i, "cluster"] = "Doctor from Bethany Hospital"
        df.at[i, "cluster_district"] = "East Khasi Hills"
        df.at[i, "cluster_state"] = "Meghalaya"
    
    else:
        if is_in_iran_evacuee_list(notes):
            df.at[i, "cluster"] = "Iran evacuee"
            df.at[i, "cluster_district"] = "Iran"
            df.at[i, "cluster_state"] = "Iran"

        elif is_in_travel_list(notes):
            travelled_from_place = is_in_travel_list(notes)
            df.at[i, "cluster"] = "Travel History"
            df.at[i, "cluster_district"] = travelled_from_place
            df.at[i, "cluster_state"] = travelled_from_place

        elif is_in_family_list(notes):
            df.at[i, "cluster"] = "Family member"
        
        elif is_in_contact_list(notes):
            df.at[i, "cluster"] = "Close Contact"
        
        elif is_in_healthcare_list(notes):
            df.at[i, "cluster"] = "Healthcare worker"
        
        elif is_in_worker_list(notes):
            df.at[i, "cluster"] = "Domestic Worker"
        
        elif is_in_no_travel_history_list(notes):
            df.at[i, "cluster"] = "No travel history"
        
        elif is_in_delhi_religious_list(notes):
            df.at[i, "cluster"] = "Delhi Religious meeting"
            df.at[i, "cluster_district"] = "New Delhi"
            df.at[i, "cluster_state"] = "Delhi"
            df.at[i, "contracted_from"] = "E0"
            df.at[i, "derived_contracted_from"] = "E0"
        
        elif is_in_pharma_company_list(notes):
            df.at[i, "cluster"] = "Mysuru Pharmaceutical industry"
            df.at[i, "cluster_district"] = "Mysore"
            df.at[i, "cluster_state"] = "Karnataka"
            df.at[i, "contracted_from"] = "E1"
            df.at[i, "derived_contracted_from"] = "E1"

        elif is_in_misc_list(notes):
            cluster_category = is_in_misc_list(notes)
            df.at[i, "cluster"] = cluster_category

        elif is_in_skip_list(notes):
            continue;
            
        else:
            print(notes)
            continue;