In [580]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
pd.set_option("display.max_columns", 100)
import os
import geojson
from geojson import Feature, FeatureCollection
import requests
from bs4 import BeautifulSoup
import json
import requests
from datetime import datetime
from geopy import geocoders

In [115]:
url = "https://api.covid19india.org/csv/latest/raw_data.csv"
r = requests.get(url)
f = open('../data/26042020/raw_data.csv','w')
f.write(r.text)
f.close()

### Clusters

In [641]:
df = pd.read_csv("../data/26042020/raw_data.csv")
df.dropna(subset=["Date Announced"], inplace=True)
df.rename(columns={"Contracted from which Patient (Suspected)":"contracted_from", "Current Status":"status", "Notes":"notes",
                   "Detected City":"city", "Detected District":"district", "Detected State": "state","State code":"state_code",
                   "Date Announced":"date", "Type of transmission":"transmission_type", "Age Bracket":"age", "Gender":"gender",
                   "State Patient Number": "state_pid", "Patient Number":"pid"}, inplace=True)
df = df[["pid", "date", "city", "district", "state", "contracted_from", "transmission_type", "notes"]]
total_case_count = len(df)

In [642]:
## Get root node of "contracted_from"
for i in range(len(df)):
    dft = df.iloc[i]
    cf = dft["contracted_from"] #.values[0]

    while cf==cf: 
        if cf.startswith("https"):
            break
        if ((cf!="E0") and (cf!="E1")):
            pid = cf.split("P")[1]
            if ", " in pid:
                pid = pid.split(", ")[0]
            elif "," in pid:
                pid = pid.split(",")[0]
                
            cfpid = int(pid)
            dft = df[df["pid"]==cfpid].copy()
            df.at[i, "derived_contracted_from"] = cf
            cf = dft["contracted_from"].values[0]
        else:
            df.at[i, "derived_contracted_from"] = cf
            cf = np.nan

In [647]:
for i in range(len(df)):
    cf = df.iloc[i]["contracted_from"]
    dcf = df.iloc[i]["derived_contracted_from"]
    notes = df.iloc[i]["notes"]
    district = df.iloc[i]["district"]
    state = df.iloc[i]["state"]

    # IF both notes and contracted from are empty, skip this entry
    if ((cf!=cf) and (notes!=notes)):
        continue

    if ((cf == "E0") or (cf == "P4862") or (cf == "P531") ):
        df.at[i, "cluster"] = "Delhi Religious meeting"
        df.at[i, "cluster_district"] = "New Delhi"
        df.at[i, "cluster_state"] = "Delhi"

    elif ((cf == "P689") or (cf == "P1215") ):
        df.at[i, "cluster"] = "Mysuru Pharmaceutical industry"
        df.at[i, "cluster_district"] = "Mysore"
        df.at[i, "cluster_state"] = "Karnataka"
    
    elif cf == "P182":
        df.at[i, "cluster"] = "Punjab Preacher"
        df.at[i, "cluster_district"] = "Shaheed Bhagat Singh Nagar"
        df.at[i, "cluster_state"] = "Punjab"
    
    elif cf == "P20410":
        df.at[i, "cluster"] = "Bengaluru scrap segregation worker"
        df.at[i, "cluster_district"] = "Bangalore"
        df.at[i, "cluster_state"] = "Karnataka"
    
    elif cf == "P6":
        df.at[i, "cluster"] = "Italian tourists in Rajasthan"
        df.at[i, "cluster_district"] = "Jaipur"
        df.at[i, "cluster_state"] = "Rajasthan"
    
    elif cf == "P301":
        df.at[i, "cluster"] = "Thai national in Tamil Nadu"
        df.at[i, "cluster_district"] = "Erode"
        df.at[i, "cluster_state"] = "Tamil Nadu"
    
    elif cf == "E1":
        df.at[i, "cluster"] = "Contact with UK returnee"
        df.at[i, "cluster_district"] = "Gautam Buddha Nagar"
        df.at[i, "cluster_state"] = "Uttar Pradesh"
    
    elif cf == "P2868":
        df.at[i, "cluster"] = "Dubai returnee, hosted feast for 1500 people"
        df.at[i, "cluster_district"] = "Morena"
        df.at[i, "cluster_state"] = "Madhya Pradesh"
    
    elif cf == "P10454":
        df.at[i, "cluster"] = "Doctor from Bethany Hospital"
        df.at[i, "cluster_district"] = "East Khasi Hills"
        df.at[i, "cluster_state"] = "Meghalaya"
    
    else:
        if is_in_travel_list(notes):
            travelled_from_place = is_in_travel_list(notes)
            df.at[i, "cluster"] = "Travel History"
            df.at[i, "cluster_district"] = travelled_from_place
            df.at[i, "cluster_state"] = travelled_from_place

        elif is_in_family_list(notes):
            df.at[i, "cluster"] = "Family member"
        
        elif is_in_contact_list(notes):
            df.at[i, "cluster"] = "Contact"
        
        elif is_in_healthcare_list(notes):
            df.at[i, "cluster"] = "Healthcare worker"
        
        elif is_in_worker_list(notes):
            df.at[i, "cluster"] = "Domestic Worker"
        
        elif is_in_no_travel_history_list(notes):
            df.at[i, "cluster"] = "No travel history"
        
        elif is_in_iran_evacuee_list(notes):
            df.at[i, "cluster"] = "Iran evacuee"
            df.at[i, "cluster_district"] = "Iran"
            df.at[i, "cluster_state"] = "Iran"

        elif is_in_delhi_religious_list(notes):
            df.at[i, "cluster"] = "Delhi Religious meeting"
            df.at[i, "cluster_district"] = "New Delhi"
            df.at[i, "cluster_state"] = "Delhi"
            df.at[i, "contracted_from"] = "E0"
            df.at[i, "derived_contracted_from"] = "E0"
        
        elif is_in_pharma_company_list(notes):
            df.at[i, "cluster"] = "Mysuru Pharmaceutical industry"
            df.at[i, "cluster_district"] = "Mysore"
            df.at[i, "cluster_state"] = "Karnataka"
            df.at[i, "contracted_from"] = "E1"
            df.at[i, "derived_contracted_from"] = "E1"

        elif is_in_misc_list(notes):
            cluster_category = is_in_misc_list(notes)
            df.at[i, "cluster"] = cluster_category

        elif is_in_skip_list(notes):
            continue;
            
        else:
            print(notes)
            continue;

In [666]:
## One time
"""
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
geolocator = Nominatim(user_agent="myGeocoder")

cluster_district_mapping = {"Saudi":"Saudi Arabia", "Evacuees*":"Iran", "Abhudhabi":"Abu dhabi", "WB":"West Bengal"}
cluster_district_skip = ["to", "the", "Asansole"]
dfcll = pd.DataFrame()
idx = 0
for loc in df["cluster_district"].unique()[101:]:
    if not pd.isnull(loc) and loc not in cluster_district_skip:
        if loc in cluster_district_mapping.keys():
            loc = cluster_district_mapping[loc]

        try:
            location = geolocator.geocode(loc, timeout=10) #, geometry="geojson")
            print(loc + " " + str(location.latitude), str(location.longitude))
            dfcll.at[idx, "location"] = loc
            dfcll.at[idx, "latitude"] = location.latitude
            dfcll.at[idx, "longitude"] = location.longitude
        except GeocoderTimedOut as e:
            dfcll.at[idx, "location"] = loc
            dfcll.at[idx, "latitude"] = np.nan
            dfcll.at[idx, "longitude"] = np.nan
            print(loc + " Error: geocode failed on input %s with message %s"%(my_address, e.message))

        idx+=1
dfcll.to_csv("../data/extracted_data_api/code_data/cluster_latitude_longitude.csv", index=False)            
"""
print("One time")

West Bengal 22.9964948 87.6855882
Dehradun 30.3255646 78.0436813
Pollachi 10.669422350000001 77.01017959253107
Surat 45.9383 3.2553
Hindupur 13.826383 77.4937723
Maharashtra 19.531932 76.0554568

In [673]:
geolocator = Nominatim(user_agent="district_locator")
district_in_raw_data_list = df["district"].unique()
district_skip = ["Italians*", "Other States*", "Evacuees*", "Other Region*", ]
district_mapping = {}

dfll = pd.DataFrame()
idx = 0

for district in district_in_raw_data_list:
    if not pd.isnull(district) and district not in district_skip:
        if district in district_mapping.keys():
            district = district_mapping[district]
        
        print(district)

Thrissur
Alappuzha
Kasaragod
East Delhi
Hyderabad
Agra
South West Delhi
Ghaziabad
West Delhi
Leh
Kancheepuram
Pathanamthitta
North Delhi
Jammu
Bengaluru
Kannur
Pune
Amritsar
Ernakulam
Kottayam
Jaipur
Mumbai
Nagpur
S.P.S. Nellore
Lucknow
Kalaburagi
New Delhi
Thiruvananthapuram
Ahmadnagar
Thane
Raigarh
Yavatmal
Idukki
Aurangabad
Dehradun
Malappuram
Khordha
South Delhi
Gurugram
Kargil
Mahe
Gautam Buddha Nagar
Kolkata
Chennai
Ratnagiri
Srinagar
Jhunjhunu
North East Delhi
Chandigarh
Kodagu
Prakasam
Raipur
Kheri
Shahid Bhagat Singh Nagar
Rajkot
Surat
Visakhapatnam
North West Delhi
S.A.S. Nagar
Ahmadabad
Vadodara
Bhilwara
Faridabad
Panipat
Kangra
Jabalpur
Karimnagar
North 24 Parganas
Panchkula
Gandhinagar
Moradabad
Erode
Hoshiarpur
Mysuru
Sonipat
Kachchh
East Godavari
Krishna
Varanasi
Dharwad
Coimbatore
Munger
Patna
Bhopal
Bhadradri Kothagudem
Uttara Kannada
Kozhikode
Tirunelveli
Jodhpur
Pali
Sikar
Palghar
Palwal
Kanpur Nagar
Pilibhit
Pratapgarh
Tiruppur
Madurai
Jaunpur
Sangli
Satara
Imphal West
Dakshina Kannada
Chikkaballapura
Chengalpattu
Ranga Reddy
Bandipore
Jalandhar
Palakkad
Chittoor
Indore
Ujjain
Gwalior
Aizawl
Salem
Udupi
Shivpuri
Davanagere
Ludhiana
Pauri Garhwal
Rajnandgaon
Ranipet
Guntur
North Goa
Bilaspur
Durg
Baghpat
South Andaman
Medchal Malkajgiri
Wayanad
Rajouri
Sindhudurg
North and Middle Andaman
Siwan
Nalanda
Gondiya
Tumakuru
Kollam
Kolhapur
Shamli
Nadia
Dungarpur
Churu
Mahesana
Thanjavur
Vellore
Ajmer
Virudhunagar
Medinipur East
Bhavnagar
Meerut
Kurnool
Kalimpong
Lakhisarai
Ambala
Jalgaon
Badgam
Baramula
Buldana
Porbandar
Gir Somnath
Bareilly
Hooghly
Nashik
Karur
Shupiyan
Bulandshahr
Alwar
Korba
Ballari
Gopalganj
Howrah
South 24 Parganas
Tiruvannamalai
Viluppuram
Anantapur
Ranchi
Sirsa
Cachar
Hisar
Namakkal
Kanniyakumari
Thoothukkudi
Gaya
Bhadrak
Puducherry
West Godavari
Y.S.R.
Begusarai
Kamrup Metropolitan
Basti
Theni
Dindigul
Sivaganga
Tirupathur
Thiruvarur
Panch Mahals
Jorhat
Tonk
Goalpara
Imphal East
Lohit
Dhaulpur
Udaipur
Rohtak
Bidar
Bharatpur
Ramanathapuram
Thiruvallur
Hazaribagh
Chhindwara
Saran
Osmanabad
Una
Udham Singh Nagar
Bikaner
Bagalkote
Hardoi
Shahjahanpur
Firozabad
Azamgarh
Saharanpur
Hapur
Nuh
Cuttack
Dausa
Nagapattinam
Nalbari
South Salmara Mancachar
Udhampur
Patiala
Morena
Belagavi
Rajanna Sircilla
Khammam
Warangal Urban
Vikarabad
Suryapet
Siddipet
Sangareddy
Nizamabad
Karnal
Washim
Puri
Jajapur
Ghazipur
Kamrup
Morigaon
Hingoli
Golaghat
Banswara
Amravati
Patan
Rupnagar
Mansa
Lakhimpur
Bhiwani
Kaithal
Bengaluru Rural
Banda
Mahrajganj
Nainital
Haridwar
Cuddalore
Kallakurichi
Perambalur
Tiruchirappalli
Pathankot
Faridkot
Bhagalpur
Hathras
Mirzapur
Khargone
Medak
Mahabubnagar
Mahabubabad
Kalahandi
Latur
Karauli
Solan
Chota Udaipur
Bokaro
Barnala
The Nilgiris
Nagaur
Barwani
Rae Bareli
Bara Banki
Auraiya
Adilabad
Nirmal
Peddapalli
Jamnagar
Morbi
Jaisalmer
Jalna
Kota
Almora
Mathura
Budaun
Kaushambi
Bijnor
Prayagraj
Sitapur
Ariyalur
Charki Dadri
Fatehgarh Sahib
Kapurthala
Jagitial
Jogulamba Gadwal
Betul
Vidisha
Kendrapara
Gomati
Chamba
Dhubri
Anand
Sabar Kantha
Parbhani
Gadag
Mandya
Moga
Jind
Sheopur
Hailakandi
Fatehabad
Nalgonda
Nagarkurnool
Mulugu
Muzaffarnagar
Amroha
Rampur
Pulwama
Akola
Jhalawar
Nawada
Sirmaur
Barmer
Khandwa
Dhar
Dahod
Dhenkanal
Kupwara
Ganderbal
Tenkasi
Sri Muktsar Sahib
Sangrur
Kamareddy
Bid
Hoshangabad
Raisen
Dewas
Bharuch
Kulgam
Kishtwar
Samba
Sagar
Shajapur
North Tripura
Jayashankar
Jangoan
Kodarma
Bhadohi
Kumuram Bheem Asifabad
Ratlam
Mandsaur
Satna
Sundargarh
Vijayapura
Hanumangarh
Kurukshetra
Yamunanagar
Solapur
Banas Kantha
Giridih
Kasganj
Etawah
Dhule
East Khasi Hills
Sambhal
Gurdaspur
Simdega
Tikamgarh
Botad
Kheda
Alirajpur
Agar Malwa
Narmada
Vaishali
Chandrapur
Buxar
Dhanbad
Aravalli
Unnao
Kannauj
Sant Kabir Nagar
Mainpuri
Mahisagar
Firozpur
Gonda
Baleshwar
Anantnag
Nandurbar
Sawai Madhopur
Bhojpur
Mau
Pudukkottai
Deoghar
Etah
Sultanpur
Tapi
Valsad
Rohtas
Kathua
Sonitpur
Navsari
Dohad
Aligarh
East Champaran
Banka
Nanded
Garhwa
Ramban
Dharmapuri
The Dangs
Bahraich
Balrampur
Shrawasti
Kaimur Bhabua
Madhepura
Ayodhya
Rajsamand
Chittaurgarh
Srikakulam
Arwal
Surendranagar
Palamu

In [681]:
loc = "East Delhi"
try:
    location = geolocator.geocode(loc, timeout=10, geometry="geojson")
    print(loc + " " + str(location.latitude), str(location.longitude))
    dfll.at[idx, "district"] = loc
    dfll.at[idx, "latitude"] = location.latitude
    dfll.at[idx, "longitude"] = location.longitude
except GeocoderTimedOut as e:
    dfll.at[idx, "district"] = loc
    dfll.at[idx, "latitude"] = np.nan
    dfll.at[idx, "longitude"] = np.nan
    print(loc + " Error: geocode failed on input %s with message %s"%(my_address, e.message))

East Delhi 28.6204767 77.30918071344418

In [682]:
location.raw

{'place_id': 235709377,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'relation',
 'osm_id': 1942588,
 'boundingbox': ['28.584857', '28.6558204', '77.2685234', '77.3420594'],
 'lat': '28.6204767',
 'lon': '77.30918071344418',
 'display_name': 'East Delhi, Delhi, India',
 'class': 'boundary',
 'type': 'administrative',
 'importance': 0.628002769416701,
 'icon': 'https://nominatim.openstreetmap.org/images/mapicons/poi_boundary_administrative.p.20.png',
 'geojson': {'type': 'Polygon',
  'coordinates': [[[77.2685234, 28.6387995],
    [77.2699409, 28.6317816],
    [77.2713303, 28.6284904],
    [77.277643, 28.6192496],
    [77.2782298, 28.6184063],
    [77.2848849, 28.6088421],
    [77.2920584, 28.5946395],
    [77.2982764, 28.584857],
    [77.3001722, 28.5868739],
    [77.3015404, 28.5868763],
    [77.302858, 28.586664],
    [77.3044219, 28.5857974],
    [77.3088577, 28.5893282],
    [77.3101587, 28.5907418],
    [77.3111384, 28.5919458],
    [77.3111321, 28.5926253],
    [77.3113247, 28.5931229],
    [77.311977, 28.5938047],
    [77.3126578, 28.5951813],
    [77.3134894, 28.5958149],
    [77.3131816, 28.5963398],
    [77.313382, 28.5965248],
    [77.3141858, 28.5967547],
    [77.314928, 28.596967],
    [77.3171201, 28.5968503],
    [77.3194945, 28.5974307],
    [77.3201253, 28.5975835],
    [77.3212323, 28.5976895],
    [77.3218904, 28.5976426],
    [77.3225959, 28.5975281],
    [77.3258952, 28.5981814],
    [77.3263688, 28.5985095],
    [77.3267148, 28.5987492],
    [77.3271159, 28.5986704],
    [77.3281611, 28.5993706],
    [77.3297187, 28.6004141],
    [77.3316769, 28.6011371],
    [77.3336188, 28.6014856],
    [77.3347131, 28.6019424],
    [77.3356036, 28.6016928],
    [77.3367463, 28.6018012],
    [77.3376421, 28.6024417],
    [77.3384233, 28.6032323],
    [77.3386991, 28.6029897],
    [77.3395778, 28.6041325],
    [77.3402922, 28.6046086],
    [77.3407915, 28.6052157],
    [77.3412222, 28.6051404],
    [77.3420594, 28.6101623],
    [77.3417627, 28.6136069],
    [77.3416914, 28.6136261],
    [77.3416608, 28.613724],
    [77.3415287, 28.6137665],
    [77.3417203, 28.6157252],
    [77.3418543, 28.6170951],
    [77.342008, 28.6187598],
    [77.3419372, 28.6193425],
    [77.3416803, 28.6201852],
    [77.3414331, 28.6207682],
    [77.3410433, 28.6212264],
    [77.3403164, 28.6218056],
    [77.3401657, 28.6220337],
    [77.3404229, 28.6236487],
    [77.3395999, 28.624098],
    [77.3386036, 28.6249339],
    [77.336511, 28.6263181],
    [77.33443, 28.6277275],
    [77.3337696, 28.6288811],
    [77.3322902, 28.6299179],
    [77.3312417, 28.6313165],
    [77.3296659, 28.631841],
    [77.3288035, 28.632283],
    [77.3270954, 28.6329216],
    [77.3260092, 28.6331684],
    [77.3243082, 28.6349278],
    [77.3220117, 28.6367878],
    [77.3168228, 28.6377479],
    [77.3073182, 28.6403855],
    [77.302968, 28.641431],
    [77.3007638, 28.6430501],
    [77.2951282, 28.65055],
    [77.2930198, 28.653311],
    [77.2910566, 28.6558204],
    [77.280879, 28.6540643],
    [77.2696209, 28.6493668],
    [77.2697014, 28.648841],
    [77.2715557, 28.6467487],
    [77.2724136, 28.6425057],
    [77.2685234, 28.6387995]]]}}

In [646]:
def is_in_pharma_company_list(notes):
    pharma_company_list = ["Pharmaceutical company employee", "Pharma Company Worker"]
    for f in pharma_company_list:
        if f in notes:
            return True
    return False

def is_in_delhi_religious_list(notes):
    is_in_delhi_religious_list = ["Attended Delhi Religious Conference"]
    for f in is_in_delhi_religious_list:
        if f in notes:
            return True
    return False
    
def is_in_travel_list(notes):
    travel_list = ["Travelled from ", "Travelled to ", "Tavelled from ", "Travel history to ", "Travel History to ",
                  "foreign travel from ", "travelled to ", "Returned from ", "Travel HIstory to ",
                  "History of travel to ", "Evacuees from "]
    
    travel_place_unknown_list = ["No history of travel", "Travel history", "travel history", "Foreign Travel",
                                ]
    
    for f in travel_list:
        if f in notes:
            travelled_from_place = notes.split(f)[1].split(" ")[0]
            if travelled_from_place in ["United", "New", "Sri", "Abu", "West", "Uttar"]:
                travelled_from_place = notes.split(f)[1].split(" ")[0] + " " + notes.split(f)[1].split(" ")[1] 
            if "," in travelled_from_place:
                travelled_from_place = travelled_from_place.split(",")[0]
            if "." in travelled_from_place:
                travelled_from_place = travelled_from_place.split(".")[0]
            if ";" in travelled_from_place:
                travelled_from_place = travelled_from_place.split(";")[0]
            if ")" in travelled_from_place:
                travelled_from_place = travelled_from_place.split(")")[0]
            return travelled_from_place
    
    for f in travel_place_unknown_list:
        if f in notes:
            return np.nan

    return False

def is_in_iran_evacuee_list(notes):
    iran_evacuee_list = ["Evacuees from Iran", "Evacuee from Iran"]
    for f in iran_evacuee_list:
        if f in notes:
            return True
    return False

def is_in_misc_list(notes):
    misc_list = ["Co-passenger", "Cab driver",  "Indian Army jawan", "Travelled in a car with",
                "Supertech Capetown, Sector 74, NOIDA", "Tourist", "BSF officer" , "Dharavi", "Domestic Travel",
                "SARI", "Police", "Journalist", "Influenza like illness", "Conatct with patient", "Influenza like Illness"]
    for f in misc_list:
        if f in notes:
            return f
    return False

def is_in_no_travel_history_list(notes):
    no_travel_history_list = ["No travel history", "No Travel History", "No foreign travel",
                             "No history of travelling abroad",]
    for f in no_travel_history_list:
        if f in notes:
            return True
    return False

def is_in_healthcare_list(notes):
    healthcare_list = ["Doctor", "Staff of Private Hospital", "Nurse", "Hospital staff", "Health worker",
                      "Sanitation worker", "Attendent", "Hospital Staff"]
    for f in healthcare_list:
        if f in notes:
            return f
    return False
    
def is_in_skip_list(notes):
    skip_list = ["Factory Manager contact with businessman from Italy", "Was in contact with",
                "Have international history and were brought in from the Mumbai Airport", "Sector 78; Contracted from his boss",
                 "Reached Chennai MGR Central from Delhi via Train on 12.03.2020", "Travelled to UK", "Details awaited",
                 "Bangar Hospital Compounder","Admitted on Swine Flu suspicion; COVID19 confirmed",
                 "Worked at a beauty salon that Chandigarh’s first coronavirus patient visited",
                 "Landed in Mangalore airport, had been to Kasturba Medical College Attavar",
                 "No international travel history, has travelled to  Bilaspur by train",
                 "One more person, who is under observation at Dehradun's Doon Hospita", "Details Awaited",
                 "Sonipat", "Anganwadi Worker, Visited Velha, Attended Marriage, Tested Positive on 24th March, 2020",
                 "Native of", "details awaited", "Travel history (first case from Ramganj?)", "Travelled with ",
                 "Matched ", "A 50-year-old man, a railway guard, tested positive at the All India Institute of Medical Sciences, Bhopal",
                 "Match", "IPD patient at of Bangar Hospital", "earlier tested positive", "Woman in 40s",
                 "Worked at", "Patient is from", "Admit Noble Hospital on 2nd April, 2020", "Further Details not known",
                 "From ", "Belongs to", "Admitted to", "Admit to", "Visited", "Organized Medical camp with participation of NRIs",
                 "The detailed investigation is under process", "admit", "confimed positive", "No Info", "Classified as",
                 "They work at a bakery in Jawaharpur, Dera Bassi", "Source of", "Travelle from", "Returned to",
                 "ambulance", "Travelld from", "As per MohFW update", "Conference", "History of travel from Hidupur on 2 wheeler on 7/4/2020",
                 "Neighour of", "WB returnees", "Kolkata Returnees", "New case", "Trancing under process"
                ]
    for f in skip_list:
        if f in notes:
            return True
    return False
    
def is_in_family_list(notes):
    family_list = ["Father of", "Mother of", "Wife of", "Son of", "Daughter of", "Brother of", "Sister of", "Son in law of",
                  "Daughter in law of", "Close contact of", "Family members of" ,"Relative of", 
                  "Friends of", "Friend of", "First contacts", "family members", "Family members", "Spouse of",
                  "Father", "Mother", "Related to", "Employee of", "Contact of", "contact of", "husband",
                  "Daughter in Law", "Uncle of", "Aunt of", "Close relative of", "Relatives of", "Grandmother of",
                  "Family member of", "Cousin of", "Brother-in-law of", "Husband of", "Sister in law of", "Family",
                   "family", "relative", "Sister-in-law of"
                  ]
    for f in family_list:
        if f in notes:
            return True
    return False

def is_in_contact_list(notes):
    contact_list = ["Close contact of", "neighbour of", "Friends of", "Friend of", "First contacts",
                    "Employee of", "Contact of", "contact of", "Contact", "contact", "Local transmission",
                   "locally transmitted", "Local Transmission", "Tenant of", "Neighbour of", "neighbour of",
                   "Neighbor of", "Co-worker", "Came in touch with a positive person"]
    for f in contact_list:
        if f in notes:
            return True
    return False

def is_in_worker_list(notes):
    worker_list = ["Cook of", "Domestic worker of"]
    for f in worker_list:
        if f in notes:
            return True
    return False

### % of districts without the disease

In [48]:
dfcc = pd.read_csv("../data/extracted_data_api/code_data/districtwise_case_death_growth_density_withDelhiSeparate.csv")
total_population = dfcc["population"].sum()
per_outbreak_free_districts = np.round(len(dfcc[dfcc["cases"]==0])/len(dfcc)*100)
per_outbreak_free_population = np.round(dfcc[dfcc["cases"]==0]["population"].sum()/total_population*100)
df = pd.DataFrame()
for i in range(len(dfcc)):
    district_name = dfcc.iloc[i]["district"].replace(" ","-") + ", " + dfcc.iloc[i]["state_code"]
    df.at[i, "id"] = "district."+district_name
    df.at[i, "value"] = int(dfcc.iloc[i]["cases"])+1
    df.at[i, "district"] = district_name
    df.at[i, "per_outbreak_free_districts"] = per_outbreak_free_districts
    df.at[i, "per_outbreak_free_population"] = per_outbreak_free_population
df["value"] = df["value"].astype(int)
df["per_outbreak_free_districts"] = df["per_outbreak_free_districts"].astype(int)
df["per_outbreak_free_population"] = df["per_outbreak_free_population"].astype(int)
# Shuffling
df = df.sample(frac=1).reset_index(drop=True)
df.to_csv("../data/extracted_data_api/code_data/outbreak_free_districts.csv", index=False)
df

,id,value,district,per_outbreak_free_districts,per_outbreak_free_population
0,"district.Sahibganj, JH",1,"Sahibganj, JH",44,31
1,"district.Kamrup, AS",2,"Kamrup, AS",44,31
2,"district.Buldana, MH",12,"Buldana, MH",44,31
3,"district.Kasaragod, KL",169,"Kasaragod, KL",44,31
4,"district.Karnal, HR",7,"Karnal, HR",44,31
5,"district.Haora, WB",24,"Haora, WB",44,31
6,"district.Dindori, MP",1,"Dindori, MP",44,31
7,"district.Kiphire, NL",1,"Kiphire, NL",44,31
8,"district.Baksa, AS",1,"Baksa, AS",44,31
9,"district.Alwar, RJ",8,"Alwar, RJ",44,31
10,"district.Fatehpur, UP",1,"Fatehpur, UP",44,31
11,"district.Khunti, JH",1,"Khunti, JH",44,31
12,"district.Indore, MP",312,"Indore, MP",44,31
13,"district.Tirunelveli, TN",61,"Tirunelveli, TN",44,31
14,"district.New-Delhi, DL",132,"New-Delhi, DL",44,31
15,"district.Giridih, JH",1,"Giridih, JH",44,31
16,"district.Maldah, WB",1,"Maldah, WB",44,31
17,"district.Dharwad, KA",3,"Dharwad, KA",44,31
18,"district.Sonipat, HR",4,"Sonipat, HR",44,31
19,"district.Bankura, WB",1,"Bankura, WB",44,31
20,"district.Dhamtari, CG",1,"Dhamtari, CG",44,31
21,"district.Thoubal, MN",1,"Thoubal, MN",44,31
22,"district.Idukki, KL",10,"Idukki, KL",44,31
23,"district.Kodagu, KA",2,"Kodagu, KA",44,31
24,"district.J-P-Nagar-(Amroha), UP",7,"J-P-Nagar-(Amroha), UP",44,31
25,"district.Narayanpet, TS",12,"Narayanpet, TS",44,31
26,"district.Imphal-East, MN",1,"Imphal-East, MN",44,31
27,"district.Bilaspur-(Chhattisgarh), CG",2,"Bilaspur-(Chhattisgarh), CG",44,31
28,"district.Wanaparthy, TS",12,"Wanaparthy, TS",44,31
29,"district.Rayagada, OD",1,"Rayagada, OD",44,31
...,...,...,...,...,...
687,"district.Theni, TN",42,"Theni, TN",44,31
688,"district.Bharatpur, RJ",10,"Bharatpur, RJ",44,31
689,"district.Shrawasti, UP",1,"Shrawasti, UP",44,31
690,"district.Nalbari, AS",4,"Nalbari, AS",44,31
691,"district.Pashchimi-Singhbhum, JH",1,"Pashchimi-Singhbhum, JH",44,31
692,"district.Hazaribagh, JH",3,"Hazaribagh, JH",44,31
693,"district.Rudraprayag, UK",1,"Rudraprayag, UK",44,31
694,"district.Farrukhabad, UP",1,"Farrukhabad, UP",44,31
695,"district.Kushinagar, UP",1,"Kushinagar, UP",44,31
696,"district.Bhiwani, HR",4,"Bhiwani, HR",44,31
697,"district.Jalgaon, MH",3,"Jalgaon, MH",44,31
698,"district.Kawardha, CG",1,"Kawardha, CG",44,31
699,"district.Mandi, HP",1,"Mandi, HP",44,31
700,"district.Krishnagiri, TN",1,"Krishnagiri, TN",44,31
701,"district.Kachchh, GJ",5,"Kachchh, GJ",44,31
702,"district.Champawat, UK",1,"Champawat, UK",44,31
703,"district.Vadodara, GJ",96,"Vadodara, GJ",44,31
704,"district.Hapur, UP",32,"Hapur, UP",44,31
705,"district.Sivaganga, TN",7,"Sivaganga, TN",44,31
706,"district.Kendujhar, OD",1,"Kendujhar, OD",44,31
707,"district.West-Godavari, AP",23,"West-Godavari, AP",44,31
708,"district.Anuppur, MP",1,"Anuppur, MP",44,31
709,"district.Jhabua, MP",1,"Jhabua, MP",44,31
710,"district.Dausa, RJ",8,"Dausa, RJ",44,31
711,"district.Saharanpur, UP",21,"Saharanpur, UP",44,31
712,"district.Raigarh-(Chhattisgarh), CG",1,"Raigarh-(Chhattisgarh), CG",44,31
713,"district.Lawngtlai, MZ",1,"Lawngtlai, MZ",44,31
714,"district.Burhanpur, MP",1,"Burhanpur, MP",44,31
715,"district.Nandurbar, MH",1,"Nandurbar, MH",44,31
716,"district.Sheohar, BR",1,"Sheohar, BR",44,31

### Recovery rate

In [112]:
dfc = pd.read_csv("../data/extracted_data_api/statewise_daily_confirmed.csv")
del dfc["TT"], dfc["Unnamed: 39"]
state_code_list = dfc.columns[1:]
dfcc = dfc.set_index("date").cumsum().reset_index()

dfr = pd.read_csv("../data/extracted_data_api/statewise_daily_recovered.csv")
del dfr["TT"], dfr["Unnamed: 39"]
l = [["date"], [col+"_r" for col in dfr.columns if col in state_code_list]]
dfr.columns = [item for sublist in l for item in sublist]
dfr = dfr.set_index("date").cumsum().reset_index()

dfcr = dfcc.set_index("date").join(dfr.set_index("date")).reset_index()
dfrr = dfcc.copy()
for col in state_code_list:
    dfrr[col] = np.round(dfcr[col+"_r"] / dfcr[col],2)
dfrr.dropna(axis=1, how="all", inplace=True)
### Replace nan with -1, handle in color_Scale in javascript
dfrr.fillna(value=-1, inplace=True)
### Concat total case count at top of table
dfrr = pd.concat([pd.DataFrame(dfc.sum(axis=0, numeric_only=True)).transpose(), dfrr], ignore_index=True, axis=0, sort=True)
l = [["date"], [col for col in dfrr.columns[:len(dfrr.columns)-1]]]
columns = [item for sublist in l for item in sublist]
dfrr = dfrr[columns]
dfrr.at[pd.isnull(dfrr["date"]), "date"] = "total_count"
dfrr.to_csv("../data/extracted_data_api/code_data/state_recovery_rate.csv", index=False)
dfrr

,date,AN,AP,AR,AS,BR,CH,CT,DD,DL,DN,GA,GJ,HP,HR,JH,JK,KA,KL,LA,LD,MH,ML,MN,MP,MZ,NL,OR,PB,PY,RJ,SK,TG,TN,TR,UP,UT,WB
0,total_count,17.00,757.00,1.0,35.00,126.00,27.00,36.00,0.0,2156.00,0.0,7.00,2178.00,39.00,255.00,46.00,380.00,418.00,426.00,18.00,0.0,5218.00,12.0,2.0,1552.00,1.0,0.0,79.00,251.00,7.00,1735.00,0.0,928.00,1596.00,2.0,1337.00,46.00,392.00
1,14-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,-1.00,-1.00,NaN,0.14,NaN,-1.00,-1.00,-1.00,0.00,-1.00,0.00,0.00,0.16,-1.00,NaN,0.00,-1.0,-1.0,-1.00,-1.0,NaN,-1.00,0.00,-1.00,0.33,NaN,0.00,0.00,-1.0,0.33,-1.00,-1.00
2,15-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,-1.00,-1.00,NaN,0.29,NaN,-1.00,-1.00,-1.00,0.00,-1.00,0.00,0.00,0.12,-1.00,NaN,0.00,-1.0,-1.0,-1.00,-1.0,NaN,-1.00,0.00,-1.00,0.75,NaN,0.33,0.00,-1.0,0.31,-1.00,-1.00
3,16-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,-1.00,-1.00,NaN,0.29,NaN,-1.00,-1.00,-1.00,0.00,-1.00,0.00,0.00,0.11,-1.00,NaN,0.00,-1.0,-1.0,-1.00,-1.0,NaN,0.00,0.00,0.00,0.75,NaN,0.25,1.00,-1.0,0.31,0.00,-1.00
4,17-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,-1.00,-1.00,NaN,0.25,NaN,-1.00,-1.00,-1.00,0.00,-1.00,0.00,0.00,0.11,-1.00,NaN,0.00,-1.0,-1.0,-1.00,-1.0,NaN,0.00,0.00,0.00,0.75,NaN,0.20,1.00,-1.0,0.33,0.00,0.00
5,18-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,-1.00,-1.00,NaN,0.20,NaN,-1.00,-1.00,-1.00,0.00,-1.00,0.00,0.00,0.11,0.00,NaN,0.00,-1.0,-1.0,-1.00,-1.0,NaN,0.00,0.00,0.00,0.43,NaN,0.08,0.50,-1.0,0.29,0.00,0.00
6,19-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,0.00,0.00,NaN,0.21,NaN,-1.00,0.00,-1.00,0.00,-1.00,0.00,0.00,0.11,0.00,NaN,0.00,-1.0,-1.0,-1.00,-1.0,NaN,0.00,0.00,0.00,0.33,NaN,0.06,0.33,-1.0,0.45,0.00,0.00
7,20-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,0.00,0.00,NaN,0.25,NaN,-1.00,0.00,0.00,0.00,-1.00,0.00,0.07,0.08,0.00,NaN,0.00,-1.0,-1.0,0.00,-1.0,NaN,0.00,0.00,0.00,0.18,NaN,0.05,0.33,-1.0,0.38,0.00,0.00
8,21-Mar-20,-1.00,0.00,-1.0,-1.00,-1.00,0.00,0.00,NaN,0.19,NaN,-1.00,0.00,0.00,0.00,-1.00,0.00,0.05,0.06,0.00,NaN,0.00,-1.0,-1.0,0.00,-1.0,NaN,0.00,0.00,0.00,0.12,NaN,0.05,0.17,-1.0,0.32,0.00,0.00
9,22-Mar-20,-1.00,0.00,-1.0,-1.00,0.00,0.00,0.00,NaN,0.19,NaN,-1.00,0.00,0.00,0.00,-1.00,0.00,0.04,0.04,0.00,NaN,0.00,-1.0,-1.0,0.00,-1.0,NaN,0.00,0.00,0.00,0.11,NaN,0.04,0.11,-1.0,0.30,0.00,0.00
10,23-Mar-20,-1.00,0.00,-1.0,-1.00,0.00,0.00,0.00,NaN,0.17,NaN,-1.00,0.00,0.00,0.39,-1.00,0.00,0.06,0.03,0.00,NaN,0.00,-1.0,-1.0,0.00,-1.0,NaN,0.00,0.00,0.00,0.09,NaN,0.03,0.08,-1.0,0.28,0.00,0.00
11,24-Mar-20,-1.00,0.00,-1.0,-1.00,0.00,0.00,0.00,NaN,0.20,NaN,-1.00,0.00,0.00,0.37,-1.00,0.00,0.07,0.04,0.00,NaN,0.00,-1.0,0.0,0.00,-1.0,NaN,0.00,0.00,0.00,0.09,NaN,0.03,0.06,-1.0,0.31,0.00,0.00
12,25-Mar-20,-1.00,0.10,-1.0,-1.00,0.00,0.00,0.00,NaN,0.17,NaN,0.00,0.00,0.00,0.35,-1.00,0.09,0.06,0.03,0.00,NaN,0.01,-1.0,0.0,0.00,0.0,NaN,0.00,0.00,0.00,0.08,NaN,0.02,0.04,-1.0,0.29,0.00,0.00
13,26-Mar-20,0.00,0.09,-1.0,-1.00,0.00,0.00,0.00,NaN,0.17,NaN,0.00,0.00,0.00,0.34,-1.00,0.07,0.05,0.08,0.00,NaN,0.01,-1.0,0.0,0.00,0.0,NaN,0.00,0.00,0.00,0.08,NaN,0.02,0.03,-1.0,0.26,0.00,0.00
14,27-Mar-20,0.00,0.08,-1.0,-1.00,0.00,0.00,0.00,NaN,0.15,NaN,0.00,0.00,0.33,0.33,-1.00,0.05,0.08,0.06,0.23,NaN,0.12,-1.0,0.0,0.00,0.0,NaN,0.00,0.03,0.00,0.06,NaN,0.02,0.05,-1.0,0.22,0.00,0.00
15,28-Mar-20,0.00,0.05,-1.0,-1.00,0.00,0.00,0.00,NaN,0.12,NaN,0.00,0.00,0.67,0.31,-1.00,0.03,0.06,0.07,0.23,NaN,0.13,-1.0,0.0,0.00,0.0,NaN,0.00,0.03,0.00,0.06,NaN,0.01,0.05,-1.0,0.17,0.17,0.00
16,29-Mar-20,0.00,0.05,-1.0,-1.00,0.00,0.00,0.00,NaN,0.08,NaN,0.00,0.02,0.67,0.31,-1.00,0.03,0.06,0.08,0.23,NaN,0.12,-1.0,0.0,0.00,0.0,NaN,0.00,0.03,0.00,0.05,NaN,0.01,0.04,-1.0,0.15,0.14,0.00
17,30-Mar-20,0.00,0.04,-1.0,-1.00,0.00,0.00,0.00,NaN,0.06,NaN,0.00,0.04,0.67,0.47,-1.00,0.02,0.07,0.09,0.23,NaN,0.18,-1.0,0.0,0.00,0.0,NaN,0.00,0.02,0.00,0.04,NaN,0.18,0.06,-1.0,0.18,0.29,0.00
18,31-Mar-20,0.00,0.02,-1.0,0.00,0.00,0.00,0.22,NaN,0.05,NaN,0.00,0.07,0.67,0.40,0.00,0.02,0.08,0.10,0.23,NaN,0.13,-1.0,0.0,0.00,0.0,NaN,0.00,0.02,0.00,0.03,NaN,0.14,0.05,-1.0,0.16,0.29,0.08
19,01-Apr-20,0.00,0.02,-1.0,0.00,0.00,0.00,0.22,NaN,0.04,NaN,0.00,0.06,0.67,0.63,0.00,0.03,0.08,0.10,0.23,NaN,0.12,-1.0,0.0,0.00,0.0,NaN,0.20,0.02,0.00,0.02,NaN,0.11,0.03,-1.0,0.15,0.29,0.08
20,02-Apr-20,0.00,0.01,0.0,0.00,0.10,0.00,0.33,NaN,0.03,NaN,0.00,0.11,0.33,0.55,0.00,0.04,0.09,0.10,0.23,NaN,0.10,-1.0,0.0,0.00,0.0,NaN,0.20,0.02,0.00,0.02,NaN,0.11,0.02,-1.0,0.13,0.20,0.06
21,03-Apr-20,0.00,0.01,0.0,0.00,0.10,0.00,0.33,NaN,0.02,NaN,0.00,0.11,0.33,0.47,0.00,0.04,0.09,0.14,0.21,NaN,0.10,-1.0,0.0,0.00,0.0,NaN,0.10,0.02,0.00,0.02,NaN,0.14,0.01,-1.0,0.10,0.12,0.06
22,04-Apr-20,0.00,0.01,0.0,0.00,0.09,0.17,0.30,NaN,0.04,NaN,0.00,0.12,0.15,0.33,0.00,0.03,0.08,0.16,0.21,NaN,0.08,-1.0,0.0,0.00,0.0,NaN,0.10,0.05,0.00,0.12,NaN,0.12,0.02,-1.0,0.09,0.09,0.06
23,05-Apr-20,0.00,0.02,0.0,0.00,0.09,0.28,0.80,NaN,0.03,NaN,0.00,0.16,0.14,0.31,0.00,0.04,0.08,0.18,0.21,NaN,0.07,-1.0,0.0,0.02,0.0,NaN,0.05,0.06,0.00,0.09,NaN,0.10,0.01,-1.0,0.08,0.15,0.12
24,06-Apr-20,0.00,0.02,0.0,0.00,0.28,0.28,0.80,NaN,0.03,NaN,0.00,0.15,0.11,0.25,0.00,0.04,0.12,0.18,0.71,NaN,0.08,-1.0,0.5,0.04,0.0,NaN,0.05,0.05,0.00,0.08,NaN,0.12,0.02,0.0,0.07,0.13,0.12
25,07-Apr-20,0.00,0.02,0.0,0.00,0.39,0.39,0.90,NaN,0.03,NaN,0.00,0.14,0.11,0.21,0.00,0.03,0.14,0.21,0.71,NaN,0.08,-1.0,0.5,0.07,0.0,NaN,0.05,0.14,0.20,0.07,NaN,0.11,0.03,0.0,0.06,0.13,0.14
26,08-Apr-20,0.00,0.02,0.0,0.00,0.38,0.39,0.90,NaN,0.03,NaN,0.00,0.13,0.11,0.19,0.00,0.04,0.15,0.24,0.71,NaN,0.10,-1.0,0.5,0.07,0.0,NaN,0.05,0.13,0.20,0.12,NaN,0.10,0.03,0.0,0.09,0.14,0.13
27,09-Apr-20,0.91,0.03,0.0,0.00,0.26,0.39,0.50,NaN,0.03,NaN,0.00,0.10,0.11,0.18,0.00,0.03,0.15,0.27,0.71,NaN,0.09,-1.0,0.5,0.06,0.0,NaN,0.04,0.14,0.20,0.13,NaN,0.10,0.03,0.0,0.08,0.14,0.16
28,10-Apr-20,0.91,0.03,0.0,0.00,0.25,0.37,0.50,NaN,0.03,NaN,0.14,0.09,0.11,0.20,0.00,0.03,0.16,0.34,0.73,NaN,0.12,-1.0,0.5,0.08,0.0,NaN,0.24,0.13,0.14,0.11,NaN,0.09,0.05,0.0,0.07,0.14,0.14
29,11-Apr-20,0.91,0.02,0.0,0.00,0.23,0.37,0.36,NaN,0.03,NaN,0.71,0.09,0.28,0.20,0.00,0.03,0.18,0.38,0.73,NaN,0.12,-1.0,0.5,0.07,0.0,NaN,0.22,0.13,0.14,0.17,NaN,0.19,0.05,0.0,0.10,0.14,0.13
30,12-Apr-20,0.91,0.03,0.0,0.00,0.41,0.33,0.32,NaN,0.02,NaN,0.71,0.09,0.41,0.22,0.00,0.02,0.23,0.48,0.73,NaN,0.11,-1.0,0.5,0.07,0.0,NaN,0.22,0.14,0.14,0.15,NaN,0.19,0.05,0.0,0.09,0.14,0.14
31,13-Apr-20,0.91,0.03,0.0,0.00,0.42,0.33,0.32,NaN,0.02,NaN,0.71,0.09,0.41,0.26,0.00,0.06,0.24,0.52,0.71,NaN,0.10,0.0,0.5,0.08,0.0,NaN,0.33,0.14,0.14,0.13,NaN,0.17,0.05,0.0,0.09,0.20,0.19
32,14-Apr-20,0.91,0.03,0.0,0.00,0.44,0.33,0.39,NaN,0.02,NaN,0.71,0.09,0.42,0.27,0.00,0.11,0.27,0.55,0.71,NaN,0.10,0.0,0.5,0.09,0.0,NaN,0.30,0.15,0.14,0.15,NaN,0.17,0.07,0.0,0.08,0.24,0.19
33,15-Apr-20,0.91,0.04,1.0,0.06,0.40,0.43,0.52,NaN,0.03,NaN,0.86,0.08,0.40,0.27,0.00,0.12,0.29,0.56,0.67,NaN,0.10,0.0,0.5,0.07,0.0,NaN,0.32,0.15,0.14,0.14,NaN,0.18,0.10,0.5,0.08,0.24,0.17
34,16-Apr-20,1.00,0.04,1.0,0.14,0.45,0.43,0.64,NaN,0.03,NaN,0.86,0.08,0.49,0.30,0.00,0.12,0.26,0.62,0.78,NaN,0.09,0.0,0.5,0.06,0.0,NaN,0.32,0.15,0.14,0.15,NaN,0.27,0.14,0.5,0.08,0.24,0.18
35,17-Apr-20,0.92,0.06,1.0,0.26,0.44,0.43,0.67,NaN,0.04,NaN,0.86,0.08,0.45,0.38,0.00,0.13,0.25,0.65,0.78,NaN,0.10,0.0,0.5,0.05,0.0,NaN,0.35,0.14,0.14,0.15,NaN,0.24,0.21,0.5,0.10,0.22,0.20
36,18-Apr-20,0.79,0.07,1.0,0.34,0.49,0.39,0.69,NaN,0.11,NaN,0.86,0.07,0.44,0.43,0.00,0.15,0.27,0.64,0.78,NaN,0.10,0.0,0.5,0.09,0.0,NaN,0.39,0.13,0.57,0.15,NaN,0.23,0.27,0.5,0.11,0.21,0.19
37,19-Apr-20,0.73,0.10,1.0,0.49,0.44,0.50,0.69,NaN,0.14,NaN,1.00,0.06,0.44,0.41,0.00,0.16,0.28,0.67,0.78,NaN,0.12,0.0,0.5,0.09,0.0,NaN,0.39,0.15,0.57,0.14,NaN,0.22,0.28,0.5,0.12,0.25,0.20
38,20-Apr-20,0.69,0.13,1.0,0.54,0.37,0.54,0.69,NaN,0.21,NaN,1.00,0.07,0.44,0.56,0.09,0.19,0.27,0.71,0.78,NaN,0.12,0.0,1.0,0.09,0.0,NaN,0.32,0.16,0.57,0.13,NaN,0.21,0.30,0.5,0.12,0.39,0.19
39,21-Apr-20,0.65,0.13,1.0,0.54,0.33,0.52,0.69,NaN,0.28,NaN,1.00,0.06,0.44,0.57,0.09,0.21,0.31,0.72,0.78,NaN,0.14,0.0,1.0,0.10,0.0,NaN,0.38,0.20,0.57,0.16,NaN,0.21,0.40,0.5,0.12,0.41,0.19

### topojson to geojson

In [711]:
os.listdir("../data/extracted_data_api/code_data/state_geojson_data_howIndiaLives/")

['odisha.json',
 'telangana.json',
 'meghalaya.json',
 'karnataka.json',
 'haryana.json',
 'bihar.json',
 'andhrapradesh.json',
 'jammukashmir.json',
 'westbengal.json',
 'kerala.json',
 'chhattisgarh.json',
 'andamannicobarislands.json',
 'jharkhand.json',
 'ladakh.json',
 'uttarpradesh.json',
 'mizoram.json',
 'lakshadweep.json',
 'nagaland.json',
 'tamilnadu.json',
 'dadranagarhaveli.json',
 'delhi.json',
 'puducherry.json',
 'madhyapradesh.json',
 'arunachalpradesh.json',
 'uttarakhand.json',
 'manipur.json',
 'tripura.json',
 'gujarat.json',
 'goa.json',
 'assam.json',
 'maharashtra.json',
 'punjab.json',
 'sikkim.json',
 'rajasthan.json',
 'chandigarh.json',
 'himachalpradesh.json']

In [727]:
#https://gist.github.com/perrygeo/1e767e42e8bc54ad7262
#https://github.com/sgillies/topojson/blob/master/topojson.py

import json
import sys
from topojson_geometry import geometry
from shapely.geometry import asShape
from shapely.geometry import shape

dfll = pd.DataFrame()
idx = 0

for f in os.listdir("../data/extracted_data_api/code_data/state_geojson_data_howIndiaLives/"):
    state_name = f.split(".json")[0]
    topojson_path = "../data/extracted_data_api/code_data/state_geojson_data_howIndiaLives/"+f
    geojson_path = "../data/extracted_data_api/code_data/geojson_map/"+f

    with open(topojson_path, 'r') as fh:
        f = fh.read()
        topology = json.loads(f)

    features = topology['objects'][state_name+"_district"]['geometries']
    scale = topology['transform']['scale']
    trans = topology['transform']['translate']

    with open(geojson_path, 'w') as dest:
        fc = {'type': "FeatureCollection", 'features': []}

        for id, tf in enumerate(features):
            f = {'id': id, 'type': "Feature"}
            f['properties'] = tf['properties'].copy()

            geommap = geometry(tf, topology['arcs'], scale, trans)
            geom = asShape(geommap).buffer(0)
            assert geom.is_valid
            f['geometry'] = geom.__geo_interface__

            fc['features'].append(f) 

        # Save geojson file
        dest.write(json.dumps(fc))
    
        # Compute district center
        for d in range(len(fc["features"])):
            geom = shape(fc["features"][d]["geometry"])    
            district_bounds = geom.bounds
            district_name = fc["features"][d]["properties"]["district"]
            if district_name in district_name_mapping:
                district_name_mapped = district_name_mapping[district_name]
                district_name = district_name_mapped
                
            if district_name in district_name_resolution:
                district_name_resolved = resolve_district_name(state_name, district_name)
                district_name = district_name_resolved
            
            dfll.at[idx, "district"] = district_name
            dfll.at[idx, "latitude"] = geom.centroid.y
            dfll.at[idx, "longitude"] = geom.centroid.x

            idx+=1
dfll.to_csv("../data/extracted_data_api/code_data/district_center_latitude_longitude.csv", index=False)

In [ ]:
##https://gis.stackexchange.com/questions/207731/generating-random-coordinates-in-multipolygon-in-python
import random
from shapely.geometry import Point

def generate_random(number, polygon):
    list_of_points = []
    minx, miny, maxx, maxy = polygon.bounds
    counter = 0
    while counter < number:
        pnt = Point(random.uniform(minx, maxx), random.uniform(miny, maxy))
        if polygon.contains(pnt):
            list_of_points.append(pnt)
            counter += 1
    return list_of_points

In [719]:
state_name_mapping = {'odisha':'Odisha', 'telangana':'Telangana', 'meghalaya':'Meghalaya','karnataka':'Karnataka',
                     'haryana':'Haryana','bihar':'Bihar','andhrapradesh':'Andhra Pradesh','jammukashmir':'Jammu and Kashmir',
                     'westbengal':'West Bengal','kerala':'Kerala','chhattisgarh':'Chhattisgarh','andamannicobarislands':'Andaman and Nicobar Islands',
                     'jharkhand':'Jharkhand','ladakh':'Ladakh','uttarpradesh':'Uttar Pradesh','mizoram':'Mizoram','lakshadweep':'Lakshadweep',
                     'nagaland':'Nagaland','tamilnadu':'Tamil Nadu','dadranagarhaveli':'Dadra and Nagar Haveli','delhi':'Delhi',
                     'puducherry':'Puducherry','madhyapradesh':'Madhya Pradesh','arunachalpradesh':'Arunachal Pradesh','uttarakhand':'Uttarakhand',
                     'manipur':'Manipur','tripura':'Tripura','gujarat':'Gujarat','goa':'Goa','assam':'Assam','maharashtra':'Maharashtra',
                     'punjab':'Punjab','sikkim':'Sikkim','rajasthan':'Rajasthan','chandigarh':'Chandigarh','himachalpradesh':'Himachal Pradesh'}

state_name_mapping_howindialives = {"Jammu & Kashmir":"Jammu and Kashmir",
                                    "A& N Islands":"Andaman and Nicobar Islands",
                                    "D & N Haveli":"Dadra and Nagar Haveli"}

district_name_mapping = {"Jagitial":"Jagtial", "Jangoan":"Jangaon", "Kumuram Bheem Asifabad":"Komaram Bheem Asifabad",
                         "Mahabubnagar": "Mahbubnagar", "Ranga Reddy": "Rangareddy", "Yadadri Bhuvanagiri":"Yadadri Bhongir",
                         "Jayashankar": "Jayashankar Bhupalapally",
                         "West Khasi Hills":"West khasi Hills", "East Jaintia Hills":"East Jainta Hills",
                        "Kalaburagi":"Gulbarga", "Belagavi":"Belgaum", "Bagalkote":"Bagalkot", "Ballari":"Bellary",
                        "Shivamogga":"Shimoga", "Chikkamagaluru":"Chikmagalur", "Bengaluru Rural":"Bangalore Rural",
                        "Bengaluru":"Bangalore", "Chamarajanagara":"Chamarajanagar", "Tumakuru":"Tumkur", "Mysuru":"Mysore","Vijayapura":"Bijapur",
                        "Gurugram":"Gurgaon", "Mahendragarh":"Narnaul","Charki Dadri":"Ch-Dadri",
                        "West Champaran": "Pashchim Champaran", "East Champaran":"Purba Champaran", "Kaimur Bhabhua":"Kaimur (Bhabua)", "Kaimur Bhabua":"Kaimur (Bhabua)",
                        "S.P.S. Nellore":"Nellore", "Chittoor":"chittoor",
                        "South 24 Parganas":"South Twenty Four Parganas", "Medinipur West":"Paschim Medinipur", "Medinipur East":"Purba Medinipur",
                        "Darjeeling":"Darjiling", "Purulia":"Puruliya", "North 24 Parganas":"North Twenty Four Parganas", "Hooghly":"Hugli",
                        "Howrah":"Haora", "Cooch Behar":"Koch Bihar",
                        "Gariaband":"Gariyaband", "Kabeerdham":"Kawardha", "Janjgir Champa":"Janjgir - Champa", "Bametara":"Bemetara",
                        "Baloda Bazar":"Balodabazar",
                        "North and Middle Andaman":"North & Middle Andman", "South Andaman":"South Andman","Nicobars":"Nicobar",
                        "Saraikela-kharsawan":"Saraikela-Kharsawan",
                        "Leh":"Leh(Ladakh)",
                        "Amroha":"J P Nagar (Amroha)", "Kheri":"Lakhimpur Kheri", "Kasganj":"Kanshiram Nagar", "Prayagraj":"Allahabad",
                        "Bhadohi":"Sant Ravidas Nagar (Bhadohi)", "Amethi":"C S M Nagar (Amethi)",
                        "Thoothukudi":"Thoothukkudi","Dadra and Nagar Haveli":"Uni District UT", 
                        "Khargone":"Khargone (West Nimar)", "Khandwa":"Khandwa (East Nimar)", "Ashoknagar":"Ashok Nagar",
                        "Kra Daadi":"Kra daadi", "Lower Dibang Valley":"Lower Dibang valley", "Upper Dibang Valley":"Dibang Valley",
                        "Haridwar":"Hardwar", "Noney":"None", "Pherzawl":"Pherjawl", "Sipahijala":"Sepahijala District","Gomati":"Gomati District",
                        "Khowai":"Khowai District", "Unokoti":"Unakoti District", "The Dangs":"Dang", "Chota Udaipur":"Chhota Udepur",
                        "Aravalli":"Arvalli",
                        "S.A.S. Nagar":"Mohali", "Sri Muktsar Sahib":"Muktsar","Jalore":"Jalor",
                        "Jhunjhunu":"Jhunjhunun", "Lahul and Spiti":"Lahul & Spiti","North  District":"North District"
                        }


district_name_resolution = ["Aurangabad", "Bijapur", "Raigarh", "Bilaspur", "Balrampur", "Hamirpur", "Pratapgarh"]

"""
district_name_unmapped_old = ["Muzaffarabad", "Mirpur", "Shi Yomi", "Pakke Kessang", "Pakke-Kessang", "Lepa Rada", "Pauri Garhwal",
                         "Charaideo", "Majuli", "Biswanath", "Hojai", "South Salmara Mancachar",
                         "Shahid Bhagat Singh Nagar", "West Karbi Anglong"]
"""

district_name_wiki_mapping = {"Sri Potti Sriramulu Nellore":"Nellore", "Kadapa":"Y.S.R.",
    "Dantewada":"Dakshin Bastar Dantewada", "Janjgir-Champa":"Janjgir - Champa","Kabirdham":"Kawardha", "Kanker":"Uttar Bastar Kanker",
    "Ahmedabad":"Ahmadabad", "Banaskantha": "Banas Kantha", "Dahod":"Dohad", "Devbhoomi Dwarka":"Devbhumi Dwarka",
    "Kutch":"Kachchh", "Mehsana":"Mahesana", "Panchmahal":"Panch Mahals", "Sabarkantha":"Sabar Kantha",
    "Charkhi Dadri":"Ch-Dadri", "Hissar":"Hisar", "Yamuna Nagar":"Yamunanagar",
    "Lahaul and Spiti":"Lahul & Spiti",
    "East Singhbhum":"Purbi Singhbhum", "West Singhbhum":"Pashchimi Singhbhum", "Hazaribag":"Hazaribagh", "Koderma":"Kodarma", "Seraikela Kharsawan":"Saraikela-Kharsawan",
    "Bangalore Urban":"Bangalore","Chamarajnagar":"Chamarajanagar","Chikkaballapur":"Chikkaballapura",
    "Narsinghpur":"Narsimhapur", "Ahmednagar":"Ahmadnagar", "Beed":"Bid", "Buldhana":"Buldana", "Gondia":"Gondiya", "Mumbai City":"Mumbai","Mumbai suburban":"Mumbai Suburban",
    "Raigad":"Raigarh (Maharashtra)","Ri Bhoi":"Ribhoi", "Angul":"Anugul", "Boudh (Bauda)":"Baudh", "Bargarh (Baragarh)":"Bargarh", "Balasore":"Baleshwar",
    "Debagarh (Deogarh)":"Debagarh", "Jajpur":"Jajapur", "Jagatsinghpur":"Jagatsinghapur","Kendujhar (Keonjhar)":"Kendujhar", "Nabarangpur":"Nabarangapur", "Subarnapur (Sonepur)":"Subarnapur",
    "Chittorgarh":"Chittaurgarh", "Dholpur":"Dhaulpur", "East Sikkim":"East District", "North Sikkim":"North District", "South Sikkim":"South District", "West Sikkim":"West District",
    "Kanchipuram":"Kancheepuram", "Kanyakumari":"Kanniyakumari", "Nilgiris":"The Nilgiris", "Tirupur":"Tiruppur",
    "Tiruvallur":"Thiruvallur","Tiruvarur":"Thiruvarur", "Komaram Bheem":"Komaram Bheem Asifabad","Jayashankar Bhupalpally":"Jayashankar Bhupalapally", "Medchal-Malkajgiri":"Medchal Malkajgiri",
    "Sepahijala":"Sepahijala District", "Bagpat":"Baghpat", "Barabanki":"Bara Banki", "Gautam Buddh Nagar":"Gautam Buddha Nagar",
    "Maharajganj":"Mahrajganj", "Raebareli":"Rae Bareli", "Shravasti":"Shrawasti","Bandipora":"Bandipore", "Baramulla":"Baramula",
    "Poonch":"Punch", "Shopian":"Shupiyan","Mahé":"Mahe","Pondicherry":"Puducherry",
    "Kaimur":"Kaimur (Bhabua)", "Sahibzada Ajit Singh Nagar":"Mohali","Jalore":"Jalor"
}

district_name_unmapped = ["Muzaffarabad", "Mirpur", "Shi Yomi", "Pakke Kessang", "Pakke-Kessang", "Lepa Rada", "Pauri Garhwal",
                         "Charaideo", "Majuli", "Biswanath", "Hojai", "South Salmara Mancachar", "South Salmara", "Bishwanath",
                         "Shahid Bhagat Singh Nagar", "West Karbi Anglong",
                         "Gaurela-Pendra-Marwahi", "Chachaura-Binaganj", "Maihar", "Niwari", "Nagda", "Noklak",
                         "Sahibzada Ajit Singh Nagar", "Jalore", "Chengalpattu", "Kallakurichi", "Mayiladuthurai",
                         "Ranipet","Tenkasi","Tirupattur", "Daman", "Diu", "Niwari"]

### Misc

In [ ]:
elif "No travel history" in notes:
            df.at[i, "cluster"] = "No travel history"
            df.at[i, "cluster_district"] = district
            df.at[i, "cluster_state"] = state
        
        elif "Co-passenger" in notes:
            df.at[i, "cluster"] = "Co-passenger"
            df.at[i, "cluster_district"] = district
            df.at[i, "cluster_state"] = state

        elif "Cab driver" in notes:
            df.at[i, "cluster"] = "Cab driver"
            df.at[i, "cluster_district"] = district
            df.at[i, "cluster_state"] = state
        
        elif "Doctor" in notes:
            df.at[i, "cluster"] = "Doctor"
            df.at[i, "cluster_district"] = district
            df.at[i, "cluster_state"] = state
        
        elif "Indian Army jawan" in notes:
            df.at[i, "cluster"] = "Indian Army jawan"
            df.at[i, "cluster_district"] = district
            df.at[i, "cluster_state"] = state