In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

In [2]:
import requests
from bs4 import BeautifulSoup

In [263]:
res = requests.get("http://stats.espncricinfo.com/ci/engine/records/team/match_results.html?id=12193;type=tournament")
soup = BeautifulSoup(res.content,'lxml')

In [281]:
soup.find_all('table')[0].find_all('tbody')[0].find_all('tr')[1].find_all('td')[6].find_all('a')[0]["href"]

'/ci/engine/match/1130662.html'

In [300]:
soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr')[1].text.split("\n")

['',
 'Gujarat',
 'Maharashtra',
 'Maharashtra',
 '4 wickets',
 'Rajkot',
 'Jan 7, 2018',
 'T20',
 '']

###  Syed Mushtaq Ali Trophy

In [332]:
dfp = pd.DataFrame() #columns={"runs_scored","balls_faced"}, index=batsman)

res = requests.get("http://stats.espncricinfo.com/ci/engine/records/team/match_results.html?id=12193;type=tournament")
soup1 = BeautifulSoup(res.content,'lxml')
numMatches = 60 #len(soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr'))

for m in range(numMatches):
    if m%10==0:
        print(m)
    tmp = soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr')[m].text.split("\n")

    mlink = soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr')[m].find_all('td')[6].find_all('a')[0]["href"] 
    
    res = requests.get("http://stats.espncricinfo.com" + mlink)
    soup = BeautifulSoup(res.content,'lxml')
    
    numBatsmen = len(soup.find_all('div')[4].find_all('div')[68].find_all('div',{"class":"cell batsmen"}))

    batsman = []
    for i in range(numBatsmen):
        batsman.append(soup.find_all('div')[4].find_all('div')[68].find_all('div',{"class":"cell batsmen"})[i].text)

    df = pd.DataFrame(columns={"runs_scored","balls_faced"}, index=batsman)
    for i in range(numBatsmen):
        numRunsScored = soup.find_all('div')[4].find_all('div')[68].find_all('div',{"class":"cell runs"})[(i)*6+0].text
        numBallsFaced = soup.find_all('div')[4].find_all('div')[68].find_all('div',{"class":"cell runs"})[(i)*6+2].text 
        df.loc[batsman[i]] = pd.Series({"runs_scored":numRunsScored, "balls_faced":numBallsFaced})

    df = df.reset_index()
    df.rename(columns={"index":"player"}, inplace=True)

    df["season"] = 2018
    df["venue"] = tmp[5]
    df["date"] = tmp[6]
    df["league"] = "sma"
    dfp = dfp.append(df)

dfp = dfp[dfp["player"]!="BATSMEN"]
dfp1 = dfp.copy()

7
17
37
47
49
52
56

In [333]:
dfp.head()

          player balls_faced runs_scored  season   venue         date
1     KH Devdhar          24          38    2018  Rajkot  Jan 7, 2018
2     UM Patel †          28          50    2018  Rajkot  Jan 7, 2018
3   DJ Hooda (c)          39          66    2018  Rajkot  Jan 7, 2018
4      KH Pandya          26          44    2018  Rajkot  Jan 7, 2018
5  Swapnil Singh           4           4    2018  Rajkot  Jan 7, 2018

### KARNATAKA PREMIER LEAGUE, 2017

In [398]:
dfp = pd.DataFrame() #columns={"runs_scored","balls_faced"}, index=batsman)

res = requests.get("http://stats.espncricinfo.com/ci/engine/records/team/match_results.html?id=11997;type=tournament")
soup1 = BeautifulSoup(res.content,'lxml')
numMatches = len(soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr'))

for m in range(numMatches):
    
    if m%10==0:
        print(m)
    tmp = soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr')[m].text.split("\n")

    mlink = soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr')[m].find_all('td')[6].find_all('a')[0]["href"] 

    res = requests.get("http://stats.espncricinfo.com" + mlink)
    soup = BeautifulSoup(res.content,'lxml')

    if len(soup.find_all('div')[4].find_all('div'))>=78:
        numBatsmen = len(soup.find_all('div')[4].find_all('div')[78].find_all('div',{"class":"cell batsmen"}))

        batsman = []
        for i in range(numBatsmen):
            batsman.append(soup.find_all('div')[4].find_all('div')[78].find_all('div',{"class":"cell batsmen"})[i].text)

        df = pd.DataFrame(columns={"runs_scored","balls_faced"}, index=batsman)
        for i in range(numBatsmen):
            numRunsScored = soup.find_all('div')[4].find_all('div')[78].find_all('div',{"class":"cell runs"})[(i)*5+0].text
            numBallsFaced = soup.find_all('div')[4].find_all('div')[78].find_all('div',{"class":"cell runs"})[(i)*5+1].text 
            df.loc[batsman[i]] = pd.Series({"runs_scored":numRunsScored, "balls_faced":numBallsFaced})

        df = df.reset_index()
        df.rename(columns={"index":"player"}, inplace=True)

        df["season"] = 2018
        df["venue"] = tmp[5]
        df["date"] = tmp[6]
        df["league"] = "kpl"
        dfp = dfp.append(df)

dfp = dfp[dfp["player"]!="BATSMEN"]
dfp2 = dfp.copy()

0
10
20

In [401]:
dfp2.head()

,player,balls_faced,runs_scored,season,venue,date,league
1,BR Sharath †,3,1,2018,Bengaluru,"Sep 1, 2017",kpl
2,M Kaunain Abbas,13,15,2018,Bengaluru,"Sep 1, 2017",kpl
3,K Gowtham,11,13,2018,Bengaluru,"Sep 1, 2017",kpl
4,KN Bharath,20,20,2018,Bengaluru,"Sep 1, 2017",kpl
5,STR Binny,25,17,2018,Bengaluru,"Sep 1, 2017",kpl

### TAMIL NADU PREMIER LEAGUE, 2017

In [404]:
dfp = pd.DataFrame() #columns={"runs_scored","balls_faced"}, index=batsman)

res = requests.get("http://stats.espncricinfo.com/tamil-nadu-premier-league-2017/engine/records/team/match_results.html?id=11901;type=tournament")
soup1 = BeautifulSoup(res.content,'lxml')
numMatches = len(soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr'))

for m in range(numMatches):
    
    if m%10==0:
        print(m)
    tmp = soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr')[m].text.split("\n")

    mlink = soup1.find_all('table')[0].find_all('tbody')[0].find_all('tr')[m].find_all('td')[6].find_all('a')[0]["href"] 

    res = requests.get("http://stats.espncricinfo.com" + mlink)
    soup = BeautifulSoup(res.content,'lxml')

    if len(soup.find_all('div')[4].find_all('div'))>=78:
        numBatsmen = len(soup.find_all('div')[4].find_all('div')[78].find_all('div',{"class":"cell batsmen"}))

        batsman = []
        for i in range(numBatsmen):
            batsman.append(soup.find_all('div')[4].find_all('div')[78].find_all('div',{"class":"cell batsmen"})[i].text)

        df = pd.DataFrame(columns={"runs_scored","balls_faced"}, index=batsman)
        for i in range(numBatsmen):
            numRunsScored = soup.find_all('div')[4].find_all('div')[78].find_all('div',{"class":"cell runs"})[(i)*5+0].text
            numBallsFaced = soup.find_all('div')[4].find_all('div')[78].find_all('div',{"class":"cell runs"})[(i)*5+1].text 
            df.loc[batsman[i]] = pd.Series({"runs_scored":numRunsScored, "balls_faced":numBallsFaced})

        df = df.reset_index()
        df.rename(columns={"index":"player"}, inplace=True)

        df["season"] = 2018
        df["venue"] = tmp[5]
        df["date"] = tmp[6]
        df["league"] = "tnpl"
        dfp = dfp.append(df)

dfp = dfp[dfp["player"]!="BATSMEN"]
dfp3 = dfp.copy()

0
10
20
30

In [405]:
dfp3.head()

,player,balls_faced,runs_scored,season,venue,date,league
1,Washington Sundar,48,69,2018,Chennai,"Jul 22, 2017",tnpl
2,KM Gandhi,33,46,2018,Chennai,"Jul 22, 2017",tnpl
3,SP Nathan,19,20,2018,Chennai,"Jul 22, 2017",tnpl
4,S Anand (c),17,26,2018,Chennai,"Jul 22, 2017",tnpl
5,Akash Sumra,3,1,2018,Chennai,"Jul 22, 2017",tnpl