In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
pd.set_option("display.max_columns", 100)
import os
import geojson
import random

### Circle packing water

In [29]:
#1:Fresh accessible, 2:Fresh non-accessible, 0:Sea
num_drops = 1000
water_type = np.zeros(num_drops)
water_type[0] = 1
water_type[1:9] = 2
random.shuffle(water_type)

text = []
for i in range(num_drops):
    if water_type[i]==0:
        text.append("allWater.sea"+","+str(100+np.random.randint(0,25))+","+str("sea"))
    else:
        if water_type[i]==1:
            text.append("allWater.fresh.fresh_accessible"+","+str(1)+","+str("fresh_accessible"))
        else:
            text.append("allWater.fresh.fresh_nonaccessible"+","+str(100+np.random.randint(0,25))+","+str("fresh_nonaccessible"))

savefilepath = "../code/code/data/water_circle_pack.csv"
with open(savefilepath,'w') as file:
    file.write("id,value,type\n")
    for line in text:
        file.write(line)
        file.write('\n')

### Circle packing population

In [48]:
df = pd.read_csv("../code/code/data/population_data.csv")
del df["Unnamed: 0"]
df_diff = df.set_index("Year").diff().reset_index()[1:]
df_diff["Year"] = df_diff["Year"].astype(int)
df_diff["World"] = df_diff["World"].astype(int)
df_diff

    Year  World
1  -8000      1
2  -6500      0
3  -5000      0
4  -4000      2
5  -3000      7
6  -2000     13
7  -1000     23
8   -500     50
9      1    100
10  1000    200
11  1500     58
12  1600    122
13  1700    102
14  1750    109
15  1800    209
16  1850    262
17  1900    388
18  1950    875
19  1955    233
20  1960    260
21  1965    304
22  1970    360
23  1975    379
24  1980    379
25  1985    413
26  1990    457
27  1995    425
28  2000    392
29  2005    393
30  2010    410
31  2015    419
32  2020    368
33  2025    366
34  2030    342
35  2035    318
36  2040    296
37  2045    269
38  2050    243
39  2055    215
40  2060    191
41  2065    170
42  2070    150
43  2075    132
44  2080    115
45  2085    102
46  2090     91
47  2095     77
48  2100     60

In [67]:
text = []
population_2100 = 10854
for i in range(len(df_diff)):
    Year = df_diff.iloc[i]["Year"]
    for j in range(int(df_diff.iloc[i]["World"]/10)):
        text.append("allPopulation."+str(Year)+","+str(1)+","+str(Year))

savefilepath = "../code/code/data/population_circle_pack.csv"
with open(savefilepath,'w') as file:
    file.write("id,value,type\n")
    for line in text:
        file.write(line)
        file.write('\n')

In [69]:
df_diff["World"].values.cumsum()

array([    1,     1,     1,     3,    10,    23,    46,    96,   196,
         396,   454,   576,   678,   787,   996,  1258,  1646,  2521,
        2754,  3014,  3318,  3678,  4057,  4436,  4849,  5306,  5731,
        6123,  6516,  6926,  7345,  7713,  8079,  8421,  8739,  9035,
        9304,  9547,  9762,  9953, 10123, 10273, 10405, 10520, 10622,
       10713, 10790, 10850])

In [61]:
len(df_diff)

48

In [65]:
progress_step = []
for j in [7,8,9,10]:
    step = 0
    for i in range(int(len(df_diff)/4)):
        step += 1/(len(df_diff)/4);
        progress_step.append(j+step);
progress_step

[7.083333333333333,
 7.166666666666667,
 7.25,
 7.333333333333333,
 7.416666666666667,
 7.5,
 7.583333333333333,
 7.666666666666667,
 7.75,
 7.833333333333333,
 7.916666666666667,
 8.0,
 8.083333333333334,
 8.166666666666666,
 8.25,
 8.333333333333334,
 8.416666666666666,
 8.5,
 8.583333333333334,
 8.666666666666666,
 8.75,
 8.833333333333334,
 8.916666666666666,
 9.0,
 9.083333333333334,
 9.166666666666666,
 9.25,
 9.333333333333334,
 9.416666666666666,
 9.5,
 9.583333333333334,
 9.666666666666666,
 9.75,
 9.833333333333334,
 9.916666666666666,
 10.0,
 10.083333333333334,
 10.166666666666666,
 10.25,
 10.333333333333334,
 10.416666666666666,
 10.5,
 10.583333333333334,
 10.666666666666666,
 10.75,
 10.833333333333334,
 10.916666666666666,
 11.0]

### Country water scarcity score

In [3]:
dfw1 = pd.read_csv("../data/country_code.csv")
dfw1 = dfw1[["country", "code"]]
dfw2 = pd.read_csv("../data/water_scarcity_rank.csv")
dfw2 = dfw2[["country", "score"]]

dfw = dfw1.set_index("country").join(dfw2.set_index("country")).reset_index()
dfw.dropna(inplace=True)
dfw.to_csv("../code/code/data/water_scarcity_score.csv", index=False)

### Agriculture

In [30]:
india_population = 1361500000 #1361559384
scale = 1e6
india_population_scaled = np.floor(india_population/scale)

In [31]:
agriculture_population = 0.6 * india_population
agriculture_population_scaled = np.floor(agriculture_population/scale)
agriculture_gdp = 13.7/100
agriculture_gdp
rest_gdp = 1-agriculture_gdp

In [32]:
india_population_scaled

1361.0

In [33]:
agriculture_population_scaled

816.0

In [34]:
rest_population_scaled = india_population_scaled - agriculture_population_scaled
rest_population_scaled

545.0

In [35]:
agriculture_individual_contribution = agriculture_gdp / agriculture_population_scaled
agriculture_individual_contribution

0.00016789215686274507

In [36]:
rest_individual_contribution = rest_gdp / rest_population_scaled
rest_individual_contribution

0.0015834862385321101

In [37]:
ratio_radius = rest_individual_contribution / agriculture_individual_contribution
ratio_radius

9.431567668921183

In [38]:
df = pd.DataFrame()
idx = 0
for i in range(int(india_population_scaled)):
    if (i<agriculture_population_scaled):
        df.at[idx, "type"] = 0
    else:
        df.at[idx, "type"] = 1
    idx += 1
df

      type
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
6      0.0
7      0.0
8      0.0
9      0.0
10     0.0
11     0.0
12     0.0
13     0.0
14     0.0
15     0.0
16     0.0
17     0.0
18     0.0
19     0.0
20     0.0
21     0.0
22     0.0
23     0.0
24     0.0
25     0.0
26     0.0
27     0.0
28     0.0
29     0.0
...    ...
1331   1.0
1332   1.0
1333   1.0
1334   1.0
1335   1.0
1336   1.0
1337   1.0
1338   1.0
1339   1.0
1340   1.0
1341   1.0
1342   1.0
1343   1.0
1344   1.0
1345   1.0
1346   1.0
1347   1.0
1348   1.0
1349   1.0
1350   1.0
1351   1.0
1352   1.0
1353   1.0
1354   1.0
1355   1.0
1356   1.0
1357   1.0
1358   1.0
1359   1.0
1360   1.0

[1361 rows x 1 columns]

In [39]:
import csv
with open('../code/code/data/india_population_circlepacking.csv', 'w') as fp:  
    writer = csv.writer(fp)
    writer.writerow(["id","value","type"])
    for i in range(len(df)):
        if (i<agriculture_population_scaled):
            line = 'population.' + str(df.iloc[i]["type"]) + "," + str(1) + "," + str(df.iloc[i]["type"])
        else:
            line = 'population.' + str(df.iloc[i]["type"]) + "," + str(1) + "," + str(df.iloc[i]["type"])
        writer.writerow([line])

In [40]:
with open('../code/code/data/india_gdp_circlepacking.csv', 'w') as fp:  
    writer = csv.writer(fp)
    writer.writerow(["id","value","type"])
    for i in range(len(df)):
        if (i<agriculture_population_scaled):
            line = 'population.' + str(df.iloc[i]["type"]) + "," + str(1) + "," + str(df.iloc[i]["type"])
        else:
            line = 'population.' + str(df.iloc[i]["type"]) + "," + str(9.4) + "," + str(df.iloc[i]["type"])
        writer.writerow([line])

### Legacy

In [5]:
text = []
for i in range(1000):
    if i<970:
        text.append("allWater.sea"+","+str(100+np.random.randint(0,25))+","+str("sea"))
    else:
        if i==999:
            text.append("allWater.fresh.fresh_accessible"+","+str(1)+","+str("fresh_accessible"))
        else:
            text.append("allWater.fresh.fresh_nonaccessible"+","+str(100+np.random.randint(0,25))+","+str("fresh"))

savefilepath = "../code/code/data/water_circle_pack.csv"
with open(savefilepath,'w') as file:
    file.write("id,value,type\n")
    for line in text:
        file.write(line)
        file.write('\n')

In [39]:
text = []
for i in range(100):
    if i<=96:
        text.append("allWater.sea"+","+str(100+np.random.randint(0,25))+","+str("sea"))
    else:
        if i==99:
            for j in range(100):
                if j==99:
                    text.append("allWater.fresh.fresh_accessible"+","+str(1)+","+str("fresh_accessible"))
                else:
                    text.append("allWater.fresh.fresh_nonaccessible"+","+str(1)+","+str("fresh"))
        else:
            text.append("allWater.fresh.fresh_nonaccessible"+","+str(100+np.random.randint(0,25))+","+str("fresh"))

savefilepath = "/Volumes/EXT64/backup/aim/journalism/articles/water/code/scroll_animation/data/two_dots/water_circle_pack.csv"
with open(savefilepath,'w') as file:
    file.write("id,value,type\n")
    for line in text:
        file.write(line)
        file.write('\n')

In [45]:
np.random.randint(1,10,4)

array([5, 7, 7, 2])

In [51]:
10 in random_int_arr

False

In [57]:
import random
random_int_arr = random.sample(range(100), 3)

text = []
accessible = 0
for i in range(100):
    if i in random_int_arr:
        if accessible==0:
            text.append("allWater.fresh"+","+str(10+np.random.randint(0,2.5))+","+str("fresh_accessible")+","+str(100))
            accessible=1
        else:
            text.append("allWater.fresh"+","+str(10+np.random.randint(0,2.5))+","+str("fresh_nonaccessible")+","+str(100))
    else:
        text.append("allWater.sea"+","+str(10+np.random.randint(0,2.5))+","+str("sea")+","+str(100))

savefilepath = "/Volumes/EXT64/backup/aim/journalism/articles/water/code/scroll_animation/data/two_dots/water_circle_pack.csv"
with open(savefilepath,'w') as file:
    file.write("id,value,type,radius\n")
    for line in text:
        file.write(line)
        file.write('\n')